﻿
@{
    Layout = null;
}

@model Remote.ViewModels.LoginViewModel

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>REMOTE | PT. Pelabuhan Indonesia III (Persero)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @*<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

        <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />*@

    @*<link href="../assets/pages/css/login-2.min.css" rel="stylesheet" type="text/css" />*@
    <link href="../assets/pages/css/main-login.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="~/assets/global/img/favicon.ico" />
</head>

@*<body class="login">*@
<body>

    <div class="logo">
        <a href="#">
            <img src="~/assets/pages/img/pelindo.png" style="height: 130px;" alt="" />
        </a>
    </div>

    <div class="content">

        <form class="login-form" action="@Url.Action("Login", "Auth")" method="post">
            @*<div class="form-title">
                <center>
                    <span class="form-title">WELCOME TO REMOTE APP</span><br />
                </center>
            </div>*@
            @{
                if (!String.IsNullOrEmpty(ViewBag.MessageErrorUser))
                {
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span> @ViewBag.MessageErrorUser </span>
                    </div>

                }
            }

        </form>

        <header id="header">
            <img src="~/assets/pages/img/logo-remote.png" style="height: 160px;" alt="" />
            @*<img src="~/assets/pages/img/logo-pelindo.png" style="height: 160px;" alt="" />*@

        </header>

        <br>

        <!-- Signup Form -->
        <form id="signup-form" action="@Url.Action("Login")" method="post">
            <input type="text" name="username" id="username" placeholder="NIPP" autocomplete="off"/>
            <input type="password" name="password" id="password" placeholder="Password"/>
            <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
            <input type="submit" value="Log In" />
        </form>
        @*<a href="@Url.Action("Index", "Download")" target="_blank"><button type="button">Download Mobile</button></a>*@

        <br>
        <br>
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>@DateTime.Now.Year © PT Pelabuhan Indonesia (Persero) <br /><br /> REMOTE V3  </li>
            </ul>
        </footer>

    </div>


    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @*<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>*@
    @*<script src="../assets/global/scripts/main-login.js" type="text/javascript"></script>*@
    <script src="~/assets/global/scripts/main-login.js" type="text/javascript"></script>

</body>

</html>
