﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Maps";
    ViewBag.Breadcrumb = "Maps";
    ViewBag.SubBreadcrumb = "Geografis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

        body {
            margin: 0;
            background: #e6e6e6;
        }
        .showSlide {
            display: none
        }
            .showSlide img {
                width: 100%;
            }
        .slidercontainer {
            max-width: 900px;
            position: relative;
            margin: auto;
        }
        .left, .right {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }
        .right {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
            .left:hover, .right:hover {
                background-color: rgba(115, 115, 115, 0.8);
            }
        .content {
            color: #eff5d4;
            font-size: 30px;
            padding: 8px 12px;
            position: absolute;
            top: 10px;
            width: 100%;
            text-align: center;
        }
        .active {
            background-color: #717171;
        }
        /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
        @@-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }

        @@keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
</style>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Geografis</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Business Entity</label>

                            @if (ViewBag.isCabang == 1)
                            {
                                <input type="text" class="form-control" value="@ViewBag.namaCabang" readonly disabled />
                                <input type="hidden" value="@ViewBag.kodeCabang" id="BE_NAME" />
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Status Rental Object</label>
                            <select class="form-control bs-select" id="STATUS">
                                <option value="">All</option>
                                <option value="VACANT">VACANT</option>
                                <option value="BOOKED">BOOKED</option>
                                <option value="OCCUPIED">OCCUPIED</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nama Jalan</label>
                            <input type="text" class="form-control" id="ADDRESS" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button class="btn sbold green" id="btn-filter" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="map" style="min-height:500px">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="openSlider" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body row">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <div class="slidercontainer" id="image-slider">
                            <!-- Navigation arrows -->
                            <a class="left" onclick="nextSlide(-1)">❮</a>
                            <a class="right" onclick="nextSlide(1)">❯</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section CustomStyle {

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
}

@section Plugins {

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyDNrQUCrtl-8cadU2mb1AIo8LJcqw0VmAk" async="" defer="defer"></script>
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/maps-ro.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/maps-ro.js")" type="text/javascript"></script>*@

}

