﻿@using System.Security.Claims
@using Remote.DAL
@using Remote.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | REMOTE PT. Pelabuhan Indonesia (Persero)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/table.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/assets/global/img/favicon.ico" />

    @{
        AppUser user = new AppUser(this.User as ClaimsPrincipal);
        var claimsIdentity = ((ClaimsIdentity)User.Identity);
        IEnumerable<System.Security.Claims.Claim> list = claimsIdentity.FindAll(System.Security.Claims.ClaimTypes.Role);

        var controller = @ViewContext.RouteData.Values["controller"].ToString();
        controller = string.IsNullOrEmpty(controller) ? "" : controller;
        var actionView = @ViewContext.RouteData.Values["action"].ToString();
        actionView = string.IsNullOrEmpty(actionView) ? "" : actionView;
        var _uriLink = (controller.Length > 0 && actionView.Length > 0) ? controller + "/" + actionView : "";
    }
    @if (IsSectionDefined("CustomStyle"))
    {
        @RenderSection("CustomStyle")
    }

</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top">
        <input type="hidden" id="CONN_STRING" value="@DatabaseFactory.GetConnection("default")">

        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index", "Home")">
                    @*<img src="~/assets/layouts/layout4/img/logo-light.png" alt="logo" class="logo-default" />*@
                    <img src="~/assets/global/img/header-logo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        @*<p id="DB_STATUS"></p>*@

                        <li class="separator hide"> </li>
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                                <span class="username username-hide-on-mobile"><span id="DB_STATUS"></span> @User.Identity.Name </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img alt="" class="img-circle" src="~/assets/layouts/layout4/img/Logo-Pelindo-Aja.png" /><Br />
                                <span style="font-size:14px">(Email : @User.Claims.FirstOrDefault(c => c.Type == "USER_EMAIL").Value )</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="#">
                                        <i class="icon-user"></i> @User.Claims.FirstOrDefault(c => c.Type == "NAMA_CABANG").Value  &nbsp;&nbsp;&nbsp;
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                @if (User.Claims.FirstOrDefault(c => c.Type == "KD_CABANG").Value.Trim() == "1" || User.Claims.FirstOrDefault(c => c.Type == "USER_ROLE_ID").Value.Trim() == "01")
                                { 
                                <li>
                                    <a href="#mCabang" data-toggle="modal" id="UbahCabang">
                                        <i class="fa fa-cog"></i> Ubah Cabang
                                    </a>
                                </li>
                                }
                                
                                <li>
                                    <a href="@Url.Action("DownloadPDF", "Download")">
                                        <i class="icon-cloud-download"></i> Manual Book
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Auth")">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>


                            </ul>

                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->

    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                @{
                    AuthDAL dAL = new AuthDAL();
                    var rootLevelId = 1;
                    //var rootMenuId = 0;
                    var countChildMenu = 0;
                    var countAll = 0;
                    string showIcon = string.Empty;

                    var _mainMenuList = dAL.GenerateMainMenuList(User.Claims.FirstOrDefault(c => c.Type == "USER_ID").Value);

                    if (_mainMenuList != null)
                    {
                        if (_mainMenuList.Any())
                        {
                            countAll = _mainMenuList.Count();
                        }
                    }

                    var l = 0;
                    var selected = "<span class=\"selected\"></span>";
                    //var _mainMenuParent = dal.GetParentMenuFromControllerName(user.UserId, _uriLink);
                    //var hasParent = _mainMenuParent.Any() ? "<span class=\"arrow open\"></span>" : "<span class=\"arrow\"></span>";
                    var menuController = "";
                    string queryMenuId = "";
                    string mid = @Context.Request.Query["mid"];
                    DecEncrypt sp = new DecEncrypt();
                    if (!string.IsNullOrEmpty(mid))
                    {
                        queryMenuId = mid.Replace(' ', '+');

                    }
                    var unProtected = !string.IsNullOrEmpty(queryMenuId) ? sp.Decrypt(queryMenuId) : "-1";
                    var protectMenuId = string.Empty;
                    var singlemainMenu = dAL.GetSingleMenu(User.Claims.FirstOrDefault(c => c.Type == "USER_ID").Value, int.Parse(unProtected));
                    var hasParent = string.Empty;
                }
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="nav-item start ">
                        <a href="@Url.Action("Index", "Home")" class="nav-link nav-toggle">

                            <i class="fa fa-home" style='font-size:14px; margin-right:5px'></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="@Url.Action("Index", "MapsGeo")" class="nav-link nav-toggle">
                            <i class="fa fa-map-marker" style='font-size:14px; margin-right:5px'></i>
                            <span class="title">Maps Geografis</span>
                        </a>
                    </li>

                    @*<li class="nav-item ">
            <a href="@Url.Action("Index", "SettingPosting")" class="nav-link nav-toggle">
                <i class="fa fa-map-marker" style='font-size:14px; margin-right:5px'></i>
                <span class="title">Setting Posting</span>
            </a>
        </li>*@

                    <li class="heading">
                        <h3 class="uppercase">Management</h3>
                    </li>
                    <!--<li class="nav-item  ">-->
                    @foreach (var item in _mainMenuList)
                    {

                        countChildMenu = item.CHILD_COUNT;
                        menuController = string.IsNullOrEmpty(item.MENU_ACTIVITY) ? "" : item.MENU_ACTIVITY.ToLower();
                        selected = "";
                        showIcon = (string.IsNullOrEmpty(item.MENU_ICON) || !string.IsNullOrEmpty(item.MENU_ICON)) ? "<i class='" + item.MENU_ICON + "' style='font-size:14px; margin-right:5px'></i>" : "";


                        if ((rootLevelId != item.LEVEL_ID))
                        {
                            for (int i = item.LEVEL_ID; i < rootLevelId; i++)
                            {
                                @Html.Raw("</ul></li>")
                                ;
                            }

                            rootLevelId = item.LEVEL_ID;
                        }
                        if (countChildMenu > 0)
                        {
                            if (singlemainMenu != null)
                            {
                                hasParent = singlemainMenu.MENU_PARENT_ID == item.MENU_ID ? "<span class=\"arrow open\"></span>" : "<span class=\"arrow\"></span>";
                            }
                            else
                            {
                                hasParent = "<span class=\"arrow\"></span>";
                            }
                            if (singlemainMenu != null)
                            {
                                selected = (singlemainMenu.MENU_PARENT_ID.Equals(item.MENU_ID)) ? "<span class=\"selected\"></span>" : "";
                            }
                            @Html.Raw("<li class=\"nav-item \"><a href=\"javascript:;\" class=\"nav-link nav-toggle\">" +
                                                  showIcon +
                                                   "<span class=\"title\">" + @item.MENU_NAMA + "</span>" +
                                                   selected +
                                                   hasParent +
                                           "</a>")
                        }
                        else
                        {
                            protectMenuId = sp.Encrypt(item.MENU_ID.ToString().Trim());
                            @Html.Raw("<li class=\"nav-item \"> <a href=\"" + @item.MENU_URL + "?mid=" + protectMenuId + "\" class=\"nav-link \">" +
                                          showIcon +
                                          "<span class=\"title\">" + @item.MENU_NAMA + "</span>" +
                                          selected +
                                          "</a>")
                        }
                        if (countChildMenu == 0)
                        {
                            @Html.Raw("</li>")
                            //rootLevelId = item.LEVEL_ID - 1;
                        }
                        else
                        {
                            @Html.Raw("<ul class=\"sub-menu\">")
                            rootLevelId = item.LEVEL_ID + 1;
                        }
                        l++;
                        /*if (l == countAll)
                        {
                            rootLevelId = item.LEVEL_ID;
                            for (int i = 1; i < item.LEVEL_ID; i++)
                            {
                                @Html.Raw("</li></ul>")
                                if (rootLevelId > 1)
                                {
                                    rootLevelId = item.LEVEL_ID - 1;
                                }
                                else
                                {
                                    @Html.Raw("</li>")
                                }
                            }
                        }*/
                    }
                    <!-- tes -->
                    @{
                        if (_mainMenuList.Any())
                        {
                            //@Html.Raw("</li>")
                        }
                    }
                </ul>
                <!-- END SIDEBAR MENU-->
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @*<div class="page-head">
                        <div class="page-title">
                            <h1>
                                @ViewBag.Title
                                <small>REMOTE</small>
                            </h1>
                        </div>
                    </div>
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            @ViewBag.Breadcrumb
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">@ViewBag.SubBreadcrumb</span>
                        </li>
                    </ul>*@
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#FilterTransaksi_TerminalId").change(function () {
                var val = this.value;
                $.getJSON("/Transaksi/GarduList/" + $("#FilterTransaksi_TerminalId > option:selected").attr("value"), function (data) {
                    var items = "<option>Pilih salah satu</option>";
                    console.log(data);
                    //  var data = response.d;
                    $.each(data, function (i, gardu) {
                        items += "<option value='" + gardu.Value + "'>" + gardu.Text + "</option>";
                    });
                    $("#Cbgardu").html(items);
                });
            });
        });
    </script>
    @if (IsSectionDefined("Plugins"))
    {
        @RenderSection("Plugins")
    }
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>

    @if (IsSectionDefined("CustomScripts"))
    {
        @RenderSection("CustomScripts")
    }
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //var splitUrl = window.location.href.split('/');
            //var url = '';
            //if (splitUrl.length >= 5) {
            //    url += splitUrl[0] + '//';
            //    for (var i = 2; i < splitUrl.length - 1; i++) {
            //        url += splitUrl[i];
            //        if (i != splitUrl.length - 2) {
            //            url += '/';
            //        }
            //    }
            //} else {
            //    url = window.location.href;
            //}
            var url = window.location.href;
            $('.page-sidebar-menu li a').each(function () {
                if (this.href === url) {
                    $(this).parents('li').addClass('active open');
                    $(this).parent().addClass('active open');
                }
            });
        });

        var conn_string = $('#CONN_STRING').val();
        var split_conn_string = conn_string.split(";");
        //var UserId = split_conn_string[1];
        var UserId = split_conn_string[2];
        //console.log('split' + UserId);
        //var cek = 'User Id=remote';
        //console.log('cek ' + cek);
        if (UserId == 'Password=remote') {
            $('#DB_STATUS').text("DEVELOPMENT SERVER");
            $('#DB_STATUS').addClass("label label-danger");

            //console.log('development');
        }
        else if (UserId == 'Password=remotesap2017') {
            $('#DB_STATUS').text("");
            //console.log('production');
        }
        else {

        }
    </script>


</body>
</html>

