﻿@{
    ViewBag.Title = "Edit Water & Electricity Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Edit  Water & Electricity Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Water & Electricity Transaction</h3>
                <!--/row-->
                <script>
                    var coaproduksi = @ViewBag.GL_ACCOUNT;
                </script>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Installation Type</label>
                            <input type="hidden" id="ID_INSTALASI" class="form-control" value="@ViewBag.ID" />
                            <input type="hidden" id="INSTALLATION_NUMBER" class="form-control" value="@ViewBag.INSTALLATION_NUMBER" />
                            <input type="text" id="INSTALLATION_TYPE" class="form-control" value="@ViewBag.INSTALLATION_TYPE" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Profit Center</label>
                            <input type="text" id="PROFIT_CENTER" class="form-control" value="@ViewBag.PROFIT_CENTER" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Customer</label>
                            <input type="text" id="CUSTOMER" class="form-control" value="@ViewBag.CUSTOMER_NAME" disabled />
                            <input type="hidden" id="CUSTOMER_ID" class="form-control" value="@ViewBag.CUSTOMER" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Period</label>
                            <input type="text" class="form-control" value="@ViewBag.PERIOD" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Status Dinas</label>
                            <center>
                                <select class="form-control" id="STATUS_DINAS">
                                    <option value="KEDINASAN">KEDINASAN</option>
                                    <option value="NON KEDINASAN">NON KEDINASAN</option>
                                </select>
                            </center>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Report On</label>
                            <input class="form-control" id="REPORT_ON" type="text" value="@ViewBag.F_REPORT_ON" disabled/>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Meter From</label>
                        <input type="text" id="METER_FROM" class="form-control" value="@ViewBag.METER_FROM" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Meter To</label>
                        <input type="text" id="METER_TO" class="form-control" value="@ViewBag.METER_TO" />
                    </div>
                </div>
                @*<div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">COA Produksi</label>
                        <div class="input-group">
                            <select name="coa_prod[]" class="form-control" id="coa_prod"></select>
                        </div>*@
                        @*<select class="form-control" id="coa_prod"></select>*@
                    @*</div>
                </div>*@
                <div class="col-md-2">
                    <div class="form-group">
                        <label>COA Produksi</label>
                        <div class="input-group">
                            <a class="input-group-addon btn blue" id="search-coa" type="button" data-toggle="modal" href="#coaModal">
                                <i class="fa fa-search"></i>
                            </a>
                            <input type="text" id="coa_prod" class="form-control" value=@ViewBag.GL_ACCOUNT disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Currency</label>
                        <input readonly type="text" id="CURRENCY" class="form-control" value="@ViewBag.CURRENCY" />
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Unit</label>
                            <input type="text" id="UNIT" class="form-control" value="@ViewBag.UNIT" disabled />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Price / M3</label>
                            <input type="text" id="PRICE" class="form-control" value="@ViewBag.PRICE" disabled />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Min Quantity</label>
                            <input type="text" id="MIN_QUANTITY" class="form-control" value="@ViewBag.MINIMUM_AMOUNT" disabled />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Quantity</label>
                            <input type="text" id="KWH" class="form-control" disabled value="@ViewBag.QUANTITY" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Amount</label>
                            <input type="text" id="AMOUNT" class="form-control" value="@ViewBag.SUB_TOTAL" disabled />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Admin Fee</label>
                            <input type="text" id="SURCHARGE" value="@ViewBag.SURCHARGE" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Grand Total</label>
                            <input type="text" id="GRAND_TOTAL" value="@ViewBag.GRAND_TOTAL" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>

                <div id="USD" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Sub Total USD</label>
                            <input type="text" id="SUB_TOTAL_USD" class="form-control" value=@ViewBag.SUB_TOTAL_USD readonly />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Grand Total USD</label>
                            <input type="text" id="GRAND_TOTAL_USD" class="form-control" value=@ViewBag.GRAND_TOTAL_USD readonly />
                            <input type="hidden" id="RATE" class="form-control" value=@ViewBag.RATE readonly />
                        </div>
                    </div>
                </div>

                <div class="form-actions left">
                    <button type="button" class="btn red" id="btn-kembali">
                        <i class="fa fa-close"></i> Cancel
                    </button>
                    <button type="button" class="btn blue" id="btn-simpan-update">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
        </form>
        <!-- SEARCH COA -->
        <div class="modal fade bs-modal-lg" id="coaModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih Coa</h4>
                    </div>

                    <div class="modal-body">

                        @*<div class="btn-group">
                            <button class="btn sbold green" id="btn-filter-coa" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>*@
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-coa">
                            <thead>
                                <tr>
                                    <th class="dt-head-center">#</th>
                                    <th class="dt-head-center">CODE</th>
                                    <th class="dt-head-center">NAME</th>
                                    <th class="dt-head-center">KETERANGAN</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/assets/scripts/trans-we-list.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/trans-we-list.js")" type="text/javascript"></script>*@


}