﻿@{
    ViewBag.Title = "Water & Electricity List";
    ViewBag.Breadcrumb = "List";
    ViewBag.SubBreadcrumb = "Water & Electricity List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Water & Electricity List</span>
        </div>
    </div>
    <script>
        var coaproduksi = null;
    </script>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <!--
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn-add" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Transaction
                                </button>
                            </div>
                        </div>
                        -->
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-transwe">
                    <thead>
                        <tr>
                            <!--
    <th>
        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
            <input type="checkbox" class="group-checkable" data-set="#sample_1_2 .checkboxes" />
            <span></span>
        </label>
    </th>
    -->
                            <th class="dt-head-center"> TRANSACTION NO</th>
                            <th class="dt-head-center"> INSTALLATION TYPE</th>
                            <th class="dt-head-center"> PROFIT CENTER</th>
                            <th class="dt-head-center"> CUSTOMER</th>
                            <th class="dt-head-center"> CAPACITY</th>
                            <th class="dt-head-center"> PERIOD</th>
                            <th class="dt-head-center"> CURRENCY</th>
                            <th class="dt-head-center"> SUB TOTAL</th>
                            <th class="dt-head-center"> ADMIN FEE</th>
                            <th class="dt-head-center"> GRAND TOTAL USD</th>
                            <th class="dt-head-center"> GRAND TOTAL IDR</th>
                            <th class="dt-head-center"> POSTING DATE</th>
                            <th class="dt-head-center"> STATUS DINAS </th>
                            <th class="dt-head-center" width="12%"> POSTING STATUS</th>
                            <th class="dt-head-center" width="12%"> CANCEL STATUS</th>
                            <th class="dt-head-center" width="12%"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Water Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Transaction No </th>
                                <th class="dt-head-center"> Installation Type</th>
                                <th class="dt-head-center"> Profit Center</th>
                                <th class="dt-head-center"> Customer</th>
                                <th class="dt-head-center"> Period</th>
                                <th class="dt-head-center"> Meter From</th>
                                <th class="dt-head-center"> Meter To</th>
                                <th class="dt-head-center"> Quantity</th>
                                <th class="dt-head-center"> Unit</th>
                                <th class="dt-head-center"> Multiply Factor</th>
                                <th class="dt-head-center"> Price</th>
                                <th class="dt-head-center"> Sub Total</th>
                                <th class="dt-head-center"> Surcharge</th>
                                <th class="dt-head-center"> Grand Total IDR</th>
                                <th class="dt-head-center"> Grand Total USD</th>
                                <th class="dt-head-center"> Installation Code</th>
                                <th class="dt-head-center"> Billing Type</th>
                                <th class="dt-head-center"> SAP Document Number</th>
                                <th class="dt-head-center"> COA PROD</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="viewModalListrik" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Electricity Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <h3>Header Data</h3>
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Billing No </th>
                                <th class="dt-head-center"> Installation Type</th>
                                <th class="dt-head-center"> MDM Code</th>
                                <th class="dt-head-center"> Customer</th>
                                <th class="dt-head-center"> Installation Address</th>
                                <th class="dt-head-center"> Profit Center</th>
                                <th class="dt-head-center"> Installation Number</th>
                                <th class="dt-head-center"> Period</th>
                                <th class="dt-head-center"> Power Capacity</th>
                                <th class="dt-head-center"> Multiply Factor</th>
                                <th class="dt-head-center"> PPJU</th>
                                <th class="dt-head-center"> Reduksi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik-costing">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Price Type </th>
                                <th class="dt-head-center"> Meter From</th>
                                <th class="dt-head-center"> Meter To</th>
                                <th class="dt-head-center"> Used</th>
                                <th class="dt-head-center"> Currency</th>
                                <th class="dt-head-center"> Tariff</th>
                                <th class="dt-head-center"> COA PROD</th>
                                <th class="dt-head-center"> FOTO</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="details_used">
                        <h3>Details Used</h3>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik-used">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Sumber </th>
                                    <th class="dt-head-center"> Price Type </th>
                                    <th class="dt-head-center"> Tgl Stan Awal </th>
                                    <th class="dt-head-center"> Tgl Stan Akhir </th>
                                    <th class="dt-head-center"> Stan Awal </th>
                                    <th class="dt-head-center"> Stan Akhir </th>
                                    <th class="dt-head-center"> Selisih </th>
                                    <th class="dt-head-center"> KWH Tenan </th>
                                    <th class="dt-head-center"> KWH Ditagihkan </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br>
                    <h3>Grand Total IDR</h3>
                    <input type="text" class="form-control input-lg" id="GRAND_TOT" readonly />
                    <div id="USD">
                        <h3>Grand Total USD</h3>
                        <input type="text" class="form-control input-lg" id="GRAND_USD" readonly />
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/trans-we-list.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-we-list.js")" type="text/javascript"></script>*@

}
