﻿@model Remote.ViewModels.TransRentalRequest
@{
    ViewBag.Title = "Disposisi & Paraf";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Edit Contract Offer Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;

}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="form_add">
            <div class="form-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            @*Disposisi*@
                            @if (ViewBag.ADD_SURAT == 0)
                            {
                                <a href="#data_disposisi" data-toggle="tab">
                                    Disposisi
                                </a>
                            }
                            @*Add Surat*@
                            else if (ViewBag.ADD_SURAT == 1)
                            {
                                <a href="#data_disposisi" data-toggle="tab">
                                    Surat
                                </a>
                            }
                            @*Paraf*@
                            else
                            {
                                <a href="#data_disposisi" data-toggle="tab">
                                    Paraf
                                </a>
                            }
                        </li>
                        <li>
                            <a href="#data_contract" data-toggle="tab">  Detail Data </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="data_disposisi">
                            <div class="row">
                                <div class="alert alert-info">
                                    <strong>Identitas Surat.</strong>
                                </div>
                                <script>
                                    var is_create_surat = '@ViewBag.HIDDEN_CREATE_SURAT';
                                </script>
                                <input hidden name="SURAT_ID" id="SURAT_ID" value="@ViewBag.SURAT_ID" />
                                <input hidden name="ADD_SURAT" id="ADD_SURAT" value="@ViewBag.ADD_SURAT" />
                                <input hidden name="PARAF_DISPOSISI" id="PARAF_DISPOSISI" value="@ViewBag.PARAF_DISPOSISI" />
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>No. Surat</label>
                                                @if (ViewBag.ADD_SURAT == 0)
                                                {
                                                    <input readonly value="@ViewBag.NO_SURAT" name="NO_SURAT1" id="NO_SURAT1" type="text" class="form-control">

                                                }
                                                else
                                                {
                                                    <input readonly value="-" name="NO_SURAT1" id="NO_SURAT1" type="text" class="form-control">

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input readonly value="@ViewBag.SUBJECT" name="SUBJECT1" id="SUBJECT1" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.ADD_SURAT == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Isi Surat</label>
                                                <iframe src='/assets/pdfjs/web/viewer.html?file=@Url.Content("~/pdf/disposisilistpdf/")@ViewBag.SURAT_ID' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>
                                                @*<textarea id="summernote_view" name="summernote_view">@ViewBag.ISI_SURAT</textarea>*@
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Disposisi Kepada<span class="required">*</span></label>
                                                    <select name="DISPOSISI_KE[]" class="form-control" id="DISPOSISI_KE" multiple=""></select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        @if (ViewBag.HIDDEN_CREATE_SURAT == 0)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @*<label>Instruksi</label>*@
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="createSurat">
                                                            <label class="form-check-label" for="createSurat">
                                                                <b>Create Surat</b>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Instruksi</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Proses Lanjut Sesuai Prosedur
                                                        </label>
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                                        <label class="form-check-label" for="defaultCheck2">
                                                            Cek dan Evaluasi
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                                        <label class="form-check-label" for="defaultCheck3">
                                                            Saran dan Pendapat
                                                        </label>
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                                        <label class="form-check-label" for="defaultCheck4">
                                                            UMK / UDK
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Isi Disposisi</label>
                                                    <textarea id="MEMO" rows="2" style="height:100%;" class="form-control" name="MEMO"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (ViewBag.ADD_SURAT == 1)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label></label>
                                                    <iframe src='/assets/pdfjs/web/viewer.html?file=@Url.Content("~/pdf/disposisilistpdf/")@ViewBag.SURAT_ID' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>No. Surat</label>
                                                    <input name="NO_SURAT" id="NO_SURAT" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Subject</label>
                                                    <input name="SUBJECT" id="SUBJECT" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Tanggal</label>
                                                    <div class="mt-radio-inline">
                                                        <label class="mt-radio mt-radio-outline">
                                                            <input type="radio" name="inlineRadioOptions" id="disetujui" value="1"> Saat Disetujui
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-radio mt-radio-outline">
                                                            <input type="radio" name="inlineRadioOptions" id="ditentukan" value="0"> Ditentukan Pada
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <div id="tglHidden" style="display: none;" class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        <input typeof="hidden" id="TANGGAL" name="TANGGAL" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Kepada</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <select name="KEPADA[]" class="form-control" id="KEPADA" multiple=""></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Tembusan</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <select name="TEMBUSAN[]" class="form-control" id="TEMBUSAN" multiple=""></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Isi Surat</label>
                                                <div class="form-group" id="summernote">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @*<div class="col-md-7">
                        <div class="form-group">
                            <label>Pemaraf</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <select name="PEMARAF[]" class="form-control" id="PEMARAF" multiple=""></select>
                            </div>
                        </div>
                    </div>*@
                                            @*<div class="col-md-2" style="padding-top:24px">
                        <a style="float:none" class="btn btn-icon-only green" id="btn-detil-filter">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>*@
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Penandatangan</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <select name="PENANDATANGAN" class="form-control" id="PENANDATANGAN"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Atas Nama</label>
                                                    <input name="ATASNAMA" id="ATASNAMA" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Atas Nama</label>
                            <input name="ATASNAMA" id="ATASNAMA" type="text" class="form-control">
                        </div>
                    </div>
                </div>*@
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label></label>
                                                    @*<div class="input-group">*@
                                                    @*<span class="input-group-addon">
                                <i class="fa fa-envelope-o"></i>
                            </span>*@
                                                    @*<textarea id="summernote_view" name="summernote_view">@ViewBag.ISI_SURAT</textarea>*@
                                                    @*</div>*@
                                                    <iframe src='/assets/pdfjs/web/viewer.html?file=@Url.Content("~/pdf/disposisilistpdf/")@ViewBag.SURAT_ID' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>

                                                </div>
                                            </div>
                                            @*<div class="col-md-2" style="padding-top:20px">
                        <a class="btn btn-icon-only green" data-toggle="modal" href="#modal-view-surat" id="btn-lihat-surat">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>*@
                                        </div>
                                    }

                                    <div class="form-actions right">
                                        @if (ViewBag.ADD_SURAT == 0)
                                        {
                                            <button type="button" class="btn blue" id="btn-save-data">
                                                <i class="fa fa-check"></i> Send
                                            </button>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="border-color:#00BCED;" class="panel panel-primary">
                                                <div style="background-color: #00BCED;" class="panel-heading">
                                                    <h4 class="panel-title"><span class="text-right"><b>History</b></span></h4>
                                                </div>
                                                @foreach (var history in ViewBag.DETAIL_HISTORY)
                                                {
                                                    <table align="right" style="margin-right:20px; font-size:10px;">
                                                        <tr>
                                                            <td align="right">
                                                                @history.TIME_CREATE
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div style="padding: 5px;background-color: #E1F9FF;" class="panel-body">
                                                        @*<div class="col-md-12">
                                    <div style="background-color: #00BCED;" class="form-group">
                                        <label><u>@history.TYPE</u></label>
                                        <textarea style="background-color: #FFFFFF;" disabled style="height: 100px;" class="form-control" id="MEMO" name="MEMO">@history.MEMO</textarea>
                                    </div>
                                </div>*@
                                                        <div class="col-md-12" height:150px;">
                                                            <div style="background-color: #00BCED;height: 150px;overflow-y: scroll;" class="form-group">
                                                                <label style="color:white"><b>@history.TYPE</b></label>
                                                                <table align="center" style="background-color: #FFFFFF;width: 250px;" class="form-group">
                                                                    <tr>
                                                                        <td><b> @history.NAMA</b></td>
                                                                    </tr>
                                                                    @if (@history.TYPE == "Disposisi")
                                                                    {
                                                                        <tr>
                                                                            <td><b>Kepada</b> : @history.NAMA_KEPADA</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><b>Instruksi</b> : @history.INSTRUKSI</td>
                                                                        </tr>
                                                                    }

                                                                    <tr>
                                                                        <td><textarea disabled style="width:250px;">@history.MEMO</textarea></td>
                                                                    </tr>
                                                                </table>
                                                                @*<textarea style="background-color: #FFFFFF; " height: 120px;" disabled class="form-control" id="MEMO" name="MEMO">@history.MEMO</textarea>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @if (ViewBag.ADD_SURAT == 1 || ViewBag.ADD_SURAT == 2)
                                        {
                                            <div class="col-md-12">
                                                <div style="border-color:#E7ECF1;" class="panel panel-primary">
                                                    <div style="background-color: #00BCED;" class="panel-heading">
                                                        <h4 class="panel-title"><span class="text-right">Action</span></h4>
                                                    </div>
                                                    <div style="padding:5px;" class="panel-body">

                                                        @if (ViewBag.ADD_SURAT == 1)
                                                        {
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Status Kirim</label>
                                                                    <select class="form-control" id="STATUS_KIRIM" name="STATUS_KIRIM">
                                                                        <option value="Draft">Draft</option>
                                                                        <option value="Send">Send</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Memo</label>
                                                                <textarea style="height: 150px;" class="form-control" id="MEMO" name="MEMO"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions left">
                                                        @*<button type="button" class="btn green" id="PDF">
                                    <i class="fa fa-file-pdf-o"></i> PDF
                                </button>*@

                                                        @if (ViewBag.ADD_SURAT == 2)
                                                        {
                                                            <button type="button" class="btn red" id="btn-reject">
                                                                <i class="fa fa-check"></i> Revise
                                                            </button>
                                                            <button type="button" class="btn blue" id="btn-save-data">
                                                                <i class="fa fa-check"></i>Approve
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn blue" id="btn-save-data">
                                                                <i class="fa fa-check"></i>Submit
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="data_contract">
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Data dibawah ini merupakan daftar status workflow contract offer yang sedang berjalan.
                            </div>

                            <input type="hidden" value="@ViewBag.CONTRACT_OFFER_NO" id="OFFER_ID" />
                            <input type="hidden" id="RENTAL_REQUEST_NO" value="@ViewBag.RENTAL_REQUEST_NO">
                            <input type="hidden" id="URUTAN" value="@ViewBag.PARAF_LEVEL">
                            <input type="hidden" id="CONTRACT_NUMBER" value="@ViewBag.CONTRACT_OFFER_NO">
                            <input type="hidden" id="OLD_CONTRACT_OFFER" value="@ViewBag.OLD_CONTRACT_OFFER">
                            <input type="hidden" id="OLD_RENTAL_REQUEST" value="@ViewBag.OLD_RENTAL_REQUEST">
                            <input type="hidden" id="RR_ID" value="@ViewBag.RR_ID">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Company Code</label>
                                                <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Contract Offer Type</label>
                                                <input type="text" id="CONTRACT_OFFER_TYPE" value="@ViewBag.CONTRACT_OFFER_TYPE" class="form-control" readonly>
                                                <input type="hidden" id="RENTAL_REQUEST_ID" value="@ViewBag.CONTRACT_OFFER_TYPE_ID" class="form-control" disabled>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Contract Offer No</label>
                                                <input type="text" id="OLD_CONTRACT" value="@ViewBag.CONTRACT_OFFER_NO" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Contract Offer Name</label>
                                                <input disabled type="text" class="form-control" value="@ViewBag.CONTRACT_OFFER_NAME" id="CONTRACT_OFFER_NAME">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Start Date</label>
                                                <input disabled class="form-control form-control-inline date-picker" value="@ViewBag.CONTRACT_START_DATE" size="16" id="CONTRACT_START_DATE" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract End Date</label>
                                                <input disabled class="form-control form-control-inline date-picker" value="@ViewBag.CONTRACT_END_DATE" size="16" id="CONTRACT_END_DATE" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Term In Months</label>
                                                <input disabled type="text" class="form-control" value="@ViewBag.TERM_IN_MONTHS" id="TERM_IN_MONTHS">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- NEW EDIT FORM -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Search Customer Name</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                    <input disabled type="text" id="CUSTOMER_NAME" class="form-control" value="@ViewBag.CUSTOMER_NAME">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Customer Code MDM</label>
                                                <input type="text" class="form-control" id="CUSTOMER_ID" value="@ViewBag.CUSTOMER_ID" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Business Entity</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME", @ViewBag.BE_ID), "-- Choose Business Entity --", new { @class = "form-control", @id = "BUSINESS_ENTITY_ID" })*@
                                                    <input disabled type="text" class="form-control" id="BUSINESS_ENTITY_NAME" readonly value="@ViewBag.BE_NAME">
                                                    <input type="hidden" class="form-control" id="BUSINESS_ENTITY_ID" disabled value="@ViewBag.BE_ID">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Customer AR</label>
                                                <input type="text" class="form-control" id="CUSTOMER_AR" value="@ViewBag.CUSTOMER_AR" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Profit Center</label>
                                                @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME", @ViewBag.PROFIT_CENTER), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                                                <input type="text" class="form-control" id="TERMINAL_NAME" readonly value="@ViewBag.PROFIT_CENTER_NAME">
                                                <input type="hidden" class="form-control" id="PROFIT_CENTER" disabled value="@ViewBag.PROFIT_CENTER_ID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-4">
                                            <div class="form-group">
                                                <label>Contract Usage</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownListFor(m => m.FDDContractUsage, new SelectList(Model.DDContractUsage, "ID", "REF_DESC", @ViewBag.CONTRACT_USAGE_ID), "-- Choose --", new { @class = "form-control", @id = "USAGE_TYPE" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Currency</label>
                                                <select disabled class="form-control" id="CONTRACT_CURRENCY">
                                                    <option value="">-- Choose --</option>
                                                    @if (ViewBag.CURRENCY == "IDR")
                                                    {
                                                        <option value="IDR" selected>IDR</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="IDR">IDR</option>
                                                    }
                                                    @if (ViewBag.CURRENCY == "USD")
                                                    {
                                                        <option value="USD" selected>USD</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="USD">USD</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="form-group">
                                                <label>Offer Status</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" id="OFFER_STATUS" value="10 - Created" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 hidden-xs hidden-sm flex-column">

                                    <div class="alert alert-info old-contract" style="display:none">
                                        <strong>Info Old Contract</strong>
                                        <table>
                                            <tr>
                                                <td>Value</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_VALUE text-right"></td>
                                                <td class="CURRENCY"></td>
                                            </tr>
                                            <tr>
                                                <td>Start</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_START text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_END text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>Period</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_PERIOD text-right"></td>
                                                <td>&nbsp;month/s</td>
                                            </tr>
                                        </table>
                                        <strong>Rental Object</strong>
                                        <table class="DETAIL_RO"></table>
                                        <small>*) Administration and Warmeking is not included</small>
                                    </div>

                                    <div class="alert alert-success old-contract" style="display:none">
                                        <strong>New Contract Estimation</strong>
                                        <table>
                                            <tr>
                                                <td>Value</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_VALUE_NEW text-right"></td>
                                                <td class="CURRENCY"></td>
                                            </tr>
                                            <tr>
                                                <td>Start</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>Period</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                                <td>&nbsp;month/s</td>
                                            </tr>
                                        </table>
                                        <strong>Rental Object</strong>
                                        <table class="DETAIL_RO_NEW"></table>
                                        <small>*) Administration and Warmeking is not included</small>
                                    </div>
                                </div>
                            </div>
                            <!-- end EDIT FORM -->

                            <h3 class="form-section">Object</h3>

                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> RO_NUMBER</th>
                                                    <th class="dt-head-center"> OBJECT ID</th>
                                                    <th class="dt-head-center"> OBJECT TYPE ID</th>
                                                    <th class="dt-head-center"> OBJECT TYPE</th>
                                                    <th class="dt-head-center"> RO NAME</th>
                                                    <th class="dt-head-center"> LAND AREA</th>
                                                    <th class="dt-head-center"> BUILDING AREA</th>
                                                    <th class="dt-head-center"> TYPE INDUSTRY</th>
                                                    <th class="dt-head-center"> #</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Condition</h3>

                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="condition">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> CALC OBJECT </th>
                                                    <th class="dt-head-center"> CONDITION TYPE </th>
                                                    <th class="dt-head-center"> VALID FROM </th>
                                                    <th class="dt-head-center"> VALID TO </th>
                                                    <th class="dt-head-center"> MONTHS </th>
                                                    <th class="dt-head-center"> STATISTIC </th>
                                                    <th class="dt-head-center"> FORMULA </th>
                                                    <th class="dt-head-center"> UNIT PRICE VALUE </th>
                                                    <th class="dt-head-center"> AMT REF </th>
                                                    <th class="dt-head-center"> FREQUENCY </th>
                                                    <th class="dt-head-center"> START DUE DATE </th>
                                                    <th class="dt-head-center"> MANUAL NO </th>
                                                    <th class="dt-head-center"> MEAS TYPE </th>
                                                    <th class="dt-head-center"> LUAS (M2) </th>
                                                    <th class="dt-head-center"> TOTAL VALUE</th>
                                                    <th class="dt-head-center"> % FROM NJOP </th>
                                                    <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                    <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                    <th class="dt-head-center"> COA PROD </th>
                                                    <th class="dt-head-center"> #</th>
                                                    <th class="dt-head-center"> TAX_CODE </th>
                                                    @*style="display: none"*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Manual Frequency</h3>

                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                    <th class="dt-head-center"> CONDITION </th>
                                                    <th class="dt-head-center"> DUE DATE </th>
                                                    <th class="dt-head-center"> NET VALUE </th>
                                                    <th class="dt-head-center"> QUANTITY </th>
                                                    <th class="dt-head-center"> QTY UNIT </th>
                                                    <th class="dt-head-center" width="5%"> # </th>
                                                    <th class="dt-head-center" width="5%"> # </th>
                                                    <th class="dt-head-center sembunyi"> CONDITION_CODE </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Memo</h3>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                                <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                                <th class="dt-head-center" width="50%"> MEMO</th>
                                                @*<th class="dt-head-center" width="5%"> ACTION</th>*@
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->
        <div class="modal fade" id="modal-view-surat" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"><span id="txt-judul"></span> View Surat</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                @foreach (dynamic list in ViewBag.LIST_SURAT)
                                {
                                    @if (list.COUNT_SURAT == "1")
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Isi Surat Permohonan</label>
                                                <textarea id="summernote_modal" name="summernote_modal">@list.ISI_SURAT</textarea>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Isi Surat Persetujuan</label>
                                                <textarea id="summernote_modal2" name="summernote_modal2">@list.ISI_SURAT</textarea>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>


    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/disposisi-add.js" asp-append-version="true"></script>
    @* <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/dt-add-trans-co-edit-new.js")" type="text/javascript"></script>*@


}