﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Disposisi List";
    ViewBag.Breadcrumb = "Disposisi List";
    //ViewBag.SubBreadcrumb = "Disposisi List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Disposisi & Paraf</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="tabbable-custom nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#paraf" data-toggle="tab"> Paraf </a>
                </li>
                <li>
                    <a href="#disposisi" data-toggle="tab"> Disposisi </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            @*tab surat*@
            <div class="tab-pane active" id="paraf">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        @*<button id="btn-add" data-toggle="modal" href="#addapvsetModal" class="btn sbold green">
                                                <i class="fa fa-plus"></i> Add Data
                                            </button>*@
                                        @*<button id="btn-email" data-toggle="modal" class="btn sbold red">
                                                <i class="fa fa-mail-reply"></i> Test Email
                                            </button>*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-paraf">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> NO </th>
                                    <th class="dt-head-center"> NO SURAT </th>
                                    <th class="dt-head-center"> SUBJECT </th>
                                    <th class="dt-head-center"> CONTRACT OFFER</th>
                                    <th class="dt-head-center"> OFFER TYPE </th>
                                    <th class="dt-head-center"> CUSTOMER NAME </th>
                                    <th class="dt-head-center"> START DATE </th>
                                    <th class="dt-head-center"> END DATE </th>
                                    @*<th class="dt-head-center"> CURRENT STATUS </th>*@
                                    <th class="dt-head-center"> ACTION </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="disposisi">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        @*<button id="btn-add" data-toggle="modal" href="#addapvsetModal" class="btn sbold green">
                                                <i class="fa fa-plus"></i> Add Data
                                            </button>*@
                                        @*<button id="btn-email" data-toggle="modal" class="btn sbold red">
                                                <i class="fa fa-mail-reply"></i> Test Email
                                            </button>*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-disposisi">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> NO </th>
                                    <th class="dt-head-center"> NO SURAT </th>
                                    <th class="dt-head-center"> SUBJECT </th>
                                    <th class="dt-head-center"> CONTRACT OFFER</th>
                                    <th class="dt-head-center"> OFFER TYPE </th>
                                    <th class="dt-head-center"> CUSTOMER NAME </th>
                                    <th class="dt-head-center"> START DATE </th>
                                    <th class="dt-head-center"> END DATE </th>
                                    @*<th class="dt-head-center"> CURRENT STATUS </th>*@
                                    <th class="dt-head-center"> ACTION </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addapvsetModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Disposisi</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="sertifikat-hpl" class="horizontal-form">
                    <div class="form-body row">
                        <div class="col-md-6">
                            <input type="hidden" id="param_id" />
                            <input type="hidden" id="ID" name="ID" />
                            <input type="hidden" id="PATCH" name="PATCH" />
                            <input type="hidden" id="ATTACHMENT" name="ATTACHMENT" />
                            <input type="hidden" id="BUSINESS_ENTITY_ID" name="BUSINESS_ENTITY_ID" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>No. Surat</label>
                                        <input name="NO_SURAT" id="NO_SURAT" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input name="SUBJECT" id="SUBJECT" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Disposisi Ke</label>
                                        <select name="DISPOSISI_KE" class="form-control" id="DISPOSISI_KE"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="custom-file-label" for="customFile">Upload Attachment</label>
                                        <input class="form-control" type="file" accept=".pdf, .doc, .docx" id="files" name="files" multiple />
                                    </div>
                                    <div class="col-md-6 text-right" style="padding-right: 0px">
                                        <input hidden id="upload_file_berita_exist" name="upload_file_berita_exist" />
                                        <a id="target_berita" class="d-none" href="#">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="border-color:#00BCED;" class="panel panel-primary">
                                        <div style="background-color: #00BCED;" class="panel-heading">
                                            <h4 class="panel-title"><span class="text-right">Action</span></h4>
                                        </div>
                                        <div style="padding:5px;" class="panel-body">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Komentar/Memo</label>
                                                    <textarea style="height: 200px;" class="form-control" id="MEMO" name="MEMO"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-simpanadd" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-full" id="viewContractOfferModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Contract Offer</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_5" data-toggle="tab"> Data Surat </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_1" data-toggle="tab">  Data Contract Offer </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Object </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_3" data-toggle="tab"> Condition </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_4" data-toggle="tab"> History Workflow </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            @*LEFT*@
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Company Code</label>
                                                            <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label">Business Entity</label>
                                                            <input type="text" id="BE_ID" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Rental Request No</label>
                                                            <input type="text" id="RENTAL_REQUEST_NO" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Offer No</label>
                                                            <input type="text" id="CONTRACT_OFFER_NO" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Offer Type</label>
                                                            <input type="text" id="CONTRACT_OFFER_TYPE" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Old Contract No</label>
                                                            <input type="text" id="OLD_CONTRACT" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Offer Name</label>
                                                            <input type="text" class="form-control" id="CONTRACT_OFFER_NAME" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Start Date</label>
                                                            <input type="text" class="form-control" id="CONTRACT_START_DATE" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract End Date</label>
                                                            <input type="text" class="form-control" id="CONTRACT_END_DATE" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Term In Months</label>
                                                            <input type="text" class="form-control" id="TERM_IN_MONTHS" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label">Customer MDM</label>
                                                            <input type="text" class="form-control" id="CUSTOMER_NAME" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Customer AR</label>
                                                            <input type="text" class="form-control" id="CUSTOMER_AR" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Profit Center</label>
                                                            <input type="text" class="form-control" id="PROFIT_CENTER" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Usage</label>
                                                            <input type="text" class="form-control" id="CONTRACT_USAGE" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Currency</label>
                                                            <input type="text" class="form-control" id="CURRENCY" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Offer Status</label>
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input type="text" class="form-control" id="OFFER_STATUS" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*RIGHT*@
                                            <div class="col-md-4 flex-column sticky">
                                                <div class="alert alert-info old-contract" style="display:none">
                                                    <strong>Info Old Contract</strong>
                                                    <table>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_VALUE text-right"></td>
                                                            <td class="CURRENCY"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_START text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_END text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Period</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_PERIOD text-right"></td>
                                                            <td>&nbsp;month/s</td>
                                                        </tr>
                                                    </table>
                                                    <strong>Rental Object</strong>
                                                    <table class="DETAIL_RO"></table>
                                                    <small>*) Administration and Warmeking is not included</small>
                                                </div>

                                                <div class="alert alert-success old-contract" style="display:none">
                                                    <strong>New Contract Estimation</strong>
                                                    <table>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_VALUE_NEW text-right"></td>
                                                            <td class="CURRENCY"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Period</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                                            <td>&nbsp;month/s</td>
                                                        </tr>
                                                    </table>
                                                    <strong>Rental Object</strong>
                                                    <table class="DETAIL_RO_NEW"></table>
                                                    <small>*) Administration and Warmeking is not included</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-object">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT_NAME</th>
                                            <th class="dt-head-center">START_DATE</th>
                                            <th class="dt-head-center">END_DATE</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">INDUSTRY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_3">
                                <h3 class="form-section">Condition</h3>
                                @*<button class="btn sbold green" id="btn-view-condition" type="button">
                                        <i class="fa fa-search"></i> View Condition
                                    </button>
                                    <br />
                                    <br />*@
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-condition">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> CALC OBJECT </th>
                                            <th class="dt-head-center"> CONDITION Type </th>
                                            <th class="dt-head-center"> VALID FROM </th>
                                            <th class="dt-head-center"> VALID TO </th>
                                            <th class="dt-head-center"> MONTHS </th>
                                            <th class="dt-head-center"> STATISTIC </th>
                                            <th class="dt-head-center"> UNIT PRICE </th>
                                            <th class="dt-head-center"> AMT REF </th>
                                            <th class="dt-head-center"> FREQUENCY </th>
                                            <th class="dt-head-center"> START DUE DATE </th>
                                            <th class="dt-head-center"> MANUAL NO </th>
                                            <th class="dt-head-center"> FORMULA </th>
                                            <th class="dt-head-center"> MEAS TYPE </th>
                                            <th class="dt-head-center"> LUAS (M2) </th>
                                            <th class="dt-head-center"> TOTAL </th>
                                            <th class="dt-head-center"> % FROM NJOP </th>
                                            <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                            <th class="dt-head-center"> TOTAL NET VALUE </th>
                                            <th class="dt-head-center"> COA PROD </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Manual Frequency</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-manual">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                            <th class="dt-head-center"> KODE BAYAR </th>
                                            <th class="dt-head-center"> CONDITION </th>
                                            <th class="dt-head-center"> DUE DATE </th>
                                            <th class="dt-head-center"> NET VALUE </th>
                                            <th class="dt-head-center"> QUANTITY </th>
                                            <th class="dt-head-center"> UNIT </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Memo</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_4">
                                <h3 class="form-section">History Workflow</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-history">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%">NIPP</th>
                                            <th class="dt-head-center" width="15%">APPROVAL DATE</th>
                                            <th class="dt-head-center" width="50%">NOTES</th>
                                            <th class="dt-head-center" width="15%">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            
                            <div class="tab-pane active" id="tab_1_1_5">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Isi Surat</label>
                                                        <template id="tmpl-upload-iframe">
                                                            <iframe src='/assets/pdfjs/web/viewer.html?file=@Url.Content("~/pdf/disposisilistpdf/__INDEX__")' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>
                                                        </template>
                                                        <div class="upload-iframe">

                                                        </div>
                                                        @*<input type="text" id="isi_surat" name="isi_surat" />*@
                                                        @*<textarea id="summernote_view" name="summernote_view"></textarea>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="border-color:#00BCED;" class="panel panel-primary">
                                                            <div style="background-color: #00BCED;" class="panel-heading">
                                                                <h4 class="panel-title"><span class="text-right">History</span></h4>
                                                            </div>
                                                            <div id="dataHistory"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/disposisi-list-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/parameter-approval-setting.js")" type="text/javascript"></script>*@
}




