﻿@model Remote.ViewModels.TransSpecialContract
@{
    ViewBag.Title = "Special Contract Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Add Special Contract Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">General Data</h3>
                <div class="alert alert-warning">
                    <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Company Code</label>
                            <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Contract Type</label>
                            <input type="text" class="form-control" value="ZC06 - KONTRAK KHUSUS" readonly>
                            <input type="hidden" id="CONTRACT_TYPE" class="form-control" value="ZC06" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Business Entity</label>
                            @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Contract Name</label>
                            <input type="text" id="CONTRACT_NAME" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract Start Date</label>
                            <input class="form-control form-control-inline date-picker" size="16" id="CONTRACT_START_DATE" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract End Date</label>
                            <input class="form-control form-control-inline date-picker" size="16" id="CONTRACT_END_DATE" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Term In Months</label>
                            <input type="text" class="form-control" id="TERM_IN_MONTHS">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Business Partner Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="BUSINESS_PARTNER_NAME" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Business Partner</label>
                            <input type="text" id="BUSINESS_PARTNER" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Customer AR</label>
                            <input type="text" class="form-control" id="CUSTOMER_AR" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Profit Center</label>
                            @Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Contract Usage</label>
                            @Html.DropDownListFor(m => m.FDDContractUsage, new SelectList(Model.DDContractUsage, "REF_DATA", "REF_DESC"), "-- Choose Contract Usage --", new { @class = "form-control", @id = "CONTRACT_USAGE" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Principle License Numberr</label>
                            <input type="text" class="form-control" id="IJIN_PRINSIP_NO">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Principle License Date</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="IJIN_PRINSIP_DATE" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Legal Contract Numberr</label>
                            <input type="text" class="form-control" id="LEGAL_CONTRACT_NO">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Legal Contract Date</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="LEGAL_CONTRACT_DATE" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Contract Currency</label>
                            <select class="form-control" id="CURRENCY">
                                <option value="">-- Choose --</option>
                                <option value="IDR">IDR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                    <div class="form-group">
                        <label>Offer Status</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <select class="form-control" id="REQUEST_STATUS">
                                <option value="">-- Choose --</option>
                                <option value="10 - Created">10 - Created</option>
                                <option value="20 - Release to Workflow">20 - Release to Workflow</option>
                                <option value="30 - Released by Manager">30 - Released by Manager</option>
                                <option value="40 - Released by Deputy Mgr">40 - Released by Deputi Mgr</option>
                                <option value="50 - Released by GM">50 - Released by GM</option>
                                <option value="60 - Released by SM">60 - Released by SM</option>
                                <option value="70 - Released by Director">70 - Released by Director</option>
                                <option value="80 - Released by Komisaris">80 - Released by Komisaris</option>
                                <option value="90 - Released by RUPS">90 - Released by RUPS</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                </div>

                <h3 class="form-section">Object</h3>
                <div class="row">
                    <div class="col-md-4">
                        <a data-toggle="modal" href="#addDetailModal" class="btn btn-icon-only green" id="btn-detil-filter">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="editable_transrental">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> RO_NUMBER</th>
                                        <th class="dt-head-center"> OBJECT ID</th>
                                        <th class="dt-head-center"> OBJECT TYPE ID</th>
                                        <th class="dt-head-center"> OBJECT TYPE</th>
                                        <th class="dt-head-center"> RO NAME</th>
                                        <th class="dt-head-center"> BUILDING AREA</th>
                                        <th class="dt-head-center"> LAND AREA</th>
                                        <th class="dt-head-center"> TYPE INDUSTRY</th>
                                        <th class="dt-head-center"> #</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Condition</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn blue" type="button" data-toggle="modal" href="#addCondition" class="btn btn-icon-only green" id="btn-add-condition">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="condition">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CALC OBJECT </th>
                                        <th class="dt-head-center"> CONDITION TYPE </th>
                                        <th class="dt-head-center"> VALID FROM </th>
                                        <th class="dt-head-center"> VALID TO </th>
                                        <th class="dt-head-center"> MONTHS </th>
                                        <th class="dt-head-center"> STATISTIC </th>
                                        <th class="dt-head-center"> UNIT PRICE </th>
                                        <th class="dt-head-center"> AMT REF </th>
                                        <th class="dt-head-center"> FREQUENCY </th>
                                        <th class="dt-head-center"> START DUE DATE </th>
                                        <th class="dt-head-center"> MANUAL NO </th>
                                        <th class="dt-head-center"> FORMULA </th>
                                        <th class="dt-head-center"> MEAS TYPE </th>
                                        <th class="dt-head-center"> LUAS (M2) </th>
                                        <th class="dt-head-center"> TOTAL VALUE</th>
                                        <th class="dt-head-center"> % FROM NJOP </th>
                                        <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                        <th class="dt-head-center"> TOTAL NET VALUE </th>
                                        <th class="dt-head-center"> COA PROD </th>
                                        <th class="dt-head-center"> ACTION </th>
                                        <th class="dt-head-center" style="display: none"> TAX_CODE </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Manual Frequency</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-manual-frequency">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                        <th class="dt-head-center"> CONDITION </th>
                                        <th class="dt-head-center"> DUE DATE </th>
                                        <th class="dt-head-center"> NET VALUE </th>
                                        <th class="dt-head-center"> QUANTITY </th>
                                        <th class="dt-head-center"> QTY UNIT </th>
                                        <th class="dt-head-center" width="5%"> ADD </th>
                                        <th class="dt-head-center" width="5%"> ACTION </th>
                                        <th class="dt-head-center sembunyi"> CONDITION_CODE </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <h3 class="form-section">Memo</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn blue" type="button" data-toggle="modal" href="#addMemo" class="btn btn-icon-only green" id="btn-add-memo">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                            <thead>
                                <tr>
                                    <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                    <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                    <th class="dt-head-center" width="50%"> MEMO</th>
                                    <th class="dt-head-center" width="5%"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--MODAL OBJECT-->
            <div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Add Data Object Detail</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Contract Start</label>
                                                <input id="from" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Contract End</label>
                                                <input id="to" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Land From</label>
                                                <input type="text" id="luas_tanah_from" class="form-control" placeholder="100">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Land To</label>
                                                <input type="text" id="luas_tanah_to" class="form-control" placeholder="1000">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Building From</label>
                                                <input type="text" id="luas_bangunan_from" class="form-control" placeholder="100">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Building To</label>
                                                <input type="text" id="luas_bangunan_to" class="form-control" placeholder="1000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                    <div class="row">

                                    </div>
                                    <div class="btn-group">
                                        <button class="btn sbold green" id="btn-filter" type="button">
                                            <i class="fa fa-search"></i> Filter
                                        </button>
                                    </div>
                                    <br>
                                    <br>
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center">#</th>
                                                <th class="dt-head-center sembunyi">RO_NUMBER</th>
                                                <th class="dt-head-center sembunyi">OBJECT TYPE ID</th>
                                                <th class="dt-head-center sembunyi">OBJECT TYPE</th>
                                                <th class="dt-head-center">OBJECT ID</th>
                                                <th class="dt-head-center">RO NAME</th>
                                                <th class="dt-head-center">BUILDING AREA</th>
                                                <th class="dt-head-center">LAND AREA</th>
                                                <th class="dt-head-center">VALID FROM</th>
                                                <th class="dt-head-center">VALID TO</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn green" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!--ADD CONDITION MODALS-->
            <div class="modal fade" id="addCondition" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Add Condition</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">
                                    <h4>Choose Calculation Object</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select id="condition-option" name="condition-option" class="form-control"></select>
                                                <!--
                                        <select class="form-control" id="condition-option">
                                            <option value="">-- Choose --</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                        </select>
                                        -->
                                            </div>
                                        </div>
                                    </div>

                                    <h4>Choose Condition Type</h4>
                                    <hr />
                                    <div id="cekbokList" class="mt-checkbox-list"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue" id="btn-condition">
                                <i class="fa fa-check"></i> Add Condition
                            </button>
                            <button type="button" class="btn green" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- SEARCH COA -->
            <div class="modal fade bs-modal-lg" id="coaModal" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Pilih Coa</h4>
                        </div>

                        <div class="modal-body">

                            <div class="btn-group">
                                <button class="btn sbold green" id="btn-filter-coa" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                            </div>
                            <br>
                            <br>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-coa">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center">#</th>
                                        <th class="dt-head-center">CODE</th>
                                        <th class="dt-head-center">NAME</th>
                                        <th class="dt-head-center">KETERANGAN</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn green" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!--ADD MEMO MODALS-->
            <div class="modal fade" id="addMemo" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Add Memo</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">
                                    <h4>Condition Type</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select id="memo-condition" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <h4>Memo</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" id="memo" name="memo"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue" id="btn-add-memo-md" name="btn-add-memo">
                                <i class="fa fa-check"></i> Add Memo
                            </button>
                            <button type="button" class="btn green" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/assets/scripts/dt-add-trans-sc.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/dt-add-trans-sc.js")" type="text/javascript"></script>*@


}