﻿@{
    ViewBag.Title = "Contract Notification";
    ViewBag.Breadcrumb = "Contract";
    ViewBag.SubBreadcrumb = "Contract Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Contract Notification</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#notification_list" data-toggle="tab">Contract Notification</a>
                        </li>
                        <li>
                            <a href="#warning_list" data-toggle="tab">Expired Contract</a>
                        </li>
                        <li>
                            <a href="#warning_notification_list" data-toggle="tab">Warning Notification</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="notification_list">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Business Entity Name</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Contract No</label>
                                            <input type="text" id="CONTRACT_NO" class="form-control" placeholder="31002429">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Contract Type</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="CONTRACT_TYPE"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Customer MDM</label>
                                            <input type="text" id="CUSTOMER_NAME" class="form-control" placeholder="PT. SARI RAHAYU">
                                            <input type="hidden" id="CUSTOMER_ID" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Contract End From</label>
                                            <input id="DATE_START" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Contract End To</label>
                                            <input id="DATE_END" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-4">
                                            <div class="form-group">
                                                <label>Legal Contract No</label>
                                                <input type="text" id="LEGAL_CONTRACT_NO" class="form-control" placeholder="HK.0501/17/TMS-2009">
                                            </div>
                                        </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button class="btn sbold green" id="btn-filter" type="button">
                                                <i class="fa fa-search"></i> Filter
                                            </button>
                                            <button class="btn sbold green" id="btn-filter-history" type="button">
                                                <i class="fa fa-file"></i> Stopped List
                                            </button>
                                            <button type="button" class="btn blue" onclick="defineExcelNotification()" id="btn-cetak-exel" style="display: none;">
                                                <i class="fa fa-file-excel-o"></i>
                                                Export Excel
                                            </button>
                                            <button type="button" class="btn blue" onclick="defineExcelNotificationHistory()" id="btn-cetak-exel-history" style="display: none;">
                                                <i class="fa fa-file-excel-o"></i>
                                                Export Excel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="table-notification-contract">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CONTRACT START DATE </th>
                                        <th class="dt-head-center"> CONTRACT END DATE</th>
                                        <th class="dt-head-center sembunyi"> DAYS REMAINING </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CUSTOMER NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> CUSTOMER EMAIL </th>
                                        <th class="dt-head-center"> CUSTOMER PHONE </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CUSTOMER ADDRESS &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> CONTRACT NO </th>
                                        <th class="dt-head-center"> CONTRACT TYPE </th>
                                        <th class="dt-head-center"> CONTRACT LEGAL </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONTRACT NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> RO NUMBER </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RO NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RO ADDRESS &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> BUSINESS ENTITY </th>
                                        <th class="dt-head-center"> STOP EMAIL DATE </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MEMO &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> STATUS </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="warning_list">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Business Entity Name</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY_WARNING"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Contract No</label>
                                            <input type="text" id="CONTRACT_NO_WARNING" class="form-control" placeholder="31002429">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Contract Type</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="CONTRACT_TYPE_WARNING"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Customer MDM</label>
                                            <input type="text" id="CUSTOMER_NAME_WARNING" class="form-control" placeholder="PT. SARI RAHAYU">
                                            <input type="hidden" id="CUSTOMER_ID_WARNING" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Contract End From</label>
                                            <input id="DATE_START_WARNING" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Contract End To</label>
                                            <input id="DATE_END_WARNING" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-4">
                                            <div class="form-group">
                                                <label>Legal Contract No</label>
                                                <input type="text" id="LEGAL_CONTRACT_NO_WARNING" class="form-control" placeholder="HK.0501/17/TMS-2009">
                                            </div>
                                        </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button class="btn sbold green" id="btn-filter-warning" type="button">
                                                <i class="fa fa-search"></i> Filter
                                            </button>
                                            <button class="btn sbold green" id="btn-filter-warning-history" type="button">
                                                <i class="fa fa-file"></i> Stopped List
                                            </button>
                                            <button type="button" class="btn blue" onclick="defineExcelWarningHistory()" id="btn-cetak-exel-warning-history" style="display: none;">
                                                <i class="fa fa-file-excel-o"></i>
                                                Export Excel
                                            </button>
                                            <button type="button" class="btn blue" onclick="defineExcelWarning()" id="btn-cetak-exel-warning" style="display: none;">
                                                <i class="fa fa-file-excel-o"></i>
                                                Export Excel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover" id="table-warning-contract">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CONTRACT START DATE </th>
                                        <th class="dt-head-center"> CONTRACT END DATE</th>
                                        <th class="dt-head-center sembunyi">EXPIRED DAY </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CUSTOMER NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> CUSTOMER EMAIL </th>
                                        <th class="dt-head-center"> CUSTOMER PHONE </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CUSTOMER ADDRESS &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> CONTRACT NO </th>
                                        <th class="dt-head-center"> CONTRACT TYPE </th>
                                        <th class="dt-head-center"> CONTRACT LEGAL </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONTRACT NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> RO NUMBER </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RO NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RO ADDRESS &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> BUSINESS ENTITY </th>
                                        <th class="dt-head-center"> STOP EMAIL DATE </th>
                                        <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MEMO &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th class="dt-head-center"> STATUS </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="warning_notification_list" class="tab-pane">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Business Entity</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" id="BUSINESS_ENTITY_NOTIF">
                                                <option value=''>-- Choose Business Entity --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Profit Center</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" id="PROFIT_CENTER_NOTIF">
                                                <option value=''>-- Choose Profit Center --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Badan Usaha</label>
                                            <select class="bs-select form-control" data-live-search="true" data-size="10" id="BADAN_USAHA_NOTIF">
                                                <option value=''>-- Choose Badan Usaha --</option>
                                                <option value="PERORANGAN">Individual</option>
                                                <option value="PERUSAHAAN">Company</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Customer MDM</label>
                                            <input type="text" id="CUSTOMER_NAME_NOTIF" class="form-control" placeholder="PT. SARI RAHAYU">
                                            <input type="hidden" id="CUSTOMER_ID_NOTIF" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Contract End From</label>
                                            <input id="DATE_START_NOTIF" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Contract End To</label>
                                            <input id="DATE_END_NOTIF" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Contract No</label>
                                            <input type="text" id="CONTRACT_NO_NOTIF" class="form-control" placeholder="31002429">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn sbold green" id="btn-filter-notif" type="button">
                                                <i class="fa fa-search"></i> Filter
                                            </button>
                                            <button class="btn sbold green" id="btn-filter-notif-history" type="button">
                                                <i class="fa fa-file"></i> Stopped List
                                            </button>
                                            <button type="button" class="btn blue" onclick="" id="btn-cetak-exel-notif" style="display: none;">
                                                <i class="fa fa-file-excel-o"></i>
                                                Export Excel
                                            </button>
                                            <button type="button" class="btn blue" onclick="" id="btn-cetak-exel-notif-history" style="display: none;">
                                                <i class="fa fa-file-excel-o"></i>
                                                Export Excel
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-list-notification">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CONTRACT NO</th>
                                        <th class="dt-head-center"> CUSTOMER NAME</th>
                                        <th class="dt-head-center"> CUSTOMER ADDRESS</th>
                                        <th class="dt-head-center"> CONTRACT START</th>
                                        <th class="dt-head-center"> CONTRACT END</th>
                                        <th class="dt-head-center"> DAYS REMAINING</th>
                                        <th class="dt-head-center"> 1ST</th>
                                        <th class="dt-head-center"> 2ND</th>
                                        <th class="dt-head-center"> 3RD</th>
                                        <th class="dt-head-center"> STOP EMAIL DATE</th>
                                        <th class="dt-head-center"> MEMO</th>
                                        <th class="dt-head-center"> STATUS</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL UNTUK CONFIRM STATUS-->
<div class="modal fade" id="viewConfirmContract" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Stop Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Confirmation Date</label>
                            <input type="hidden" id="CONTRACT_NO_EDIT" class="form-control" />
                            <input id="STOP_NOTIFICATION_DATE" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Memo</label>
                            <textarea class="form-control" id="MEMO_NOTIFICATION" placeholder="Silahkan beri catatan disini apabila diperlukan." rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-confirm-date" class="btn green">Save</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL UNTUK CONFIRM WARNING STATUS-->
<div class="modal fade" id="viewConfirmContractWarning" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Stop Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Confirmation Date</label>
                            <input type="hidden" id="CONTRACT_NO_EDIT_W" class="form-control" />
                            <input id="STOP_WARNING_DATE_W" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Memo</label>
                            <textarea class="form-control" id="MEMO_WARNING_W" placeholder="Silahkan beri catatan disini apabila diperlukan." rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-confirm-date-warning" class="btn green">Save</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL UNTUK CONFIRM CHECK OUT DATE-->
<div class="modal fade" id="viewCheckOutDate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Check Out Date</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Check Out Date</label>
                            <input type="hidden" id="CONTRACT_NO_CEK" class="form-control" />
                            <input id="STOP_WARNING_DATE" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Memo</label>
                            <textarea class="form-control" id="MEMO_WARNING" placeholder="Silahkan beri catatan disini apabila diperlukan." rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-check-out-date" class="btn green">Save</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    <!-- data-tables export-->
    @*<script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/jszip.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/pdfmake.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/vfs_fonts.js"></script>*@

}

@section CustomScripts {
    <script src="~/assets/scripts/notification-contract.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/notification-contract.js")" type="text/javascript"></script>*@

}