﻿@*@model Remote.ViewModels.ReportTransBillingProperty*@
@{
    ViewBag.Title = "Report Zrem008";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Property Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Zrem008</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Business Entity</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY"></select>
                                @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <select class="form-control" data-live-search="true" data-size="10" tabindex="-98" id="PROFIT_CENTER"></select>
                                @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                            </div>
                        </div>
                        @*<div class="col-md-4">
                <div class="form-group">
                    <label>Contract No</label>
                    <input id="CONTRACT_NO" class="form-control" type="text" placeholder="41000249" />
                </div>
            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="checkbox" id="triwulancheck" onclick="oncheck('triwulan')" />
                                <label>Triwulan Filter</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="checkbox" id="semestercheck" onclick="oncheck('semester')" />
                                <label>Semester Filter</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="checkbox" id="tahuncheck" onclick="oncheck('tahun')" />
                                <label>Tahun Filter</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="semesterinput" hidden>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Semester</label>
                                <select class="form-control" id="semester">
                                    <option value="1">Semester 1</option>
                                    <option value="2">Semester 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tahun</label>
                                <select class="form-control" id="select-semester-tahun" name="semester-tahun">
                                    @{ var year2 = DateTime.Now.Year;
                                        var min12 = year2 - 1;
                                        var plus12 = year2 + 1;
                                        var min22 = year2 - 2;
                                        var plus22 = year2 + 2; }
                                    <option value="@min22">@min22</option>
                                    <option value="@min12">@min12</option>
                                    <option value="@year2" selected="selected">@year2</option>
                                    <option value="@plus12">@plus12</option>
                                    <option value="@plus22">@plus22</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="triwulaninput" hidden>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Triwulan</label>
                                <select class="form-control" id="triwulan">
                                    <option value="1">Triwulan 1</option>
                                    <option value="2">Triwulan 2</option>
                                    <option value="3">Triwulan 3</option>
                                    <option value="4">Triwulan 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tahun</label>
                                <select class="form-control" id="select-periode-tahun" name="periode-tahun">
                                    @{ var year = DateTime.Now.Year;
                                        var min1 = year - 1;
                                        var plus1 = year + 1;
                                        var min2 = year - 2;
                                        var plus2 = year + 2; }
                                    <option value="@min2">@min2</option>
                                    <option value="@min1">@min1</option>
                                    <option value="@year" selected="selected">@year</option>
                                    <option value="@plus1">@plus1</option>
                                    <option value="@plus2">@plus2</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="tahuninput" hidden>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tahun</label>
                                <select class="form-control" id="select-tahun" name="tahun">
                                    @{ var yearth = DateTime.Now.Year;
                                        var minth1 = yearth - 1;
                                        var plusth1 = yearth + 1;
                                        var minth2 = yearth - 2;
                                        var plusth2 = yearth + 2; }
                                    @*<option value="@minth2">@minth2</option>*@
                                    <option value="@minth1">@minth1</option>
                                    <option value="@yearth" selected="selected">@yearth</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="fromtoinput">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Posting Date From</label>
                                <input id="POSTING_DATE_FROM" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Posting Date To</label>
                                <input id="POSTING_DATE_TO" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" id="btn-cetak_excel">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-zrem007">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> Contract </th>
                            @*<th class="dt-head-center"> RO </th>
                            <th class="dt-head-center"> Condition Type </th>
                            <th class="dt-head-center"> Item Trx </th>
                            <th class="dt-head-center"> Kode Cat. </th>
                            <th class="dt-head-center"> Accr. Bln ke </th>
                            <th class="dt-head-center"> Billing No </th>*@
                            <th class="dt-head-center"> Masa Sewa </th>
                            <th class="dt-head-center"> Accr.Period </th>
                            <th class="dt-head-center"> Contract Start </th>
                            <th class="dt-head-center"> Contract End </th>
                            <th class="dt-head-center"> Legal Contract </th>
                            @*<th class="dt-head-center"> Profit Center </th>*@
                            <th class="dt-head-center"> Customer </th>
                            <th class="dt-head-center"> Name 1 </th>
                            <th class="dt-head-center"> GL Rev. </th>
                            <th class="dt-head-center"> Qty </th>
                            <th class="dt-head-center"> UoM </th>
                            <th class="dt-head-center"> Currency </th>
                            <th class="dt-head-center"> Value Contract </th>
                            <th class="dt-head-center"> Value Per Month </th>
                            @*<th class="dt-head-center"> AR(D) </th>
                            <th class="dt-head-center"> Panjang(D) </th>
                            <th class="dt-head-center"> Pendek(D) </th>
                            <th class="dt-head-center"> Pendapatan(D) </th>
                            <th class="dt-head-center"> Panjang(C) </th>
                            <th class="dt-head-center"> Pendek(C) </th>
                            <th class="dt-head-center"> Pendapatan(C) </th>*@
                            <th class="dt-head-center"> Tot.Panjang </th>
                            <th class="dt-head-center"> Tot.Pendek </th>
                            <th class="dt-head-center"> Sisa Pendek Saldo </th>
                            <th class="dt-head-center"> Tot.Pendapatan </th>
                            <th class="dt-head-center"> Fiscal Year </th>
                            @*<th class="dt-head-center"> Line item </th>*@
                            <th class="dt-head-center"> Profit Center </th>
                            <th class="dt-head-center"> Posting Date </th>
                            <th class="dt-head-center"> Document Number </th>
                            @*<th class="dt-head-center"> Company Code </th>
                            <th class="dt-head-center"> Keterangan </th>
                            <th class="dt-head-center"> Post Status </th>
                            <th class="dt-head-center"> Cancel Status </th>
                            <th class="dt-head-center"> Terminate Status </th>
                            <th class="dt-head-center"> Created By </th>
                            <th class="dt-head-center"> Created Date </th>
                            <th class="dt-head-center"> Last Chg By </th>
                            <th class="dt-head-center"> Last Chg Date </th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/sheetjs/xlsx.full.min.js" type="text/javascript"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/report-zrem008.js" type="text/javascript"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-trans-billing-property.js")" type="text/javascript"></script>*@
    <script>
        function oncheck(value) {
            if (value == 'semester') {
                if ($("#triwulancheck").prop("checked") && $("#semestercheck").prop("checked")) {
                    $("#triwulancheck").click();
                    $("#fromtoinput").attr("hidden", true);
                    $("#triwulaninput").attr("hidden", true);
                    $("#tahuninput").attr("hidden", true);
                    $("#semesterinput").removeAttr("hidden");
                } else if ($("#semestercheck").prop("checked") && $("#tahuncheck").prop("checked")) {
                    $("#tahuncheck").click();
                    $("#fromtoinput").attr("hidden", true);
                    $("#triwulaninput").attr("hidden", true);
                    $("#tahuninput").attr("hidden", true);
                    $("#semesterinput").removeAttr("hidden");
                } else {
                    if ($("#semestercheck").prop("checked")) {
                        $("#fromtoinput").attr("hidden", true);
                        $("#triwulaninput").attr("hidden", true);
                        $("#tahuninput").attr("hidden", true);
                        $("#semesterinput").removeAttr("hidden");
                    } else {
                        $("#semesterinput").attr("hidden", true);
                        $("#triwulaninput").attr("hidden", true);
                        $("#tahuninput").attr("hidden", true);
                        $("#fromtoinput").removeAttr("hidden");
                    }
                }
            } else if (value == 'triwulan') {
                if ($("#triwulancheck").prop("checked") && $("#semestercheck").prop("checked")) {
                    $("#semestercheck").click();
                    $("#fromtoinput").attr("hidden", true);
                    $("#semesterinput").attr("hidden", true);
                    $("#tahuninput").attr("hidden", true);
                    $("#triwulaninput").removeAttr("hidden");
                } else if ($("#triwulancheck").prop("checked") && $("#tahuncheck").prop("checked")) {
                    $("#tahuncheck").click();
                    $("#fromtoinput").attr("hidden", true);
                    $("#semesterinput").attr("hidden", true);
                    $("#tahuninput").attr("hidden", true);
                    $("#triwulaninput").removeAttr("hidden");
                } else {
                    if ($("#triwulancheck").prop("checked")) {
                        $("#fromtoinput").attr("hidden", true);
                        $("#semesterinput").attr("hidden", true);
                        $("#tahuninput").attr("hidden", true);
                        $("#triwulaninput").removeAttr("hidden");
                    } else {
                        $("#semesterinput").attr("hidden", true);
                        $("#triwulaninput").attr("hidden", true);
                        $("#tahuninput").attr("hidden", true);
                        $("#fromtoinput").removeAttr("hidden");
                    }
                }
            } else if (value == 'tahun') {
                if ($("#tahuncheck").prop("checked") && $("#semestercheck").prop("checked")) {
                    $("#semestercheck").click();
                    $("#fromtoinput").attr("hidden", true);
                    $("#semesterinput").attr("hidden", true);
                    $("#triwulaninput").attr("hidden", true);
                    $("#tahuninput").removeAttr("hidden");
                } else if ($("#tahuncheck").prop("checked") && $("#triwulancheck").prop("checked")) {
                    $("#triwulancheck").click();
                    $("#fromtoinput").attr("hidden", true);
                    $("#semesterinput").attr("hidden", true);
                    $("#triwulaninput").attr("hidden", true);
                    $("#tahuninput").removeAttr("hidden");
                } else {
                    if ($("#tahuncheck").prop("checked")) {
                        $("#fromtoinput").attr("hidden", true);
                        $("#semesterinput").attr("hidden", true);
                        $("#triwulaninput").attr("hidden", true);
                        $("#tahuninput").removeAttr("hidden");
                    } else {
                        $("#semesterinput").attr("hidden", true);
                        $("#triwulaninput").attr("hidden", true);
                        $("#tahuninput").attr("hidden", true);
                        $("#fromtoinput").removeAttr("hidden");
                    }
                }
            }
        }
    </script>
}