﻿@{
    ViewBag.Title = "Water & Electricity Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Water & Electricity Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Water & Electricity Transaction</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <!--
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn-add" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Transaction
                                </button>
                            </div>
                        </div>
                        -->
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-transwe">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> INSTALLATION NO</th>
                            <th class="dt-head-center"> INSTALLATION TYPE</th>
                            <th class="dt-head-center"> PROFIT CENTER</th>
                            <th class="dt-head-center"> CUSTOMER NAME</th>
                            <th class="dt-head-center"> POWER CAPACITY</th>
                            <th class="dt-head-center"> INSTALLATION_ADDRESS</th>
                            <th class="dt-head-center" width="12%"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="viewVBPTransModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Other Services Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Transaction </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Transaction Detail </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Profit Center</label>
                                                    <input type="text" id="DETAIL_PROFIT_CENTER" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Posting Date</label>
                                                    <input type="text" id="DETAIL_POSTING_DATE" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Service Group</label>
                                                    <input type="text" id="DETAIL_SERVICE_GROUP" class="form-control" readonly />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Customer MDM (Name)</label>
                                                    <div class="input-group">
                                                        <input type="text" id="DETAIL_CUSTOMER_MDM" class="form-control" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Customer Code</label>
                                                    <input type="text" class="form-control" id="CUSTOMER_ID" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Installation Address</label>
                                                    <input type="text" id="DETAIL_INSTALLATION_ADDRESS" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Tax Code</label>
                                                    <input type="text" id="DETAIL_TAX_CODE" class="form-control" disabled>

                                                </div>
                                            </div>
                                            -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Customer SAP AR</label>
                                                    <input type="text" id="DETAIL_CUSTOMER_SAP_AR" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Total</label>
                                                    <input type="text" id="DETAIL_TOTAL" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> Other Services Number </th>
                                            <th class="dt-head-center"> Start Date</th>
                                            <th class="dt-head-center"> End Date</th>
                                            <th class="dt-head-center"> Service Code</th>
                                            <th class="dt-head-center"> Price</th>
                                            <th class="dt-head-center"> Multiply Factor</th>
                                            <th class="dt-head-center"> Unit</th>
                                            <th class="dt-head-center"> Surcharge</th>
                                            <th class="dt-head-center"> Amount</th>
                                            <th class="dt-head-center"> Tax Amount</th>
                                            <th class="dt-head-center"> Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>


}

@section CustomScripts {
    <script src="~/assets/scripts/trans-we.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-we.js")" type="text/javascript"></script>*@

}
