﻿@{
    ViewBag.Title = "Monitoring Notification";
    ViewBag.Breadcrumb = "Notification";
    ViewBag.SubBreadcrumb = "Monitoring Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring Notification</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Business Entity</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="BUSINESS_ENTITY">
                                    <option value=''>-- Choose Business Entity --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="PROFIT_CENTER">
                                    <option value=''>-- Choose Profit Center --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Badan Usaha</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="BADAN_USAHA">
                                    <option value=''>-- Choose Badan Usaha --</option>
                                    <option value="PERORANGAN">Individual</option>
                                    <option value="PERUSAHAAN">Company</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer MDM</label>
                                <input type="text" id="CUSTOMER_NAME" class="form-control" placeholder="PT. SARI RAHAYU">
                                <input type="hidden" id="CUSTOMER_ID" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Contract End From</label>
                                <input id="DATE_START" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Contract End To</label>
                                <input id="DATE_END" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Contract No</label>
                                <input type="text" id="CONTRACT_NO" class="form-control" placeholder="31002429">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-list-notification">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> CONTRACT NO</th>
                            <th class="dt-head-center"> CUSTOMER NAME</th>
                            <th class="dt-head-center"> CUSTOMER ADDRESS</th>
                            <th class="dt-head-center"> CONTRACT START</th>
                            <th class="dt-head-center"> CONTRACT END</th>
                            <th class="dt-head-center"> DAYS REMAINING</th>
                            <th class="dt-head-center"> 1ST</th>
                            <th class="dt-head-center"> 2ND</th>
                            <th class="dt-head-center"> 3RD</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    <!-- data-tables export-->
    @*<script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/jszip.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/pdfmake.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/vfs_fonts.js"></script>*@

}

@section CustomScripts {
    <script src="~/assets/scripts/monitoring-notification-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/monitoring-notification-index.js")" type="text/javascript"></script>*@

}