﻿@{
    ViewBag.Title = "Multiple Billing List";
    ViewBag.Breadcrumb = "Billing";
    ViewBag.SubBreadcrumb = "Multiple Billing List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Multiple Billing List</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-list-multiple-billing">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> CONTRACT NO</th>
                            <th class="dt-head-center"> CONTRACT NAME</th>
                            <th class="dt-head-center"> CUSTOMER NAME</th>
                            <th class="dt-head-center"> ADDRESS</th>
                            <th class="dt-head-center"> CONTRACT START</th>
                            <th class="dt-head-center"> CONTRACT END</th>
                            <th class="dt-head-center"> TOTAL AMOUNT</th>
                            <th class="dt-head-center"> POSTED AMOUNT</th>
                            <th class="dt-head-center"> UNPOSTED AMOUNT</th>
                            <th class="dt-head-center"> CONTRACT OFFER NO</th>
                            <th class="dt-head-center"> TOTAL CONTRACT OFFER</th>
                            <th class="dt-head-center"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Contract Billing</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="detail-multiple-billing">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> CONDITION TYPE</th>
                                <th class="dt-head-center"> MANUAL NO</th>
                                <th class="dt-head-center"> DUE DATE</th>
                                <th class="dt-head-center"> POSTING DATE</th>
                                <th class="dt-head-center"> PAID DATE</th>
                                <th class="dt-head-center"> NET VALUE</th>
                                <th class="dt-head-center"> BILLING NO</th>
                                <th class="dt-head-center"> SAP DOC NO</th>
                                <th class="dt-head-center"> STATUS</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/monitoring-multiple-billing-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/monitoring-multiple-billing-index.js")" type="text/javascript"></script>*@

}
