﻿@{
    ViewBag.Title = "Report Master Other Services";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Master Other Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Master Other Services</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    <label>Company Code</label>
                                    <input type="text" id="Company_Code" class="form-control" value="1000" readonly>
                                </div>
                            </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Business Entity</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY" name="BUSINESS_ENTITY"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Profit Center</label>
                                @*<select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="PROFIT_CENTER" name="PROFIT_CENTER"></select>*@
                                <select class="form-control" data-live-search="true" data-size="10" tabindex="-98" id="PROFIT_CENTER" name="PROFIT_CENTER"></select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Service Group</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="SERVICE_GROUP" name="SERVICE_GROUP" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="STATUS">
                                    <option value="1">ACTIVE</option>
                                    <option value="0">INACTIVE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">
                                        <i class="fa fa-table"></i> Show All
                                    </button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-other-service">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> BE NAME </th>
                            <th class="dt-head-center"> PROFIT CENTER </th>
                            <th class="dt-head-center"> SERVICE GROUP </th>
                            <th class="dt-head-center"> SERVICE NAME </th>
                            <th class="dt-head-center"> GL ACCOUNT </th>
                            <th class="dt-head-center"> UNIT </th>
                            <th class="dt-head-center"> PRICE </th>
                            <th class="dt-head-center"> CURRENCY </th>
                            <th class="dt-head-center"> MULTIPLY FACTOR % </th>
                            <th class="dt-head-center"> LEGAL CONTRACT </th>
                            <th class="dt-head-center"> CONTRACT DATE </th>
                            <th class="dt-head-center"> STATUS </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {

    <style>
        .bootstrap-select.btn-group .dropdown-menu li a {
            cursor: pointer;
            white-space: normal;
        }

        .bootstrap-select.btn-group .dropdown-menu.inner {
            max-height: none;
        }
    </style>

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    @*<link href="../assets/global/plugins/chosen/chosen.css" rel="stylesheet" type="text/css" />*@

}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    @*<script src="../assets/global/plugins/chosen/chosen.jquery.js"></script>*@
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/report-other-services.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-other-services.js")" type="text/javascript"></script>*@

}