﻿@{
    ViewBag.Title = "Report Master of Electricity Installation ";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Master of Electricity Installation ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Master of Electricity Installation</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="PROFIT_CENTER" name="PROFIT_CENTER"></select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    <label>Installation Type</label>
                                    <input type="text" id="INSTALLATION_TYPE" class="form-control" placeholder="L-Sambungan Listrik">
                                </div>
                            </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Installation Code</label>
                                <input type="text" id="INSTALLATION_CODE" class="form-control" placeholder="L/02624/01">
                                @*<select id="INSTALLATION_CODE" class="form-control select2"></select>
                                    <input type="hidden" id="BE_ID" />*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer MDM</label>
                                <input type="text" id="CUSTOMER_NAME" class="form-control" placeholder="PT. SARI RAHAYU">
                                <input type="hidden" id="CUSTOMER_ID" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Customer SAP</label>
                                <input type="text" id="CUSTOMER_SAP" class="form-control" placeholder="2000001169">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="STATUS">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-instalation">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> PROFIT CENTER </th>
                            <th class="dt-head-center"> INSTALLATION TYPE </th>
                            <th class="dt-head-center"> INSTALLATION CODE </th>
                            <th class="dt-head-center"> SERIAL_NUMBER </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MDM CUSTOMER &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center"> CUSTOMER SAP </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSTALLATION ADDRESS&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="dt-head-center"> INSTALLATION DATE </th>
                            <th class="dt-head-center"> BIAYA BEBAN </th>
                            <th class="dt-head-center"> STATUS </th>
                            <th class="dt-head-center"> TARIF_BLOCK1 </th>
                            <th class="dt-head-center"> TARIF_BLOCK2 </th>
                            <th class="dt-head-center"> TARIF_KVARH </th>
                            <th class="dt-head-center"> TARIF_LWBP </th>
                            <th class="dt-head-center"> TARIF_WBP </th>
                            <th class="dt-head-center"> PPJU </th>
                            <th class="dt-head-center"> MINIMUM PAYMENT </th>
                            <th class="dt-head-center"> BIAYA ADMIN </th>
                            <th class="dt-head-center"> REDUKSI </th>
                            <th class="dt-head-center"> MIN USED </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ASSIGMENT RO&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/report-master-installation.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-master-installation.js")" type="text/javascript"></script>*@

}