﻿@model Remote.ViewModels.BusinessEntity
@{
    ViewBag.Title = "Report Business Entity";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report BUSINESS ENTITY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Business Entity</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        @*<div class="col-md-2">
                                <div class="form-group">
                                    <label>Company Code</label>
                                    <input type="text" id="Company_Code" class="form-control" value="1000" readonly>
                                </div>
                            </div>*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>BUSINESS ENTITY</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY" name="BUSINESS_ENTITY"></select>
                                @*<input type="text" id="BUSINESS_ENTITY" class="form-control" placeholder="1021">*@
                                @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose BE Number --", new { @class = "form-control", @id = "BE_ID" })*@
                                @*<select id="BUSINESS_ENTITY" class="form-control select2"></select>
                                    <input type="hidden" id="BE_ID" />*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>HARBOUR CLASS</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="HARBOUR_CLASS" name="HARBOUR_CLASS"></select>
                                @*<input type="text" id="HARBOUR_CLASS" class="form-control" placeholder="1021">*@
                                @*<select id="HARBOUR_CLASS" class="form-control select2"></select>
                                    <input type="hidden" id="HARBOUR_CLASS" />*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Generate Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-BE">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; BUSINESS ENTITY &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ADDRESS &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> POSTAL COD </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; CITY &nbsp; &nbsp; &nbsp;  </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; PROVINCE &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; AREA &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> HARBOUR CLASS </th>
                            <th class="dt-head-center"> TELEPHONE </th>
                            <th class="dt-head-center"> FAX </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  EMAIL &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </th>
                            <th class="dt-head-center"> VALID FROM </th>
                            <th class="dt-head-center"> VALID TO </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

}
@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
}
@section CustomScripts {
    <script src="~/assets/scripts/report-be.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-be.js")" type="text/javascript"></script>*@

}