﻿@model Remote.ViewModels.UserViewModels

@{
    ViewBag.Title = "Edit User";
    ViewBag.Breadcrumb = "User";
    ViewBag.SubBreadcrumb = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_config" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Edit User</h3>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">
                <div class="row">
                    <div class="col-md-12">
                        @*<div class="form-group">
                                <label>ROLE NAME</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="ROLE_NAME" type="text" class="form-control">
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>NIK *</label>
                                    <input type="text" id="txtParam" value="@ViewBag.aidi" hidden>
                                    <input id="pUserLogin" type="text" class="form-control" value="@ViewBag.UserLogin" placeholder="0123456789">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>User Name *</label>
                                    <input id="pUserName" type="text" class="form-control" value="@ViewBag.UserName" placeholder="username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Business Entity *</label>

                                    @*@Html.DropDownList("BE_NAME", new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME", ViewBag.BRANCH_ID), new { @class = "form-control", @id = "BE_NAME" })*@
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME", ViewBag.BRANCH_ID), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                                    @*name, value, isi, id*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Profit Center </label>
                                    <input type="hidden" value="@ViewBag.PROFIT_CENTER_ID" id="PROFIT_CENTER_EDIT" />
                                    @*<select class="form-control" id="PROFIT_CENTER" name="PROFIT_CENTER"></select>*@
                                    @*@Html.DropDownList("PROFIT_CENTER_ID", new SelectList(Model.FDDProfitCenter, "PROFIT_CENTER_ID", "PROFIT_CENTER_ID", ViewBag.PROFIT_CENTER_ID), new { @class = "form-control", @id = "PROFIT_CENTER_ID" })*@
                                    <select class="form-control" id="PROFIT_CENTER_ID">
                                        <option value=""> -- Choose Profit Center -- </option>
                                    </select>
                                    @*@Html.DropDownList("PROFIT_CENTER_ID", new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME", ViewBag.PROFIT_CENTER_ID), new { @class = "form-control", @id = "PROFIT_CENTER_ID" })*@
                                    @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "PROFIT_CENTER_ID"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER_ID" })*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input id="pEmail" type="text" class="form-control" value="@ViewBag.UserEmail" placeholder="email@mail.com">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone *</label>
                                    <input id="pPhone" type="text" class="form-control" value="@ViewBag.UserPhone" placeholder="081234567890">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Role *</label>
                                    @Html.DropDownList("ROLE_ID", new SelectList(Model.DDPosition, "ROLE_ID", "ROLE_NAME", ViewBag.DP_ID), new { @class = "form-control", @id = "ROLE_NAME" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <h3 class="form-section">List Menu User</h3>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" id="class1">
                        </div>
                        <div class="col-md-6" id="class2">
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-update">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/user-indeks.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/user-indeks.js")" type="text/javascript"></script>*@

}