﻿@model Remote.ViewModels.ReportTransWater
@{
    ViewBag.Title = "Report Produksi";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Produksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Produksi</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Period</label>
                                <input id="PERIOD" class="form-control" type="text" placeholder="01.2017 atau 02.2017" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Business Entity</label>
                                @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <br>
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> NO </th>
                            <th class="dt-head-center"> CONTRACT NO </th>
                            <th class="dt-head-center"> PRANOTA </th>
                            <th class="dt-head-center"> CUSTOMER </th>
                            <th class="dt-head-center"> PROFIT CENTER</th>
                            <th class="dt-head-center"> RO CODE</th>
                            <th class="dt-head-center"> RO NAME </th>
                            <th class="dt-head-center"> CONTRACT START </th>
                            <th class="dt-head-center"> CONTRACT END </th>
                            <th class="dt-head-center"> LUAS </th>
                            <th class="dt-head-center"> SATUAN </th>
                            <th class="dt-head-center"> COA </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/report-produksi.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-trans-water.js")" type="text/javascript"></script>*@

}