﻿@{
    ViewBag.Title = "Monitoring Anjungan";
    ViewBag.Breadcrumb = "Anjungan";
    ViewBag.SubBreadcrumb = "Monitoring Anjungan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring Anjungan</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-list-anjungan">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> REQUEST NAME</th>
                            <th class="dt-head-center"> CONTRACT TYPE</th>
                            <th class="dt-head-center"> CUSTOMER NAME</th>
                            <th class="dt-head-center"> CONTRACT START</th>
                            <th class="dt-head-center"> CONTRACT END</th>
                            <th class="dt-head-center"> STATUS</th>
                            <th class="dt-head-center"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Rental Request</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Are you sure want to Reject this request?</label>
                                <input class="form-control" type="text" id="DELETE_NOTE" placeholder="Please insert Note" />
                                <input class="form-control" type="hidden" id="DELETE_ID" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" id="btn-confirm-delete">OK</button>
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Rental Request</h4>
            </div>
            <div class="modal-body">
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Transaction </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Transaction Detail </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Contract Offer No</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="DETAILCONTRACT_OFFER_NO" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Contract No</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="DETAILCONTRACT_NO" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Contract Type</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="DETAILCONTRACT_TYPE" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Business Entity</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="DETAILBE_ID" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Profit Center</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="DETAILPROFIT_CENTER" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Name</label>
                                                    <input type="text" id="DETAILCONTRACT_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Usage</label>
                                                    <input type="text" id="DETAILCONTRACT_USAGE" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Customer MDM</label>
                                                    <input type="text" id="DETAILCUSTOMER_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Start Date</label>
                                                    <input type="text" id="DETAILCONTRACT_START_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Contract End Date</label>
                                                    <input type="text" id="DETAILCONTRACT_END_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Customer AR</label>
                                                    <input type="text" id="DETAILCUSTOMER_AR" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Old Contract</label>
                                                    <input type="text" id="DETAILOLD_CONTRACT" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="DETAILSTATUS" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row reject-note">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Reject Note</label>
                                                    <input type="text" id="DETAILREJECT_NOTE" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">RO NAME</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">INDUSTRY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    @*<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />*@
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    @*<script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>*@
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/monitoring-anjungan-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/monitoring-anjungan-index.js")" type="text/javascript"></script>*@

}
