﻿@{
    ViewBag.Title = "Water & Electricity Price";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Add Water & Electricity Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_we" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Add Water & Electricity Price</h3>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">

                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Installation Type</label>
                            <select class="form-control" data-placeholder="Choose Installation Type" tabindex="1" id="INSTALLATION_TYPE" name="installation_type">
                                <option value="">- Choose Installation Type -</option>
                                <option value="L-Sambungan Listrik">L-Sambungan Listrik</option>
                                <option value="A-Sambungan Air">A-Sambungan Air</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Profit Center</label>
                            <select class="form-control" data-placeholder="Choose Profit Center" tabindex="1" id="PROFIT_CENTER" name="profit_center">
                                <option value="">---- Choose Profit Center ----</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Description</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Description" class="form-control" id="DESCRIPTION" name="description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Amount</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="3500" class="form-control" id="AMOUNT" name="amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Currency</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <select class="form-control" data-placeholder="Choose Currency" tabindex="1" id="CURRENCY" name="currencyx">
                                    <option value="">- Choose Currency -</option>
                                    <option value="IDR">IDR</option>
                                    <option value="USD">USD</option>
                                </select>
                                <input type="hidden" placeholder="IDR, USD" class="form-control" id="CURRENCYx" name="currencyx">
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Per</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="1" class="form-control" id="PER" name="per">
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Unit</label>
                            <select class="form-control" data-placeholder="Choose Installation Type" tabindex="1" id="UNIT" name="unit">
                                <option value="">- Choose Unit -</option>
                                <option value="KWH">KWH</option>
                                <option value="M3">M3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Multiply Factor</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="1" value="1" class="form-control" id="X_FACTOR" name="times_factor">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Valid From</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input class="form-control form-control-inline date-picker" size="16" type="text" id="FALID_FROM" name="datepicker" data-date-format="dd/mm/yyyy" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Valid To</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input class="form-control form-control-inline date-picker" size="16" type="text" id="FALID_TO" name="datepicker" data-date-format="dd/mm/yyyy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->

            <div class="form-actions left">
                <!--
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>
                -->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
}


@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-we-add.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-we-add.js")" type="text/javascript"></script>*@

}