﻿@{
    ViewBag.Title = "Master of Water & Electricity Price";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Price of Water & Electricity ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data of Water & Electricity Price</span>
        </div>
    </div>

    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                @{
                    if (ViewBag.KodeCabang == "0")
                    {

                    }
                    else
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add-we" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-we">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> TARIFF CODE </th>
                            <th class="dt-head-center"> INSTALLATION TYPE </th>
                            <th class="dt-head-center"> PROFIT CENTER </th>
                            <th class="dt-head-center"> DESCRIPTION </th>
                            <th class="dt-head-center"> TARIFF </th>
                            <th class="dt-head-center"> VALID FROM </th>
                            <th class="dt-head-center"> VALID TO </th>
                            <th class="dt-head-center"> STATUS </th>
                            <th class="dt-head-center" width="17%"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <!--BUTTON SAVE
    <div class="form-body">
        <div class="form-actions right">
            <button type="button" class="btn blue" id="btn-simpan-we">
                <i class="fa fa-check"></i> Save
            </button>
        </div>
    </div>
    -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="large" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Detail Data Water & Electricity</h4>
                </div>
                <div class="modal-body">
                    <form action="#" class="horizontal-form">
                        <div class="form-body">
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Tariff Code</label>
                                        <input type="text" id="tariff_code" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Installation Type</label>
                                        <input type="text" id="installation_type" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <input type="text" id="description" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Amount</label>
                                        <input type="text" id="amount" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Unit</label>
                                        <input type="text" id="unit" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Multiply Factor</label>
                                        <input type="text" id="x_factor" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Valid From</label>
                                        <input type="text" id="valid_from" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Valid To</label>
                                        <input type="text" id="valid_to" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <input type="text" id="stat" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {

    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/master-we.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/scripts/master-we.js")" type="text/javascript"></script>*@

}