﻿@model Remote.ViewModels.Configuration
@{
    ViewBag.Title = "Add Setting";
    ViewBag.Breadcrumb = "Master";
    ViewBag.SubBreadcrumb = "Add Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_config" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Add Setting</h3>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Business Entity</label>
                            <select id="BE_WORKFLOW" name="BE_WORKFLOW" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Operator Cabang</label>
                            <textarea class="form-control" rows="3" id="OPERATOR_CABANG_EMAIL" name="OPERATOR_CABANG_EMAIL" placeholder="namaemail@pelindo.co.id, namaemail@pelindo.co.id, etc"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Operator Cabang</label>
                            <textarea class="form-control" rows="3" id="OPERATOR_CABANG_PHONE" name="OPERATOR_CABANG_PHONE" placeholder="08123456789012, 08123456789012, etc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Operator Pusat</label>
                            <textarea class="form-control" rows="3" id="OPERATOR_PUSAT_EMAIL" name="OPERATOR_PUSAT_EMAIL" placeholder="namaemail@pelindo.co.id, namaemail@pelindo.co.id, etc"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Operator Pusat</label>
                            <textarea class="form-control" rows="3" id="OPERATOR_PUSAT_PHONE" name="OPERATOR_PUSAT_PHONE" placeholder="08123456789012, 08123456789012, etc"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Top Approval</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="OPERATOR_PUSAT_PHONE" name="OPERATOR_PUSAT_PHONE" type="text" class="form-control" placeholder="08134567890">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Send an email when the contract is rejected?</label>
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" id="IS_REJECT_PUSAT_INFO_CABANG" value="Y" checked> Yes
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" id="IS_REJECT_PUSAT_INFO_CABANG" value="N"> No
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Send an email when the revised contract?</label>
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" id="IS_REVISE_PUSAT_INFO_CABANG" value="Y" checked> Yes
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" id="IS_REVISE_PUSAT_INFO_CABANG" value="N"> No
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
}


@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript"></script>
    <script src="~/assets/scripts/workflow-setting.js" type="text/javascript"></script>
    @*<script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/workflow-setting.js")" type="text/javascript"></script>*@

}