﻿@{
    ViewBag.Title = "Workflow Setting";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Workflow Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Workflow Setting</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn-add" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Workflow Setting
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-workflow-setting">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> BE ID </th>
                            <th class="dt-head-center"> EMAIL OPERATOR PUSAT</th>
                            <th class="dt-head-center"> PHONE OPERATOR PUSAT</th>
                            <th class="dt-head-center"> EMAIL OPERATOR CABANG</th>
                            <th class="dt-head-center"> PHONE OPERATOR CABANG</th>
                            <th class="dt-head-center"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewWorkflowSetting" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Workflow Setting</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Code</label>
                                    <select id="ref_code_c" class="form-control" data-placeholder="Choose Code" tabindex="1"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ID Description</label>
                                    <input id="ref_data" type="text" placeholder="Z001, 001, etc" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input id="ref_desc_c" type="text" placeholder="Surabaya, Jawa Timur, Bangunan, etc" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="row-table">
                        <div class="col-md-12">
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-addconfiguration">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> CODE </th>
                                            <th class="dt-head-center"> ID DESCRIPTION </th>
                                            <th class="dt-head-center"> DESCRIPTION </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="editConfigModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Configuration</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Code</label>
                                    <input type="hidden" id="id" placeholder="Province, City, etc" class="form-control">
                                    <input type="text" id="ref_code_c" placeholder="Province, City, etc" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ID Description</label>
                                    <input type="text" id="ref_data" placeholder="Z001, 001, etc" class="form-control" value="@ViewBag.REF_DATA" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" id="ref_desc_c" placeholder="Surabaya, Jawa Timur, Bangunan, etc" class="form-control" value="@ViewBag.REF_DESC_C">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="btn-update" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/workflow-setting.js" type="text/javascript"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/workflow-setting.js")" type="text/javascript"></script>*@

}
