﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Sertifikat HPL";
    ViewBag.Breadcrumb = "Tools";
    ViewBag.SubBreadcrumb = "Sertifikat HPL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Sertifikat Hpl</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type Certificate</label>
                                <select name="FILTER_TYPE" id="FILTER_TYPE" class="form-control">
                                    <option value="all">-- Type Sertifikat --</option>
                                    <option value="HPL">Sertifikat HPL</option>
                                    <option value="HGB">Sertifikat HGB</option>
                                    <option value="Hak Pakai dan Lahan">Sertifikat Hak Pakai dan Lahan</option>
                                    <option value="SKB">Sertifikat SKB 3 Menteri</option>
                                    <option value="Lainnya">Sertifikat Lainnya</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Business Entity</label>
                                @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "FILTER_BE_ID" , @name = "FILTER_BE_ID" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn-add" data-toggle="modal" href="#addapvsetModal" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Data
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-apvset">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> NO </th>
                            <th class="dt-head-center"> BUSINESS ENTITY </th>
                            <th class="dt-head-center"> NO SERTIFIKAT </th>
                            <th class="dt-head-center"> TIPE </th>
                            <th class="dt-head-center"> TANGGAL </th>
                            <th class="dt-head-center"> LUASAN LAHAN </th>
                            <th class="dt-head-center"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addapvsetModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Sertifikat HPL</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="sertifikat-hpl" class="horizontal-form">
                    <div class="form-body row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Business Entity</label>
                                        <select name="BE_NAME" class="form-control" id="BE_NAME" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="width:250px;">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select name="SERTIFIKAT_TYPE" class="form-control" id="SERTIFIKAT_TYPE" required>
                                            <option value="HPL">Sertifikat HPL</option>
                                            <option value="HGB">Sertifikat HGB</option>
                                            <option value="Hak Pakai dan Lahan">Sertifikat Hak Pakai dan Lahan</option>
                                            <option value="SKB">Sertifikat SKB 3 Menteri</option>
                                            <option value="Lainnya">Sertifikat Lainnya</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="param_id" />
                            <input type="hidden" id="ID" name="ID" />
                            <input type="hidden" id="PATCH" name="PATCH" />
                            <input type="hidden" id="ATTACHMENT" name="ATTACHMENT" />
                            <input type="hidden" id="BUSINESS_ENTITY_ID" name="BUSINESS_ENTITY_ID" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>No. Sertifikat</label>
                                        <input name="NO_SERTIFIKAT" id="NO_SERTIFIKAT" type="text" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tanggal</label>
                                        <input size="16" name="TANGGAL" id="TANGGAL" type="text" class="form-control form-control-inline input-medium date-picker" data-date-format="dd/mm/yyyy">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Luasan Lahan</label>
                                        <input type="number" name="LUAS_LAHAN" id="LUAS_LAHAN" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="custom-file-label" for="customFile">Upload Attachment</label>
                                        <input class="form-control" type="file" accept=".pdf, .doc, .docx" id="files" name="files" multiple />
                                    </div>
                                    <div class="col-md-6 text-right" style="padding-right: 0px">
                                        <input hidden id="upload_file_berita_exist" name="upload_file_berita_exist" />
                                        <a id="target_berita" class="d-none" href="#">Download</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="border-color:#00BCED;" class="panel panel-primary">
                                        <div style="background-color: #00BCED;" class="panel-heading">
                                            <h4 class="panel-title"><span class="text-right">Keterangan</span></h4>
                                        </div>
                                        <div style="padding:5px;" class="panel-body">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Komentar/Memo</label>
                                                    <textarea style="height: 200px;" class="form-control" id="MEMO" name="MEMO"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-simpanadd" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Sertifikat HPL</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="sertifikat-hpl" class="horizontal-form">
                    <div class="form-body row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Business Entity</label>
                                        <select name="BE_NAMEE" class="form-control" id="BE_NAMEE" disabled="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="width:250px;">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <select name="SERTIFIKAT_TYPEE" class="form-control" id="SERTIFIKAT_TYPEE" disabled="true">
                                            <option value="HPL">Sertifikat HPL</option>
                                            <option value="HGB">Sertifikat HGB</option>
                                            <option value="Hak Pakai dan Lahan">Sertifikat Hak Pakai dan Lahan</option>
                                            <option value="SKB">Sertifikat SKB 3 Menteri</option>
                                            <option value="Lainnya">Sertifikat Lainnya</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="param_id" />
                            <input type="hidden" id="ID" name="ID" />
                            <input type="hidden" id="PATCH" name="PATCH" />
                            <input type="hidden" id="ATTACHMENT" name="ATTACHMENT" />
                            <input type="hidden" id="BUSINESS_ENTITY_ID" name="BUSINESS_ENTITY_ID" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>No. Sertifikat</label>
                                        <input name="NO_SERTIFIKATT" id="NO_SERTIFIKATT" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tanggal</label>
                                        <input size="16" name="TANGGALL" id="TANGGALL" type="text" class="form-control form-control-inline input-medium date-picker" data-date-format="dd/mm/yyyy" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Luasan Lahan</label>
                                        <input type="number" name="LUAS_LAHANN" id="LUAS_LAHANN" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="custom-file-label" for="customFile">Upload Attachment</label>
                                        <input class="form-control" type="file" accept=".pdf, .doc, .docx" id="filess" name="filess" multiple disabled="disabled"/>
                                    </div>
                                    <div class="col-md-6 text-right" style="padding-right: 0px">
                                        <input hidden id="upload_file_berita_exist" name="upload_file_berita_exist" />
                                        <a id="target_berita" class="d-none" href="#">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="border-color:#00BCED;" class="panel panel-primary">
                                        <div style="background-color: #00BCED;" class="panel-heading">
                                            <h4 class="panel-title"><span class="text-right">Action</span></h4>
                                        </div>
                                        <div style="padding:5px;" class="panel-body">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Komentar/Memo</label>
                                                    <textarea style="height: 200px;" class="form-control" id="MEMOO" name="MEMOO" readonly></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>



@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/sertifikat-hpl.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/parameter-approval-setting.js")" type="text/javascript"></script>*@
}




