﻿@model Remote.ViewModels.BusinessEntity
@{
    ViewBag.Title = "Master of Business Entity";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Added Business Entity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="addBE" action="#" class="horizontal-form">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li class="tab-pane active">
                        <a data-toggle="tab" class="step">
                            <span class="number"> 1 </span>
                            <span class="desc">
                                <i class="fa fa-check"></i> Business Entity (Parent Data)
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" class="step">
                            <span class="number"> 2 </span>
                            <span class="desc">
                                Measurement (Detail)
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" class="step">
                            <span class="number"> 3 </span>
                            <span class="desc">
                                Done
                            </span>
                        </a>
                    </li>
                </ul>
                <h3 class="form-section">General Data</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Business Entity Number *</label>
                            <input type="text" id="BE_ID" class="form-control" placeholder="1000">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Name of Business Entity *</label>
                            <input type="text" id="BE_NAME" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Port Class *</label>
                            @Html.DropDownListFor(m => m.FDDHarbour, new SelectList(Model.DDHarbour1, "ID", "REF_DESC"), "-- Choose Port Class --", new { @class = "form-control", @id = "HARBOUR_CLASS" })
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Valid From *</label>
                            <input id="VALID_FROM" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Valid To *</label>
                            <input id="VALID_TO" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" />
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <h3 class="form-section">Address</h3>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Address *</label>
                            <input id="BE_ADDRESS" type="text" class="form-control" placeholder="Jl. Perak Timur No. 620">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input id="POSTAL_CODE" type="text" class="form-control" placeholder="60264">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input id="BE_CITY" type="text" class="form-control" placeholder="SURABAYA, GRESIK, etc">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Province *</label>
                            @Html.DropDownListFor(m => m.FDDProvince1, new SelectList(Model.DDProvince, "ID", "REF_DESC"), "-- Choose Province --", new { @class = "form-control", @id = "BE_PROVINCE" })
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Telephone 1 *</label>
                            <input id="PHONE_1" type="text" class="form-control" placeholder="081234567890">
                            <!--/<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fax 1</label>
                            <input id="FAX_1" type="text" class="form-control" placeholder="081234567890">
                            <!--<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Telephone 2</label>
                            <input id="PHONE_2" type="text" class="form-control" placeholder="081234567890">
                            <!--/<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fax 2</label>
                            <input id="FAX_2" type="text" class="form-control" placeholder="081234567890">
                            <!--<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input id="EMAIL" type="text" class="form-control" placeholder="email@domain.com">
                        </div>
                    </div>
                </div>

                @*<h3 class="form-section">Attachment</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <span class="btn btn-success fileinput-button" id="btnUp">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input id="fileupload" type="file" name="files[]" multiple>
                                </span>
                                <div class="progress progress-striped">
                                    <div class="progress-bar" role="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span class="sr-only">0% complete</span>
                                    </div>
                                </div>
                                <span class="file_name"></span>
                                <span class="file_type"></span>
                                <span class="file_size"></span>
                            </div>
                            <div class="col-md-8">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> FILENAME </th>
                                            <th class="dt-head-center"> DIRECTORY</th>
                                            <th class="dt-head-center"> ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                           </div>
                    </div>*@

                <div class="form-actions left">
                    <button type="button" class="btn red" id="btn-kembali">
                        <i class="fa fa-close"></i> Cancel
                    </button>
                    <button type="button" class="btn blue" id="btn-simpan">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <!--
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />


}

@section Plugins {
    <!--
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    -->

    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="../assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-be-add.js" type="text/javascript" asp-append-version="true"></script>
        @*<script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
                <script src="@Url.ContentVersioned("~/assets/scripts/master-be-add.js")" type="text/javascript"></script>*@


}