﻿@{
    ViewBag.Title = "Business Entity";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Add Data of Business Entity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet light bordered" id="form_wizard_1">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-red"></i>
            <span class="caption-subject font-red bold uppercase">
                Add Data of Business Entity -
                <span class="step-title"> Step 1 of 2 </span>
            </span>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="#" class="horizontal-form" id="submit_form">
            <div class="form-wizard">
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li>
                            <a href="#tab1" data-toggle="tab" class="step">
                                <span class="number"> 1 </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> Business Entity
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="step">
                                <span class="number"> 2 </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> Measurement
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="bar" class="progress progress-striped" role="progressbar">
                        <div class="progress-bar progress-bar-success"> </div>
                    </div>
                    <div class="tab-content">
                        <div class="alert alert-danger display-none">
                            <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                        </div>
                        <div class="alert alert-success display-none">
                            <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                        </div>
                        <div class="tab-pane active" id="tab1">
                            <h3 class="block">General Data</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Business Entity Number</label>
                                        <span class="required"> * </span>
                                        <input type="text" id="BE_ID" name="BE_ID" class="form-control" placeholder="1000">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Name of Business Entity</label>
                                        <input type="text" id="BE_NAME" class="form-control" placeholder="Cabang Tanjung Perak">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Harbour Class</label>
                                        <select class="form-control" id="HARBOUR_CLASS">
                                            <option value="Kantor Pusat">Kantor Pusat</option>
                                            <option value="Kelas Utama">Kelas Utama</option>
                                            <option value="IA">IA</option>
                                            <option value="IB">IB</option>
                                            <option value="">IIA</option>
                                            <option value="">IIB</option>
                                            <option value="">IIIB</option>
                                            <option value="">IIIB</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Valid From</label>
                                        <input id="VALID_FROM" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Valid To</label>
                                        <input id="VALID_TO" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" />
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <h3 class="form-section">Address</h3>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Adress</label>
                                        <input id="BE_ADDRESS" type="text" class="form-control" placeholder="Jl. Perak Timur No. 620">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input id="POSTAL_CODE" type="text" class="form-control" placeholder="60264">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">City</label>
                                        <input id="BE_CITY" type="text" class="form-control" placeholder="SURABAYA, GRESIK, PROBOLINGGO, etc">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Province</label>
                                        <input id="BE_PROVINCE" type="text" class="form-control" placeholder="JAWA TIMUR, BALI, NTT, etc">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telephone</label>
                                        <input id="TELEPHONE" type="text" class="form-control" placeholder="0812345678990">
                                        <!--/<div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn blue" type="button">+</button>
                                        </span>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input id="FAX" type="text" class="form-control" placeholder="0812345678990">
                                        <!--<div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn blue" type="button">+</button>
                                        </span>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input id="EMAIL" type="text" class="form-control" placeholder="email@domain.com">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Username
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="username" />
                                    <span class="help-block"> Provide your username </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Password
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" name="password" id="submit_form_password" />
                                    <span class="help-block"> Provide your password. </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Confirm Password
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" name="rpassword" />
                                    <span class="help-block"> Confirm your password </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Email
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="email" />
                                    <span class="help-block"> Provide your email address </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <h3 class="block">Measurement</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <a data-toggle="modal" href="#addMeasurementModal" class="btn sbold green">
                                        <i class="fa fa-plus"></i> Add Measurement
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> Measurement Type </th>
                                                    <th class="dt-head-center"> Description </th>
                                                    <th class="dt-head-center"> Amount </th>
                                                    <th class="dt-head-center"> Unit </th>
                                                    <th class="dt-head-center"> Valid From </th>
                                                    <th class="dt-head-center"> Valid To </th>
                                                    <th class="dt-head-center"> Actions </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a href="javascript:;" class="btn default button-previous">
                                <i class="fa fa-angle-left"></i> Back
                            </a>
                            <a href="javascript:;" class="btn btn-outline green button-next">
                                Save to Continue
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="javascript:;" class="btn green button-submit">
                                Finish
                                <i class="fa fa-check"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="addMeasurementModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Measurement</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Code</label>
                                    <input id="BE_ID" type="hidden" placeholder="10" class="form-control" value="@ViewBag.BE_ID">
                                    <select id="MEASUREMENT_TYPE" class="form-control" data-placeholder="Choose Code" tabindex="1">
                                        <option value="">- Choose Code -</option>
                                        <option value="Z001">Z001</option>
                                        <option value="Z002">Z002</option>
                                        <option value="Z003">Z003</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <select id="DESCRIPTION" class="form-control" data-placeholder="Choose Description" tabindex="1">
                                        <option value="">- Choose Description -</option>
                                        <option value="Total Luas BE">Total Luas BE</option>
                                        <option value="Luas Tanah RO">Luas Tanah RO</option>
                                        <option value="Luas Bangunan RO">Luas Bangunan RO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input id="AMOUNT" type="text" placeholder="10" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input id="UNIT" type="text" placeholder="m2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input id="VALID_FROM" class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input id="VALID_TO" class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="btn-simpanmeasurement" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <!--
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <!--
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    -->

    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="../assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript"></script>
    <script src="~/assets/scripts/master-be-add.js" type="text/javascript"></script>
    @*<script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/master-be-add.js")" type="text/javascript"></script>*@

}