﻿@{
    ViewBag.Title = "Business Entity";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Add Measurement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <ul class="nav nav-pills nav-justified steps">
            <li>
                <a data-toggle="tab" class="step">
                    <span class="number"> 1 </span>
                    <span class="desc">
                        Business Entity (Parent Data)
                    </span>
                </a>
            </li>
            <li class="tab-pane active">
                <a data-toggle="tab" class="step">
                    <span class="number"> 2 </span>
                    <span class="desc">
                        <i class="fa fa-check"></i> Measurement (Detail)
                    </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BusinessEntity")">
                    <span class="number"> 3 </span>
                    <span class="title">Done</span>
                </a>
            </li>
        </ul>
        <!-- BEGIN FORM-->
        <form id="addBE" action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Measurement</h3>
                <div class="row">
                    <div class="col-md-4">
                        <a data-toggle="modal" href="#addMeasurementModal" class="btn sbold green">
                            <i class="fa fa-plus"></i> Add Measurement
                        </a>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Measurement Type </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Amount </th>
                                        <th class="dt-head-center"> Unit </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Status </th>
                                        <th class="dt-head-center"> Actions </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Attachment</h3>
                <input type="hidden" value=" @ViewContext.RouteData.Values["id"]" id="ID_ATTACHMENT" />

                <div class="row">
                    <div class="col-md-4">
                        <span class="btn btn-success fileinput-button" id="btnUp">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                        <div class="progress progress-striped">
                            <div class="progress-bar" role="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                        <span class="file_name"></span>
                        <span class="file_type"></span>
                        <span class="file_size"></span>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> FILENAME </th>
                                    <th class="dt-head-center"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--<div class="form-actions left">
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Finish
                </button>
            </div>-->
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="modal fade" id="addMeasurementModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Measurement</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="@ViewBag.BE_ID" id="BE_ID" />
                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    <input id="BE_ID" type="hidden" placeholder="10" class="form-control" value="@ViewBag.BE_ID">
                                    <!--<select id="MEASUREMENT_TYPE" class="form-control" data-placeholder="Choose Code" tabindex="1" disabled>-->
                                    <select id="MEASUREMENT_TYPE" class="form-control" disabled>
                                        <option value="53">Z001 - TOTAL LUAS BE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input id="AMOUNT" type="text" placeholder="10" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input id="UNIT" type="text" placeholder="m2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input id="VALID_FROM_M" class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input id="VALID_TO_M" class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="btn-simpanmeasurement" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--EDIT MEASUREMENT-->
<div class="modal fade" id="editMeasurementModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Measurement</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="MEASUREMENT_ID" />
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    <!--<select id="MEASUREMENT_TYPE2" class="form-control" data-placeholder="Choose Code" tabindex="1"></select>-->
                                    <select id="MEASUREMENT_TYPE2" class="form-control" disabled>
                                        <option value="53">Z001 - TOTAL LUAS BE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input id="AMOUNT2" type="text" placeholder="10" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input id="UNIT2" type="text" placeholder="m2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input id="VALID_FROM2" class="form-control form-control-inline input-medium date-picker" size="16" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input id="VALID_TO2" class="form-control form-control-inline input-medium date-picker" size="16" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="btn-simpan-update-measurement" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    @*<link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

        <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    @*<script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

        <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

        <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
        <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
}

@section CustomScripts {
    @*<script src="~/assets/pages/scripts/form-validation.js" type="text/javascript"></script>*@
    <script src="~/assets/scripts/master-be-add.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/master-be-add.js")" type="text/javascript"></script>*@

}