﻿@model Remote.ViewModels.BusinessEntity
@{
    ViewBag.Title = "Master of Business Entity";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Edit Business Entity";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
                <h3 class="form-section">General Data</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Business Entity Number *</label>
                            <input type="text" id="BE_ID" class="form-control" placeholder="1000" value="@ViewBag.BE_ID" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Name of Business Entity *</label>
                            <input type="text" id="BE_NAME" class="form-control" placeholder="Cabang Tanjung Perak" value="@ViewBag.BE_NAME">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Port Class *</label>
                            @Html.DropDownList("HB_ID", new SelectList(Model.DDHarbour1, "HB_ID", "REF_DESC", ViewBag.HB_ID), new { @class = "form-control", @id = "HARBOUR_CLASS" })
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Valid From *</label>
                            <input id="VALID_FROM" data-date-format="dd/mm/yyyy" value="@ViewBag.VAL_FROM" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Valid To *</label>
                            <input id="VALID_TO" data-date-format="dd/mm/yyyy" value="@ViewBag.VAL_TO" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" />
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <h3 class="form-section">Address</h3>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Adress *</label>
                            <input id="BE_ADDRESS" type="text" class="form-control" placeholder="Jl. Perak Timur No. 620" value="@ViewBag.BE_ADDRESS">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input id="POSTAL_CODE" type="text" class="form-control" placeholder="60264" value="@ViewBag.POSTAL_CODE">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input id="BE_CITY" type="text" class="form-control" value="@ViewBag.BE_CITY">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Province *</label>
                            @Html.DropDownList("PROVINCE_ID", new SelectList(Model.DDProvince, "PROVINCE_ID", "REF_DESC", ViewBag.BE_PROVINCE_ID), new { @class = "form-control", @id = "BE_PROVINCE" })
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Telephone 1 *</label>
                            <input id="PHONE_1" type="text" class="form-control" value="@ViewBag.PHONE_1">
                            <!--/<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fax 1</label>
                            <input id="FAX_1" type="text" class="form-control" value="@ViewBag.FAX_1">
                            <!--<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Telephone 2</label>
                            <input id="PHONE_2" type="text" class="form-control" value="@ViewBag.PHONE_2">
                            <!--/<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fax 2</label>
                            <input id="FAX_2" type="text" class="form-control" value="@ViewBag.FAX_2">
                            <!--<div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn blue" type="button">+</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" id="EMAIL" class="form-control" value="@ViewBag.EMAIL">
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Measurement</h3>
                <div class="row">
                    <div class="col-md-4">
                        <a data-toggle="modal" href="#addMeasurementModal" class="btn btn-icon-only green">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <!--
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-rekap">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Measurement Type </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Amount </th>
                                        <th class="dt-head-center"> Unit </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                <td>Z001</td>
                                <td>Luas Cabang (BE)</td>
                                <td>5000</td>
                                <td>M2</td>
                                <td>20-11-1992</td>
                                <td>20-11-2011</td>
                                <td>Z001</td>
                                </tbody>r
                            -->

                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Measurement Type </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Amount </th>
                                        <th class="dt-head-center"> Unit </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Status </th>
                                        <th class="dt-head-center"> Actions </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Attachment</h3>
                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="ID_ATTACHMENT" />

                <div class="row">
                    <div class="col-md-4">
                        <span class="btn btn-success fileinput-button" id="btnUp">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input id="fileupload" type="file" name="files" multiple>
                        </span>
                        <div class="progress progress-striped">
                            <div class="progress-bar" role="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                        <span class="file_name"></span>
                        <span class="file_type"></span>
                        <span class="file_size"></span>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> FILENAME </th>
                                    <th class="dt-head-center"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <h3 class="form-section">Maps</h3>
                <input type="text" class="hidden" id="LONGITUDE" />
                <input type="text" class="hidden" id="LATITUDE" />
                <div id="map" style="min-height:500px">

                </div>
            </div>
            <div class="form-actions left">
                <!--<div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>-->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-update">
                    <i class="fa fa-check"></i> Save Changes
                </button>
            </div>
        </form>
        <div class="modal fade" id="addBEModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Measurement</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Code</label>
                                            <select class="form-control" data-placeholder="Choose Code" tabindex="1">
                                                <option value="">- Choose Code -</option>
                                                <option value="Category 1">ZE001</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <select class="form-control" data-placeholder="Choose Description" tabindex="1">
                                                <option value="Category 1">Saluran Air Pelindo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" placeholder="10" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input type="text" placeholder="m2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid From</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid To</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Daya Listrik Terpasang (Watt)</label>
                                            <input type="text" placeholder="Watt" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END FORM-->
    </div>
</div>

<div class="modal fade" id="addMeasurementModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Measurement</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="@ViewBag.BE_ID" id="BE_ID" />
                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    <input id="BE_ID" type="hidden" placeholder="10" class="form-control" value="@ViewBag.BE_ID">
                                    <select id="MEASUREMENT_TYPE" class="form-control" data-placeholder="Choose Code" tabindex="1" disabled>
                                        <option value="53">Z001 - TOTAL LUAS BE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input id="AMOUNT" type="text" placeholder="10" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input id="UNIT" type="text" placeholder="M2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input id="VALID_FROM_M" class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input id="VALID_TO_M" class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="btn-simpanmeasurement" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--EDIT MEASUREMENT-->
<div class="modal fade" id="editMeasurementModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Measurement</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="MEASUREMENT_ID" />
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    <!--<select id="MEASUREMENT_TYPE2" class="form-control" data-placeholder="Choose Code" tabindex="1" disabled></select>-->
                                    <select id="MEASUREMENT_TYPE2" class="form-control" disabled>
                                        <option value="53">Z001 - TOTAL LUAS BE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input id="AMOUNT2" type="text" placeholder="10" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input id="UNIT2" type="text" placeholder="m2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input id="VALID_FROM2" class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input id="VALID_TO2" class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="btn-simpan-update-measurement" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section CustomStyle {
    @*<link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

        <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
}

@section Plugins {
    @*<script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

        <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

        <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
        <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-be-add.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/master-be-add.js")" type="text/javascript"></script>*@

}