﻿@{
    ViewBag.Title = "Business Entity";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Added Business Entity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">General Data Tambah</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_ID</label>
                            <input type="text" id="BE_ID" class="form-control" placeholder="1000">
                        </div>
                    </div>
                    <!--/span-->
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_CODE</label>
                            <input type="text" id="BE_CODE" class="form-control" placeholder="1000">
                        </div>
                    </div>
                    <!--/span-->
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_TERMINAL</label>
                            <input type="text" id="BE_TERMINAL" class="form-control" placeholder="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_NAME</label>
                            <input type="text" id="BE_NAME" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_ADDRESS</label>
                            <input type="text" id="BE_ADDRESS" class="form-control" placeholder="Alamat">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_CITY</label>
                            <input type="text" id="BE_CITY" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_PROVINCE</label>
                            <input type="text" id="BE_PROVINCE" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_CONTACT_PERSON</label>
                            <input type="text" id="BE_CONTACT_PERSON" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_NPWP</label>
                            <input type="text" id="BE_NPWP" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">BE_NOPPKP</label>
                            <input type="text" id="BE_NOPPKP" class="form-control" placeholder="Cabang Tanjung Perak">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <div class="modal fade" id="addBEModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Fixture & Fitting</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Code</label>
                                            <select class="form-control" data-placeholder="Choose Code" tabindex="1">
                                                <option value="">- Choose Code -</option>
                                                <option value="Category 1">ZE001</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <select class="form-control" data-placeholder="Choose Description" tabindex="1">
                                                <option value="Category 1">Saluran Air Pelindo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" placeholder="10" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input type="text" placeholder="m2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid From</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid To</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Daya Listrik Terpasang (Watt)</label>
                                            <input type="text" placeholder="Watt" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/master-be-add.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/scripts/master-be-add.js")" type="text/javascript"></script>*@

}