﻿/*body {
    line-height: 1;
    background-image: url(/assets/pages/img/bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#background {
    
}

.wrapper {
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    max-width: 1000px;
    background-color: rgba(247, 247, 247, 0.70);
    background-color: rgba(247, 247, 247, 0.50);
    opacity: 1;
    width: 900px;
    height: 900px;
}

button {
    border-style: solid;
    border-color: #ffffff;
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
    position: relative;
    width: 40rem;
    max-width: 100%;
    background-color: rgba(247, 247, 247, 0.70);
    background-color: rgba(247, 247, 247, 0.50);
    border-radius: 30px;
    opacity: 1;
}

wrapper > img {
    width: 900px;
    z-index: -1;
}

.lapis {
    width: 900px;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 9999;
    bottom: 5px;
    padding : 20px;

}
   
    .lapis > h1 {
        margin-left: 10px;
        color: white;
    }

@media screen and (max-width: 100%) {
    .left, .main, .right, .wrapper, .lapis {
        width: 100%; 
    }
}*/

/** {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

    .background::before {
        background-image: url(/assets/pages/img/bg01.jpg);
        
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
       
        z-index: -2;
        opacity: 0.4;
    }

    .background::after {
        background-color: #563d7c;
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
    }

.tengah {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.isi {
    color: #fff;
    text-shadow: #343a40 2px 2px;
    min-width: 100%;
    min-height: 19em;
    position: relative;
}

    .isi::before {
        content: "";
        display: block;
        position: absolute;
        margin-left: 0;
        min-width: 100%;
        min-height: 19em;
        z-index: -1;
        opacity: 0.4;
        background-color: #343a40;
    }

.android a img {
    width: 25%;
    display: block;
    text-align: center;
    margin-left:500px;
}*/

/*.ios a img {
    width: 25%;
    display: block;
    text-align: center;
    margin-left: 500px;
}   

@media and (max-width: 100%) {
    .background, .isi, .tengah, .android, .ios, html, body, a, img {
        width: 100%;
        background-image: url(/assets/pages/img/bg01.jpg);
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .background, .isi, .tengah, .android, .ios, html, body, a, img {
        width: 100%;
        background-image: url(/assets/pages/img/bg01.jpg);
        display: block;
    }
}*/

 /*Extra small devices "Tabs" 
@media only screen and (max-width: 992px) {
    .background, .isi, .tengah, .android, .ios, html, body, a, img {
        width: 100%;
        background-image: url(/assets/pages/img/bg01.jpg);
        display: block;
    }
}
/* Extra small devices "Tabs" 
@media only screen and (max-width: 1200px) {
    .background, .isi, .tengah, .android, .ios, html, body, a, img {
        width: 100%;
        background-image: url(/assets/pages/img/bg01.jpg);
        display: block;
    }
}

@media only screen and (max-width: 1920px) {
    .background, .isi, .tengah, .android, .ios, html, body, a, img {
        width: 100%;
        background-image: url(/assets/pages/img/bg01.jpg);
        display: block;
    }
}*/

html, body {
    height: 100%;
}

body {
    background-image: url(/assets/pages/img/bg01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

div, body {
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    background-color: rgba(0,0,0,0.6);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

img {
    width: 60%;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 100px;
    vertical-align: middle;
}

/*.message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 0.5em;
    line-height: 100px;
}*/

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
}

    .column a img {
        margin-top: 8px;
        vertical-align: middle;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 200px) {
    body {
        background-image: url(/assets/pages/img/bg01.jpg);
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}