﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Setting Posting Transaksi - Config";
    ViewBag.Breadcrumb = "Setting Posting Transaksi - Config";
    ViewBag.SubBreadcrumb = "Setting Posting Transaksi - Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data Setting Posting - Config</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <button style="float:right" type="button" class="btn red" id="btn-kembali">
                                <i class="fa fa-arrow-left"></i> Kembali
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="input-icon right">
                                    <label class="control-label">User</label>
                                    <div class="input-group">

                                        <input type="hidden" class="form-control" id="HEADER_ID" value="@ViewBag.HEADER_ID">
                                        <input type="text" class="form-control" id="EMPLOYEE_NAME" readonly value="@ViewBag.EMPLOYEE_NAME">
                                        <input type="hidden" class="form-control" id="USER_ID" value="@ViewBag.USER_ID">
                                        <a class="input-group-addon btn blue" id="search-employee" type="button">
                                            <i class="fa fa-search"></i> Search User
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-detail">
                            <i class="fa fa-plus"></i> Add Transaction Roles
                        </button>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="table-posting-detail">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> NO </th>
                                        <th class="dt-head-center"> TRANSAKSI </th>
                                        <th class="dt-head-center"> ACTION </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <button id="btn-simpan-conf" type="button" class="btn green right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="employeeModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Employee List </h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <input type="hidden" id="id_detail">
                    <div class="form-body">

                        <div class="tab-pane" id="role">

                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="table-employee">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" width="10%"> ID </th>
                                                    <th class="dt-head-center"> Employee Name </th>
                                                    <th class="dt-head-center" width="10%"> Action </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="hidden">
    <table id="delete_role">
        <tbody></tbody>
    </table>

</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/setting-posting-config.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/setting-posting-config.js")" type="text/javascript"></script>*@

}
