﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Contract Billing";
    ViewBag.Breadcrumb = "Contract Billing";
    ViewBag.SubBreadcrumb = "Posting Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Posting Contract Billing</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Contract No</label>
                                <input type="text" id="CONTRACT_NO" class="form-control" placeholder="31000111">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Customer Code</label>
                                <input type="text" id="CUSTOMER_CODE" class="form-control" placeholder="99002">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Periode</label>
                                <input type="text" id="PERIODE" class="form-control" placeholder="201701">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date End</label>
                                <input id="DATE_END" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        @if (ViewBag.roleId == "4")
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                                </div>
                            </div>
                        }

                    </div>
                    <div class="btn-group">
                        <button class="btn sbold green" id="btn-show-all" type="button">
                            Show All
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn sbold green" id="btn-filter" type="button">
                            <i class="fa fa-search"></i> Filter
                        </button>
                    </div>
                </div>
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Posting Date</label>
                                <input id="POSTING_DATE" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input date-picker-limited" size="16" type="text" value="" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tabel-create-billing">
                    <thead>
                        <tr>
                            <th class="dt-head-center">BE_ID</th>
                            <th class="dt-head-center">CONTRACT NO</th>
                            <th class="dt-head-center">PERIOD</th>
                            <th class="dt-head-center">DUE DATE</th>
                            <th class="dt-head-center">CUSTOMER NAME</th>
                            <th class="dt-head-center">AMOUNT</th>
                            <th class="dt-head-center" width="12%"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="viewTransContractBillingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Special Contract</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Contract Billing Data</a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Detail Data </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Profit Center</label>
                                                    <input type="text" id="DETAILPROFIT_CENTER" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILCONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Old Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILOLD_CONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Legal Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILLEGAL_CONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Name</label>
                                                    <input type="text" id="DETAILCONTRACT_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner Name</label>
                                                    <input type="text" id="DETAILCUSTOMER_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner Code</label>
                                                    <input type="text" id="DETAILCUSTOMER_CODE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner SAP AR</label>
                                                    <input type="text" id="DETAILCUSTOMER_CODE_SAP" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Due Date</label>
                                                    <input type="text" id="DETAILCREATION_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Document Type</label>
                                                    <input type="text" class="form-control" value="1B Property" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Inst Frequency</label>
                                                    <input type="text" class="form-control" id="DETAILFREQ_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Period</label>
                                                    <input type="text" class="form-control" id="DETAILBILLING_PERIOD" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Currency</label>
                                                    <input type="text" class="form-control" id="DETAILCURRENCY_CODE" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Installment Amount</label>
                                                    <input type="text" class="form-control" id="DETAILINSTALLMENT_AMOUNT" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-billing">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">CONDITION TYPE</th>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">TAX CODE</th>
                                            <th class="dt-head-center">CURRENCY</th>
                                            <th class="dt-head-center">PRODUCTION</th>
                                            <th class="dt-head-center">UNIT</th>
                                            <th class="dt-head-center">GL ACOUNT</th>
                                            <th class="dt-head-center">DUE DATE</th>
                                            <th class="dt-head-center">AMOUNT</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {


    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />


}

@section Plugins {
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>


}

@section CustomScripts {
    <script src="~/assets/scripts/trans-contract-billing.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-contract-billing.js")" type="text/javascript"></script>*@


}
