﻿@{
    ViewBag.Title = "Approval Exception";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Approval Exception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Approval Exception</span>
            <input type="hidden" value="@ViewBag.UserRole" id="ROLE_USER" />
            <input type="hidden" id="property_role" name="property_role" value="@ViewBag.PROPERTY_ROLE">
            <input type="hidden" value="@ViewBag.KodeCabang" id="KODE_CABANG" />
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">

                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        @{    
                        <li class="active">
                            <a href="#approval_list" data-toggle="tab">  Approval Exception List </a>
                        </li>  
                        }
                    </ul>
                    <div class="tab-content">
                        @{
                            
                            <div class="tab-pane active" id="approval_list">
                                <!-- <div class="alert alert-warning">
                                    <strong>Info!</strong> Data dibawah ini merupakan daftar contract offer yang masih dapat anda ubah sebelum release ke workflow.
                                </div> -->
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-trans-approval-exception-list">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OFFER NO</th>
                                            <th class="dt-head-center">OFFER TYPE</th>
                                            <th class="dt-head-center">OFFER NAME</th>
                                            <th class="dt-head-center">START DATE</th>
                                            <th class="dt-head-center">END DATE</th>
                                            <th class="dt-head-center">ACTIVE</th>
                                            <th class="dt-head-center" width="10%">STATUS</th>
                                            <th class="dt-head-center" width="17%">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-modal-full" id="viewApprovalExceptionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Contract Offer</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_5" data-toggle="tab"> Data Surat </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_1" data-toggle="tab">  Data Contract Offer </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Object </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_3" data-toggle="tab"> Condition </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_4" data-toggle="tab"> History Workflow </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            @*LEFT*@
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Company Code</label>
                                                            <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label">Business Entity</label>
                                                            <input type="text" id="BE_ID" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Rental Request No</label>
                                                            <input type="text" id="RENTAL_REQUEST_NO" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Offer No</label>
                                                            <input type="text" id="CONTRACT_OFFER_NO" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Offer Type</label>
                                                            <input type="text" id="CONTRACT_OFFER_TYPE" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Old Contract No</label>
                                                            <input type="text" id="OLD_CONTRACT" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Offer Name</label>
                                                            <input type="text" class="form-control" id="CONTRACT_OFFER_NAME" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Start Date</label>
                                                            <input type="text" class="form-control" id="CONTRACT_START_DATE" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract End Date</label>
                                                            <input type="text" class="form-control" id="CONTRACT_END_DATE" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Term In Months</label>
                                                            <input type="text" class="form-control" id="TERM_IN_MONTHS" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label">Customer MDM</label>
                                                            <input type="text" class="form-control" id="CUSTOMER_NAME" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Customer AR</label>
                                                            <input type="text" class="form-control" id="CUSTOMER_AR" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Profit Center</label>
                                                            <input type="text" class="form-control" id="PROFIT_CENTER" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Usage</label>
                                                            <input type="text" class="form-control" id="CONTRACT_USAGE" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">Contract Currency</label>
                                                            <input type="text" class="form-control" id="CURRENCY" readonly>
                                                        </div>
                                                    </div>
                                                    @* <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Contract Currency</label>
                                                                <input type="text" class="form-control" id="CURRENCY_RATE" readonly>
                                                            </div>
                                                        </div>*@
                                                    <div class="col-md-6" hidden>
                                                        <div class="form-group">
                                                            <label>Offer Status</label>
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input type="text" class="form-control" id="OFFER_STATUS" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*RIGHT*@
                                            <div class="col-md-4 flex-column sticky">
                                                <div class="alert alert-info old-contract" style="display:none">
                                                    <strong>Info Old Contract</strong>
                                                    <table>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_VALUE text-right"></td>
                                                            <td class="CURRENCY"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_START text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_END text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Period</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_PERIOD text-right"></td>
                                                            <td>&nbsp;month/s</td>
                                                        </tr>
                                                    </table>
                                                    <strong>Rental Object</strong>
                                                    <table class="DETAIL_RO"></table>
                                                    <small>*) Administration and Warmeking is not included</small>
                                                </div>

                                                <div class="alert alert-success old-contract" style="display:none">
                                                    <strong>New Contract Estimation</strong>
                                                    <table>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_VALUE_NEW text-right"></td>
                                                            <td class="CURRENCY"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Period</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                                            <td>&nbsp;month/s</td>
                                                        </tr>
                                                    </table>
                                                    <strong>Rental Object</strong>
                                                    <table class="DETAIL_RO_NEW"></table>
                                                    <small>*) Administration and Warmeking is not included</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-object">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT_NAME</th>
                                            <th class="dt-head-center">START_DATE</th>
                                            <th class="dt-head-center">END_DATE</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">INDUSTRY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_3">
                                <h3 class="form-section">Condition</h3>
                               
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-condition">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> CALC OBJECT </th>
                                            <th class="dt-head-center"> CONDITION Type </th>
                                            <th class="dt-head-center"> VALID FROM </th>
                                            <th class="dt-head-center"> VALID TO </th>
                                            <th class="dt-head-center"> MONTHS </th>
                                            <th class="dt-head-center"> STATISTIC </th>
                                            <th class="dt-head-center"> UNIT PRICE </th>
                                            <th class="dt-head-center"> AMT REF </th>
                                            <th class="dt-head-center"> FREQUENCY </th>
                                            <th class="dt-head-center"> START DUE DATE </th>
                                            <th class="dt-head-center"> MANUAL NO </th>
                                            <th class="dt-head-center"> FORMULA </th>
                                            <th class="dt-head-center"> MEAS TYPE </th>
                                            <th class="dt-head-center"> LUAS (M2) </th>
                                            <th class="dt-head-center"> TOTAL </th>
                                            <th class="dt-head-center"> % FROM NJOP </th>
                                            <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                            <th class="dt-head-center"> TOTAL NET VALUE </th>
                                            <th class="dt-head-center"> COA PROD </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Manual Frequency</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-manual">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                            <th class="dt-head-center"> KODE BAYAR </th>
                                            <th class="dt-head-center"> CONDITION </th>
                                            <th class="dt-head-center"> DUE DATE </th>
                                            <th class="dt-head-center"> NET VALUE </th>
                                            <th class="dt-head-center"> QUANTITY </th>
                                            <th class="dt-head-center"> UNIT </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Memo</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                            <div class="tab-pane" id="tab_1_1_4">
                                <h3 class="form-section">History Workflow</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-history">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%">NIPP</th>
                                            <th class="dt-head-center" width="15%">APPROVAL DATE</th>
                                            <th class="dt-head-center" width="50%">NOTES</th>
                                            <th class="dt-head-center" width="15%">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                            <div class="tab-pane active" id="tab_1_1_5">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Isi Surat</label>
                                                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detail-surat">
                                                            <thead>
                                                                <tr>
                                                                    <th class="dt-head-center"> NO SURAT </th>
                                                                    <th class="dt-head-center"> SUBJECT </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="border-color:#00BCED;" class="panel panel-primary">
                                                            <div style="background-color: #00BCED;" class="panel-heading">
                                                                <h4 class="panel-title"><span class="text-right">History</span></h4>
                                                            </div>
                                                            <div id="dataHistory"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="border-color:#00BCED;" class="panel panel-primary">
                                                            <div style="background-color: #00BCED;" class="panel-heading">
                                                                <h4 class="panel-title"><span class="text-right">Next Process</span></h4>
                                                            </div>
                                                            <div id="dataParaf"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="viewMaps" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">View Maps</h4>
            </div>
            <div class="modal-body row">
                <form action="" class="horizontal-form">

                    @*<input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBERVIEWMAPS" />*@
                    <div class="form-body">
                        <div>
                            <div id="view-maps" style="min-height:550px">

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-maps">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {
   
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
}

@section Plugins {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyDNrQUCrtl-8cadU2mb1AIo8LJcqw0VmAk" async="" defer="defer"></script>

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/trans-approval-exception.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-approval-exception.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/trans-approval-exception.js")" type="text/javascript"></script>*@

}
