﻿@model Remote.ViewModels.Installation
@{
    ViewBag.Title = "Master of Water Installation";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Add Data of Water Installation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="addBE" action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Add Data of Water Installation</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Date</label>
                            <input class="form-control form-control-inline date-picker" id="INSTALLATION_DATE" type="text" value="" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Type</label>
                            <input type="text" id="INSTALLATION_TYPE" value="A-Sambungan Air" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Profit Center</label>
                            @Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer MDM</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="CUSTOMER_MDM" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer Code</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="CUSTOMER_IDX" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer SAP AR</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="CUSTOMER_SAP_AR" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Installation Address <mark>Mohon Ganti Sesuai Alamat Instalasinya</mark></label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="INSTALLATION_ADDRESS" name="INSTALLATION_ADDRESS" type="text" placeholder="" class="form-control">
                                <input id="POWER_CAPACITY" name="POWER_CAPACITY" type="hidden" placeholder="100 / 200 / etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-3">
                            <div class="form-group">
                                <label>Tariff Code</label>
                                @Html.DropDownListFor(m => m.FDDTariffCode, new SelectList(Model.DDTariffCode, "TARIFF_CODE", "AMOUNT"), "-- Choose Tariff Code --", new { @class = "form-control", @id = "TARIFF_CODE" })
                            </div>
                        </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tariff Code</label>
                            <select class="form-control" id="TARIFF_CODE" name="TARIFF_CODE"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Minimum Quantity</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="MINIMUM_AMOUNT" name="MINIMUM_AMOUNT" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Assignment RO</label>
                            @Html.DropDownListFor(m => m.FDDRentalObject, new SelectList(Model.DDRentalObject, "RO_CODE", "RO_NAME"), "-- Choose Rental Object --", new { @class = "form-control", @id = "RO_NUMBER" })
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <label>Tax Code</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select class="form-control" id="TAX_CODE">
                                        <option value=""> Choose </option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Currency</label>
                                <select class="form-control" id="CURRENCY">
                                    <option value="">-- Choose --</option>
                                    <option value="IDR">IDR</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>*@
                </div>
                <div class="row">

                </div>
            </div>
            <div class="form-actions left">
                <!--
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>-->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <!--
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    -->
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-installation.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-installation.js")" type="text/javascript"></script>*@

}
