﻿@model Remote.ViewModels.UserViewModels
@{ ViewBag.Title = "Dashboard";
                ViewBag.Breadcrumb = "Home";
                ViewBag.SubBreadcrumb = "Dashboard";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    th {
        text-align: center;
        vertical-align: middle !important;
    }
</style>
<div class="portlet light bordered" id="kolom_1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Dashboard</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#hpl" data-toggle="tab"> Penggunaan HPL</a>
                        </li>
                        <li>
                            <a href="#contract" data-toggle="tab"> Data Contract</a>
                        </li>
                        <li>
                            <a href="#piutang" data-toggle="tab"> Piutang</a>
                        </li>
                        <li>
                            <a href="#rkap" data-toggle="tab"> RKAP vs Realisasi</a>
                        </li>
                        <li>
                            <a href="#ro" data-toggle="tab"> Rental Object</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="contract">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Contract Start</label>
                                    <div class="input-group">
                                        <input id="START_DATE" type="text" class="form-control  date-picker" data-date-format="dd/mm/yyyy">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Contract End</label>
                                    <div class="input-group">
                                        <input id="END_DATE" type="text" class="form-control  date-picker" data-date-format="dd/mm/yyyy">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 23px;">
                                    <button class="btn blue" type="button" id="btn-filter">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <button class="btn red" type="button" id="btn-clear">
                                        <i class="fa fa-eraser"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="chart1" style="min-height : 400px">

                            </div>


                        </div>
                        <div class="col-md-6">
                            <div id="chart2" style="min-height : 400px">

                            </div>
                        </div>
                        <div class="col-md-12 hidden" id="view_data">
                            <b><span id="text_tool" class="hidden"></span></b><br />
                            <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                <i class="fa fa-file-excel-o"></i>
                                Export Excel
                            </button>
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="table_data">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CABANG </th>
                                        <th class="dt-head-center"> CONTRACT NO </th>
                                        <th class="dt-head-center"> START DATE </th>
                                        <th class="dt-head-center"> END DATE </th>
                                        <th class="dt-head-center"> CUSTOMER </th>
                                        <th class="dt-head-center"> BADAN USAHA </th>
                                        <th class="dt-head-center"> TOTAL NILAI </th>
                                        <th class="dt-head-center"> TOTAL LUAS </th>
                                        <th class="dt-head-center"> STATUS </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="piutang">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME_4", @name = "BE_NAME_4" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="input-group">
                                        <input id="POSTING_DATE_START" name="POSTING_DATE_START" type="text" class="form-control  date-pickerr" data-date-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="input-group">
                                        <input id="POSTING_DATE_END" name="POSTING_DATE_END" type="text" class="form-control  date-pickerr" data-date-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 23px;">
                                    <button class="btn blue" type="button" id="btn-filter_4">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <button class="btn red" type="button" id="btn-clear_4">
                                        <i class="fa fa-eraser"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="bg-info" style="font-size : 14px; padding: 10px">
                                NOTE:
                                Nominal dalam juta
                            </div>
                            <div id="chart4" style="min-height : 600px">

                            </div>
                        </div>
                        <div class="col-md-12 hidden" id="view_data_4">
                            <b><span id="text_tool_4" class="hidden"></span></b><br />
                            <button type="button" class="btn blue" onclick="defineExcel_4()" id="btn-cetak_exel_4" style="display: none;">
                                <i class="fa fa-file-excel-o"></i>
                                Export Excel
                            </button>
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="table_data_4">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CABANG </th>
                                        <th class="dt-head-center"> JENIS TAGIHAN </th>
                                        <th class="dt-head-center"> NOMOR NOTA </th>
                                        <th class="dt-head-center"> <span id="code_"></span> </th>
                                        <th class="dt-head-center"> KODE CUSTOMER </th>
                                        <th class="dt-head-center"> NAMA CUSTOMER </th>
                                        <th class="dt-head-center"> TANGGAL TRANSAKSI </th>
                                        <th class="dt-head-center"> JUMLAH TAGIHAN </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="rkap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME_RKAP" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Triwulan</label>
                                    <select class="form-control" id="triwulan">
                                        <option value="1">Triwulan 1</option>
                                        <option value="2">Triwulan 2</option>
                                        <option value="3">Triwulan 3</option>
                                        <option value="4">Triwulan 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Tahun</label>
                                    <select class="form-control" id="select-periode-tahun" name="periode-tahun">
                                        @{ var year = DateTime.Now.Year;
                                                        var min1 = year - 1;
                                                        var plus1 = year + 1;
                                                        var min2 = year - 2;
                                                        var plus2 = year + 2; }
                                        <option value="@min2">@min2</option>
                                        <option value="@min1">@min1</option>
                                        <option value="@year" selected="selected">@year</option>
                                        <option value="@plus1">@plus1</option>
                                        <option value="@plus2">@plus2</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 23px;">
                                    <button class="btn blue" type="button" id="btn-filter_rkap">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <button class="btn red" type="button" id="btn-clear_rkap">
                                        <i class="fa fa-eraser"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <div class="col-md-12" id="view_data_rkap">
                                        <b><span id="text_tool_rkap"></span></b><br />
                                        <button type="button" class="btn blue" onclick="defineExcel_rkap()" id="btn-cetak_exel_rkap" style="display: none;">
                                            <i class="fa fa-file-excel-o"></i>
                                            Export Excel
                                        </button>
                                        <table class="table table-striped table-bordered table-hover dt-responsive " id="table_data_rkap">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" rowspan="2"> No </th>
                                                    <th class="dt-head-center" rowspan="2"> Uraian </th>
                                                    <th class="dt-head-center" rowspan="2"> Sat </th>
                                                    <th class="dt-head-center" colspan="2"> Anggaran Tahun Ini </th>
                                                    <th class="dt-head-center" colspan="2"> Anggaran Tahun Lalu </th>
                                                    <th class="dt-head-center" colspan="3" rowspan="2"> Kecenderungan (%) </th>

                                                </tr>
                                                <tr>
                                                    <th class="dt-head-center"> 1 Tahun </th>
                                                    <th class="dt-head-center"> Triwulan 1 </th>
                                                    <th class="dt-head-center"> Tahun Ini </th>
                                                    <th class="dt-head-center"> Tahun Lalu </th>


                                                </tr>
                                                <tr>
                                                    <th class="dt-head-center">1 </th>
                                                    <th class="dt-head-center">2 </th>
                                                    <th class="dt-head-center">3 </th>
                                                    <th class="dt-head-center">4</th>
                                                    <th class="dt-head-center">5 </th>
                                                    <th class="dt-head-center">6</th>
                                                    <th class="dt-head-center">7</th>
                                                    <th class="dt-head-center">8=6:5</th>
                                                    <th class="dt-head-center">9=6:4</th>
                                                    <th class="dt-head-center">10=6:7</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="ro">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME_5", @name = "BE_NAME_5" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="input-group">
                                        <input id="AVL_DATE" name="AVL_DATE" type="text" class="form-control  date-picker" data-date-format="dd/mm/yyyy">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 23px;">
                                    <button class="btn blue" type="button" id="btn-filter_5">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <button class="btn red" type="button" id="btn-clear_5">
                                        <i class="fa fa-eraser"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="chart5" style="min-height : 400px">


                        </div>
                        <div class="col-md-6" id="chart6" style="min-height : 400px">

                        </div>
                        <div class="col-md-12 hidden" id="view_data_5">
                            <b><span id="text_tool_5" class="hidden"></span></b><br />
                            <button type="button" class="btn blue" onclick="defineExcel_5()" id="btn-cetak_exel_5" style="display: none;">
                                <i class="fa fa-file-excel-o"></i>
                                Export Excel
                            </button>
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="table_data_5">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> BUSINESS ENTITY </th>
                                        <th class="dt-head-center"> PROFIT CENTER </th>
                                        <th class="dt-head-center"> RO NUMBER </th>
                                        <th class="dt-head-center"> RO NAME </th>
                                        <th class="dt-head-center"> ZONE RIP </th>
                                        <th class="dt-head-center"> LAND DIMENSION </th>
                                        <th class="dt-head-center"> BUILDING DIMENSION </th>
                                        <th class="dt-head-center"> CONTRACT NO </th>
                                        <th class="dt-head-center"> CONTRACT OFFER NO </th>
                                        <th class="dt-head-center"> CUSTOMER </th>
                                        <th class="dt-head-center"> BADAN USAHA </th>
                                        <th class="dt-head-center"> CERTIFICATE NO </th>
                                        <th class="dt-head-center"> TYPE CERTIFICATE </th>
                                        <th class="dt-head-center"> USAGE TYPE </th>
                                        <th class="dt-head-center"> FUNCTION </th>
                                        <th class="dt-head-center"> VACANCY STATUS </th>
                                        <th class="dt-head-center"> VACANCY REASON </th>
                                        <th class="dt-head-center"> VALID FROM </th>
                                        <th class="dt-head-center"> VALID TO </th>
                                        <th class="dt-head-center"> ADDRESS </th>
                                        <th class="dt-head-center"> POSTAL CODE </th>
                                        <th class="dt-head-center"> CITY </th>
                                        <th class="dt-head-center"> PROVINCE </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane active" id="hpl">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME_LAHAN", @name = "BE_NAME_LAHAN" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="input-group">
                                        <input id="AVL_DATE_LAHAN" name="AVL_DATE_LAHAN" type="text" class="form-control  date-picker" data-date-format="dd/mm/yyyy">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 23px;">
                                    <button class="btn blue" type="button" id="btn-filter-lahan">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <button class="btn red" type="button" id="btn-clear_lahan">
                                        <i class="fa fa-eraser"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <strong>Bersertifikat:</strong>
                            <br />
                            <div id="chart7"></div>
                        </div>
                        <div class="col-md-6">
                            <strong>Belum Bersertifikat:</strong>
                            <br />
                            <div id="chart8"></div>
                        </div><br>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <br>
                            <strong>Bersertifikat dan Belum Bersertifikat:</strong>
                            <br />
                            <div id="chart9"></div>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-12 hidden" id="view_data_6">
                            <b><span id="text_tool_6" class="hidden"></span></b><br />
                            <button type="button" class="btn blue" onclick="defineExcel_6()" id="btn-cetak_exel_6" style="display: none;">
                                <i class="fa fa-file-excel-o"></i>
                                Export Excel
                            </button>
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="table_data_6">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> No.</th>
                                        <th class="dt-head-center"> NO RO </th>
                                        <th class="dt-head-center"> NAMA PENYEWA</th>
                                        <th class="dt-head-center"> ALAMAT LOKASI LAHAN </th>
                                        <th class="dt-head-center"> LUAS LAHAN </th>
                                        <th class="dt-head-center"> SERTIFIKAT LAHAN </th>
                                        <th class="dt-head-center"> NOMOR ASET LAHAN </th>
                                        <th class="dt-head-center"> RIP </th>
                                        <th class="dt-head-center"> NO KONTRAK </th>
                                        <th class="dt-head-center"> JANGKA WAKTU SEWA (IN MONTH) </th>
                                        <th class="dt-head-center"> START DATE </th>
                                        <th class="dt-head-center"> END DATE </th>
                                        <th class="dt-head-center"> STATUS PEMBAYARAN </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-12 hidden" id="view_data_7">
                            <b><span id="text_tool_7" class="hidden"></span></b><br />
                            <button type="button" class="btn blue" onclick="defineExcel_7()" id="btn-cetak_exel_7" style="display: none;">
                                <i class="fa fa-file-excel-o"></i>
                                Export Excel
                            </button>
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="table_data_7">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> No. </th>
                                        <th class="dt-head-center"> NO RO </th>
                                        <th class="dt-head-center"> NAMA OBJEK LAHAN</th>
                                        <th class="dt-head-center"> ALAMAT LOKASI LAHAN </th>
                                        <th class="dt-head-center"> LUAS LAHAN </th>
                                        <th class="dt-head-center"> SERTIFIKAT LAHAN </th>
                                        <th class="dt-head-center"> NOMOR ASET LAHAN </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light bordered hidden">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">RKAP vs Realisasi</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="col-md-12" id="chart3" style="min-height : 500px">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light bordered hidden" id="kolom_4">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Piutang</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>
@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <style>
        #chart7 {
            @*width: 500px;*@
            min-height: 400px;
        }
        #chart8 {
            @*width: 500px;*@
            min-height: 400px;
        }
        #chart9 {
            @*width: 500px;
            *@ min-height: 400px;
        }
    </style>
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/assets/global/plugins/amcharts4/core.js"></script>
    <script src="~/assets/global/plugins/amcharts4/charts.js"></script>
    <script src="~/assets/global/plugins/amcharts4/themes/animated.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/dashboard.js"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/dashboard.js")" type="text/javascript"></script>*@

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
   

    <!-- Chart code -->
    <!--<script>
        am4core.ready(function (dataPusat, Customer, Idlle) {

            // Themes begin
            am4core.useTheme(am4themes_material);
            am4core.useTheme(am4themes_animated);
            // Themes end

            var chart = am4core.create("chartsertifikat", am4charts.PieChart3D);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.legend = new am4charts.Legend();

            chart.data = [
                {
                    country: "Penggunaan Internal",
                    litres: dataPusat
                },
                {
                    country: "Penggunaan Oleh Pihak ke-3",
                    litres: Customer
                },
                {
                    country: "Idle",
                    litres: Idlle
                },
            ];

            var series = chart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "litres";
            series.dataFields.category = "country";

        }); // end am4core.ready()</script>
    <script>
    am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_material);
            am4core.useTheme(am4themes_animated);
            // Themes end

            var chart = am4core.create("chartdiv2", am4charts.PieChart3D);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.legend = new am4charts.Legend();

            chart.data = [
                {
                    country: "Penggunaan Internal",
                    litres: 20
                },
                {
                    country: "Penggunaan Oleh Pihak ke-3",
                    litres: 50
                },
                {
                    country: "Idle",
                    litres: 30
                },
            ];

            var series = chart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "litres";
            series.dataFields.category = "country";

        }); // end am4core.ready()</script>-->

}


