﻿@model Remote.ViewModels.TransContract
@{
    ViewBag.Title = "Contract Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Add Contract Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">General Data</h3>
                <div class="alert alert-warning">
                    <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Company Code</label>
                            <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Contract Offer Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." id="CONTRACT_OFFER_NAME" readonly>
                                <input type="hidden" class="form-control" id="RENTAL_REQUEST_NO">
                                <input type="hidden" class="form-control" id="BUSINESS_PARTNER">
                                <span class="input-group-btn">
                                    <button class="btn btn-icon-only green" type="button" data-toggle="modal" href="#addDetailModal" id="btn-detil">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract Offer No</label>
                            <input type="text" class="form-control" id="CONTRACT_OFFER_NO" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Contract Type</label>
                            <input type="text" class="form-control" id="CONTRACT_OFFER_TYPE_F" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Business Entity</label>
                            <input type="text" class="form-control" id="BUSINESS_ENTITY_F" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Old Contract</label>
                            <input type="text" class="form-control" id="OLD_CONTRACT" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Contract Name</label>
                            <input type="text" id="CONTRACT_NAME" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract Start Date</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="CONTRACT_START_DATE" type="text" data-date-format="dd/mm/yyyy" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract End Date</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="CONTRACT_END_DATE" type="text" data-date-format="dd/mm/yyyy" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Term In Months</label>
                            <input type="text" class="form-control" id="TERM_IN_MONTHS" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer Name MDM</label>
                            <input type="text" id="BUSINESS_PARTNER_NAME" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Customer AR</label>
                            <input type="text" class="form-control" id="CUSTOMER_AR" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Profit Center</label>
                            <input type="text" class="form-control" id="PROFIT_CENTER_F" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Contract Usage</label>
                            <input type="text" class="form-control" id="CONTRACT_USAGE_F" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Ijin Prinsip No</label>
                            <input type="text" class="form-control" id="IJIN_PRINSIP_NO">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Ijin Prinsip Date</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="IJIN_PRINSIP_DATE" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Legal Contract No</label>
                            <input type="text" class="form-control" id="LEGAL_CONTRACT_NO">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Legal Contract Date</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="LEGAL_CONTRACT_DATE" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Contract Currency</label>
                            <input type="text" class="form-control" id="CURRENCY" readonly>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="form-group">
                                <label>Offer Status</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select class="form-control" id="REQUEST_STATUS">
                                        <option value="">-- Choose --</option>
                                        <option value="10 - Created">10 - Created</option>
                                        <option value="20 - Release to Workflow">20 - Release to Workflow</option>
                                        <option value="30 - Released by Manager">30 - Released by Manager</option>
                                        <option value="40 - Released by Deputy Mgr">40 - Released by Deputi Mgr</option>
                                        <option value="50 - Released by GM">50 - Released by GM</option>
                                        <option value="60 - Released by SM">60 - Released by SM</option>
                                        <option value="70 - Released by Director">70 - Released by Director</option>
                                        <option value="80 - Released by Komisaris">80 - Released by Komisaris</option>
                                        <option value="90 - Released by RUPS">90 - Released by RUPS</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                </div>

                <h3 class="form-section">Object</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> OBJECT ID </th>
                                        <th class="dt-head-center"> OBJECT Type </th>
                                        <th class="dt-head-center"> RO NAME </th>
                                        <th class="dt-head-center"> START DATE </th>
                                        <th class="dt-head-center"> END DATE </th>
                                        <th class="dt-head-center"> LUAS TANAH </th>
                                        <th class="dt-head-center"> LUAS BANGUNAN </th>
                                        <th class="dt-head-center"> INDUSTRY </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Condition</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="condition">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> CALC OBJECT </th>
                                        <th class="dt-head-center"> CONDITION TYPE </th>
                                        <th class="dt-head-center"> VALID FROM </th>
                                        <th class="dt-head-center"> VALID TO </th>
                                        <th class="dt-head-center"> MONTHS </th>
                                        <th class="dt-head-center"> STATISTIC </th>
                                        <th class="dt-head-center"> UNIT PRICE </th>
                                        <th class="dt-head-center"> AMT REF </th>
                                        <th class="dt-head-center"> FREQUENCY </th>
                                        <th class="dt-head-center"> START DUE DATE </th>
                                        <th class="dt-head-center"> MANUAL NO </th>
                                        <th class="dt-head-center"> FORMULA </th>
                                        <th class="dt-head-center"> MEAS TYPE </th>
                                        <th class="dt-head-center"> LUAS (M2) </th>
                                        <th class="dt-head-center"> TOTAL VALUE</th>
                                        <th class="dt-head-center"> % FROM NJOP </th>
                                        <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                        <th class="dt-head-center"> SALES RULE </th>
                                        <th class="dt-head-center"> TOTAL NET VALUE </th>
                                        <th class="dt-head-center"> COA PRODUKSI </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Manual Frequency</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                        <th class="dt-head-center"> CONDITION </th>
                                        <th class="dt-head-center"> DUE DATE </th>
                                        <th class="dt-head-center"> NET VALUE </th>
                                        <th class="dt-head-center"> QUANTITY </th>
                                        <th class="dt-head-center"> UNIT </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <h3 class="form-section">Memo</h3>
                <br>
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                            <thead>
                                <tr>
                                    <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                    <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                    <th class="dt-head-center" width="50%"> MEMO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <!--SALES RULE And REPORTING RULE-->
                @*<div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#sales_rule" data-toggle="tab">  Sales Rule </a>
                            </li>
                            <li>
                                <a href="#sales_report" data-toggle="tab"> Sales Report </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="sales_rule">
                                <table class="table table-striped table-hover table-bordered" id="sales-based">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="7%"> SR </th>
                                            <th class="dt-head-center"> SALES TYPE </th>
                                            <th class="dt-head-center"> NAME OF TERM </th>
                                            <th class="dt-head-center"> PAYMENT TYPE </th>
                                            <th class="dt-head-center"> CALC FROM </th>
                                            <th class="dt-head-center"> CALC TO </th>
                                            <th class="dt-head-center"> UNIT TYPE </th>
                                            <th class="dt-head-center"> PERCENTAGE (%) </th>
                                            <th class="dt-head-center"> TARIF </th>
                                            <th class="dt-head-center"> REPORTING RULE </th>
                                            <th class="dt-head-center"> MIN QTY SALES </th>
                                            <th class="dt-head-center"> MIN QTY PRODUCTION </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="sales_report">
                                <table class="table table-striped table-hover table-bordered" id="reporting-rule">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> REPORTING RULE </th>
                                            <th class="dt-head-center"> SALES TYPE </th>
                                            <th class="dt-head-center"> TERM OR REPORTING RULE </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
                <!--END OF SALES RULE And REPORTING RULE-->

            </div>
            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->

        <div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Get Data Contract Offer</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> #</th>
                                            <th class="dt-head-center"> CONTRACT OFFER NO</th>
                                            <th class="dt-head-center"> CONTRACT OFFER NAME</th>
                                            <th class="dt-head-center"> CONTRACT START DATE</th>
                                            <th class="dt-head-center"> CONTRACT END DATE</th>
                                            <th class="dt-head-center"> TERM IN MONTHS</th>
                                            <th class="dt-head-center"> CONTRACT USAGE</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/assets/scripts/trans-contract-list.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/trans-contract-list.js")" type="text/javascript"></script>*@


}