﻿@{
    ViewBag.Title = "Contract Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Contract Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Contract Transaction</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                @{
                    if (ViewBag.KodeCabang == "0")
                    {

                    }
                    else
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-trans-contract">
                <thead>
                    <tr>
                        <th class="dt-head-center">CONTRACT NO</th>
                        <th class="dt-head-center">CONTRACT NAME</th>
                        <th class="dt-head-center">CUSTOMER NAME</th>
                        <th class="dt-head-center">CONTRACT START</th>
                        <th class="dt-head-center">CONTRACT END</th>
                        <th class="dt-head-center">STATUS</th>
                        <th class="dt-head-center" width="20%">ACTION</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!--
            <form id="RentalRequest" action="#" class="horizontal-form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Company Code</label>
                                <input type="text" class="form-control" placeholder="1000 - PT. Pelabuhan Indonesia III" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Business Entity</label>
                                <input type="text" class="form-control" placeholder="Type Min 3 Characters">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Rental Request No</label>
                                <input type="text" class="form-control" placeholder="Type Min 3 Characters">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Contract Offer Type</label>
                                <input type="text" class="form-control" placeholder="Type Min 3 Characters">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Contract Offer No</label>
                                <input type="text" class="form-control" placeholder="Type Min 3 Characters">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions left">
                        <button type="button" class="btn blue" id="btn-create">
                            <i class="fa fa-check"></i> Create
                        </button>
                        <button type="button" class="btn blue" id="btn-edit">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                        <button type="button" class="btn green" id="btn-display">
                            <i class="fa fa-eye"></i> Display
                        </button>
                    </div>
                </div>
            </form>
            -->
        </div>
    </div>
</div>




<div class="modal fade bs-modal-full" id="viewTransSpecialContractModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Contract</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Contract Data</a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Object </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_3" data-toggle="tab"> Condition </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Rental Request No</label>
                                                    <input type="text" class="form-control" id="DETAILRENTAL_REQUEST_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Offer No</label>
                                                    <input type="text" class="form-control" id="DETAILCONTRACT_OFFER_NO" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILCONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Type</label>
                                                    <input type="text" id="DETAILCONTRACT_TYPE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Business Entity</label>
                                                    <input type="text" id="DETAILBE_ID" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Name</label>
                                                    <input type="text" id="DETAILCONTRACT_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Start Date</label>
                                                    <input type="text" id="DETAILCONTRACT_START_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Contract End Date</label>
                                                    <input type="text" id="DETAILCONTRACT_END_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Term In Months</label>
                                                    <input type="text" class="form-control" id="DETAILMONTHS" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label">Customer MDM</label>
                                                    <input type="text" class="form-control" id="DETAILBUSINESS_PARTNER_NAME" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Customer AR</label>
                                                    <input type="text" class="form-control" id="DETAILCUSTOMER_AR" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Profit Center</label>
                                                    <input type="text" class="form-control" id="DETAILPROFIT_CENTER" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Usage</label>
                                                    <input type="text" class="form-control" id="DETAILCONTRACT_USAGE" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Ijin Prinsip No</label>
                                                    <input type="text" class="form-control" id="DETAILIJIN_PRINSIP_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Ijin Prinsip Date</label>
                                                    <input type="text" class="form-control" id="DETAILIJIN_PRINSIP_DATE" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Legal Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILLEGAL_CONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Legal Contract Date</label>
                                                    <input type="text" class="form-control" id="DETAILLEGAL_CONTRACT_DATE" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Currency</label>
                                                    <input type="text" class="form-control" id="DETAILCURRENCY" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 flex-column">
                                                <div class="alert alert-info old-contract" style="display:none">
                                                    <strong>Info Old Contract (<span id="old_contract"></span>)</strong>
                                                    <table>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_VALUE text-right"></td>
                                                            <td class="CURRENCY"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_START text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_END text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Period</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_PERIOD text-right"></td>
                                                            <td>&nbsp;month/s</td>
                                                        </tr>
                                                    </table>
                                                    <strong>Rental Object</strong>
                                                    <table class="DETAIL_RO"></table>
                                                    <small>*) Administration and Warmeking is not included</small>
                                                </div>
                                            </div>
                                            <div class="col-md-4 flex-column">
                                                <div class="alert alert-success old-contract" style="display:none">
                                                    <strong>New Contract</strong>
                                                    <table>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_VALUE_NEW text-right"></td>
                                                            <td class="CURRENCY"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Start</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>End</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Period</td>
                                                            <td>:&nbsp;</td>
                                                            <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                                            <td>&nbsp;month/s</td>
                                                        </tr>
                                                    </table>
                                                    <strong>Rental Object</strong>
                                                    <table class="DETAIL_RO_NEW"></table>
                                                    <small>*) Administration and Warmeking is not included</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-object">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT_NAME</th>
                                            <th class="dt-head-center">START_DATE</th>
                                            <th class="dt-head-center">END_DATE</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">INDUSTRY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_3">
                                <h3 class="form-section">Condition</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-condition">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> CALC OBJECT </th>
                                            <th class="dt-head-center"> CONDITION Type </th>
                                            <th class="dt-head-center"> VALID FROM </th>
                                            <th class="dt-head-center"> VALID TO </th>
                                            <th class="dt-head-center"> MONTHS </th>
                                            <th class="dt-head-center"> STATISTIC </th>
                                            <th class="dt-head-center"> UNIT PRICE </th>
                                            <th class="dt-head-center"> AMT REF </th>
                                            <th class="dt-head-center"> FREQUENCY </th>
                                            <th class="dt-head-center"> START DUE DATE </th>
                                            <th class="dt-head-center"> MANUAL NO </th>
                                            <th class="dt-head-center"> FORMULA </th>
                                            <th class="dt-head-center"> MEAS TYPE </th>
                                            <th class="dt-head-center"> LUAS (M2) </th>
                                            <th class="dt-head-center"> TOTAL </th>
                                            <th class="dt-head-center"> % FROM NJOP </th>
                                            <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                            <th class="dt-head-center"> TOTAL NET VALUE </th>
                                            <th class="dt-head-center"> COA PROD </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Manual Frequency</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-manual">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                            <th class="dt-head-center"> CONDITION </th>
                                            <th class="dt-head-center"> DUE DATE </th>
                                            <th class="dt-head-center"> NET VALUE </th>
                                            <th class="dt-head-center"> QUANTITY </th>
                                            <th class="dt-head-center"> UNIT </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Memo</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="viewModalAttachment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close"></button>
                <h4 class="modal-title">Attachment Contract</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="ID_ATTACHMENT" />

                <div class="row">
                    <div class="col-md-12">
                        <span class="btn btn-success fileinput-button" id="btnUp">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input id="fileupload" type="file" name="files" multiple>
                        </span>
                        <div class="progress progress-striped">
                            <div class="progress-bar" role="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                        <span class="file_name"></span>
                        <span class="file_type"></span>
                        <span class="file_size"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> FILENAME </th>
                                    <th class="dt-head-center"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL UNTUK CONFIRM Terminated-->
<div class="modal fade" id="modalTerminated" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Terminated Contract</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Confirmation</label>
                            <select class="form-control" id="SELECT_CONTRACT_STATUS">
                                <option value="TERMINATED">Terminate</option>
                                <option value="INACTIVE">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="hidden" id="CONTRACT_NO_EDIT" class="form-control" disabled="disabled" />
                            @*<input type="hidden" id="TANGGAL_END" data-date-format="dd/mm/yyyy" class="form-control" disabled="disabled" />*@
                            <input id="STOP_CONTRACT_DATE" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Memo</label>
                            <textarea class="form-control" id="MEMO_CONTRACT" placeholder="Silahkan beri alasan disini." rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-confirm-terminate" class="btn green"><span id="nameButton"></span></button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    @*<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    @*<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>*@

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>


}

@section CustomScripts {
    <script src="~/assets/scripts/trans-contract.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-contract.js")" type="text/javascript"></script>*@

}
