﻿@model Remote.ViewModels.TransRentalRequest
@{
    ViewBag.Title = "Contract Offer Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Add Contract Offer Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 75px;
    }
</style>
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="contract-surat">
            <div class="form-body">

                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        @*<li >
                            <a href="#surat" data-toggle="tab"> Surat </a>
                        </li>*@
                        <li class="active">
                            <a href="#data" data-toggle="tab">  Detail Data </a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        @*tab surat*@
                        <div class="tab-pane" id="surat">
                            @*<h3 class="form-section">Surat Dinas </h3>*@
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                                <input type="hidden" value="@ViewBag.AnjunganID" id="acceptID" />
                            </div>
                            <div class="row">
                                @*<div class="col-md-8">
                                    <h3 class="form-section">Identitas Surat </h3>
                                </div>*@
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>No. Surat</label>
                                                <input name="NO_SURAT" id="NO_SURAT" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input name="SUBJECT" id="SUBJECT" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Tanggal</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input id="TANGGAL" name="TANGGAL" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>Kepada</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <select name="KEPADA[]" class="form-control" id="KEPADA" multiple=""></select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2" style="padding-top:24px">
                                            <a style="float:right" class="btn btn-icon-only green" id="btn-detil-filter">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>Tembusan</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <select name="TEMBUSAN[]" class="form-control" id="TEMBUSAN" multiple=""></select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2" style="padding-top:24px">
                                            <a style="float:right" class="btn btn-icon-only green" id="btn-detil-filter">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="form-section">Isi Surat </h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="ISI_SURAT" name="ISI_SURAT" class="form-group">
                                                @*<label>Isi Surat</label>
                                                <textarea style="height: 200px;" class="form-control" id="ISI-SURAT" name="ISI-SURATs"></textarea>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Pemaraf</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <select name="PARAF[]" class="form-control" id="PARAF" multiple=""></select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-2" style="padding-top:24px">
                                            <a style="float:none" class="btn btn-icon-only green" id="btn-detil-filter">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>*@
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Penandatangan</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <select name="TTD" class="form-control" id="TTD"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Atas Nama</label>
                                                <input name="ATAS_NAMA" id="ATAS_NAMA" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="border-color:#E7ECF1;" class="panel panel-primary">
                                                <div style="background-color: #00BCED;" class="panel-heading">
                                                    <h4 class="panel-title"><span class="text-right">Attachment</span></h4>
                                                </div>
                                                <div style="padding:5px;" class="panel-body">
                                                    <div class="col-md-10">
                                                        <div class="form-group">
                                                            <label>Link</label>
                                                            <input class="form-control" id="LINK" name="LINK"></input>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="custom-file-label" for="customFile">Upload Attachment</label>
                                                            <input class="form-control" type="file" accept=".pdf, .doc, .docx" id="file" name="filex" multiple />
                                                        </div>
                                                        @*<div class="col-md-6 text-right" style="padding-right: 0px">
                                                        <input hidden id="upload_file_berita_exist" name="upload_file_berita_exist" />*@
                                                        @*<a id="target_berita" class="d-none" href="#">Download</a>*@
                                                        @*</div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div style="border-color:#E7ECF1;" class="panel panel-primary">
                                                <div style="background-color: #00BCED;" class="panel-heading">
                                                    <h4 class="panel-title"><span class="text-right">Action</span></h4>
                                                </div>
                                                <div style="padding:5px;" class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Status Kirim</label>
                                                            <select class="form-control" id="STATUS_KIRIM" name="STATUS_KIRIM">
                                                                <option value="Draft">Draft</option>
                                                                <option value="Send">Send</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Memo</label>
                                                            <textarea style="height: 200px;" class="form-control" id="MEMO" name="MEMO"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions left">
                                                    <button type="button" class="btn green" id="PDF">
                                                        <i class="fa fa-file-pdf-o"></i> Preview PDF
                                                    </button>
                                                    <button type="button" class="btn blue" id="btn-save-surat">
                                                        <i class="fa fa-check"></i> Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*tab data*@
                        <div class="tab-pane active" id="data">
                            <input type="text" id="cPiut" style="display:none">
                            @*<h3 class="form-section">General Data </h3>*@
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                                <input type="hidden" value="@ViewBag.AnjunganID" id="acceptID" />
                            </div>
                            <!--/row-->
                            @*open here*@


                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Company Code</label>
                                                <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    @*
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Rental Request Name</label>
                                                <input type="text" class="form-control" id="RENTAL_REQUEST_NAME">
                                            </div>
                                        </div>
                                    </div>
                                    *@
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Contract Offer Type</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownListFor(m => m.FDDRentalType, new SelectList(Model.DDRentalType, "ID", "REF_DESC"), "-- Choose Contract Offer Type --", new { @class = "form-control", @id = "CONTRACT_OFFER_TYPE" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Search Old Contract</label>
                                                <div class="input-group">
                                                    <a class="input-group-addon btn blue disabled" id="search-contract" type="button" data-toggle="modal" href="#oldContractModal">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                    <input type="text" id="OLD_CONTRACT" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="old-contract-data" style="display:none">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Contract Value</label>
                                                <input type="text" class="form-control" id="CONTRACT_VALUE" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Contract Period</label>
                                                <input type="text" class="form-control" id="CONTRACT_PERIOD" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Land Area</label>
                                                <input type="text" class="form-control" id="LAND_AREA" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Contract Offer Name</label>
                                                <input type="text" class="form-control" id="CONTRACT_OFFER_NAME">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Start Date</label>
                                                <input id="CONTRACT_START_DATE" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract End Date</label>
                                                <input id="CONTRACT_END_DATE" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Term In Months</label>
                                                <input type="text" class="form-control" id="TERM_IN_MONTHS">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Search Customer Name</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                    <input type="text" id="CUSTOMER_NAME" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Customer Code MDM</label>
                                                <input type="text" class="form-control" id="CUSTOMER_ID" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Business Entity</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BUSINESS_ENTITY_ID" })*@
                                                    <input type="text" class="form-control" id="BUSINESS_ENTITY_NAME" readonly value="@ViewBag.BE_NAME">
                                                    <input type="hidden" class="form-control" id="BUSINESS_ENTITY_ID" disabled value="@ViewBag.BE_ID">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Customer AR</label>
                                                <input type="text" class="form-control" id="CUSTOMER_AR" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Profit Center</label>
                                                @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                                                <input type="text" class="form-control" id="TERMINAL_NAME" readonly>
                                                <input type="hidden" class="form-control" id="PROFIT_CENTER" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label>Contract Usage</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownListFor(m => m.FDDContractUsage, new SelectList(Model.DDContractUsage, "ID", "REF_DESC"), "-- Choose --", new { @class = "form-control", @id = "USAGE_TYPE" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Currency</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownListFor(m => m.FDDCurrency, new SelectList(Model.DDCurrencys, "CODE", "CODE"), "-- Choose --", new { @class = "form-control", @id = "CONTRACT_CURRENCY" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label>Offer Status</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" id="OFFER_STATUS" value="10 - Created" readonly>
                                                    <!--
                                                <select class="form-control" id="REQUEST_STATUS">
                                                    <option value="">-- Choose --</option>
                                                    <option value="10 - Created">10 - Created</option>
                                                    <option value="20 - Release to Workflow">20 - Release to Workflow</option>
                                                    <option value="30 - Released by Manager">30 - Released by Manager</option>
                                                    <option value="40 - Released by Deputy Mgr">40 - Released by Deputi Mgr</option>
                                                    <option value="50 - Released by GM">50 - Released by GM</option>
                                                    <option value="60 - Released by SM">60 - Released by SM</option>
                                                    <option value="70 - Released by Director">70 - Released by Director</option>
                                                    <option value="80 - Released by Komisaris">80 - Released by Komisaris</option>
                                                    <option value="90 - Released by RUPS">90 - Released by RUPS</option>
                                                </select>
                                                -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMN FORM -->
                                </div>
                                <div class="col-md-4 hidden-xs hidden-sm flex-column sticky">
                                    <div class="alert alert-info old-contract" style="display:none">
                                        <strong>Info Old Contract</strong>
                                        <table>
                                            <tr>
                                                <td>Value</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_VALUE text-right"></td>
                                                <td class="CURRENCY"></td>
                                            </tr>
                                            <tr>
                                                <td>Start</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_START text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_END text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>Period</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_PERIOD text-right"></td>
                                                <td>&nbsp;month/s</td>
                                            </tr>
                                            @*<tr>
                                                <td>NJOP</td>
                                                <td>:&nbsp;</td>
                                                <td class="DETAIL_NJOP_PERCENT text-right"></td>
                                                <td>&nbsp;%</td>
                                            </tr>*@
                                        </table>
                                        <strong>Rental Object</strong>
                                        <table class="DETAIL_RO"></table>

                                        <small>*) Administration and Warmeking is not included</small>
                                    </div>

                                    <div class="alert alert-success old-contract" style="display:none">
                                        <strong>New Contract Estimation</strong>
                                        <table>
                                            <tr>
                                                <td>Value</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_VALUE_NEW text-right"></td>
                                                <td class="CURRENCY"></td>
                                            </tr>
                                            <tr>
                                                <td>Start</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>Period</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                                <td>month/s</td>
                                            </tr>
                                            @*<tr>
                                                <td>NJOP</td>
                                                <td>:&nbsp;</td>
                                                <td class="DETAIL_NJOP_PERCENT_NEW text-right"></td>
                                                <td>%</td>
                                            </tr>*@
                                        </table>
                                        <strong>Rental Object</strong>
                                        <table class="DETAIL_RO_NEW"></table>
                                        <small>*) Administration and Warmeking is not included</small>
                                    </div>
                                </div>
                            </div>
                            @*close here*@


                            <h3 class="form-section">Object</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <a onclick="return check();" data-toggle="modal" href="#addDetailModal" class="btn btn-icon-only green" id="btn-detil-filter">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> RO_NUMBER</th>
                                                    <th class="dt-head-center"> OBJECT ID</th>
                                                    <th class="dt-head-center"> OBJECT TYPE ID</th>
                                                    <th class="dt-head-center"> OBJECT TYPE</th>
                                                    <th class="dt-head-center"> RO NAME</th>
                                                    <th class="dt-head-center"> LAND AREA</th>
                                                    <th class="dt-head-center"> BUILDING AREA</th>
                                                    <th class="dt-head-center"> TYPE INDUSTRY</th>
                                                    <th class="dt-head-center"> #</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Condition</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-icon-only green" type="button" data-toggle="modal" href="#addCondition" id="btn-add-condition">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="condition">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> CALC OBJECT </th>
                                                    <th class="dt-head-center"> CONDITION TYPE </th>
                                                    <th class="dt-head-center"> VALID FROM </th>
                                                    <th class="dt-head-center"> VALID TO </th>
                                                    <th class="dt-head-center"> MONTHS </th>
                                                    <th class="dt-head-center"> STATISTIC </th>
                                                    <th class="dt-head-center"> FORMULA </th>
                                                    <th class="dt-head-center"> UNIT PRICE VALUE </th>
                                                    <th class="dt-head-center"> AMT REF </th>
                                                    <th class="dt-head-center"> FREQUENCY </th>
                                                    <th class="dt-head-center"> START DUE DATE </th>
                                                    <th class="dt-head-center"> MANUAL NO </th>
                                                    <th class="dt-head-center"> MEAS TYPE </th>
                                                    <th class="dt-head-center"> LUAS (M2) </th>
                                                    <th class="dt-head-center"> TOTAL VALUE</th>
                                                    <th class="dt-head-center"> % FROM NJOP </th>
                                                    <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                    <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                    <th class="dt-head-center"> COA PROD </th>
                                                    <th class="dt-head-center"> ACTION </th>
                                                    <th class="dt-head-center" style="display: none"> TAX_CODE </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                        @* jaga-jaga kalau misal jadi dipakai !!!
                                        <table class="table table-striped table-hover table-bordered" id="condition">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> CALC OBJECT </th>
                                                    <th class="dt-head-center"> CONDITION TYPE </th>
                                                    <th class="dt-head-center"> VALID FROM </th>
                                                    <th class="dt-head-center"> VALID TO </th>
                                                    <th class="dt-head-center"> MONTHS </th>
                                                    <th class="dt-head-center"> STATISTIC </th>
                                                    <th class="dt-head-center"> UNIT PRICE </th>
                                                    <th class="dt-head-center"> AMT REF </th>
                                                    <th class="dt-head-center"> FREQUENCY </th>
                                                    <th class="dt-head-center"> START DUE DATE </th>
                                                    <th class="dt-head-center"> MANUAL NO </th>
                                                    <th class="dt-head-center"> FORMULA </th>
                                                    <th class="dt-head-center"> MEAS TYPE </th>
                                                    <th class="dt-head-center"> LUAS (M2) </th>
                                                    <th class="dt-head-center"> TOTAL VALUE</th>
                                                    <th class="dt-head-center"> % FROM NJOP </th>
                                                    <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                    <th class="dt-head-center"> SALES RULE </th>
                                                    <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                    <th class="dt-head-center"> ACTION </th>
                                                    <th class="dt-head-center" style="display: none"> TAX_CODE </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>*@
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Manual Frequency</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-icon-only green" type="button" id="btn-add-manual-frequency">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                    <th class="dt-head-center"> CONDITION </th>
                                                    <th class="dt-head-center"> DUE DATE </th>
                                                    <th class="dt-head-center"> NET VALUE </th>
                                                    <th class="dt-head-center"> QUANTITY </th>
                                                    <th class="dt-head-center"> QTY UNIT </th>
                                                    <th class="dt-head-center" width="5%"> ADD </th>
                                                    <th class="dt-head-center" width="5%"> ACTION </th>
                                                    <th class="dt-head-center sembunyi"> CONDITION_CODE </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Memo</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-icon-only green" type="button" data-toggle="modal" href="#addMemo" id="btn-add-memo">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                                <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                                <th class="dt-head-center" width="50%"> MEMO</th>
                                                <th class="dt-head-center" width="5%"> ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                            @*<h3 class="form-section">Sales Based Rent</h3>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <div class="tabbable-custom nav-justified">
                                            <ul class="nav nav-tabs nav-justified">
                                                <li class="active">
                                                    <a href="#tab_1_1_1" data-toggle="tab">  Sales Rule </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1_1_2" data-toggle="tab"> Sales Report </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1_1_1">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-sales-based">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <table class="table table-striped table-hover table-bordered" id="sales-based">
                                                        <thead>
                                                            <tr>
                                                                <th class="dt-head-center" width="7%"> SR </th>
                                                                <th class="dt-head-center"> SALES TYPE </th>
                                                                <th class="dt-head-center"> NAME OF TERM </th>
                                                                <th class="dt-head-center"> PAYMENT TYPE </th>
                                                                <th class="dt-head-center"> CALC FROM </th>
                                                                <th class="dt-head-center"> CALC TO </th>
                                                                <th class="dt-head-center"> UNIT TYPE </th>
                                                                <th class="dt-head-center"> PERCENTAGE (%) </th>
                                                                <th class="dt-head-center"> TARIF </th>
                                                                <th class="dt-head-center"> REPORTING RULE </th>
                                                                <th class="dt-head-center"> MIN QTY SALES </th>
                                                                <th class="dt-head-center"> MIN QTY PRODUCTION </th>
                                                                <th class="dt-head-center" width="5%"> ADD </th>
                                                                <th class="dt-head-center" width="5%"> ACTION </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="tab_1_1_2">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-reporting-rule">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <table class="table table-striped table-hover table-bordered" id="reporting-rule">
                                                        <thead>
                                                            <tr>
                                                                <th class="dt-head-center"> REPORTING RULE </th>
                                                                <th class="dt-head-center"> SALES TYPE </th>
                                                                <th class="dt-head-center"> TERM OR REPORTING RULE </th>
                                                                <th class="dt-head-center" width="5%"> ACTION </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>

                                                    <table class="table table-striped table-hover table-bordered" id="reporting-rule-detail">
                                                        <thead>
                                                            <tr>
                                                                <th class="dt-head-center"> DUE DATE </th>
                                                                <th class="dt-head-center"> RR STATUS </th>
                                                                <th class="dt-head-center"> REPORT FROM </th>
                                                                <th class="dt-head-center"> REPORT TO </th>
                                                                <th class="dt-head-center"> REPORT ON </th>
                                                                <th class="dt-head-center"> ZERO SALES </th>
                                                                <th class="dt-head-center"> QUANTITY SALES </th>
                                                                <th class="dt-head-center"> UNIT </th>
                                                                <th class="dt-head-center"> NET SALES </th>
                                                                <th class="dt-head-center"> RR TOTAL </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-actions left">
                                <button type="button" class="btn red" id="btn-kembali">
                                    <i class="fa fa-close"></i> Cancel
                                </button>
                                <button type="button" class="btn blue" id="btn-update">
                                    <i class="fa fa-check"></i> Save Changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->


        <div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Data Object Detail</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Contract Start</label>
                                            <input id="from" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Contract End</label>
                                            <input id="to" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Land From</label>
                                            <input type="text" id="luas_tanah_from" class="form-control" placeholder="100">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Land To</label>
                                            <input type="text" id="luas_tanah_to" class="form-control" placeholder="1000">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Building From</label>
                                            <input type="text" id="luas_bangunan_from" class="form-control" placeholder="100">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Building To</label>
                                            <input type="text" id="luas_bangunan_to" class="form-control" placeholder="1000">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                </div>
                                <div class="row">

                                </div>
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center sembunyi">RO_NUMBER</th>
                                            <th class="dt-head-center sembunyi">OBJECT TYPE ID</th>
                                            <th class="dt-head-center sembunyi">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">RO NAME</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">VALID FROM</th>
                                            <th class="dt-head-center">VALID TO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--ADD NEW RO MODALS-->
        <div class="modal fade bs-modal-lg" id="addNewRO" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Data Rental Object</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter-data-ro" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-ro">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center">RO_NUMBER</th>
                                            <th class="dt-head-center">OBJECT TYPE ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">RO NAME</th>
                                            <th class="dt-head-center">BUILDING DIMENSION</th>
                                            <th class="dt-head-center">LAND DIMENSION</th>
                                            <th class="dt-head-center">VALID FROM</th>
                                            <th class="dt-head-center">VALID TO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--TARIF PEDOMAN MODALS-->
        <div class="modal fade bs-modal-lg" id="modalTarifPedoman" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Tarif Pedoman</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                @*<div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter-data-njop" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <a class="btn sbold blue" id="btn-add-njop" href="/TarifPedoman/Njop" target="_blank">
                                        <i class="fa fa-plus"></i> Add New
                                    </a>
                                </div>*@
                                <br>
                                <div class="row percentage">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Percentage</label>
                                            <input type="text" class="form-control input-percentage" id="NJOP_PERCENT_DISPLAY" disabled />
                                            <input type="hidden" id="NJOP_PERCENT" />
                                            <input type="hidden" id="CALC_OBJ" />
                                            <input type="hidden" id="COND_TYPE" />
                                            <input type="hidden" id="PRICE_ROW" />
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-pedoman">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"># </th>
                                            <th class="dt-head-center">VALUE </th>
                                            <th class="dt-head-center">PROFIT CENTER </th>
                                            <th class="dt-head-center">JENIS PEDOMAN </th>
                                            <th class="dt-head-center">ACTIVE DATE </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-njop">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center">NAMA JALAN</th>
                                            <th class="dt-head-center">NJOP</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--TARIF NJOP MODALS-->
        @*<div class="modal fade bs-modal-lg" id="tarifNJOP" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Choose NJOP</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter-data-njop" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                    <a class="btn sbold blue" id="btn-add-njop" href="/TarifPedoman/Njop" target="_blank">
                                        <i class="fa fa-plus"></i> Add New
                                    </a>
                                </div>
                                <br>
                                <br>
                                <div class="row percentage">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Percentage</label>
                                            <input type="text" class="form-control input-percentage" id="NJOP_PERCENT_DISPLAY" disabled />
                                            <input type="hidden" id="NJOP_PERCENT" />
                                            <input type="hidden" id="CALC_OBJ" />
                                            <input type="hidden" id="COND_TYPE" />
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-njop">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center">Nama Jalan</th>
                                            <th class="dt-head-center">NJOP</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>*@

        <!--ADD CONDITION MODALS-->
        <div class="modal fade" id="addCondition" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Condition</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <h4>Choose Calculation Object</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="condition-option" name="condition-option" class="form-control">
                                                <option value='' selected> -- Choose Condition Option -- </option>
                                                <option value='Header Document'> Header Document </option>
                                            </select>
                                            @*<select class="form-control" id="condition-option">
                                                <option value="">-- Choose --</option>
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                            </select>*@
                                        </div>
                                    </div>
                                </div>

                                <h4>Choose Condition Type</h4>
                                <hr />
                                <div id="cekbokList" class="mt-checkbox-list"></div>

                                @*<div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        Checkbox 1
                                        <input type="checkbox" value="1" name="test" />
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        Checkbox 2
                                        <input type="checkbox" value="2" name="test" />
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        Checkbox 3
                                        <input type="checkbox" value="3" name="test" />
                                        <span></span>
                                    </label>
                                </div>*@
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue" id="btn-condition">
                            <i class="fa fa-check"></i> Add Condition
                        </button>
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- SEARCH COA -->
        <div class="modal fade bs-modal-lg" id="coaModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih Coa</h4>
                    </div>

                    <div class="modal-body">

                        <div class="btn-group">
                            <button class="btn sbold green" id="btn-filter-coa" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-coa">
                            <thead>
                                <tr>
                                    <th class="dt-head-center">#</th>
                                    <th class="dt-head-center">CODE</th>
                                    <th class="dt-head-center">NAME</th>
                                    <th class="dt-head-center">KETERANGAN</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--ADD MEMO MODALS-->
        <div class="modal fade" id="addMemo" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Memo</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <h4>Condition Type</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="memo-condition" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>

                                <h4>Memo</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" id="memo" name="memo"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue" id="btn-add-memo-md" name="btn-add-memo">
                            <i class="fa fa-check"></i> Add Memo
                        </button>
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- SEARCH OLD CONTRACT -->
        <div class="modal fade bs-modal-lg" id="oldContractModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Select Old Contract</h4>
                    </div>

                    <div class="modal-body">

                        <div class="btn-group">
                            <button class="btn sbold green" id="btn-filter-co" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-old-contract">
                            <thead>
                                <tr>
                                    <th class="dt-head-center">#</th>
                                    <th class="dt-head-center">CONTRACT NO</th>
                                    <th class="dt-head-center">CONTRACT NAME</th>
                                    <th class="dt-head-center">BUSINESS PARTNER</th>
                                    <th class="dt-head-center">CONTRACT START</th>
                                    <th class="dt-head-center">CONTRACT END</th>
                                    <th class="dt-head-center">STATUS</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="viewSertifikat" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"><span id="txt-judul"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="row" id="row-table">
                                    <div class="col-md-12">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-hover table-bordered" id="table-sertifikat">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center"> Sertifikat </th>
                                                        <th class="dt-head-center"> Aksi </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>*@
                        <button id="btn-bataladd" type="button" class="btn green" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>



    </div>
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>
    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript"></script>
    @*<script src="~/assets/scripts/add-detail-trans-rental.js"></script>*@
    <script src="~/assets/scripts/dt-add-trans-co-new.js"></script>

    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/dt-add-trans-co-new.js")" type="text/javascript"></script>*@

}