﻿@model Remote.ViewModels.TransRentalRequest
@{
    ViewBag.Title = "Contract Offer Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Edit Contract Offer Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;

}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="contract-surat" autocomplete="off">
            <div class="form-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#surat" data-toggle="tab"> Surat </a>
                        </li>
                        <li>
                            <a href="#data" data-toggle="tab">Data Contract</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    @*tab surat*@
                    <div class="tab-pane active" id="surat">
                        @*<h3 class="form-section">Surat Dinas </h3>*@
                        <div class="alert alert-warning">
                            <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                            <input type="hidden" value="@ViewBag.AnjunganID" id="acceptID" />
                        </div>
                        <div class="row">
                            @*<div class="col-md-8">
                                    <h3 class="form-section">Identitas Surat </h3>
                                </div>*@
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Kode Klasifikasi<span class="required"></span></label>
                                            <div class="input-group">
                                                <select name="KODE_KLASIFIKASI[]" class="form-control" id="KODE_KLASIFIKASI"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>No. Surat</label>
                                            <input name="NO_SURAT" id="NO_SURAT" type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Subject<span class="required">*</span></label>
                                            <input name="SUBJECT" id="SUBJECT" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tanggal</label>
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="inlineRadioOptions" id="disetujui" value="1"> Saat Disetujui
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio mt-radio-outline">
                                                    <input type="radio" name="inlineRadioOptions" id="ditentukan" value="0"> Ditentukan Pada
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div id="tglHidden" style="display: none;" class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input typeof="hidden" id="TANGGAL" name="TANGGAL" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Tanggal</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input id="TANGGAL" name="TANGGAL" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Kepada (Internal)</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <select name="KEPADA[]" class="form-control" id="KEPADA" multiple="">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-2" style="padding-top:24px">
                                            <a style="float:right" class="btn btn-icon-only green" id="btn-detil-filter">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Kepada (Eksternal)</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input class="form-control vo" id="KEPADA_EKSTERNAL" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Tembusan (Internal)</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <select name="TEMBUSAN[]" class="form-control" id="TEMBUSAN" multiple=""></select>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-2" style="padding-top:24px">
                                            <a style="float:right" class="btn btn-icon-only green" id="btn-detil-filter">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Tembusan (Eksternal)</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input class="form-control vO" id="TEMBUSAN_EKSTERNAL" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>Isi Surat<span class="required">*</span></label>
                                        @*<h3 class="form-section">Isi Surat <span class="required">*</span></h3>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="ISI_SURAT" name="ISI_SURAT" class="form-group">
                                            @*<label>Isi Surat</label>
                                                <textarea style="height: 200px;" class="form-control" id="ISI-SURAT" name="ISI-SURATs"></textarea>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Pemaraf</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <select name="PARAF" class="form-control" id="PARAF"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding-top:24px">
                                        <a style="float:none" class="btn btn-icon-only green" id="btn-add-paraf">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Penandatangan<span class="required">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <select name="TTD" class="form-control" id="TTD"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <template id="tmpl-line">
                                    <tr data-index="_INDEX_">
                                        <td></td>
                                        <td>
                                            <input id="HIRARKI" type="text" class="form-control" name="paraf[_INDEX_][HIRARKI]" required />
                                        </td>
                                        <td>
                                            <input readonly id="NAMA_PARAF" type="text" class="form-control" name="paraf[_INDEX_][NAMA]" required />
                                        </td>
                                        <td>
                                            <button type="button" class="btn  btn-primary btn-danger" id="btn-remove-paraf" style=""><i class="fa fa-times"></i> </button>
                                        </td>
                                        <td hidden>
                                            <input readonly id="ID" type="text" class="form-control" name="paraf[_INDEX_][ID]" required />
                                        </td>
                                    </tr>
                                </template>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div hidden id="hidden-table">
                                            <table id="line" class="responsive">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th style="width:75px;">Hirarki</th>
                                                        <th>Nama</th>
                                                        <th></th>
                                                        <th hidden></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Atas Nama</label>
                                            <input name="ATAS_NAMA" id="ATAS_NAMA" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="border-color:#E7ECF1;" class="panel panel-primary">
                                            <div style="background-color: #00BCED;" class="panel-heading">
                                                <h4 class="panel-title"><span class="text-right">Attachment</span></h4>
                                            </div>
                                            <div style="padding:5px;" class="panel-body">
                                                <div hidden="hidden" class="col-md-10">
                                                    <div class="form-group">
                                                        <label>Link</label>
                                                        <input class="form-control" id="LINK" name="LINK"></input>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-12" id="div_attachment">
                                                    <div class="form-group" id="attc">
                                                        <div class="row" id="attc0" style="margin:10px 0px">
                                                            <div class="col-md-10">
                                                                <label class="custom-file-label" for="customFile">Upload Attachment</label>
                                                                <input class="form-control" type="file" accept=".pdf" id="file_0" name="filex" multiple /><br />
                                                                <a href="" id="href_0" download style="display:none"></a>
                                                            </div>
                                                            <div class="col-md-2" style="padding-top:24px">
                                                                <input type="hidden" id="path_0" class="path" />
                                                                <button type="button" onClick="save_temp(0)" class="btn btn-success btn-sm" id="btn_save_temp_0"><i class="fa fa-check"></i></button>
                                                                <button type="button" onClick="hapus_attc(0)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" id="btn_attachment">
                                                        <button type="button" id="add_attachment" class="btn btn-sm btn-outline-success"><i class="fa fa-plus"></i> Add Attachment</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div style="border-color:#E7ECF1;" class="panel panel-primary">
                                            <div style="background-color: #00BCED;" class="panel-heading">
                                                <h4 class="panel-title"><span class="text-right">Action</span></h4>
                                            </div>
                                            <div style="padding:5px;" class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Status Kirim</label>
                                                        <select class="form-control" id="STATUS_KIRIM" name="STATUS_KIRIM">
                                                            <option value="Draft">Draft</option>
                                                            <option value="Send">Send</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Memo</label>
                                                        <textarea style="height: 200px;" class="form-control" id="MEMO" name="MEMO"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions left">
                                                <button type="button" id="previewPDF" name="previewPDF" class="btn green" id="PDF">
                                                    <i class="fa fa-file-pdf-o"></i> Preview PDF
                                                </button>
                                                <button type="button" class="btn blue" id="previewPDF" name="previewPDF">
                                                    <i class="fa fa-check"></i> Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*tab data*@
                    <div class="tab-pane" id="data">
                        <input type="text" id="cPiut" style="display:none">

                        <input type="hidden" value="@ViewBag.AnjunganID" id="acceptID" />

                        <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="OFFER_ID" />
                        <input type="hidden" id="RENTAL_REQUEST_NO" value="@ViewBag.RENTAL_REQUEST_NO">
                        <input type="hidden" id="OLD_CONTRACT_OFFER" value="@ViewBag.OLD_CONTRACT_OFFER">
                        <input type="hidden" id="OLD_RENTAL_REQUEST" value="@ViewBag.OLD_RENTAL_REQUEST">
                        <input type="hidden" id="RR_ID" value="@ViewBag.RR_ID">
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Company Code</label>
                                            <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Contract Offer Type</label>
                                            <input type="text" id="CONTRACT_OFFER_TYPE" value="@ViewBag.CONTRACT_OFFER_TYPE" class="form-control" readonly>
                                            <input type="hidden" id="RENTAL_REQUEST_ID" value="@ViewBag.CONTRACT_OFFER_TYPE_ID" class="form-control" disabled>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Old Contract</label>
                                            <input type="text" id="OLD_CONTRACT" value="@ViewBag.OLD_CONTRACT" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Contract Offer Name</label>
                                            <input type="text" class="form-control" value="@ViewBag.CONTRACT_OFFER_NAME" id="CONTRACT_OFFER_NAME" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Contract Start Date</label>
                                            <input disabled class="form-control form-control-inline date-picker" value="@ViewBag.CONTRACT_START_DATE" size="16" id="CONTRACT_START_DATE" type="text" data-date-format="dd/mm/yyyy" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Contract End Date</label>
                                            <input disabled class="form-control form-control-inline date-picker" value="@ViewBag.CONTRACT_END_DATE" size="16" id="CONTRACT_END_DATE" type="text" data-date-format="dd/mm/yyyy" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Term In Months</label>
                                            <input disabled type="text" class="form-control" value="@ViewBag.TERM_IN_MONTHS" id="TERM_IN_MONTHS">
                                        </div>
                                    </div>
                                </div>

                                <!-- NEW EDIT FORM -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Search Customer Name</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                                <input disabled type="text" id="CUSTOMER_NAME" class="form-control" value="@ViewBag.CUSTOMER_NAME">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Customer Code MDM</label>
                                            <input disabled type="text" class="form-control" id="CUSTOMER_ID" value="@ViewBag.CUSTOMER_ID" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Business Entity</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME", @ViewBag.BE_ID), "-- Choose Business Entity --", new { @class = "form-control", @id = "BUSINESS_ENTITY_ID" })*@
                                                <input disabled type="text" class="form-control" id="BUSINESS_ENTITY_NAME" readonly value="@ViewBag.BE_NAME">
                                                <input type="hidden" class="form-control" id="BUSINESS_ENTITY_ID" disabled value="@ViewBag.BE_ID">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Customer AR</label>
                                            <input type="text" class="form-control" id="CUSTOMER_AR" value="@ViewBag.CUSTOMER_AR" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Profit Center</label>
                                            @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME", @ViewBag.PROFIT_CENTER), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                                            <input disabled type="text" class="form-control" id="TERMINAL_NAME" readonly value="@ViewBag.PROFIT_CENTER_NAME">
                                            <input type="hidden" class="form-control" id="PROFIT_CENTER" disabled value="@ViewBag.PROFIT_CENTER_ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-4">
                                        <div class="form-group">
                                            <label>Contract Usage</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                @Html.DropDownListFor(m => m.FDDContractUsage, new SelectList(Model.DDContractUsage, "ID", "REF_DESC", @ViewBag.CONTRACT_USAGE_ID), "-- Choose --", new { @class = "form-control", @id = "USAGE_TYPE" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Contract Currency</label>
                                            <select disabled class="form-control" id="CONTRACT_CURRENCY">
                                                <option value="">-- Choose --</option>
                                                @if (ViewBag.CURRENCY == "IDR")
                                                {
                                                    <option value="IDR" selected>IDR</option>
                                                }
                                                else
                                                {
                                                    <option value="IDR">IDR</option>
                                                }
                                                @if (ViewBag.CURRENCY == "USD")
                                                {
                                                    <option value="USD" selected>USD</option>
                                                }
                                                else
                                                {
                                                    <option value="USD">USD</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4">
                                        <div class="form-group">
                                            <label>Offer Status</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control" id="OFFER_STATUS" value="10 - Created" readonly>
                                                <!--
                                                <select class="form-control" id="REQUEST_STATUS">
                                                    <option value="">-- Choose --</option>
                                                    <option value="10 - Created">10 - Created</option>
                                                    <option value="20 - Release to Workflow">20 - Release to Workflow</option>
                                                    <option value="30 - Released by Manager">30 - Released by Manager</option>
                                                    <option value="40 - Released by Deputy Mgr">40 - Released by Deputi Mgr</option>
                                                    <option value="50 - Released by GM">50 - Released by GM</option>
                                                    <option value="60 - Released by SM">60 - Released by SM</option>
                                                    <option value="70 - Released by Director">70 - Released by Director</option>
                                                    <option value="80 - Released by Komisaris">80 - Released by Komisaris</option>
                                                    <option value="90 - Released by RUPS">90 - Released by RUPS</option>
                                                </select>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-xs hidden-sm flex-column">

                                <div class="alert alert-info old-contract" style="display:none">
                                    <strong>Info Old Contract</strong>
                                    <table>
                                        <tr>
                                            <td>Value</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_VALUE text-right"></td>
                                            <td class="CURRENCY"></td>
                                        </tr>
                                        <tr>
                                            <td>Start</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_START text-right" colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>End</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_END text-right" colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>Period</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_PERIOD text-right"></td>
                                            <td>&nbsp;month/s</td>
                                        </tr>
                                    </table>
                                    <strong>Rental Object</strong>
                                    <table class="DETAIL_RO"></table>
                                    <small>*) Administration and Warmeking is not included</small>
                                </div>

                                <div class="alert alert-success old-contract" style="display:none">
                                    <strong>New Contract Estimation</strong>
                                    <table>
                                        <tr>
                                            <td>Value</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_VALUE_NEW text-right"></td>
                                            <td class="CURRENCY"></td>
                                        </tr>
                                        <tr>
                                            <td>Start</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>End</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td>Period</td>
                                            <td>:&nbsp;</td>
                                            <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                            <td>&nbsp;month/s</td>
                                        </tr>
                                    </table>
                                    <strong>Rental Object</strong>
                                    <table class="DETAIL_RO_NEW"></table>
                                    <small>*) Administration and Warmeking is not included</small>
                                </div>
                            </div>
                        </div>
                        <!-- end EDIT FORM -->

                        <h3 class="form-section">Object</h3>
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> RO_NUMBER</th>
                                                <th class="dt-head-center"> OBJECT ID</th>
                                                <th class="dt-head-center"> OBJECT TYPE ID</th>
                                                <th class="dt-head-center"> OBJECT TYPE</th>
                                                <th class="dt-head-center"> RO NAME</th>
                                                <th class="dt-head-center"> LAND AREA</th>
                                                <th class="dt-head-center"> BUILDING AREA</th>
                                                <th class="dt-head-center"> TYPE INDUSTRY</th>
                                                <th class="dt-head-center"> #</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">Condition</h3>
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="condition">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> CALC OBJECT </th>
                                                <th class="dt-head-center"> CONDITION TYPE </th>
                                                <th class="dt-head-center"> VALID FROM </th>
                                                <th class="dt-head-center"> VALID TO </th>
                                                <th class="dt-head-center"> MONTHS </th>
                                                <th class="dt-head-center"> STATISTIC </th>
                                                <th class="dt-head-center"> FORMULA </th>
                                                <th class="dt-head-center"> UNIT PRICE VALUE </th>
                                                <th class="dt-head-center"> AMT REF </th>
                                                <th class="dt-head-center"> FREQUENCY </th>
                                                <th class="dt-head-center"> START DUE DATE </th>
                                                <th class="dt-head-center"> MANUAL NO </th>
                                                <th class="dt-head-center"> MEAS TYPE </th>
                                                <th class="dt-head-center"> LUAS (M2) </th>
                                                <th class="dt-head-center"> TOTAL VALUE</th>
                                                <th class="dt-head-center"> % FROM NJOP </th>
                                                <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                <th class="dt-head-center"> COA PROD </th>
                                                <th class="dt-head-center"> ACTION</th>
                                                <th class="dt-head-center"> TAX_CODE </th>
                                                @*style="display: none"*@
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">Manual Frequency</h3>
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                <th class="dt-head-center"> CONDITION </th>
                                                <th class="dt-head-center"> DUE DATE </th>
                                                <th class="dt-head-center"> NET VALUE </th>
                                                <th class="dt-head-center"> QUANTITY </th>
                                                <th class="dt-head-center"> QTY UNIT </th>
                                                <th class="dt-head-center" width="5%"> ADD </th>
                                                <th class="dt-head-center" width="5%"> ACTION </th>
                                                <th class="dt-head-center sembunyi"> CONDITION_CODE </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <h3 class="form-section">Memo</h3>
                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                            @*<th class="dt-head-center" width="5%"> ACTION</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
<div class="modal fade" id="openPDF" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Isi Surat</h4>
            </div>
            <div class="modal-body row">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <template id="pdf-upload-iframe">

                                </template>
                                <div class="upload-iframe">

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                Jika surat sudah sesuai klik Submite jika masih ada revisi klik Close
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" id="btn-save-surat">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
    <style>
        .vR {
            display: inline-block;
            padding: 0;
            line-height: 34px;
            margin-right: .333333em;
            vertical-align: baseline;
        }

        .vN {
            display: inline-flex;
            height: 34px;
            border: 1px solid #dadce0;
            border-radius: 10px;
            align-items: center;
            margin: 2px 0;
            box-sizing: border-box;
            padding-left: 8px;
            padding-right: 4px;
            white-space: nowrap;
            cursor: default;
        }

        .vT {
            display: inline-block;
            max-height: 34px;
            margin: 0;
            font-size: 12px;
            letter-spacing: .3px;
        }

        .vN > .vM {
            height: 16px;
            opacity: .54;
            width: 16px;
            background-image: url(https://www.gstatic.com/images/icons/material/system/1x/close_black_16dp.png);
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 4px;
        }

            .vN > .vM:hover {
                opacity: 1;
            }

        .vM {
            display: inline-block;
            vertical-align: top;
            background: no-repeat url(//ssl.gstatic.com/apps/gadgets/contactarea/contactarea_sprite_2.gif) -4px 0;
            cursor: pointer;
        }

        .vO {
            height: 34px !important;
            line-height: 34px;
            text-align: left;
            resize: none;
            box-shadow: none;
        }
    </style>
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>


    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript"></script>
    <script src="~/assets/scripts/dt-add-data-surat.js"></script>
    @* <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/dt-add-trans-co-edit-new.js")" type="text/javascript"></script>*@


}