﻿
@{
    ViewBag.Title = "abal";
    Layout = null;
    var wew = Model;
}

<h2>abal @wew.lol</h2>
<div>
    <img style=" margin-top:10px; margin-right:10px;" width="100px" height="100px" src="@Context.Request.Scheme://@Context.Request.Host/pdf/PrintQr?isi=123456" />
</div>

