﻿@using Remote.Entities;
@{
    ViewBag.Title = "CetakQr";
    Layout = null;
    IEnumerable <AUP_RENTALOBJECT_Remote> ListData = Model;
}


<html>
<head>
    <style>
        .pagebreak { page-break-before: always; } /* page-break-after works, as well */
    </style>
</head>
<body>
    @{int count = 0;}   
    @foreach (AUP_RENTALOBJECT_Remote temp in ListData)
    {
        <div  style="margin-left:50px">
            <img src="~/assets/global/img/pelindo.png" alt="logo" height="50px" class="logo-default" />
        </div>
        <div style="margin-bottom:20px;margin-left:50px">
            <table>
                <tr>
                    @*<td rowspan="3"><img style=" margin-top:10px; margin-right:10px;" width="200px" height="200px" src="@Request.Url.GetLeftPart(UriPartial.Authority)/pdf/PrintQr?isi=@Request.Url.GetLeftPart(UriPartial.Authority)/pdf/DetailRo?id=@temp.RO_CODE" /></td>*@
                    <td rowspan="3"><img style=" margin-top:10px; margin-right:50px;" width="350px" height="350px" src="@Context.Request.Scheme://@Context.Request.Host/pdf/PrintQr?isi=@temp.RO_CODE" /></td>
                    <td valign="bottom">
                        <table style="font-family:Arial;font-size:16px">
                            <tr>
                                <td>RO NUMBER</td>
                                <td> : @temp.RO_CODE</td>
                            </tr>
                            <tr>
                                <td>NAMA</td>
                                <td> : @temp.RO_NAME</td>
                            </tr>
                            <tr>
                                <td>ALAMAT</td>
                                <td> : @temp.RO_ADDRESS</td>
                            </tr>
                            <tr>
                                <td>Valid Form </td>
                                <td> : @temp.OCP_VALID_FROM</td>
                            </tr>
                            <tr>
                                <td>Valid To </td>
                                <td> : @temp.OCP_VALID_TO</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td> : @temp.ACTIVE_STATUS</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        count++;
        if (count % 3 == 0)
        {
            <div class="pagebreak"> </div>
        }
    }
</body>
</html>