﻿
@{
    ViewBag.Title = "DetailRo";
    Layout = "~/Views/Shared/LayoutExt.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">DETAIL RO NUMBER : @ViewBag.RO_CODE</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#General" data-toggle="tab"> General Data</a>
                        </li>
                        <li>
                            <a href="#Occupancy" data-toggle="tab"> Occupancy</a>
                        </li>
                        <li>
                            <a href="#Measurement" data-toggle="tab"> Measurement</a>
                        </li>
                        <li>
                            <a href="#Fixture" data-toggle="tab"> Fixture & Fixing</a>
                        </li>
                        <li class="hidden detail">
                            <a href="#Detail" data-toggle="tab"> Detail</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="General">
                        <div class="form-body">
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>RO NUMBER</label>
                                        <input type="hidden" id="RO_NUMBER" class="form-control" readonly value="@ViewBag.RO_NUMBER">
                                        <input type="text" id="RO_CODE" class="form-control" readonly value="@ViewBag.RO_CODE">
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>BE Number</label>
                                        <input type="text" id="BE_NAME" class="form-control" readonly value="@ViewBag.BE_NAME">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>RO Type</label>
                                        <input type="text" id="RO_TYPE" class="form-control" readonly value="@ViewBag.RO_TYPE">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Profit Center</label>
                                        <input type="text" id="PROFIT_CENTER" class="form-control" readonly value="@ViewBag.PROFIT_CENTER">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 ">
                                    <div class="form-group">
                                        <label>Name of RO</label>
                                        <input type="text" id="RO_NAME" class="form-control" readonly value="@ViewBag.RO_NAME">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Zone RIP</label>
                                        <input type="text" id="ZONE_RIP" class="form-control" readonly value="@ViewBag.ZONE_RIP">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Valid From</label>
                                        <input type="text" id="VALID_FROM" class="form-control" readonly value="@ViewBag.VALID_FROM">
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Valid To</label>
                                        <input type="text" id="VALID_TO" class="form-control" readonly value="@ViewBag.VALID_TO">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Certificate No</label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" id="RO_CERTIFICATE_NUMBER" class="form-control" readonly value="@ViewBag.RO_CERTIFICATE_NUMBER">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Usage Type</label>
                                        <input type="text" id="USAGE_TYPE" class="form-control" readonly value="@ViewBag.USAGE_TYPE">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Function</label>
                                        <input type="text" id="FUNCTION_ID" class="form-control" readonly value="@ViewBag.FUNCTION_ID">
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input type="text" id="LOCATION_ID" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <!--/span-->

                                    <!--/span-->
                                </div>*@

                            <!--Address-->
                            <h3 class="form-section">Address</h3>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" id="RO_ADDRESS" class="form-control" readonly value="@ViewBag.RO_ADDRESS">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--/span-->
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>Postalcode</label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" id="RO_POSTALCODE" class="form-control" readonly value="@ViewBag.RO_POSTALCODE">
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/span-->
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>City</label>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" id="RO_CITY" class="form-control" readonly value="@ViewBag.RO_CITY">
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Province</label>
                                        <input type="text" id="PROVINCE" class="form-control" readonly value="@ViewBag.PROVINCE">
                                    </div>
                                </div>
                            </div>
                            <h3 class="form-section">Memo</h3>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <textarea class="form-control" rows="4" id="MEMO" name="memo" readonly> @ViewBag.MEMO</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="tab-pane" id="Occupancy">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-occupancy">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Vacancy Reason </th>
                                    <th class="dt-head-center"> Contract No </th>
                                    <th class="dt-head-center"> Status </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="Measurement">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Measurement Type </th>
                                    <th class="dt-head-center"> Description </th>
                                    <th class="dt-head-center"> Amount </th>
                                    <th class="dt-head-center"> Unit </th>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Status </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="Fixture">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-fixture-fitting">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Code </th>
                                    <th class="dt-head-center"> Description </th>
                                    <th class="dt-head-center"> Power Capacity </th>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="tab-pane hidden detail" id="Detail">
                        <div class="form-body hidden" id="detail_contract">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CONTRACT NO</label>
                                        <input type="text" id="c_no" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CONTRACT NAME</label>
                                        <input type="text" id="c_name" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>START DATE</label>
                                        <input type="text" id="c_start_date" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>END DATE</label>
                                        <input type="text" id="c_end_date" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CUSTOMER</label>
                                        <input type="text" id="c_customer" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CODE AR CUSTOMER</label>
                                        <input type="text" id="c_customer_ar" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-body hidden" id="detail_contract_offer">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CONTRACT OFFER NO</label>
                                        <input type="text" id="co_no" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CONTRACT OFFER NAME</label>
                                        <input type="text" id="co_name" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>START DATE</label>
                                        <input type="text" id="co_start_date" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>END DATE</label>
                                        <input type="text" id="co_end_date" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CUSTOMER</label>
                                        <input type="text" id="co_customer" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>CODE AR CUSTOMER</label>
                                        <input type="text" id="co_customer_ar" class="form-control" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    |}
@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}
@section CustomScripts {
    <script src="~/assets/scripts/detailro.js" type="text/javascript"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/detailro.js")" type="text/javascript"></script>*@

}


