﻿@{
    Layout = null;
}
<html>
<body>
    <iframe src='/assets/pdfjs/web/viewer.html?file=http://localhost:46471/pdf/pdfsakti' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>
</body>
</html>