﻿@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <h1>PDF.js 'PDF Sakti' example</h1>
    <div>
        <object data='/pdf/pdfsakti'
                type="application/pdf"
                width="500"
                height="678">

            <iframe src='/pdf/pdfsakti'
                    width="500"
                    height="678">
                <p>This browser does not support PDF!</p>
            </iframe>

        </object>
    </div>
</body>
</html>