﻿@using Remote.Entities;
@using Remote.ViewModels;
@{
    ViewBag.Title = "PranotaElectricityList";
    Layout = null;
    PranotaPropertiViewModel item = Model;
}

<html>
<head>
    <title>Pranota Electricity</title>
    <style>
        html {
            font-size: 1.1em !important;
            color: #000 !important;
            font-family: Arial;
        }

        p.breakhere {
            page-break-before: always;
        }


        body {
            height: 530mm;
            width: 410mm;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
            position: relative;
            <!-- border: 2px solid black;
            padding: 10px;
            margin-top: 150px; -->
            <!-- margin: 2mm 2mm 2mm 2mm; -->
        }


        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        #tambah_padding td {
            padding-top: 10px;
            padding-left: 30px;
        }

        #header-image {
        }

        #header1 {
            <!-- border-bottom: 1px solid black; -->
            <!-- border-right: 1px solid black; -->
            height: 100px;
            width: 60%;
            margin-left: -10px;
            margin-top: -10px;
        }

        #header1-kanan {
            <!-- border-bottom: 1px solid black; -->
            font-size: 15px;
            height: 50px;
            width: 51.8%;
            float: right;
            margin-top: -100px;
            margin-right: -260px;
        }

        #header2 {
            <!-- border-bottom: 1px solid black; -->
            <!-- border-right: 1px solid black; -->
            height: 130px;
            width: 60%;
            margin-left: -10px;
            margin-top: -20px;
        }

        #header2-kanan {
            <!-- border-bottom: 1px solid black; -->
            height: 50px;
            width: 41.8%;
            float: right;
            margin-right: -10px;
            margin-top: -90px;
        }

        p.dashed {
            border-style: dashed;
            border-color: RoyalBlue;
        }

        p.solid {
            border-style: solid;
            border-color: RoyalBlue;
        }

        #header3-kanan {
            border-bottom: 1px solid RoyalBlue;
            height: 30px;
            width: 41.8%;
            float: right;
            margin-right: -10px;
            margin-top: -31px;
        }

        #header-bawah1 {
            <!-- border-top: 1px solid black;
            border-bottom: 1px solid black; -->
            height: 190px;
            width: 101.9%;
            margin-left: -10px;
            margin-top: -10px;
        }

        #header-bawah1-font {
            <!-- border-top: 1px solid black;
            border-bottom: 1px solid black; -->
            font-size: 13px;
        }

        #header-bawah2 {
            font-size: 18px;
            height: 36px;
            width: 100%;
            margin-top: 70px;
            margin-left: 50px;
        }

        #main {
            font-size: 16px;
            <!-- border-bottom: 1px solid RoyalBlue; -->
            border-left: 0px solid RoyalBlue;
            border-right: 0px solid RoyalBlue;
            height: 920px;
            width: 100.4%;
            margin-left: 5px;
        }

        #main-bawah {
            <!-- border-bottom: 1px solid RoyalBlue; -->
            height: 920px;
            width: 100.4%;
            margin-left: 5px;
        }

        #main-kiri1 {
            font-size: 15px !important;
            height: 300px;
            width: 90%;
            margin-left: 45px;
            margin-top: 30px;
        }

        #main-kiri1-bawah {
            font-size: 15px;
            height: 300px;
            width: 60%;
            margin-left: 45px;
            margin-top: 30px;
        }

        #main-kiri2 {
            border-bottom: 2px solid RoyalBlue;
            height: 200px;
            width: 60%;
            margin-left: 10px;
            margin-top: 10px;
        }

        #main-kanan {
            font-size: 13px;
            float: right;
            height: 500px;
            width: 37%;
            margin-left: 10px;
            margin-top: -500.8px;
        }

        #ttd {
            border-bottom: 1px solid RoyalBlue;
            height: 240px;
            width: 101.9%;
            margin-left: -10px;
        }

        #footer {
            height: 300px;
            width: 101.9%;
            margin-left: -10px;
        }

        table.jasaBorder, td.jasaBorder {
            border: 1px solid black;
            padding : 10px;
        }

        table.jasaBorder {
            border-collapse: collapse;
        }

        #lunas {
            border: 1px solid RoyalBlue;
            height: 150px;
            width: 360px;
            margin-left: 32px;
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="header1">
            @*@if (item.BRANCH_ID == "2" || item.BRANCH_ID == "9")*@
            @if (item.BRANCH_ID == "86")
            {
                <div style="padding-top:20px; padding-left:60px;"><img src="~/assets/global/img/legi.jpeg" width="300px" height="100px"></div>
                <div style="padding-left: 380px; margin-top:-105px;" align="left">
                    <p>
                        <b>
                            <font style="font-size:20px;">
                                PT LAMONG ENERGI INDONESIA
                            </font>
                        </b><br>
                        JL. RAYA TAMBAK OSOWILANGUN KM.12
                        <br> RT.001 RW.003 KEL. TAMBAK OSOWILANGUN KEC.BENOWO
                        <br> SURABAYA, JAWA TIMUR
                    </p>
                </div>
            }
            else
            {@if (item.LIVE_1PELINDO == 0)
                {
                    @Html.Raw(@"
                    <div style='padding-top:20px; padding-left:60px;'><img src='/assets/global/img/pelindo3.png' width='300px' height='100px'></div>
                    <div style='padding-left:380px ; margin-top:-105px;' align='left'>
                      <p>
                        <b>
                            <font style='font-size:20px;'>
                                PT. PELABUHAN INDONESIA III (PERSERO)
                                <br>" + @item.NamaCabang +
                            @"</font>
                        </b><br>" +
                        @item.AlamatCabang + " " + @item.Kota +
                    @"</p>
                </div>
                </div>");
                }
                else
                {
                    @Html.Raw(@"
                    <div style='padding-top:20px; padding-left:60px;'><img src='/assets/global/img/pelindo.png' width='300px' height='100px'></div>
                    <div style='padding-left: 380px; margin-top:-105px;' align='left'>
                      <p>
                        <b>
                            <font style='font-size:20px;'>
                                PT. PELABUHAN INDONESIA (PERSERO)
                                <br>" + @item.NamaCabang +
                            @"</font>
                        </b><br>" +
                        @item.AlamatCabang + " " + @item.Kota +
                    @"</p>
                </div>
                </div>");
                }
            @*<div style="padding-top:20px; padding-left:60px;"><img src="~/assets/global/img/pelindo.png" width="300px" height="100px"></div>
        <div style="padding-left: 380px; margin-top:-105px;" align="left">
            <p>
                <b>
                    <font style="font-size:20px;">
                        PT PELABUHAN INDONESIA III (PERSERO)
                        <br> @item.NamaCabang
                    </font>
                </b><br>
                @item.AlamatCabang @item.Kota
            </p>
        </div>*@
        }

        </div>
    </div>
    <div id="header-bawah1" style="border-bottom-color:white;border-top-color:white;">
        <div align="center" style="width:520px; padding-left:548px; margin-top:60px;">
            <font style="font-size:19px;"><b>PERHITUNGAN PEMAKAIAN LISTRIK</b><br></font>
            <center><font style="font-size:19px;"><b>Nomor Pranota : @item.BILLING_NO</b><br></font></center>
        </div>

    </div>

    <table style="font-size:17px; margin-left:70px;margin-top:40px;" width="50%">
        <tr style="height:30px;">
            <td>ATAS BEBAN</td>
            <td>:</td>
            <td><b>@item.ATAS_BEBAN</b></td>
        </tr>
        <tr style="height:30px;">
            <td>ALAMAT INSTALASI</td>
            <td>:</td>
            <td><b>@item.ALAMAT</b></td>

            <tr style="height:30px;">
            <td>PROFIT CENTER</td>
            <td>:</td>
            @if (item.BRANCH_ID != "2")
            { 
                <td>@item.PROFIT_CENTER</td>
            }
            else
            {
               <td>PT LEGI</td>
            }
            
        
         <tr style="height:30px;">
            <td>NOMOR KONTRAK</td>
            <td>:</td>
            <td>@item.INSTALLATION_CODE</td>

    @if (item.BRANCH_ID == "2")
    {
        <tr style="height:30px;">
            <td>PERIODE PEMBAYARAN</td>
            <td>:</td>
            <td>@item.PERIOD</td>
            </tr>
    }else
        {
    <tr style="height:30px;">
        <td>PERIODE</td>
        <td>:</td>
        <td>@item.PERIOD</td>
    </tr>
        }

        <tr style="height:30px;">
            <td>DAYA TERPASANG/ <i>POWER CAPACITY (VA)</i></td>
            <td>:</td>
            <td>@item.DAYA</td>

        <tr style="height:30px;">
            <td>FAKTOR KALI/ <i>MULTIPLY FACTOR</i></td>
            <td>:</td>
            <td>@item.FAKTOR_KALI</td>

        <tr style="height:30px;">
            <td>BIAYA BEBAN/ <i>EXPENSE COST</i></td>
            <td>:</td>
            <td>@item.BEBAN</td>

        <tr style="height:30px;">
            <td>PPJ%</td>
            <td>:</td>
            <td>@item.PERCEN_PPJU</td>

        <tr style="height:30px;">
            <td>REDUKSI/ <i>DISCOUNT (%)</i></td>
            <td>:</td>
            <td>@item.PERCEN_REDUKSI</td>

        </tr>

    </table>
    <div id="header-bawah2">
        <table class="jasaBorder" style="border-collapse: collapse;margin-top:15px;" width="1450px">
            <tr>
                <td class="jasaBorder" height="50px" width="50px" align="center"><b>No.</b></td>
                <td class="jasaBorder" height="50px" align="center"><b>JENIS METER</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>METER AWAL/ <br /> <i>BEGINING METER</i></b></td>
                <td class="jasaBorder" width="200px" align="center"><b>METER AKHIR/ <br /> <i>END METER</i></b></td>
                <td class="jasaBorder" width="200px" align="center"><b>PEMAKAIAN/ (KWH)<br /> USAGE</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>TARIF/ KWH <br /> <i>UNIT PRICE</i></b></td>
                <td class="jasaBorder" width="200px" align="center"><b>TOTAL </b></td>
            </tr>

            @{int counter = 0;}
            @foreach (PRANOTA_ELECTRICITY jasa in item.DetailElectricity)
            {
                counter++;
                <tr>
                    <td class="jasaBorder" align="center" height="50px">@counter</td>
                    <td class="jasaBorder" align="center">@jasa.PRICE_TYPE</td>
                    <td class="jasaBorder" align="center">@jasa.METER_FROM</td>
                    <td class="jasaBorder" align="center">@jasa.METER_TO</td>
                    <td class="jasaBorder" align="center">@jasa.QUANTITY.ToString("N2", System.Globalization.CultureInfo.CurrentCulture)</td>
                    <td class="jasaBorder" align="right"> @item.Valuta @jasa.TARIFF.ToString("N2", System.Globalization.CultureInfo.CurrentCulture) </td>
                    <td class="jasaBorder" align="right">  </td>
                    @*<td class="jasaBorder" align="center">@jasa.MEMO </td>*@

                </tr>
            }
            <tr>
                <td colspan="6" class="jasaBorder" align="right"><b>GRAND TOTAL (exclude PPN & stamp duty)</b></td>
                <td class="jasaBorder" align="right">@item.TotalTagihan</td>
            </tr>

        </table><br>

        Terbilang : @item.Terbilang
        <br /> <br /> <br /> <br />

        @if (item.BRANCH_ID == "86" && item.PROFIT_CENTER == "10301-LEGI Tg Perak")
        {
            <span>Note* : </span><br />
            <span>Tarif/kwh (unit price) merupakan penjumlahan dari tarif PLN + kompensasi operasional 22.5% dari tarif PLN sesuai peraturan General Manager PT Pelabuhan Indonesia III (Persero) Cabang Tanjung Perak nomor : PER.10/05.0102/TPR-2015 </span>
        }
        @if (item.BRANCH_ID == "86" && item.PROFIT_CENTER == "10201-LEGI Tg Emas")
        {
            <span>Note* : </span><br />
            <span>Noted : tarif per kwh sesuai dengan Surat Direksi Pelabuhan Indonesia III Cabang Tg Emas Nomor : PU.03/08/P.III-2013 </span>
        }


        <br /> <br /> <br />
        <table style="margin-left:1250px;">
            <tr>
                <td align="center">@item.Kota, @item.TglPosting</td>
            </tr>


        </table>


    </div>
</body>
</html>

