﻿@using Remote.Entities;
@using Remote.ViewModels;
@{
    ViewBag.Title = "PranotaPrint";
    Layout = null;
    PranotaPropertiViewModel item = Model;
}

<html>
<head>
    <title>Pranota Electricity</title>
    <style>
        html {
            font-size: 1.1em !important;
            color: #000 !important;
            font-family: Arial;
        }

        p.breakhere {
            page-break-before: always;
        }


        body {
            height: 530mm;
            width: 410mm;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
            position: relative;
            <!-- border: 2px solid black;
            padding: 10px;
            margin-top: 150px; -->
            <!-- margin: 2mm 2mm 2mm 2mm; -->
        }


        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        #tambah_padding td {
            padding-top: 10px;
            padding-left: 30px;
        }

        #header-image {
        }

        #header1 {
            <!-- border-bottom: 1px solid black; -->
            <!-- border-right: 1px solid black; -->
            height: 100px;
            width: 60%;
            margin-left: -10px;
            margin-top: -10px;
        }

        #header1-kanan {
            <!-- border-bottom: 1px solid black; -->
            font-size: 15px;
            height: 50px;
            width: 51.8%;
            float: right;
            margin-top: -100px;
            margin-right: -260px;
        }

        #header2 {
            <!-- border-bottom: 1px solid black; -->
            <!-- border-right: 1px solid black; -->
            height: 130px;
            width: 60%;
            margin-left: -10px;
            margin-top: -20px;
        }

        #header2-kanan {
            <!-- border-bottom: 1px solid black; -->
            height: 50px;
            width: 41.8%;
            float: right;
            margin-right: -10px;
            margin-top: -90px;
        }

        p.dashed {
            border-style: dashed;
            border-color: RoyalBlue;
        }

        p.solid {
            border-style: solid;
            border-color: RoyalBlue;
        }

        #header3-kanan {
            border-bottom: 1px solid RoyalBlue;
            height: 30px;
            width: 41.8%;
            float: right;
            margin-right: -10px;
            margin-top: -31px;
        }

        #header-bawah1 {
            <!-- border-top: 1px solid black;
            border-bottom: 1px solid black; -->
            height: 190px;
            width: 101.9%;
            margin-left: -10px;
            margin-top: -10px;
        }

        #header-bawah1-font {
            <!-- border-top: 1px solid black;
            border-bottom: 1px solid black; -->
            font-size: 13px;
        }

        #header-bawah2 {
            font-size: 18px;
            height: 36px;
            width: 100%;
            margin-top: 70px;
            margin-left: 50px;
        }

        #main {
            font-size: 16px;
            <!-- border-bottom: 1px solid RoyalBlue; -->
            border-left: 0px solid RoyalBlue;
            border-right: 0px solid RoyalBlue;
            height: 920px;
            width: 100.4%;
            margin-left: 5px;
        }

        #main-bawah {
            <!-- border-bottom: 1px solid RoyalBlue; -->
            height: 920px;
            width: 100.4%;
            margin-left: 5px;
        }

        #main-kiri1 {
            font-size: 15px !important;
            height: 300px;
            width: 90%;
            margin-left: 45px;
            margin-top: 30px;
        }

        #main-kiri1-bawah {
            font-size: 15px;
            height: 300px;
            width: 60%;
            margin-left: 45px;
            margin-top: 30px;
        }

        #main-kiri2 {
            border-bottom: 2px solid RoyalBlue;
            height: 200px;
            width: 60%;
            margin-left: 10px;
            margin-top: 10px;
        }

        #main-kanan {
            font-size: 13px;
            float: right;
            height: 500px;
            width: 37%;
            margin-left: 10px;
            margin-top: -500.8px;
        }

        #ttd {
            border-bottom: 1px solid RoyalBlue;
            height: 240px;
            width: 101.9%;
            margin-left: -10px;
        }

        #footer {
            height: 300px;
            width: 101.9%;
            margin-left: -10px;
        }

        table.jasaBorder, td.jasaBorder {
            border: 1px solid black;
            padding : 10px;
        }

        table.jasaBorder {
            border-collapse: collapse;
        }

        #lunas {
            border: 1px solid RoyalBlue;
            height: 150px;
            width: 360px;
            margin-left: 32px;
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="header1">
            
        <div style="padding-left: 380px; margin-top:-105px;" align="left">
            <p>
                <b>
                    <font style="font-size:20px;">
                        PT PELABUHAN INDONESIA III (PERSERO)
                        
                    </font>
                </b><br>
                

        </div>
    </div>
    <div id="header-bawah1" style="border-bottom-color:white;border-top-color:white;">
        <div align="center" style="width:520px; padding-left:548px; margin-top:60px;">
            <font style="font-size:19px;"><b>PERHITUNGAN PEMAKAIAN LISTRIK</b><br></font>
            
        </div>

    </div>

    <table style="font-size:17px; margin-left:70px;margin-top:40px;" width="50%">

    </table>


    </div>
</body>
</html>

