﻿@using Remote.Entities;
@using Remote.ViewModels;
@{
    ViewBag.Title = "PranotaPostBilling";
    Layout = null;
    PranotaPropertiViewModel item = Model;
}

<html>
<head>
    <title>Pranota</title>
    <style>
        html {
            font-size: 1.1em !important;
            color: #000 !important;
            font-family: Arial;
        }

        p.breakhere {
            page-break-before: always;
        }


        body {
            height: 530mm;
            width: 410mm;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
            position: relative;
            <!-- border: 2px solid black;
            padding: 10px;
            margin-top: 150px; -->
            <!-- margin: 2mm 2mm 2mm 2mm; -->
        }


        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        #tambah_padding td {
            padding-top: 10px;
            padding-left: 30px;
        }

        #header-image {
        }

        #header1 {
            <!-- border-bottom: 1px solid black; -->
            <!-- border-right: 1px solid black; -->
            height: 100px;
            width: 60%;
            margin-left: -10px;
            margin-top: -10px;
        }

        #header1-kanan {
            <!-- border-bottom: 1px solid black; -->
            font-size: 15px;
            height: 50px;
            width: 51.8%;
            float: right;
            margin-top: -100px;
            margin-right: -260px;
        }

        #header2 {
            <!-- border-bottom: 1px solid black; -->
            <!-- border-right: 1px solid black; -->
            height: 130px;
            width: 60%;
            margin-left: -10px;
            margin-top: -20px;
        }

        #header2-kanan {
            <!-- border-bottom: 1px solid black; -->
            height: 50px;
            width: 41.8%;
            float: right;
            margin-right: -10px;
            margin-top: -90px;
        }

        p.dashed {
            border-style: dashed;
            border-color: RoyalBlue;
        }

        p.solid {
            border-style: solid;
            border-color: RoyalBlue;
        }

        #header3-kanan {
            border-bottom: 1px solid RoyalBlue;
            height: 30px;
            width: 41.8%;
            float: right;
            margin-right: -10px;
            margin-top: -31px;
        }

        #header-bawah1 {
            <!-- border-top: 1px solid black;
            border-bottom: 1px solid black; -->
            height: 190px;
            width: 101.9%;
            margin-left: -10px;
            margin-top: -10px;
        }

        #header-bawah1-font {
            <!-- border-top: 1px solid black;
            border-bottom: 1px solid black; -->
            font-size: 13px;
        }

        #header-bawah2 {
            font-size: 18px;
            height: 36px;
            width: 100%;
            margin-top: 70px;
            margin-left: 50px;
        }

        #main {
            font-size: 16px;
            <!-- border-bottom: 1px solid RoyalBlue; -->
            border-left: 0px solid RoyalBlue;
            border-right: 0px solid RoyalBlue;
            height: 920px;
            width: 100.4%;
            margin-left: 5px;
        }

        #main-bawah {
            <!-- border-bottom: 1px solid RoyalBlue; -->
            height: 920px;
            width: 100.4%;
            margin-left: 5px;
        }

        #main-kiri1 {
            font-size: 15px !important;
            height: 300px;
            width: 90%;
            margin-left: 45px;
            margin-top: 30px;
        }

        #main-kiri1-bawah {
            font-size: 15px;
            height: 300px;
            width: 60%;
            margin-left: 45px;
            margin-top: 30px;
        }

        #main-kiri2 {
            border-bottom: 2px solid RoyalBlue;
            height: 200px;
            width: 60%;
            margin-left: 10px;
            margin-top: 10px;
        }

        #main-kanan {
            font-size: 13px;
            float: right;
            height: 500px;
            width: 37%;
            margin-left: 10px;
            margin-top: -500.8px;
        }

        #ttd {
            border-bottom: 1px solid RoyalBlue;
            height: 240px;
            width: 101.9%;
            margin-left: -10px;
        }

        #footer {
            height: 300px;
            width: 101.9%;
            margin-left: -10px;
        }

        table.jasaBorder, td.jasaBorder {
            border: 1px solid black;
            padding : 10px;
        }

        table.jasaBorder {
            border-collapse: collapse;
        }

        #lunas {
            border: 1px solid RoyalBlue;
            height: 150px;
            width: 360px;
            margin-left: 32px;
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        @if (item.LIVE_1PELINDO == 0)
        {
            @Html.Raw(@"<div id='header1'>
            <div style='padding-top:20px; padding-left:60px;'><img src='/assets/global/img/pelindo3.png' width='300px' height='100px'></div>
            <div style='padding-left: 400px; margin-top:-105px;' align='left'>
              <p>
                <b>
                    <font style='font-size:20px;'>
                        PT. PELABUHAN INDONESIA III (PERSERO)
                        <br>" + @item.NamaCabang +
                    @"</font></b><br>" +
                @item.AlamatCabang + " " + @item.Kota +
            @"</p>
        </div>
        </div>");
        }
        else
        {
            @Html.Raw(@"<div id='header1'>
            <div style='padding-top:20px; padding-left:60px;'><img src='/assets/global/img/pelindo.png' width='300px' height='100px'></div>
            <div style='padding-left: 400px; margin-top:-105px;' align='left'>
              <p>
                <b>
                    <font style='font-size:20px;'>
                        PT. PELABUHAN INDONESIA (PERSERO)
                        <br>" + @item.NamaCabang +
                    @"</font></b><br>" +
                @item.AlamatCabang + " " + @item.Kota +
            @"</p>
        </div>
        </div>");
        } 
    </div>
    <div id="header-bawah1" style="border-bottom-color:white;border-top-color:white;">
        <div align="center" style="width:520px; padding-left:548px; margin-top:60px;">
            <font style="font-size:19px;"><b>PERHITUNGAN PENGUSAHAAN PROPERTI</b><br></font>
        </div>

    </div>

    <table style="font-size:17px; margin-left:70px;margin-top:40px;" width="50%">
        <tr style="height:30px;">
            <td>ATAS BEBAN</td>
            <td>:</td>
            <td><b>@item.ATAS_BEBAN</b></td>
        </tr>
        <tr style="height:30px;">
            <td>ALAMAT</td>
            <td>:</td>
            <td><b>@item.ALAMAT</b></td>

        <tr style="height:30px;">
            <td>PROFIT CENTER</td>
            <td>:</td>
            <td>@item.PROFIT_CENTER</td>

        </tr>

    </table>
    <div id="header-bawah2">
        <table class="jasaBorder" style="border-collapse: collapse;margin-top:15px;" width="1450px">
            <tr>
                <td class="jasaBorder" height="50px" width="50px" align="center"><b>NO.</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>PERHITUNGAN</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>JANGKA WAKTU</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>TARIF DASAR <br /> (Rp)</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>DASAR HARGA<br /> <i>AMT REF</i></b></td>
                <td class="jasaBorder" width="200px" align="center"><b>LUAS (M2)</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>NJOP (%)</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>KONDISI TEKNIS</b></td>
                <td class="jasaBorder" width="200px" align="center"><b>SUBTOTAL</b></td>
            </tr>
            @{int counter = 0;}
            @foreach (PRANOTA_PROPERTI_DETAIL jasa in item.Detail)
            {
                counter++;
                <tr>
                    <td class="jasaBorder" align="center">@counter</td>
                    <td class="jasaBorder" align="center" height="50px">@jasa.CONDITION_TYPE</td>
                    <td class="jasaBorder" align="center">@jasa.JANGKA_WAKTU</td>
                    <td class="jasaBorder" align="right">@jasa.UNIT_PRICE.ToString("N2", System.Globalization.CultureInfo.CurrentCulture)</td>
                    <td class="jasaBorder" align="center">@jasa.AMT_REF</td>
                    <td class="jasaBorder" align="center">@jasa.LUAS</td>
                    <td class="jasaBorder" align="center">@jasa.NJOP_PERCENT</td>
                    <td class="jasaBorder" align="center">@jasa.KONDISI_TEKNIS_PERCENT </td>
                    <td class="jasaBorder" align="right">@jasa.TOTAL_NET_VALUE.ToString("N2", System.Globalization.CultureInfo.CurrentCulture) </td>
                    @*<td class="jasaBorder" align="center">@jasa.MEMO </td>*@

                </tr>
                if (counter % 15 == 0)
                {
                    if (item.LIVE_1PELINDO == 0)
                    {
                        @Html.Raw(@"</table>
                                       </div></div>
                                       <p class='breakhere'></p>
                           <div id='wrapper'>
           <div id='header1'>
               <div style='padding-top:20px; padding-left:20px;'><img src='/assets/global/img/pelindo3.png' width='150px' height='100px'></div>
               <div style='padding-left: 190px; margin-top:-105px;' align='left'>
                   <p>
                       <b>
                           <font style='font-size:20px;'>
                               PT. PELABUHAN INDONESIA III (PERSERO)
                               <br> CABANG " + @item.NamaCabang +
                           @"</font></b><br>" +
                       @item.AlamatCabang + " " + @item.Kota +
                   @"</p>
               </div>
           </div>
           <div id='header1-kanan'>
               <table style='border-spacing:-20px; margin-left:250px;margin-top:-10px;'>
                   <tr>
                       <td style='padding-left:0px; padding-top:0px;' align='right'>
                           <font style='font-size:17px;'><b>Anjungan - " + @DateTime.Now.ToString() + @"<br><p align='left' style='margin-top:0px;'></p></b></font>
                       </td>
                   <tr>
               </table>
           </div>
           <div id='header-bawah1' style='border-bottom-color:white;border-top-color:white;'>
               <div align='center' style='width:520px; padding-left:548px; margin-top:60px;'>
                   <font style='font-size:19px;'><b>PERHITUNGAN SEWA PROPERTI</b><br></font>
                   <font style='font-size:17px;'><b>NOMOR PRANOTA : " + @item.BILLING_NO + @"</b></font>
               </div>
           </div>
           <table style='font-size:17px; margin-left:70px;margin-top:40px;' width='50%'>
               <tr style='height:30px;'>
                   <td>ATAS BEBAN</td>
                   <td>:</td>
                   <td><b>" + @item.ATAS_BEBAN + @"</b></td>
               </tr>
               <tr style='height:30px;'>
                   <td>ALAMAT</td>
                   <td>:</td>
                   <td><b>" + @item.ALAMAT + @"</b></td>
               <tr style='height:30px;'>
                   <td>PROFIT CENTER</td>
                   <td>:</td>
                   <td>" + @item.PROFIT_CENTER + @"</td>
               </tr>
           </table>
           <div id='header-bawah2'>
               <table class='jasaBorder' style='border-collapse: collapse;margin-top:15px;' width='1450px'>
                   <tr>
                       <td class='jasaBorder' height='50px' width='50px' align='center'><b>NO.</b></td>
                       <td class='jasaBorder' width='200px' align='center'><B>PERHITUNGAN</B></td>
                       <td class='jasaBorder' width='200px' align='center'><b>JANGKA WAKTU</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>TARIF DASAR <br /> (Rp)</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>DASAR HARGA<br /> <i>AMT REF</i></b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>LUAS (M2)</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>NJOP (%)</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>KONDISI TEKNIS</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>SUBTOTAL</b></td>
                   </tr> ");
                    }
                    else
                    {
                        @Html.Raw(@"</table>
                                       </div></div>
                                       <p class='breakhere'></p>
                           <div id='wrapper'>
           <div id='header1'>
               <div style='padding-top:20px; padding-left:20px;'><img src='/assets/global/img/pelindo.png' width='300px' height='100px'></div>
               <div style='padding-left: 400px; margin-top:-105px;' align='left'>
                   <p>
                       <b>
                           <font style='font-size:20px;'>
                               PT. PELABUHAN INDONESIA (PERSERO)
                               <br> CABANG " + @item.NamaCabang +
                           @"</font></b><br>" +
                       @item.AlamatCabang + " " + @item.Kota +
                   @"</p>
               </div>
           </div>
           <div id='header1-kanan'>
               <table style='border-spacing:-20px; margin-left:250px;margin-top:-10px;'>
                   <tr>
                       <td style='padding-left:0px; padding-top:0px;' align='right'>
                           <font style='font-size:17px;'><b>Anjungan - " + @DateTime.Now.ToString() + @"<br><p align='left' style='margin-top:0px;'></p></b></font>
                       </td>
                   <tr>
               </table>
           </div>
           <div id='header-bawah1' style='border-bottom-color:white;border-top-color:white;'>
               <div align='center' style='width:520px; padding-left:548px; margin-top:60px;'>
                   <font style='font-size:19px;'><b>PERHITUNGAN SEWA PROPERTI</b><br></font>
                   <font style='font-size:17px;'><b>NOMOR PRANOTA : " + @item.BILLING_NO + @"</b></font>
               </div>
           </div>
           <table style='font-size:17px; margin-left:70px;margin-top:40px;' width='50%'>
               <tr style='height:30px;'>
                   <td>ATAS BEBAN</td>
                   <td>:</td>
                   <td><b>" + @item.ATAS_BEBAN + @"</b></td>
               </tr>
               <tr style='height:30px;'>
                   <td>ALAMAT</td>
                   <td>:</td>
                   <td><b>" + @item.ALAMAT + @"</b></td>
               <tr style='height:30px;'>
                   <td>PROFIT CENTER</td>
                   <td>:</td>
                   <td>" + @item.PROFIT_CENTER + @"</td>
               </tr>
           </table>
           <div id='header-bawah2'>
               <table class='jasaBorder' style='border-collapse: collapse;margin-top:15px;' width='1450px'>
                   <tr>
                       <td class='jasaBorder' height='50px' width='50px' align='center'><b>NO.</b></td>
                       <td class='jasaBorder' width='200px' align='center'><B>PERHITUNGAN</B></td>
                       <td class='jasaBorder' width='200px' align='center'><b>JANGKA WAKTU</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>TARIF DASAR <br /> (Rp)</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>DASAR HARGA<br /> <i>AMT REF</i></b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>LUAS (M2)</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>NJOP (%)</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>KONDISI TEKNIS</b></td>
                       <td class='jasaBorder' width='200px' align='center'><b>SUBTOTAL</b></td>
                   </tr> ");
                    }

                }
            }

            @*<tr>
            <td height="50px" colspan="8" align="right" style="padding-right:10px;border:1px solid;"><b><i>GRAND TOTAL (exclude PPN & stamp duty)</i></b></td>
            <td align="center" style="border:1px solid;"><b>@item.TotalTagihan</b></td>
        </tr>
        <tr>
            <td height="50px" colspan="8" align="right" style="padding-right:10px;border:1px solid;">Warmerking</td>
            <td style="border:1px solid;"></td>
        </tr>
        <tr>
            <td height="50px" colspan="8" align="right" style="padding-right:10px;border:1px solid;">Biaya Administrasi</td>
            <td style="border:1px solid;"></td>
        </tr>*@
        </table><br>
        <div style="width:100%">
            <table class="jasaBorder" style="border-collapse: collapse;margin-top:15px; float:left" width="50%">
                <tr>
                    <th class="jasaBorder" height="50px" style="border-right:1px solid black">PERHITUNGAN</th>
                    <th class="jasaBorder">KETERANGAN</th>
                </tr>
                @foreach (PRANOTA_PROPERTY_MEMO_DUA memo in item.DetailMemodua)
                {
                    <tr>
                        <td class="jasaBorder" height="50px" align="left">@memo.CONDITION_TYPE</td>
                        <td class="jasaBorder" align="left">@memo.MEMO</td>
                    </tr>
                }

            </table>

        </div>
        @*TERBILANG : @item.Terbilang*@
            <table style="margin-left:1250px;margin-top:300px;">
                <tr>
                    <td align="center">@item.Kota, @item.TglPosting</td>
                </tr>
                <tr>
                    <td align="center">@item.Jabatan</td>
                </tr>
                <tr>
                    @*<td align="center">@item.Jabatan</td>*@
                </tr>
                <br />
                <tr>
                    <td height="100px" align="center">TTD</td>
                </tr>
                <tr>
                    <td align="center"><u>@item.NamaManager</u></td>
                </tr>
                <tr>
                    @*<td align="center">@item.NRK</td>*@
                </tr>

            </table>

    </div>
</body>
</html>

