﻿@model Remote.ViewModels.Configuration
@{
    ViewBag.Title = "Configuration";
    ViewBag.Breadcrumb = "Master";
    ViewBag.SubBreadcrumb = "Add Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_config" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Add Configuration</h3>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Code</label>
                            @Html.DropDownListFor(m => m.FDDConfig, new SelectList(Model.DDConfig, "REF_CODE", "REF_CODE"), "-- Choose Code --", new { @class = "form-control", @id = "ref_code_c" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>ID Description</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="ref_data" name="ref_data" type="text" placeholder="Z001, 01, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Last ID</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="ref_data_id" name="ref_data_id" type="text" placeholder="" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Description</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="ref_desc_c" name="ref_desc_c" type="text" placeholder="Pendapatan Kerjasama Alat, Bulan (Months), etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>ATTRIB1</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="attrib1" name="attrib1" type="text" placeholder="GL_ACCOUNT, PRODUKSI, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>VAL1</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="val1" name="val1" type="text" placeholder="4090401000" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>ATTRIB2</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="attrib2" name="attrib2" type="text" placeholder="DESCRIPTION, VAT etc" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>VAL2</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="val2" name="val2" type="text" placeholder="Pendapatan Pengusahaan Air Umum, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>ATTRIB3</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="attrib3" name="attrib3" type="text" placeholder="TAX_CODE, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>VAL3</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="val3" name="val3" type="text" placeholder="1, 0, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>ATTRIB4</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="attrib4" name="attrib4" type="text" placeholder="PPH_CODE, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>VAL4</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="val4" name="val4" type="text" placeholder="1, 0, etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
}


@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-config.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-config.js")" type="text/javascript"></script>*@

}