﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Monitoring Transaksi Air dan Listrik";
    ViewBag.Breadcrumb = "Monitoring WE";
    ViewBag.SubBreadcrumb = "Monitoring Transaksi Air dan Listrik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring Transaksi Air dan Listrik 2</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Business Entity</label>
                                @*@if (ViewBag.kodeCabang != "0")
                                    {
                                        <input type="text" class="form-control" value="@ViewBag.namaCabang" readonly disabled />
                                        <input type="hidden" value="@ViewBag.kodeCabang" id="BE_NAME" />
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                                    }*@
                                @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Period</label>
                                <select class="bs-select form-control" id="PERIOD">
                                    <option value="">-- Choose Month --</option>
                                    <option value="01">Januari</option>
                                    <option value="02">Februari</option>
                                    <option value="03">Maret</option>
                                    <option value="04">April</option>
                                    <option value="05">Mei</option>
                                    <option value="06">Juni</option>
                                    <option value="07">Juli</option>
                                    <option value="08">Agustus</option>
                                    <option value="09">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Desember</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Years</label>
                                <select class="bs-select form-control" id="PERIOD2" name="PERIOD2">
                                    <option value="">-- Choose Year --</option>
                                    <option value="@ViewBag.BULAN_KEMARIN">@ViewBag.BULAN_KEMARIN</option>
                                    <option value="@ViewBag.BULAN_KEMARIN1">@ViewBag.BULAN_KEMARIN1</option>
                                    <option value="@ViewBag.BULAN_KEMARIN2">@ViewBag.BULAN_KEMARIN2</option>
                                    <option value="@ViewBag.BULAN_KEMARIN3">@ViewBag.BULAN_KEMARIN3</option>
                                    <option value="@ViewBag.BULAN_KEMARIN4">@ViewBag.BULAN_KEMARIN4</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type of Transaction</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="TYPE_TRANSACTION" name="TYPE_TRANSACTION">
                                    <option value="">-- Choose Type of Transaction --</option>
                                    <option value="AIR">AIR</option>
                                    <option value="LISTRIK">LISTRIK</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>STATUS TRANSACTION</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="STATUS_NOW" name="STATUS_NOW">
                                    <option value="">-- Choose Status Transaction --</option>
                                    <option value="Not Entried">Not Entried</option>
                                    <option value="Entried">Entried</option>
                                    <option value="Posted">Posted</option>
                                    <option value="Cancel">Cancel</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>

                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Generate Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report">
                    <thead>
                        <tr>
                            <!--<th class="dt-head-center">  &nbsp; &nbsp; NO &nbsp; &nbsp; </th>-->
                            <th class="dt-head-center">  CABANG </th>
                            <th class="dt-head-center">  &nbsp; &nbsp; NO INSTALLATION &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> INSTALLATION TYPE </th>
                            <th class="dt-head-center"> PERIODE </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; <span></span>PROFIT CENTER &nbsp; &nbsp; &nbsp;  </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; CUSTOMER NAME &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; POWER CAPACITY &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> INSTALLATION ADDRESS </th>
                            <th class="dt-head-center"> POSTING DATE </th>
                            <th class="dt-head-center"> POSTING STATUS </th>


                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

}
@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
}
@section CustomScripts {
    <script src="~/assets/scripts/monitoring-we2.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/monitoring-we.js")" type="text/javascript"></script>*@

}

