﻿@model Remote.ViewModels.RentalObject
@{
    ViewBag.Title = "Master of Rental Object";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Add Rental Object";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_ro" class="horizontal-form">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li class="tab-pane active">
                        <a data-toggle="tab" class="step">
                            <span class="number"> 1 </span>
                            <span class="desc">
                                <i class="fa fa-check"></i> Rental Object (Parent Data)
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" class="step">
                            <span class="number"> 2 </span>
                            <span class="desc">
                                Measurement, Fixture & Fitting (Detail)
                            </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" class="step">
                            <span class="number"> 3 </span>
                            <span class="desc">
                                Done
                            </span>
                        </a>
                    </li>
                </ul>
                <h3 class="form-section">General Data</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>BE Number *</label>
                            @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntitys, "BE_ID", "BE_NAME"), "-- Choose BE Number --", new { @class = "form-control", @id = "BE_ID" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Profit Center *</label>
                            @Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })
                        </div>
                    </div>
                    @*<div class="col-md-4 ">
            <div class="form-group">
                <label>Kode Aset</label>
                <input type="text" id="KODE_ASET" class="form-control" placeholder="Assets Code">
            </div>
        </div>*@
                    <script>
                        var kodeAsset = '';
                    </script>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Kode Asset</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @*<i class="fa fa-user"></i>*@
                                    </span>
                                    <select name="KODE_ASET" class="form-control" id="KODE_ASET"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>RO Type *</label>
                            @Html.DropDownListFor(m => m.FDDRoType, new SelectList(Model.DDRoTypes, "ID", "REF_DESC"), "-- Choose RO Type --", new { @class = "form-control", @id = "RO_TYPE" })
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Name of RO *</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Name of RO" class="form-control" id="RO_NAME" name="name_of_ro">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Zone RIP *</label>
                            @Html.DropDownListFor(m => m.FDDZoneRip, new SelectList(Model.DDZoneRips, "ID", "REF_DESC"), "-- Choose Zone RIP --", new { @class = "form-control", @id = "ZONE_RIP" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Valid From *</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM" type="text" value="" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Valid To *</label>
                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO" type="text" value="" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-2">
            <button class="btn btn-icon-only green" type="button" id="btn-add-sertifikat" style="margin-top:20px;">
                <i class="fa fa-plus"></i>
            </button>
        </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sertifikat *</label>
                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="sertifikat" name="sertifikat">
                                <option value="">--Choose Sertifikat--</option>
                                <option value="1">Bersertifikat</option>
                                <option value="0">Belum Bersertifikat</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Certificate No</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Sertipikat HPL Nomor : 01 Kel Pedungan Tgl 18.02.1993" class="form-control" id="RO_CERTIFICATE_NUMBER" name="certificate_number">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Keterangan Belum Bersertifikat</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Masukkan Keterangan" class="form-control" id="KETERANGAN" name="KETERANGAN" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Usage Type *</label>
                            @Html.DropDownListFor(m => m.FDDUsageTypeRo, new SelectList(Model.DDUsageTypeRos, "ID", "REF_DESC"), "-- Choose Usage Type --", new { @class = "form-control", @id = "USAGE_TYPE" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Function *</label>
                            @Html.DropDownListFor(m => m.FDDRoFunction, new SelectList(Model.DDRoFunctions, "ID", "REF_DESC"), "-- Choose Function --", new { @class = "form-control", @id = "FUNCTION_ID" })
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Lini</label>
                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="LINI">
                                <option value="">--Choose Lini--</option>
                                <option value="1">Lini I dan Lini II</option>
                                <option value="0">Diluar Lini I dan Lini II</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Peruntukan*</label>
                            @Html.DropDownListFor(m => m.FDDPeruntukan, new SelectList(Model.DDPeruntukans, "PERUNTUKAN_NAME", "PERUNTUKAN_NAME"), "-- Choose Peruntukan --", new { @class = "form-control", @id = "PERUNTUKAN" })
                        </div>
                    </div>
                </div>

                @* Jaga-jaga bila nanti jadi dipakai !!
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location *</label>
                                @Html.DropDownListFor(m => m.FDDRoLocation, new SelectList(Model.DDRoLocations, "ID", "REF_DESC"), "-- Choose Location --", new { @class = "form-control", @id = "LOCATION" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Function *</label>
                                @Html.DropDownListFor(m => m.FDDRoFunction, new SelectList(Model.DDRoFunctions, "ID", "REF_DESC"), "-- Choose Function --", new { @class = "form-control", @id = "FUNCTION" })
                            </div>
                        </div>
                    </div>*@

                <!--Address-->
                <h3 class="form-section">Address</h3>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Address</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Address" class="form-control" id="RO_ADDRESS" name="address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="10310" class="form-control" id="RO_POSTALCODE" name="postalcode">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <!--/span-->
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>City</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="City" class="form-control" id="RO_CITY" name="city">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Province *</label>
                            @Html.DropDownListFor(m => m.FDDProvince, new SelectList(Model.DDProvinces, "ID", "REF_DESC"), "-- Choose Province --", new { @class = "form-control", @id = "RO_PROVINCE" })
                            <!--
                            <select class="form-control" data-placeholder="Choose Zone RIP" id="RO_PROVINCE">
                                <option value="01">JAWA TIMUR</option>
                                <option value="03">BALI</option>
                                <option value="NUSA TENGGARA BARAT (NTB)">NUSA TENGGARA BARAT (NTB)</option>
                            </select>
                            -->
                        </div>
                    </div>
                </div>

                <!--Occupancy-->
                <!--
                <h3 class="form-section">Occupancy</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button id="btn-add" class="btn sbold green">
                                                <i class="fa fa-plus"></i> Tambah Data
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Vacancy Reason </th>
                                        <th class="dt-head-center"> Contact No </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01.01.2010</td>
                                        <td>31.03.2010</td>
                                        <td>Vacant</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                -->
                <!--Measurement-->
                <!--
                <h3 class="form-section">Measurement</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addMeasurement" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-icon-only red">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Measurement Type </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Amount </th>
                                        <th class="dt-head-center"> Unit </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Z0004</td>
                                        <td>Luas Tanah/Perairan</td>
                                        <td>120</td>
                                        <td>M2</td>
                                        <td>01.01.2010</td>
                                        <td>31.12.2012</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                -->
                <!--Fixture&Fitting-->
                <!--
                <h3 class="form-section">Fixture & Fitting</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addFixtureFitting" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-icon-only red">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> No </th>
                                        <th class="dt-head-center"> Code </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Daya Listrik Terpasang (Watt) </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ZRE001</td>
                                        <td>Saluran Air Pelindo</td>
                                        <td>01.01.2010</td>
                                        <td></td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                -->
                <!--Memo-->
                <h3 class="form-section">Memo</h3>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <textarea class="form-control" rows="4" id="MEMO" name="memo"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->

            <div class="form-actions left">
                <!--
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>
                -->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan-add">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>


@*MODAL SERTIFIKAT*@

<div class="modal fade" id="viewSertifikat" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="table-sertifikat">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center">No.Sertifikat </th>
                                                <th class="dt-head-center">Type</th>
                                                <th class="dt-head-center">Luas Lahan</th>
                                                <th class="dt-head-center"> Aksi </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>*@
                <button id="btn-bataladd" type="button" class="btn green" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!--Modal Add Measurement-->
<div class="modal fade" id="addMeasurement" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Measurement</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    <select class="form-control" data-placeholder="Choose Measureent Type" tabindex="1">
                                        <option value="Category 1">Z004</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <select class="form-control" data-placeholder="Choose Description" tabindex="1">
                                        <option value="Category 1">Luas Tanah/Perairan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" placeholder="Amount" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input type="text" placeholder="Unit" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" id="FALID_FROM" name="datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Add Fixture & Fitting-->
<div class="modal fade" id="addFixtureFitting" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Fixture & Fitting</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Code</label>
                                    <select class="form-control" data-placeholder="Choose Code" tabindex="1">
                                        <option value="Category 1">ZRE001</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <select class="form-control" data-placeholder="Choose Description" tabindex="1">
                                        <option value="Category 1">Saluran Air Pelindo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" value="" name="datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" value="" name="datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Daya Listrik Terpasang (Watt)</label>
                                    <input type="text" placeholder="Watt" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section CustomStyle {
    <!--
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <!--
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    -->
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="../assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-ro-add.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-ro-add.js")" type="text/javascript"></script>*@

}