﻿@{
    ViewBag.Title = "Add Detail Rental Object";
    ViewBag.Breadcrumb = "Master";
    ViewBag.SubBreadcrumb = "Add Detail Rental Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBER" />

                <!--Occupancy-->
                <h3 class="form-section">Occupancy</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <!--
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button id="btn-add" class="btn sbold green">
                                                <i class="fa fa-plus"></i> Tambah Data
                                            </button>
                                        </div>
                                    </div>
                                    -->
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Vacancy Reason </th>
                                        <th class="dt-head-center"> Contact No </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01.01.2010</td>
                                        <td>31.03.2010</td>
                                        <td>Vacant</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Measurement-->
                <h3 class="form-section">Measurement</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addMeasurement" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-icon-only red">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Measurement Type </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Amount </th>
                                        <th class="dt-head-center"> Unit </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Z0004</td>
                                        <td>Luas Tanah/Perairan</td>
                                        <td>120</td>
                                        <td>M2</td>
                                        <td>01.01.2010</td>
                                        <td>31.12.2012</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Fixture&Fitting-->
                <h3 class="form-section">Fixture & Fitting</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addFixtureFitting" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="javascript:;" class="btn btn-icon-only red">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> No </th>
                                        <th class="dt-head-center"> Code </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Daya Listrik Terpasang (Watt) </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ZRE001</td>
                                        <td>Saluran Air Pelindo</td>
                                        <td>01.01.2010</td>
                                        <td></td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div><!--END OF FORM-->

            <div class="form-actions right">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>
                <button type="button" class="btn blue" id="btn-update-ro">
                    <i class="fa fa-check"></i> Save Changes
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

<!--Modal Add Measurement-->
<div class="modal fade" id="addMeasurement" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Measurement</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    <select class="form-control" data-placeholder="Choose Measureent Type" tabindex="1">
                                        <option value="">- Choose Measurement Type -</option>
                                        <option value="Category 1">Z004</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <select class="form-control" data-placeholder="Choose Description" tabindex="1">
                                        <option value="Category 1">Luas Tanah/Perairan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" placeholder="Amount" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input type="text" placeholder="Unit" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Add Fixture & Fitting-->
<div class="modal fade" id="addFixtureFitting" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Fixture & Fitting</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" value="@ViewBag.RO_NUMBER" id="RO_NUMBER" />
                                    <select class="form-control" data-placeholder="Choose Code" tabindex="1" id="DESCRTIPTION">
                                        <option value="">- Choose Description -</option>
                                        <option value="ZRE001">SALURAN AIR PELINDO</option>
                                        <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                        <option value="ZRE004">SALURAN LISTRIK PDAM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="VALID_FROM" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="VALID_TO" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Power Capacity</label>
                                    <input type="text" placeholder="Watt" id="POWER_CAPACITY" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button id="save-fixture_fitting" type="button" class="btn green">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section CustomStyle {
    <!--
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <!--
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    -->
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/master-ro-add.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/scripts/master-ro-add.js")" type="text/javascript"></script>*@

}