﻿@model Remote.ViewModels.RentalObject
@using Microsoft.AspNetCore.Mvc;
@{
    ViewBag.Title = "Edit Rental Object";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Rental Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}

<div class="portlet light bordered">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_ro" class="horizontal-form">
            <div class="form-body">
                <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBER" />
                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
                <h3 class="form-section">General Data</h3>
                <script>
                    var kodeAsset = '@ViewBag.KODE_ASET';
                </script>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>RO Number *</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" value="@ViewBag.RO_CODE" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>BE Number *</label>
                            <!--<input type="text" placeholder="10101" class="form-control" id="BE_IDx">x-->
                            @Html.DropDownList("BE_ID", new SelectList(Model.DDBusinessEntitys, "BE_ID", "BE_NAME", ViewBag.RO_NUMBER), new { @class = "form-control", @id = "BE_ID" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Profit Center *</label>
                            @Html.DropDownList("PROFIT_CENTER_ID", new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME", ViewBag.PROFIT_CENTER_ID), new { @class = "form-control", @id = "PROFIT_CENTER" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Kode Asset</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        @*<i class="fa fa-user"></i>*@
                                    </span>
                                    <select name="KODE_ASET" class="form-control" id="KODE_ASET"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>RO Type *</label>
                            @Html.DropDownList("RO_TYPE_ID", new SelectList(Model.DDRoTypes, "RO_TYPE_ID", "REF_DESC", ViewBag.RO_TYPE_ID), new { @class = "form-control", @id = "RO_TYPE" })
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Name of RO *</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Name of RO" value="@ViewBag.RO_NAME" class="form-control" id="RO_NAME" name="name_of_ro">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Zone RIP *</label>
                            @Html.DropDownList("ZONE_RIP_ID", new SelectList(Model.DDZoneRips, "ZONE_RIP_ID", "REF_DESC", ViewBag.ZONE_RIP_ID), new { @class = "form-control", @id = "ZONE_RIP" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Valid From *</label>
                            <input class="form-control form-control-inline input-medium date-picker" value="@ViewBag.VAL_FROM" size="16" id="VALID_FROM" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Valid To *</label>
                            <input class="form-control form-control-inline input-medium date-picker" value="@ViewBag.VAL_TO" size="16" id="VALID_TO" type="text" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-2">
            <button class="btn btn-icon-only green" type="button" id="btn-add-sertifikat" style="margin-top:20px;">
                <i class="fa fa-plus"></i>
            </button>
        </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sertifikat *</label>
                            <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="sertifikat_edit" name="sertifikat_edit">
                                @if (@ViewBag.SERTIFIKAT == "0")
                                    {
                                        <option value="0">Belum Bersertifikat</option>
                                        <option value="1">Bersertifikat</option>
                                    }
                                    else
                                    {
                                        <option value="1">Bersertifikat</option>
                                        <option value="0">Belum Bersertifikat</option>
                                        
                                    }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Certificate No</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" value="@ViewBag.RO_CERTIFICATE_NUMBER" class="form-control" id="RO_CERTIFICATE_NUMBER" name="RO_CERTIFICATE_NUMBER">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Keterangan</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" value="@ViewBag.KETERANGAN" class="form-control" id="KETERANGAN" name="KETERANGAN">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Usage Type *</label>
                            @Html.DropDownList("USAGE_TYPE_ID", new SelectList(Model.DDUsageTypeRos, "USAGE_TYPE_ID", "REF_DESC", ViewBag.USAGE_TYPE_ID), new { @class = "form-control", @id = "USAGE_TYPE" })
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location *</label>
                                @Html.DropDownList("ID", new SelectList(Model.DDRoLocations, "ID", "REF_DESC", ViewBag.LOCATION_ID), new { @class = "form-control", @id = "LOCATION" })
                            </div>
                        </div>

                    </div>*@

                <!--Address-->
                <h3 class="form-section">Address</h3>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Address</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="Address" value="@ViewBag.RO_ADDRESS" class="form-control" id="RO_ADDRESS" name="address">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="10310" class="form-control" value="@ViewBag.RO_POSTALCODE" id="RO_POSTALCODE" name="postalcode">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <!--/span-->
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>City</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" placeholder="City" class="form-control" value="@ViewBag.RO_CITY" id="RO_CITY" name="city">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Province *</label>
                            @Html.DropDownList("PROVINCE_ID", new SelectList(Model.DDProvinces, "PROVINCE_ID", "REF_DESC", ViewBag.PROVINCE_ID), new { @class = "form-control", @id = "RO_PROVINCE" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>LINI*</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="LINI">
                                    @if (@ViewBag.LINI == "0")
                                    {
                                        <option value="0">Diluar Lini I dan Lini II</option>
                                        <option value="1">Lini I dan Lini II</option> }
                                    else
                                    {
                                        <option value="1">Lini I dan Lini II</option>
                                        <option value="0">Diluar Lini I dan Lini II</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>PERUNTUKAN *</label>
                            @Html.DropDownList("PERUNTUKAN", new SelectList(Model.DDPeruntukans, "PERUNTUKAN_NAME", "PERUNTUKAN_NAME", ViewBag.PERUNTUKAN), new { @class = "form-control", @id = "PERUNTUKAN" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Function *</label>
                            @Html.DropDownList("FUNCTION_ID", new SelectList(Model.DDRoFunctions, "ID", "REF_DESC", ViewBag.FUNCTION_ID), new { @class = "form-control", @id = "FUNCTION_ID" })
                        </div>
                    </div>
                </div>

                <!--Memo-->
                <h3 class="form-section">Memo</h3>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <textarea class="form-control" rows="4" id="MEMO" name="memo">@ViewBag.MEMO</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->
            <!--Occupancy-->
            <h3 class="form-section">Occupancy</h3>
            <div class="row" id="row-table">
                <div class="col-md-12">
                    <div class="portlet-body">
                        @*<div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addOccupancy" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-occupancy">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Vacancy Reason </th>
                                    <th class="dt-head-center"> Contract No </th>
                                    <th class="dt-head-center"> Status </th>
                                    <th class="dt-head-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Measurement-->
            <h3 class="form-section">Measurement</h3>
            <div class="row" id="row-table">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="clearfix">
                                        <a data-toggle="modal" href="#addMeasurement" class="btn btn-icon-only green">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Measurement Type </th>
                                    <th class="dt-head-center"> Description </th>
                                    <th class="dt-head-center"> Amount </th>
                                    <th class="dt-head-center"> Unit </th>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Status </th>
                                    <th class="dt-head-center" width="10%"> Action </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!--Fixture&Fitting-->
            <h3 class="form-section">Fixture & Fitting</h3>
            <div class="row" id="row-table">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="clearfix">
                                        <a data-toggle="modal" href="#addFixtureFitting" class="btn btn-icon-only green">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-fixture-fitting">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Code </th>
                                    <th class="dt-head-center"> Description </th>
                                    <th class="dt-head-center"> Power Capacity </th>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Status</th>
                                    <th class="dt-head-center" width="10%"> Action </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h3 class="form-section">Upload Gambar</h3>
            <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="ID_ATTACHMENT" />

            <div class="row">
                <div class="col-md-4">
                    <span class="btn btn-success fileinput-button" id="btnUp">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input id="fileupload" type="file" accept=".png, .jpg" name="files" multiple>
                    </span>
                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% complete</span>
                        </div>
                    </div>
                    <span class="file_name"></span>
                    <span class="file_type"></span>
                    <span class="file_size"></span>
                </div>
                <div class="col-md-8">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> FILENAME </th>
                                <th class="dt-head-center"> ACTION</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <h3 class="form-section">Maps</h3>
            <div class="row" id="row-table">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="clearfix">
                                        <a data-toggle="modal" id="openModalMaps" name="openModalMaps" class="btn btn-icon-only green">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <a data-toggle="modal" id="openModalViewMaps" name="openModalViewMaps" class="btn btn-icon-only green">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-maps">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> No Urut </th>
                                    <th class="dt-head-center"> Latitude </th>
                                    <th class="dt-head-center"> Longitude </th>
                                    <th class="dt-head-center" width="10%"> Action </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*<h3 class="form-section">Maps</h3>
                <input type="text" class="hidden" id="LONGITUDE" />
                <input type="text" class="hidden" id="LATITUDE" />
                <div id="map" style="min-height:500px">

                </div>*@

            <div class="form-actions left">
                <!--
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>
                -->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-update-ro">
                    <i class="fa fa-check"></i> Save Changes
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@*MODAL SERTIFIKAT*@

<div class="modal fade" id="viewSertifikat" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="table-sertifikat">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> No.Sertifikat </th>
                                                <th class="dt-head-center"> Luas Lahan </th>
                                                <th class="dt-head-center"> Aksi </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>*@
                <button id="btn-bataladd" type="button" class="btn green" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!--Modal Add Occupancy-->
<div class="modal fade" id="addOccupancy" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Occupancy</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="text" value="@ViewBag.RO_NUMBER" id="RO_NUMBER_O" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_O" data-date-format="dd/mm/yyyy" type="text" value="" placeholder="DD/MM/YYYY" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" id="VALID_TO_O" value="" placeholder="DD/MM/YYYY" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Vacancy Reason</label>
                                    @Html.DropDownListFor(m => m.FDDVacancyReason, new SelectList(Model.DDVacancyReason, "REF_DESC", "REF_DESC"), "-- Choose Vacancy Reason --", new { @class = "form-control", @id = "VACANCY_REASON" })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-occupancy">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Edit Occupancy-->
<div class="modal fade" id="editOccupancy" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Occupancy</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBER_OA" />
                        @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Valid From</label>
                                        <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_OA" data-date-format="dd/mm/yyyy" type="text" value="" placeholder="DD/MM/YYYY" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Valid To</label>
                                        <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" id="VALID_TO_OA" value="" placeholder="DD/MM/YYYY" />
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Vacancy Reason</label>
                                    @Html.DropDownListFor(m => m.FDDVacancyReason, new SelectList(Model.DDVacancyReason, "REF_DESC", "REF_DESC"), "-- Choose Vacancy Reason --", new { @class = "form-control", @id = "VACANCY_REASON_O" })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-edit-occupancy">Save Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Add Measurement-->
<div class="modal fade" id="addMeasurement" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Measurement</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBERA" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    @Html.DropDownListFor(m => m.FDDMeasurementType, new SelectList(Model.DDMeasurementTypes, "ID", "REF_DESC"), "-- Choose Measurement Type --", new { @class = "form-control", @id = "MEASUREMENT_TYPE" })

                                    <!--
                                    <select class="form-control" data-placeholder="Choose Description" tabindex="1" id="MEASUREMENT_TYPE">
                                        <option value="ZRE001">SALURAN AIR PELINDO</option>
                                        <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                    </select>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" placeholder="Amount" class="form-control" id="AMOUNT">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <select class="form-control" data-placeholder="Unit" tabindex="1" id="UNIT">
                                        <option value="">-- Choose Unit --</option>
                                        <option value="M2">M2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROMA" data-date-format="dd/mm/yyyy" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" id="VALID_TOA" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-measurement">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Edit Measurement-->
<div class="modal fade" id="editMeasurement" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Measurement</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="hidden" id="MEASUREMENT_ID" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Measurement Type</label>
                                    @Html.DropDownListFor(m => m.FDDMeasurementType, new SelectList(Model.DDMeasurementTypes, "ID", "REF_DESC"), "-- Choose Measurement Type --", new { @class = "form-control", @id = "MEASUREMENT_TYPE_M" })

                                    <!--
                                    <select class="form-control" data-placeholder="Choose Description" tabindex="1" id="MEASUREMENT_TYPE_M">
                                        <option value="ZRE001">SALURAN AIR PELINDO</option>
                                        <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                    </select>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" placeholder="Amount" class="form-control" id="AMOUNT_M">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Unit</label>
                                    <select class="form-control" data-placeholder="Unit" tabindex="1" id="UNIT_M">
                                        <option value="">-- Choose Unit --</option>
                                        <option value="M2">M2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" id="VALID_FROM_M" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" type="text" id="VALID_TO_M" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-edit-measurement">Save Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Add Fixture & Fitting-->
<div class="modal fade" id="addFixtureFitting" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Fixture & Fitting</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBER" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fixture & Fitting Type</label>
                                    @Html.DropDownListFor(m => m.FDDFixFit, new SelectList(Model.DDFixFits, "ID", "REF_DESC"), "-- Choose Fixture & Fitting Type --", new { @class = "form-control", @id = "FIXTURE_FITTING_CODE" })
                                    <!--
                                    <select class="form-control" data-placeholder="Choose Code" tabindex="1" id="FIXTURE_FITTING_CODE">
                                        <option value="ZRE001">SALURAN AIR PELINDO</option>
                                        <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                    </select>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" type="text" id="VALID_FROM_FF" value="" />

                                    @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_FF" type="text" value="" name="datepicker" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" type="text" id="VALID_TO_FF" value="" />
                                    @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_FF" type="text" value="" name="datepicker" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Daya Listrik Terpasang (Watt)</label>
                                    <input type="text" id="POWER_CAPACITY" placeholder="Watt" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-fixture_fitting">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!--Modal Edit Fixture & Fitting-->
<div class="modal fade" id="editFixtureFitting" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Fixture & Fitting</h4>
            </div>
            <div class="modal-body">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="hidden" id="FIXTURE_FITTING_ID" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fixture & Fitting Type</label>
                                    @Html.DropDownListFor(m => m.FDDFixFit, new SelectList(Model.DDFixFits, "ID", "REF_DESC"), "-- Choose Fixture & Fitting Type --", new { @class = "form-control", @id = "FIXTURE_FITTING_CODE_F" })
                                    <!--
                                    <select class="form-control" data-placeholder="Choose Code" tabindex="1" id="FIXTURE_FITTING_CODE_F">
                                        <option value="ZRE001">SALURAN AIR PELINDO</option>
                                        <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                    </select>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid From</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" type="text" id="VALID_FROM_FF_F" value="" />

                                    @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_FF_F" type="text" value="" name="datepicker" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Valid To</label>
                                    <input class="form-control form-control-inline input-medium date-picker" size="16" data-date-format="dd/mm/yyyy" type="text" id="VALID_TO_FF_F" value="" />

                                    @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_FF_F" type="text" value="" name="datepicker" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Daya Listrik Terpasang (Watt)</label>
                                    <input type="text" id="POWER_CAPACITY_F" placeholder="Watt" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-edit-fixture_fitting">Save Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Modal Maps-->
<div class="modal fade" id="addMaps" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Maps</h4>
            </div>
            <div class="modal-body row">
                <form action="" class="horizontal-form">
                    <div class="form-body">
                        <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBERMAPS" />
                        <input type="hidden" id="ID_MAPS" name="ID_MAPS" />
                        <div>
                            <input id="pac-input"
                                   class="controls"
                                   type="text"
                                   placeholder="Search Box" />
                            <div id="map" style="min-height:550px">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nomor Urut</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Longitude</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Latitude</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Aksi</label>
                                </div>
                            </div>
                        </div>
                        <div class="barisdata">
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nomor Urut</label>
                                    <input type="number" name="NO_URUT" id="NO_URUT" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input type="text" name="LONGITUDE" id="LONGITUDE" class="form-control longitude">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input type="text" name="LATITUDE" id="LATITUDE" class="form-control latitude">
                                </div>
                            </div>
                        </div>
                    </div>*@
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-maps">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="viewMaps" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">View Maps</h4>
            </div>
            <div class="modal-body row">
                <form action="" class="horizontal-form">

                    <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBERVIEWMAPS" />
                    <div class="form-body">
                        <div>
                            <div id="view-maps" style="min-height:550px">

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" id="save-maps">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyDNrQUCrtl-8cadU2mb1AIo8LJcqw0VmAk&callback=initAutocomplete&libraries=places" async="" defer="defer"></script>

}

@section CustomScripts {
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-ro-add.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-ro-add.js")" type="text/javascript"></script>*@

}