﻿@model Remote.ViewModels.RentalObject
@{
    ViewBag.Title = "Add Detail Rental Object";
    ViewBag.Breadcrumb = "Master";
    ViewBag.SubBreadcrumb = "Add Detail Rental Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}
    <div class="portlet box blue">
        <div class="portlet-body form">
            <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
            <!-- BEGIN FORM-->
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li>
                        <a data-toggle="tab" class="step">
                            <span class="number"> 1 </span>
                            <span class="desc">
                                Rental Object (Parent Data)
                            </span>
                        </a>
                    </li>
                    <li class="tab-pane active">
                        <a data-toggle="tab" class="step">
                            <span class="number"> 2 </span>
                            <span class="desc">
                                <i class="fa fa-check"></i> Measurement, Fixture & Fitting (Detail)
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "RentalObject")">
                            <span class="number"> 3 </span>
                            <span class="title">Done</span>
                        </a>
                    </li>
                </ul>
                <!--Occupancy-->
                <!--
            <h3 class="form-section">Occupancy</h3>
            <div class="row" id="row-table">
                <div class="col-md-12">
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-tarif#">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> Valid From </th>
                                    <th class="dt-head-center"> Valid To </th>
                                    <th class="dt-head-center"> Vacancy Reason </th>
                                    <th class="dt-head-center"> Contact No </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01.01.2010</td>
                                    <td>31.03.2010</td>
                                    <td>Vacant</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            -->
                <!--Measurement-->
                <h3 class="form-section">Measurement</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addMeasurement" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Measurement Type </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Amount </th>
                                        <th class="dt-head-center"> Unit </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Status </th>
                                        <th class="dt-head-center" width="10%"> Action </th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Fixture&Fitting-->
                <h3 class="form-section">Fixture & Fitting</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addFixtureFitting" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-fixture-fitting">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> Code </th>
                                        <th class="dt-head-center"> Description </th>
                                        <th class="dt-head-center"> Power Capacity </th>
                                        <th class="dt-head-center"> Valid From </th>
                                        <th class="dt-head-center"> Valid To </th>
                                        <th class="dt-head-center"> Status</th>
                                        <th class="dt-head-center" width="10%"> Action </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Modal Add Measurement-->
        <div class="modal fade" id="addMeasurement" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Measurement</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" class="horizontal-form">
                            <div class="form-body">
                                <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBERA" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Measurement Type</label>
                                            @Html.DropDownListFor(m => m.FDDMeasurementType, new SelectList(Model.DDMeasurementTypes, "ID", "REF_DESC"), "-- Choose Measurement Type --", new { @class = "form-control", @id = "MEASUREMENT_TYPE" })
                                            <!--
                                        <select class="form-control" data-placeholder="Choose Description" tabindex="1" id="MEASUREMENT_TYPE">
                                            <option value="ZRE001">SALURAN AIR PELINDO</option>
                                            <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                        </select>
                                        -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" placeholder="Amount" class="form-control" id="AMOUNT">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <select class="form-control" data-placeholder="Unit" tabindex="1" id="UNIT">
                                                <option value="">-- Choose Unit --</option>
                                                <option value="M2">M2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid From</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" id="VALID_FROMA" name="datepicker" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="VALID_FROMA" name="datepicker" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid To</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" id="VALID_TOA" name="datepicker" />

                                            @* <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="VALID_TOA" value="" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green" id="save-measurement">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--Modal Edit Measurement-->
        <div class="modal fade" id="editMeasurement" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Edit Measurement</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" class="horizontal-form">
                            <div class="form-body">
                                <input type="hidden" id="MEASUREMENT_ID" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Measurement Type</label>
                                            @Html.DropDownListFor(m => m.FDDMeasurementType, new SelectList(Model.DDMeasurementTypes, "ID", "REF_DESC"), "-- Choose Measurement Type --", new { @class = "form-control", @id = "MEASUREMENT_TYPE_M" })
                                            <!--
                                        <select class="form-control" data-placeholder="Choose Description" tabindex="1" id="MEASUREMENT_TYPE_M">
                                            <option value="ZRE001">SALURAN AIR PELINDO</option>
                                            <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                        </select>
                                        -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" placeholder="Amount" class="form-control" id="AMOUNT_M">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <select class="form-control" data-placeholder="Unit" tabindex="1" id="UNIT_M">
                                                <option value="M2">M2</option>
                                                <option value="KWH">KWH</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid From</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_M" type="text" value="" data-date-format="dd/mm/yyyy" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_M" type="text" value="" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid To</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_M" type="text" value="" data-date-format="dd/mm/yyyy" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="VALID_TO_M" value="" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green" id="save-edit-measurement">Save Update</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--Modal Add Fixture & Fitting-->
        <div class="modal fade" id="addFixtureFitting" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Fixture & Fitting</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" class="horizontal-form">
                            <div class="form-body">
                                <input type="hidden" value="@ViewBag.RO_NUMBER" id="RO_NUMBER" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fixture & Fitting Type</label>
                                            @Html.DropDownListFor(m => m.FDDFixFit, new SelectList(Model.DDFixFits, "ID", "REF_DESC"), "-- Choose Fixture & Fitting Type --", new { @class = "form-control", @id = "FIXTURE_FITTING_CODE" })
                                            <!--
                                        <select class="form-control" data-placeholder="Choose Code" tabindex="1" id="FIXTURE_FITTING_CODE">
                                            <option value="ZRE001">SALURAN AIR PELINDO</option>
                                            <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                        </select>
                                        -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid From</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_FF" type="text" value="" data-date-format="dd/mm/yyyy" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_FF" type="text" value="" name="datepicker" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid To</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_FF" type="text" value="" data-date-format="dd/mm/yyyy" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_FF" type="text" value="" name="datepicker" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Daya Listrik Terpasang (Watt)</label>
                                            <input type="text" id="POWER_CAPACITY" placeholder="Watt" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green" id="save-fixture_fitting">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!--Modal Edit Fixture & Fitting-->
        <div class="modal fade" id="editFixtureFitting" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Edit Fixture & Fitting</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" class="horizontal-form">
                            <div class="form-body">
                                <input type="hidden" id="FIXTURE_FITTING_ID" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Description</label>
                                            @Html.DropDownListFor(m => m.FDDFixFit, new SelectList(Model.DDFixFits, "ID", "REF_DESC"), "-- Choose Fixture & Fitting Type --", new { @class = "form-control", @id = "FIXTURE_FITTING_CODE_F" })
                                            <!--
                                        <select class="form-control" data-placeholder="Choose Code" tabindex="1" id="FIXTURE_FITTING_CODE_F">
                                            <option value="ZRE001">SALURAN AIR PELINDO</option>
                                            <option value="ZRE002">SALURAN LISTRIK PELINDO</option>
                                        </select>
                                        -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid From</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_FF_F" type="text" value="" data-date-format="dd/mm/yyyy" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_FROM_FF_F" type="text" value="" name="datepicker" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Valid To</label>
                                            <input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_FF_F" type="text" value="" data-date-format="dd/mm/yyyy" />

                                            @*<input class="form-control form-control-inline input-medium date-picker" size="16" id="VALID_TO_FF_F" type="text" value="" name="datepicker" />*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Daya Listrik Terpasang (Watt)</label>
                                            <input type="text" id="POWER_CAPACITY_F" placeholder="Watt" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green" id="save-edit-fixture_fitting">Save Update</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        @section CustomStyle {
            <!--
        <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        -->
            <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
            <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

            <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        }

        @section Plugins {
            <!--
        <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
        -->
            <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

            <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

            <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        }

        @section CustomScripts {
            <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
            <script src="~/assets/scripts/master-ro-add.js" type="text/javascript" asp-append-version="true"></script>
            @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
            <script src="@Url.ContentVersioned("~/assets/scripts/master-ro-add.js")" type="text/javascript"></script>*@

        }
