﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Master of Rental Object";
    ViewBag.Breadcrumb = "Master Data";
    ViewBag.SubBreadcrumb = "Status Rental Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data of Rental Object</span>
        </div>
    </div>

    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                @{
                    if (ViewBag.KodeCabang == "0")
                    {

                    }
                    else
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Business Entity</label>
                                @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <select class="form-control" id="profit-center">
                                    <option value="0">-- Choose Profit Center --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Occupancy</label>
                                <select class="form-control" id="occupancy">
                                    <option value="">-- Show All --</option>
                                    <option value="VACANT">VACANT</option>
                                    <option value="OCCUPIED">OCCUPIED</option>
                                    <option value="BOOKED">BOOKED</option>
                                    <option value="ARCHIVED">ARCHIVED</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:23px">
                            <button type="button" class="btn btn-sm green form-control" id="filter"><i class="fa fa-search"></i> Filter</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-ro-rentalobject">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> RO NUMBER </th>
                            <th class="dt-head-center"> BUSINESS ENTITY </th>
                            <th class="dt-head-center"> RO NAME </th>
                            <th class="dt-head-center"> ZONE RIP </th>
                            <th class="dt-head-center"> PROFIT CENTER </th>
                            <th class="dt-head-center"> STATUS </th>
                            <th class="dt-head-center"> CONTRACT NUMBER </th>
                            <th class="dt-head-center"> CONTRACT OFFER </th>
                            <th class="dt-head-center"> ACTION </th>
                            <th class="dt-head-center"> ID </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="viewROModal" tabindex="-1" role="large" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Rental Object</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> General Data </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Occupancy </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_3" data-toggle="tab"> Measurement </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_4" data-toggle="tab"> Fixture & Fitting </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>RO NUMBER</label>
                                                    <input type="hidden" id="RO_NUMBER" class="form-control" readonly>
                                                    <input type="text" id="RO_CODE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>BE Number</label>
                                                    <input type="text" id="BE_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>RO Type</label>
                                                    <input type="text" id="RO_TYPE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Profit Center</label>
                                                    <input type="text" id="PROFIT_CENTER" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 ">
                                                <div class="form-group">
                                                    <label>Name of RO</label>
                                                    <input type="text" id="RO_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Zone RIP</label>
                                                    <input type="text" id="ZONE_RIP" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Valid From</label>
                                                    <input type="text" id="VALID_FROM" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <!--/span-->
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Valid To</label>
                                                    <input type="text" id="VALID_TO" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Certificate No</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="RO_CERTIFICATE_NUMBER" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Usage Type</label>
                                                    <input type="text" id="USAGE_TYPE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Function</label>
                                                    <input type="text" id="FUNCTION_ID" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Location</label>
                                                        <input type="text" id="LOCATION_ID" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <!--/span-->

                                                <!--/span-->
                                            </div>*@

                                        <!--Address-->
                                        <h3 class="form-section">Address</h3>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="RO_ADDRESS" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--/span-->
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>Postalcode</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="RO_POSTALCODE" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <!--/span-->
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" id="RO_CITY" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Province</label>
                                                    <input type="text" id="PROVINCE" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="form-section">Memo</h3>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <textarea class="form-control" rows="4" id="MEMO" name="memo" readonly></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-occupancy">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> Valid From </th>
                                            <th class="dt-head-center"> Valid To </th>
                                            <th class="dt-head-center"> Vacancy Reason </th>
                                            <th class="dt-head-center"> Contract No </th>
                                            <th class="dt-head-center"> Status </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_3">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-measurement">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> Measurement Type </th>
                                            <th class="dt-head-center"> Description </th>
                                            <th class="dt-head-center"> Amount </th>
                                            <th class="dt-head-center"> Unit </th>
                                            <th class="dt-head-center"> Valid From </th>
                                            <th class="dt-head-center"> Valid To </th>
                                            <th class="dt-head-center"> Status </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_4">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-fixture-fitting">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> Code </th>
                                            <th class="dt-head-center"> Description </th>
                                            <th class="dt-head-center"> Power Capacity </th>
                                            <th class="dt-head-center"> Valid From </th>
                                            <th class="dt-head-center"> Valid To </th>
                                            <th class="dt-head-center"> Status</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="../assets/scripts/master-ro-status.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/scripts/master-ro-status.js")" type="text/javascript"></script>*@

}