﻿@{
    ViewBag.Title = "Contract Change Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Contract Change Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet box blue">
    <div class="portlet-body form">
        <div class="form-body">
            <h3 class="form-section">Contract Data </h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Contract No</label>
                        <input type="text" class="form-control" value="@ViewBag.CONTRACT_NO" id="CONTRACT_NO" disabled>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Contract Name</label>
                        <input type="text" id="CONTRACT_NAME" value="@ViewBag.CONTRACT_NAME" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Profit Center</label>
                        <input type="text" id="PROFIT_CENTER" value="@ViewBag.PROFIT_CENTER" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract Start Date</label>
                            <input type="text" id="CONTRACT_START_DATE" value="@ViewBag.CONTRACT_START_DATE" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Contract End Date</label>
                            <input type="text" id="CONTRACT_END_DATE" value="@ViewBag.CONTRACT_END_DATE" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">TIM</label>
                            @*<input type="text" id="TIM" class="form-control" readonly>*@
                            <input type="text" id="TERM_IN_MONTHS" value="@ViewBag.TERM_IN_MONTHS" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Ijin Prinsip No</label>
                        <input type="text" id="IJIN_PRINSIP_NO" value="@ViewBag.IJIN_PRINSIP_NO" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Ijin Prinsip Date</label>
                        <input class="form-control form-control-inline date-picker" type="text" id="IJIN_PRINSIP_DATE" value="@ViewBag.IJIN_PRINSIP_DATE" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Legal Contract No</label>
                        <input type="text" id="LEGAL_CONTRACT_NO" value="@ViewBag.LEGAL_CONTRACT_NO" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Legal Contract Date</label>
                        <input class="form-control form-control-inline date-picker" type="text" id="LEGAL_CONTRACT_DATE" value="@ViewBag.LEGAL_CONTRACT_DATE" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Form Contract Change And History of Contract Change</span>
            <input type="hidden" value="4" id="ROLE_USER" />
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">

                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#form_contract_change" data-toggle="tab">  Form Contract Change </a>
                        </li>
                        <li>
                            <a href="#history_of_contract_change" data-toggle="tab">  History of Contract Change </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="form_contract_change">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">

                                    <h3 class="form-section">Object</h3>
                                    <div class="row" id="row-table">
                                        <div class="col-md-12">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                                    <thead>
                                                        <tr>
                                                            <th class="dt-head-center"> CHANGE DATE </th>
                                                            <th class="dt-head-center"> OBJECT TYPE </th>
                                                            <th class="dt-head-center"> RO NAME </th>
                                                            <th class="dt-head-center"> START DATE </th>
                                                            <th class="dt-head-center"> END DATE </th>
                                                            <th class="dt-head-center"> LAND AREA </th>
                                                            <th class="dt-head-center"> BUILDING AREA </th>
                                                            <th class="dt-head-center"> INDUSTRY </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="form-section">Condition</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn blue" type="button" data-toggle="modal" href="#addCondition" class="btn btn-icon-only green" id="btn-add-condition">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <a data-toggle="modal" href="#viewHistoryPostedBilling" class="btn yellow" id="btn-history-posted-billing">
                                                <i class="fa fa-eye"> Posted Billing</i>
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" id="row-table">
                                        <div class="col-md-12">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-hover table-bordered" id="condition">
                                                    <thead>
                                                        <tr>
                                                            <th class="dt-head-center"> CALC OBJECT </th>
                                                            <th class="dt-head-center"> CONDITION TYPE </th>
                                                            <th class="dt-head-center"> VALID FROM </th>
                                                            <th class="dt-head-center"> VALID TO </th>
                                                            <th class="dt-head-center"> MONTHS </th>
                                                            <th class="dt-head-center"> STATISTIC </th>
                                                            <th class="dt-head-center"> UNIT PRICE </th>
                                                            <th class="dt-head-center"> AMT REF </th>
                                                            <th class="dt-head-center"> FREQUENCY </th>
                                                            <th class="dt-head-center"> START DUE DATE </th>
                                                            <th class="dt-head-center"> MANUAL NO </th>
                                                            <th class="dt-head-center"> FORMULA </th>
                                                            <th class="dt-head-center"> MEAS TYPE </th>
                                                            <th class="dt-head-center"> LUAS (M2) </th>
                                                            <th class="dt-head-center"> TOTAL VALUE</th>
                                                            <th class="dt-head-center"> % FROM NJOP </th>
                                                            <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                            <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                            <th class="dt-head-center"> COA PROD </th>
                                                            <th class="dt-head-center"> ACTION </th>
                                                            <th class="dt-head-center" style="display: none"> TAX_CODE </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="form-section">Manual Frequency</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-manual-frequency">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" id="row-table">
                                        <div class="col-md-12">
                                            <div class="portlet-body">
                                                <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                                    <thead>
                                                        <tr>
                                                            <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                            <th class="dt-head-center"> CONDITION </th>
                                                            <th class="dt-head-center"> DUE DATE </th>
                                                            <th class="dt-head-center"> NET VALUE </th>
                                                            <th class="dt-head-center"> QUANTITY </th>
                                                            <th class="dt-head-center"> QTY UNIT </th>
                                                            <th class="dt-head-center" width="5%"> ADD </th>
                                                            <th class="dt-head-center" width="5%"> ACTION </th>
                                                            <th class="dt-head-center sembunyi"> CONDITION_CODE </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <h3 class="form-section">Memo</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn blue" type="button" data-toggle="modal" href="#addMemo" class="btn btn-icon-only green" id="btn-add-memo">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                                        <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                                        <th class="dt-head-center" width="50%"> MEMO</th>
                                                        <th class="dt-head-center" width="5%"> ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="form-actions left">
                                    <button type="button" class="btn red" id="btn-kembali">
                                        <i class="fa fa-close"></i> Cancel
                                    </button>
                                    <button type="button" class="btn blue" id="btn-update">
                                        <i class="fa fa-check"></i> Save Changes
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="history_of_contract_change">
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-history-contract">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center">CHANGE DATE</th>
                                        <th class="dt-head-center">CHANGED BY</th>
                                        <th class="dt-head-center">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Get Data Contract</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="btn-group">
                            <button class="btn sbold green" id="btn-filter" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> CONTRACT NUMBER</th>
                                    <th class="dt-head-center"> PROFIT CENTER</th>
                                    <th class="dt-head-center"> START DATE</th>
                                    <th class="dt-head-center"> END DATE</th>
                                    <th class="dt-head-center"> TIM</th>
                                    <th class="dt-head-center"> CONTRACT NAME</th>
                                    <th class="dt-head-center"> #</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--ADD NEW RO MODALS-->
<div class="modal fade bs-modal-lg" id="addNewRO" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Data Rental Object</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="btn-group">
                            <button class="btn sbold green" id="btn-filter-data-ro" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-ro">
                            <thead>
                                <tr>
                                    <th class="dt-head-center">#</th>
                                    <th class="dt-head-center">RO_NUMBER</th>
                                    <th class="dt-head-center">OBJECT TYPE ID</th>
                                    <th class="dt-head-center">OBJECT TYPE</th>
                                    <th class="dt-head-center">OBJECT ID</th>
                                    <th class="dt-head-center">RO NAME</th>
                                    <th class="dt-head-center">BUILDING DIMENSION</th>
                                    <th class="dt-head-center">LAND DIMENSION</th>
                                    <th class="dt-head-center">VALID FROM</th>
                                    <th class="dt-head-center">VALID TO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--ADD CONDITION MODALS-->
<div class="modal fade" id="addCondition" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Condition</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <h4>Choose Calculation Object</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select id="condition-option" name="condition-option" class="form-control"></select>

                                </div>
                            </div>
                        </div>

                        <h4>Choose Condition Type</h4>
                        <hr />
                        <div id="cekbokList" class="mt-checkbox-list"></div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="btn-condition">
                    <i class="fa fa-check"></i> Add Condition
                </button>
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--ADD MEMO MODALS-->
<div class="modal fade" id="addMemo" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Memo</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <h4>Condition Type</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select id="memo-condition" class="form-control"></select>
                                </div>
                            </div>
                        </div>

                        <h4>Memo</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="4" id="memo" name="memo"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="btn-add-memo-md" name="btn-add-memo">
                    <i class="fa fa-check"></i> Add Memo
                </button>
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--MODAL HISTORY-->
<div class="modal fade bs-modal-full" id="viewHistoryPerubahanModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Contract</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Object </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Condition </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_1_1_1">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-object-history">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT_NAME</th>
                                            <th class="dt-head-center">START_DATE</th>
                                            <th class="dt-head-center">END_DATE</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">INDUSTRY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <h3 class="form-section">Condition</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-condition">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> CALC OBJECT </th>
                                            <th class="dt-head-center"> CONDITION Type </th>
                                            <th class="dt-head-center"> VALID FROM </th>
                                            <th class="dt-head-center"> VALID TO </th>
                                            <th class="dt-head-center"> MONTHS </th>
                                            <th class="dt-head-center"> STATISTIC </th>
                                            <th class="dt-head-center"> UNIT PRICE </th>
                                            <th class="dt-head-center"> AMT REF </th>
                                            <th class="dt-head-center"> FREQUENCY </th>
                                            <th class="dt-head-center"> START DUE DATE </th>
                                            <th class="dt-head-center"> MANUAL NO </th>
                                            <th class="dt-head-center"> FORMULA </th>
                                            <th class="dt-head-center"> MEAS TYPE </th>
                                            <th class="dt-head-center"> LUAS (M2) </th>
                                            <th class="dt-head-center"> TOTAL </th>
                                            <th class="dt-head-center"> % FROM NJOP </th>
                                            <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                            <th class="dt-head-center"> TOTAL NET VALUE </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Manual Frequency</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-manual">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                            <th class="dt-head-center"> CONDITION </th>
                                            <th class="dt-head-center"> DUE DATE </th>
                                            <th class="dt-head-center"> NET VALUE </th>
                                            <th class="dt-head-center"> QUANTITY </th>
                                            <th class="dt-head-center"> UNIT </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Memo</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- SEARCH COA -->
<div class="modal fade bs-modal-lg" id="coaModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Pilih Coa</h4>
            </div>

            <div class="modal-body">

                <div class="btn-group">
                    <button class="btn sbold green" id="btn-filter-coa" type="button">
                        <i class="fa fa-search"></i> Filter
                    </button>
                </div>
                <br>
                <br>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-coa">
                    <thead>
                        <tr>
                            <th class="dt-head-center">#</th>
                            <th class="dt-head-center">CODE</th>
                            <th class="dt-head-center">NAME</th>
                            <th class="dt-head-center">KETERANGAN</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--MODALS HISTORY POSTED BILLING-->
<div class="modal fade bs-modal-lg" id="viewHistoryPostedBilling" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">History Posted Billing</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-history-posted-billing">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> BILLING CONTRACT NO</th>
                                    <th class="dt-head-center"> BILLING NO</th>
                                    <th class="dt-head-center"> SAP DOCUMENT NUMBER</th>
                                    <th class="dt-head-center"> BILLING DUE DATE</th>
                                    <th class="dt-head-center"> BILLING PERIOD</th>
                                    <th class="dt-head-center"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--MODALS DETAIL POSTED BILLING-->
<div class="modal fade bs-modal-lg" id="viewModalDetailPostedBilling" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail History Posted Billing</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-history-posted-billing-d">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> CONDITON TYPE</th>
                                    <th class="dt-head-center"> BILLING DUE DATE</th>
                                    <th class="dt-head-center"> BILLING PERIOD</th>
                                    <th class="dt-head-center"> OBJECT ID</th>
                                    <th class="dt-head-center"> INSTALLMENT AMOUNT</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/contract-change-js.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/contract-change-js.js")" type="text/javascript"></script>*@

}
