﻿@{
    ViewBag.Title = "Approved & Rejected List";
    ViewBag.Breadcrumb = "Approval of Property";
    ViewBag.SubBreadcrumb = "Approved List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Approved & Rejected List</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-approved-list">
                    <thead>
                        <tr>
                            <th class="dt-head-center">OFFER NO</th>
                            <th class="dt-head-center">OFFER TYPE</th>
                            <th class="dt-head-center">OFFER NAME</th>
                            <th class="dt-head-center">START DATE</th>
                            <th class="dt-head-center">END DATE</th>
                            <th class="dt-head-center">STATUS</th>
                            <th class="dt-head-center">TOP LEVEL APPROVAL</th>
                            <th class="dt-head-center" width="17%">ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-modal-full" id="viewHistoryApproval" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">History Workflow</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_5" data-toggle="tab"> Data Surat </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_1" data-toggle="tab">  Data History Workflow </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="tab_1_1_1">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Business Entity</label>
                                        <input type="text" class="form-control" id="BE_ID" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">PROFIT CENTER</label>
                                        <input type="text" class="form-control" id="PROFIT_CENTER_NAME" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Top Approval Level</label>
                                        <input type="text" class="form-control" id="TOP_APPROVED_LEVEL" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract Offer No</label>
                                        <input type="text" class="form-control" id="CONTRACT_OFFER_NO" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract Offer Type</label>
                                        <input type="text" class="form-control" id="CONTRACT_OFFER_TYPE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract Offer Usage</label>
                                        <input type="text" class="form-control" id="CONTRACT_USAGE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Contract Offer Name</label>
                                        <input type="text" class="form-control" id="CONTRACT_OFFER_NAME" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Customer Name</label>
                                        <input type="text" class="form-control" id="CUSTOMER_NAME" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract Start Date</label>
                                        <input type="text" class="form-control" id="CONTRACT_START_DATE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract End Date</label>
                                        <input type="text" class="form-control" id="CONTRACT_END_DATE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Term In Months</label>
                                        <input type="text" class="form-control" id="TERM_IN_MONTHS" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Current Status</label>
                                        <input type="text" class="form-control" id="OFFER_STATUS" readonly>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-history">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center" width="20%">NIPP</th>
                                        <th class="dt-head-center" width="15%">APPROVAL DATE</th>
                                        <th class="dt-head-center" width="50%">NOTES</th>
                                        <th class="dt-head-center" width="15%">STATUS</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="tab-pane active" id="tab_1_1_5">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Isi Surat</label>
                                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detail-surat">
                                                        <thead>
                                                            <tr>
                                                                <th class="dt-head-center"> NO SURAT </th>
                                                                <th class="dt-head-center"> SUBJECT </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                    @*<template id="pdf-upload-iframe">
            <iframe src='/assets/pdfjs/web/viewer.html?file=@Url.Content("~/pdf/disposisilistpdf/__INDEX__")' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>
        </template>*@
                                                    <div class="upload-iframe">

                                                    </div>
                                                    @*<input type="text" id="isi_surat" name="isi_surat" />*@
                                                    @*<textarea id="isi_surat" name="isi_surat"></textarea>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div style="border-color:#00BCED;" class="panel panel-primary">
                                                        <div style="background-color: #00BCED;" class="panel-heading">
                                                            <h4 class="panel-title"><span class="text-right">History</span></h4>
                                                        </div>
                                                        <div id="dataHistory"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade bs-modal-full" id="viewContractOfferModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Contract Offer</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab">  Data Contract Offer </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Object </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_3" data-toggle="tab"> Condition </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Rental Request No</label>
                                                    <input type="text" id="RENTAL_REQUEST_NO" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Offer No</label>
                                                    <input type="text" id="CONTRACT_OFFER_NO_DETAIL" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Offer Type</label>
                                                    <input type="text" id="CONTRACT_OFFER_TYPE_DETAIL" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Business Entity</label>
                                                    <input type="text" id="BE_ID_DETAIL" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Offer Name</label>
                                                    <input type="text" class="form-control" id="CONTRACT_OFFER_NAME_DETAIL" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Start Date</label>
                                                    <input type="text" class="form-control" id="CONTRACT_START_DATE_DETAIL" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Contract End Date</label>
                                                    <input type="text" class="form-control" id="CONTRACT_END_DATE_DETAIL" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Term In Months</label>
                                                    <input type="text" class="form-control" id="TERM_IN_MONTHS_DETAIL" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner</label>
                                                    <input type="text" class="form-control" id="CUSTOMER_NAME_DETAIL" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Customer AR</label>
                                                    <input type="text" class="form-control" id="CUSTOMER_AR" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Profit Center</label>
                                                    <input type="text" class="form-control" id="PROFIT_CENTER_DETAIL" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Usage</label>
                                                    <input type="text" class="form-control" id="CONTRACT_USAGE_DETAIL" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Currency</label>
                                                    <input type="text" class="form-control" id="CURRENCY_DETAIL" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Offer Status</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" class="form-control" id="OFFER_STATUS_DETAIL" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-object">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT_NAME</th>
                                            <th class="dt-head-center">START_DATE</th>
                                            <th class="dt-head-center">END_DATE</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">INDUSTRY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_1_1_3">
                                <h3 class="form-section">Condition</h3>
                                @*<button class="btn sbold green" id="btn-view-condition" type="button">
                                        <i class="fa fa-search"></i> View Condition
                                    </button>
                                    <br />
                                    <br />*@
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-condition">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> CALC OBJECT </th>
                                            <th class="dt-head-center"> CONDITION Type </th>
                                            <th class="dt-head-center"> VALID FROM </th>
                                            <th class="dt-head-center"> VALID TO </th>
                                            <th class="dt-head-center"> MONTHS </th>
                                            <th class="dt-head-center"> STATISTIC </th>
                                            <th class="dt-head-center"> UNIT PRICE </th>
                                            <th class="dt-head-center"> AMT REF </th>
                                            <th class="dt-head-center"> FREQUENCY </th>
                                            <th class="dt-head-center"> START DUE DATE </th>
                                            <th class="dt-head-center"> MANUAL NO </th>
                                            <th class="dt-head-center"> FORMULA </th>
                                            <th class="dt-head-center"> MEAS TYPE </th>
                                            <th class="dt-head-center"> LUAS (M2) </th>
                                            <th class="dt-head-center"> TOTAL </th>
                                            <th class="dt-head-center"> % FROM NJOP </th>
                                            <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                            <th class="dt-head-center"> SALES RULE </th>
                                            <th class="dt-head-center"> TOTAL NET VALUE </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Manual Frequency</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-manual">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                            <th class="dt-head-center"> CONDITION </th>
                                            <th class="dt-head-center"> DUE DATE </th>
                                            <th class="dt-head-center"> NET VALUE </th>
                                            <th class="dt-head-center"> QUANTITY </th>
                                            <th class="dt-head-center"> UNIT </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <h3 class="form-section">Memo</h3>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <!--SALES RULE And REPORTING RULE-->
                                @*<div class="tabbable-custom nav-justified">
                                        <ul class="nav nav-tabs nav-justified">
                                            <li class="active">
                                                <a href="#sales_rule" data-toggle="tab">  Sales Rule </a>
                                            </li>
                                            <li>
                                                <a href="#sales_report" data-toggle="tab"> Sales Report </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="sales_rule">
                                                <table class="table table-striped table-hover table-bordered" id="sales-based">
                                                    <thead>
                                                        <tr>
                                                            <th class="dt-head-center" width="7%"> SR </th>
                                                            <th class="dt-head-center"> SALES TYPE </th>
                                                            <th class="dt-head-center"> NAME OF TERM </th>
                                                            <th class="dt-head-center"> PAYMENT TYPE </th>
                                                            <th class="dt-head-center"> CALC FROM </th>
                                                            <th class="dt-head-center"> CALC TO </th>
                                                            <th class="dt-head-center"> UNIT TYPE </th>
                                                            <th class="dt-head-center"> PERCENTAGE (%) </th>
                                                            <th class="dt-head-center"> TARIF </th>
                                                            <th class="dt-head-center"> REPORTING RULE </th>ssss
                                                            <th class="dt-head-center"> MIN QTY SALES </th>
                                                            <th class="dt-head-center"> MIN QTY PRODUCTION </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="sales_report">
                                                <table class="table table-striped table-hover table-bordered" id="reporting-rule">
                                                    <thead>
                                                        <tr>
                                                            <th class="dt-head-center"> REPORTING RULE </th>
                                                            <th class="dt-head-center"> SALES TYPE </th>
                                                            <th class="dt-head-center"> TERM OR REPORTING RULE </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>*@
                                <!--END OF SALES RULE And REPORTING RULE-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="viewModalAttachment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"></button>
                <h4 class="modal-title">Attachment Contract Offer <span id="kode_offer"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="ID_ATTACHMENT" />

                <div class="row">
                    <div class="col-md-12">
                        <span class="btn btn-success fileinput-button" id="btnUp">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                        <div class="progress progress-striped">
                            <div class="progress-bar" role="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                        <span class="file_name"></span>
                        <span class="file_type"></span>
                        <span class="file_size"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> FILENAME </th>
                                    <th class="dt-head-center"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    @*<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
}

@section Plugins {
    @*<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>*@

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/approved-list.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/scripts/approved-list.js")" type="text/javascript"></script>*@

}
