﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Currency Rate";
    ViewBag.Breadcrumb = "Tools";
    ViewBag.SubBreadcrumb = "Currency Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Currency Rate</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn-add" data-toggle="modal" href="#addapvsetModal" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Data
                                </button>
                                @*<button id="btn-email" data-toggle="modal" class="btn sbold red">
                            <i class="fa fa-mail-reply"></i> Test Email
                        </button>*@
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-apvset">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> CURRENCY FROM </th>
                            <th class="dt-head-center"> CURRENCY TO </th>
                            <th class="dt-head-center"> VALIDITY FROM </th>
                            <th class="dt-head-center"> VALIDITY TO</th>
                            <th class="dt-head-center"> MULTIPLY RATE </th>
                            <th class="dt-head-center"> DEVIDE RATE </th>
                            <th class="dt-head-center"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addapvsetModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>Info!</strong> Pastikan data yang anda input benar sebelum melakukan simpan.
                </div>
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency From</label>
                                    <select name="CURRENCY_FROM" class="form-control" id="CURRENCY_FROM"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency TO</label>
                                    <select name="CURRENCY_TO" class="form-control" id="CURRENCY_TO"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Multiply Rate</label>
                                    <input id="MULTIPLY_RATE" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Devide Rate</label>
                                    <input id="DEVIDE_RATE" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity From</label>
                                    <input name="VALIDITY_FROM" id="VALIDITY_FROM" type="text" class="form-control form-control-inline input-medium date-picker" data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity To</label>
                                    <input name="VALIDTY_TO" id="VALIDTY_TO" type="text" class="form-control form-control-inline input-medium date-picker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="param_id" />
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-simpanadd" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span></h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency From</label>
                                    <select name="CURRENCY_FROM" class="form-control" id="CURRENCY_FROMM"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency TO</label>
                                    <select name="CURRENCY_TO" class="form-control" id="CURRENCY_TOO"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Multiply Rate</label>
                                    <input id="MULTIPLY_RATEE" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Devide Rate</label>
                                    <input id="DEVIDE_RATEE" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity From</label>
                                    <input name="VALIDITY_FROMM" id="VALIDITY_FROMM" type="text" class="form-control form-control-inline input-medium date-picker" data-date-format="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Validity To</label>
                                    <input name="VALIDTY_TOO" id="VALIDTY_TOO" type="text" class="form-control form-control-inline input-medium date-picker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="param_idd" />
                </form>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>*@
                <button id="btn-bataladd" type="button" class="btn green" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/currency-rate.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/parameter-approval-setting.js")" type="text/javascript"></script>*@
}




