﻿@{
    ViewBag.Title = "Approval Form";
    ViewBag.Breadcrumb = "Approval of Property";
    ViewBag.SubBreadcrumb = "Approval Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#surat" data-toggle="tab"> Surat </a>
                        </li>
                        <li>
                            <a href="#data" data-toggle="tab">Data Contract</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    @*tab surat*@
                    <div class="tab-pane active" id="surat">
                        <div class="alert alert-warning">
                            <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).

                            <input hidden name="ID" id="ID" value="@ViewBag.SURAT_ID" />
                        </div>
                        <div class="row">
                            @*<div class="col-md-8">
                                    <h3 class="form-section">Identitas Surat </h3>
                                </div>*@
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>No. Surat</label>
                                            @*<input readonly value="@ViewBag.NO_SURAT" name="NO_SURAT" id="NO_SURAT" type="text" class="form-control">*@
                                            <input readonly value="-" name="NO_SURAT" id="NO_SURAT" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <input readonly value="@ViewBag.SUBJECT" name="SUBJECT" id="SUBJECT" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="form-section">Isi Surat </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <iframe src='/assets/pdfjs/web/viewer.html?file=@Url.Content("~/pdf/disposisilistpdf/")@ViewBag.SURAT_ID' width='100%' style="height:100vh !important" allowfullscreen webkitallowfullscreen></iframe>
                                        @* <textarea readonly id="isi_surat" name="isi_surat">@ViewBag.ISI_SURAT</textarea>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="border-color:#00BCED;" class="panel panel-primary">
                                            <div style="background-color: #00BCED;" class="panel-heading">
                                                <h4 class="panel-title"><span class="text-right">History</span></h4>
                                            </div>
                                            @if (ViewBag.DETAIL_HISTORY != null)
                                            {
                                                foreach (var history in ViewBag.DETAIL_HISTORY)
                                                {
                                                    <table align="right" style="margin-right:20px; font-size:10px;">
                                                        <tr>
                                                            <td align="right">
                                                                @history.TIME_CREATE
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div style="padding: 5px;background-color: #E1F9FF;" class="panel-body">
                                                        <div class="col-md-12" height:150px;">
                                                            <div style="background-color: #00BCED;height: 150px;overflow-y: scroll;" class="form-group">
                                                                <label><u>@history.TYPE</u></label>
                                                                <table align="center" style="background-color: #FFFFFF;width: 250px;" class="form-group">
                                                                    <tr>
                                                                        <td><b> @history.NAMA</b></td>
                                                                    </tr>
                                                                    @if (@history.TYPE == "Disposisi")
                                                                    {
                                                                        <tr>
                                                                            <td><b>Kepada</b> : Manager Regional</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><b>Instruksi</b> : @history.INSTRUKSI</td>
                                                                        </tr>
                                                                    }

                                                                    <tr>
                                                                        <td><textarea disabled style="width:250px;">@history.MEMO</textarea></td>
                                                                    </tr>
                                                                </table>
                                                                @*<textarea style="background-color: #FFFFFF; " height: 120px;" disabled class="form-control" id="MEMO" name="MEMO">@history.MEMO</textarea>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="data">
                        <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
                        <h3 class="form-section">Approval From</h3>
                        <div class="alert alert-warning">
                            <strong>Info!</strong> Sebelum melakukan approval harap dicek terlebih dahulu data-data kontrak yang ada.
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Company Code</label>
                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Contract Offer No</label>
                                    @if (ViewBag.APPROVAL_NEXT_LEVEL == "60")
                                    {
                                        <input type="hidden" id="property_role" name="property_role" value="@ViewBag.PROPERTY_ROLE">
                                    }
                                    else if (ViewBag.APPROVAL_NEXT_LEVEL == "80")
                                    {
                                        <input type="hidden" id="property_role" name="property_role" value="80">
                                    }
                                    else if (ViewBag.APPROVAL_NEXT_LEVEL == "90")
                                    {
                                        <input type="hidden" id="property_role" name="property_role" value="90">
                                    }
                                    else
                                    {
                                        <input type="hidden" id="property_role" name="property_role" value="@ViewBag.PROPERTY_ROLE">
                                    }
                                    <input type="text" class="form-control" id="CONTRACT_OFFER_NO" value="@ViewBag.CONTRACT_OFFER_NO" readonly>
                                    <input type="hidden" class="form-control" id="DISPOSISI_PARAF" value="@ViewBag.DISPOSISI_PARAF" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Contract Offer Name</label>
                                    <input type="text" id="CONTRACT_OFFER_NAME" class="form-control" value="@ViewBag.CONTRACT_OFFER_NAME" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Contract Type</label>
                                    <input type="text" class="form-control" id="CONTRACT_OFFER_TYPE_F" value="@ViewBag.CONTRACT_OFFER_TYPE" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Business Entity</label>
                                    <input type="text" class="form-control" id="BUSINESS_ENTITY_F" value="@ViewBag.BE_ID" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Contract Start Date</label>
                                    <input type="text" class="form-control" id="CONTRACT_START_DATE" value="@ViewBag.CONTRACT_START_DATE" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Contract End Date</label>
                                    <input type="text" class="form-control" id="CONTRACT_END_DATE" value="@ViewBag.CONTRACT_END_DATE" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Term In Months</label>
                                    <input type="text" class="form-control" id="TERM_IN_MONTHS" value="@ViewBag.TERM_IN_MONTHS" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Customer MDM</label>
                                    <input type="text" id="BUSINESS_PARTNER_NAME" class="form-control" value="@ViewBag.CUSTOMER_NAME" readonly>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Customer AR</label>
                                    <input type="text" class="form-control" id="CUSTOMER_AR" value="@ViewBag.CUSTOMER_AR" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Profit Center</label>
                                    <input type="text" class="form-control" id="PROFIT_CENTER_F" value="@ViewBag.PROFIT_CENTER_NAME" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Contract Usage</label>
                                    <input type="text" class="form-control" id="CONTRACT_USAGE_F" value="@ViewBag.CONTRACT_USAGE" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Contract Currency</label>
                                    <input type="text" class="form-control" id="CURRENCY" value="@ViewBag.CURRENCY" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Offer Status</label>
                                    <input type="text" class="form-control" id="OFFER_STATUS" value="@ViewBag.OFFER_STATUS" readonly>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">Object</h3>
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> OBJECT ID </th>
                                                <th class="dt-head-center"> OBJECT Type </th>
                                                <th class="dt-head-center"> RO NAME </th>
                                                <th class="dt-head-center"> START DATE </th>
                                                <th class="dt-head-center"> END DATE </th>
                                                <th class="dt-head-center"> LUAS TANAH </th>
                                                <th class="dt-head-center"> LUAS BANGUNAN </th>
                                                <th class="dt-head-center"> INDUSTRY </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">Condition</h3>
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="condition">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> CALC OBJECT </th>
                                                <th class="dt-head-center"> CONDITION TYPE </th>
                                                <th class="dt-head-center"> VALID FROM </th>
                                                <th class="dt-head-center"> VALID TO </th>
                                                <th class="dt-head-center"> MONTHS </th>
                                                <th class="dt-head-center"> STATISTIC </th>
                                                <th class="dt-head-center"> UNIT PRICE </th>
                                                <th class="dt-head-center"> AMT REF </th>
                                                <th class="dt-head-center"> FREQUENCY </th>
                                                <th class="dt-head-center"> START DUE DATE </th>
                                                <th class="dt-head-center"> MANUAL NO </th>
                                                <th class="dt-head-center"> FORMULA </th>
                                                <th class="dt-head-center"> MEAS TYPE </th>
                                                <th class="dt-head-center"> LUAS (M2) </th>
                                                <th class="dt-head-center"> TOTAL VALUE</th>
                                                <th class="dt-head-center"> % FROM NJOP </th>
                                                <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                <th class="dt-head-center"> SALES RULE </th>
                                                <th class="dt-head-center"> TOTAL NET VALUE </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h3 class="form-section">Manual Frequency</h3>
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                <th class="dt-head-center"> CONDITION </th>
                                                <th class="dt-head-center"> DUE DATE </th>
                                                <th class="dt-head-center"> NET VALUE </th>
                                                <th class="dt-head-center"> QUANTITY </th>
                                                <th class="dt-head-center"> UNIT </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <h3 class="form-section">Memo</h3>
                        <div class="row">
                            <div class="col-md-12 ">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                            <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                            <th class="dt-head-center" width="50%"> MEMO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <h3 class="form-section">Notes</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" id="NOTES" placeholder="Silahkan beri catatan disini apabila terdapat perubahan." rows="6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions left">
                    <button type="button" class="btn default" id="btn-kembali">
                        <i class="fa fa-reply"></i> Back
                    </button>
                    <button type="button" class="btn red" id="btn-reject">
                        <i class="fa fa-close"></i> Reject
                    </button>
                    <button type="button" class="btn blue" id="btn-revise">
                        <i class="fa fa-edit"></i> Revise
                    </button>
                    <button type="button" class="btn green" id="btn-approve">
                        <i class="fa fa-check"></i> Approve
                    </button>
                </div>
            </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->

        <div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Get Data Contract Offer</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> #</th>
                                            <th class="dt-head-center"> CONTRACT OFFER NO</th>
                                            <th class="dt-head-center"> CONTRACT OFFER NAME</th>
                                            <th class="dt-head-center"> CONTRACT START DATE</th>
                                            <th class="dt-head-center"> CONTRACT END DATE</th>
                                            <th class="dt-head-center"> TERM IN MONTHS</th>
                                            <th class="dt-head-center"> CONTRACT USAGE</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>

    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/pending-list.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/pending-list.js")" type="text/javascript"></script>*@
}