﻿@model Remote.ViewModels.TransRentalRequest
@{
    ViewBag.Title = "Contract Offer Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Edit Contract Offer Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;

}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form" id="form_add">
            <div class="form-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#data_disposisi" data-toggle="tab"> Disposisi </a>
                        </li>
                        <li>
                            <a href="#data_contract" data-toggle="tab">  Detail Data </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="data_disposisi">
                            <div class="row">
                                <div class="alert alert-info">
                                    <strong>Identitas Surat.</strong>
                                </div>
                                <input hidden name="SURAT_ID" id="SURAT_ID" value="@ViewBag.SURAT_ID" />
                                <input hidden name="ADD_SURAT" id="ADD_SURAT" value="@ViewBag.ADD_SURAT" />
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>No. Surat</label>
                                                <input readonly value="@ViewBag.NO_SURAT" name="NO_SURAT" id="NO_SURAT" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input readonly value="@ViewBag.SUBJECT" name="SUBJECT" id="SUBJECT" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea readonly id="ISI_SURAT" rows="10" style="height:100%;" class="form-control" name="ISI_SURAT">@ViewBag.ISI_SURAT</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.ADD_SURAT == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Disposisi Ke</label>
                                                    <select name="DISPOSISI_KE" class="form-control" id="DISPOSISI_KE"></select>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" id="summernote">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Komentar/Memo</label>
                                                <textarea id="MEMO" rows="2" style="height:100%;" class="form-control" name="MEMO"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <button type="button" class="btn blue" id="btn-save-data">
                                            <i class="fa fa-check"></i> Save
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="border-color:#00BCED;" class="panel panel-primary">
                                                <div style="background-color: #00BCED;" class="panel-heading">
                                                    <h4 class="panel-title"><span class="text-right">History</span></h4>
                                                </div>
                                                @foreach (var history in ViewBag.DETAIL_HISTORY)
                                                {
                                                    <table align="right" style="margin-right:20px; font-size:10px;">
                                                        <tr>
                                                            <td align="right">
                                                                @history.TIME_CREATE
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div style="padding: 5px;background-color: #E1F9FF;" class="panel-body">
                                                        @*<div class="col-md-12">
                                                                <div style="background-color: #00BCED;" class="form-group">
                                                                    <label><u>@history.TYPE</u></label>
                                                                    <textarea style="background-color: #FFFFFF;" disabled style="height: 100px;" class="form-control" id="MEMO" name="MEMO">@history.MEMO</textarea>
                                                                </div>
                                                            </div>*@
                                                        <div class="col-md-12" height:120px;">
                                                            <div style="background-color: #00BCED;height: 120px;" class="form-group">
                                                                <label><u>@history.TYPE</u></label>
                                                                <table align="center" style="background-color: #FFFFFF;width: 250px;" class="form-group">
                                                                    <tr>
                                                                        <td><b> CEO Regional Jatim Pelindo III</b></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><b>Kepada</b> : Manager Regional</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><textarea style="width:250px;">@history.MEMO</textarea></td>
                                                                    </tr>
                                                                </table>
                                                                @*<textarea style="background-color: #FFFFFF; " height: 120px;" disabled class="form-control" id="MEMO" name="MEMO">@history.MEMO</textarea>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="data_contract">
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Data dibawah ini merupakan daftar status workflow contract offer yang sedang berjalan.
                            </div>
                            <input type="hidden" id="RENTAL_REQUEST_NO" value="@ViewBag.RENTAL_REQUEST_NO">
                            <input type="hidden" id="OLD_CONTRACT_OFFER" value="@ViewBag.OLD_CONTRACT_OFFER">
                            <input type="hidden" id="OLD_RENTAL_REQUEST" value="@ViewBag.OLD_RENTAL_REQUEST">
                            <input type="hidden" id="RR_ID" value="@ViewBag.RR_ID">
                            <div class="row">
                                <div class="col-md-8 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Company Code</label>
                                                <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Contract Offer Type</label>
                                                <input type="text" id="CONTRACT_OFFER_TYPE" value="@ViewBag.CONTRACT_OFFER_TYPE" class="form-control" readonly>
                                                <input type="hidden" id="RENTAL_REQUEST_ID" value="@ViewBag.CONTRACT_OFFER_TYPE_ID" class="form-control" disabled>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Old Contract</label>
                                                <input type="text" id="OLD_CONTRACT" value="@ViewBag.OLD_CONTRACT" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Contract Offer Name</label>
                                                <input type="text" class="form-control" value="@ViewBag.CONTRACT_OFFER_NAME" id="CONTRACT_OFFER_NAME">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Start Date</label>
                                                <input class="form-control form-control-inline date-picker" value="@ViewBag.CONTRACT_START_DATE" size="16" id="CONTRACT_START_DATE" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract End Date</label>
                                                <input class="form-control form-control-inline date-picker" value="@ViewBag.CONTRACT_END_DATE" size="16" id="CONTRACT_END_DATE" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Term In Months</label>
                                                <input type="text" class="form-control" value="@ViewBag.TERM_IN_MONTHS" id="TERM_IN_MONTHS">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- NEW EDIT FORM -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Search Customer Name</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                    <input type="text" id="CUSTOMER_NAME" class="form-control" value="@ViewBag.CUSTOMER_NAME">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Customer Code MDM</label>
                                                <input type="text" class="form-control" id="CUSTOMER_ID" value="@ViewBag.CUSTOMER_ID" readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Business Entity</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME", @ViewBag.BE_ID), "-- Choose Business Entity --", new { @class = "form-control", @id = "BUSINESS_ENTITY_ID" })*@
                                                    <input type="text" class="form-control" id="BUSINESS_ENTITY_NAME" readonly value="@ViewBag.BE_NAME">
                                                    <input type="hidden" class="form-control" id="BUSINESS_ENTITY_ID" disabled value="@ViewBag.BE_ID">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Customer AR</label>
                                                <input type="text" class="form-control" id="CUSTOMER_AR" value="@ViewBag.CUSTOMER_AR" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Profit Center</label>
                                                @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME", @ViewBag.PROFIT_CENTER), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                                                <input type="text" class="form-control" id="TERMINAL_NAME" readonly value="@ViewBag.PROFIT_CENTER_NAME">
                                                <input type="hidden" class="form-control" id="PROFIT_CENTER" disabled value="@ViewBag.PROFIT_CENTER_ID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-4">
                                            <div class="form-group">
                                                <label>Contract Usage</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.DropDownListFor(m => m.FDDContractUsage, new SelectList(Model.DDContractUsage, "ID", "REF_DESC", @ViewBag.CONTRACT_USAGE_ID), "-- Choose --", new { @class = "form-control", @id = "USAGE_TYPE" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Contract Currency</label>
                                                <select class="form-control" id="CONTRACT_CURRENCY">
                                                    <option value="">-- Choose --</option>
                                                    @if (ViewBag.CURRENCY == "IDR")
                                                    {
                                                        <option value="IDR" selected>IDR</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="IDR">IDR</option>
                                                    }
                                                    @if (ViewBag.CURRENCY == "USD")
                                                    {
                                                        <option value="USD" selected>USD</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="USD">USD</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4">
                                            <div class="form-group">
                                                <label>Offer Status</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" id="OFFER_STATUS" value="10 - Created" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 hidden-xs hidden-sm flex-column">

                                    <div class="alert alert-info old-contract" style="display:none">
                                        <strong>Info Old Contract</strong>
                                        <table>
                                            <tr>
                                                <td>Value</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_VALUE text-right"></td>
                                                <td class="CURRENCY"></td>
                                            </tr>
                                            <tr>
                                                <td>Start</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_START text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_END text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>Period</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_PERIOD text-right"></td>
                                                <td>&nbsp;month/s</td>
                                            </tr>
                                        </table>
                                        <strong>Rental Object</strong>
                                        <table class="DETAIL_RO"></table>
                                        <small>*) Administration and Warmeking is not included</small>
                                    </div>

                                    <div class="alert alert-success old-contract" style="display:none">
                                        <strong>New Contract Estimation</strong>
                                        <table>
                                            <tr>
                                                <td>Value</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_VALUE_NEW text-right"></td>
                                                <td class="CURRENCY"></td>
                                            </tr>
                                            <tr>
                                                <td>Start</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_START_NEW text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>End</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_END_NEW text-right" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td>Period</td>
                                                <td>:&nbsp;</td>
                                                <td class="CONTRACT_PERIOD_NEW text-right"></td>
                                                <td>&nbsp;month/s</td>
                                            </tr>
                                        </table>
                                        <strong>Rental Object</strong>
                                        <table class="DETAIL_RO_NEW"></table>
                                        <small>*) Administration and Warmeking is not included</small>
                                    </div>
                                </div>
                            </div>
                            <!-- end EDIT FORM -->

                            <h3 class="form-section">Object</h3>
                            @*<div class="row">
                                    <div class="col-md-4">
                                        <a onclick="return check();" data-toggle="modal" href="#addDetailModal" class="btn btn-icon-only green" id="btn-detil-filter">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>*@
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> RO_NUMBER</th>
                                                    <th class="dt-head-center"> OBJECT ID</th>
                                                    <th class="dt-head-center"> OBJECT TYPE ID</th>
                                                    <th class="dt-head-center"> OBJECT TYPE</th>
                                                    <th class="dt-head-center"> RO NAME</th>
                                                    <th class="dt-head-center"> LAND AREA</th>
                                                    <th class="dt-head-center"> BUILDING AREA</th>
                                                    <th class="dt-head-center"> TYPE INDUSTRY</th>
                                                    <th class="dt-head-center"> #</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Condition</h3>
                            @*<div class="row">
                                    <div class="col-md-4">
                                        <button class="btn btn-icon-only green" type="button" data-toggle="modal" href="#addCondition" id="btn-add-condition">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>*@
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="condition">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> CALC OBJECT </th>
                                                    <th class="dt-head-center"> CONDITION TYPE </th>
                                                    <th class="dt-head-center"> VALID FROM </th>
                                                    <th class="dt-head-center"> VALID TO </th>
                                                    <th class="dt-head-center"> MONTHS </th>
                                                    <th class="dt-head-center"> STATISTIC </th>
                                                    <th class="dt-head-center"> FORMULA </th>
                                                    <th class="dt-head-center"> UNIT PRICE VALUE </th>
                                                    <th class="dt-head-center"> AMT REF </th>
                                                    <th class="dt-head-center"> FREQUENCY </th>
                                                    <th class="dt-head-center"> START DUE DATE </th>
                                                    <th class="dt-head-center"> MANUAL NO </th>
                                                    <th class="dt-head-center"> MEAS TYPE </th>
                                                    <th class="dt-head-center"> LUAS (M2) </th>
                                                    <th class="dt-head-center"> TOTAL VALUE</th>
                                                    <th class="dt-head-center"> % FROM NJOP </th>
                                                    <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                    <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                    <th class="dt-head-center"> COA PROD </th>
                                                    <th class="dt-head-center"> ACTION</th>
                                                    <th class="dt-head-center"> TAX_CODE </th>
                                                    @*style="display: none"*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Manual Frequency</h3>
                            @*<div class="row">
                                    <div class="col-md-4">
                                        <button class="btn btn-icon-only green" type="button" id="btn-add-manual-frequency">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>*@
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                    <th class="dt-head-center"> CONDITION </th>
                                                    <th class="dt-head-center"> DUE DATE </th>
                                                    <th class="dt-head-center"> NET VALUE </th>
                                                    <th class="dt-head-center"> QUANTITY </th>
                                                    <th class="dt-head-center"> QTY UNIT </th>
                                                    <th class="dt-head-center" width="5%"> ADD </th>
                                                    <th class="dt-head-center" width="5%"> ACTION </th>
                                                    <th class="dt-head-center sembunyi"> CONDITION_CODE </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Memo</h3>
                            <div class="row">
                                @*<div class="col-md-4">
                                        <button class="btn btn-icon-only green" type="button" data-toggle="modal" href="#addMemo" id="btn-add-memo">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>*@
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                                <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                                <th class="dt-head-center" width="50%"> MEMO</th>
                                                <th class="dt-head-center" width="5%"> ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->

        <div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Data Object Detail</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Contract Start</label>
                                            <input id="from" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Contract End</label>
                                            <input id="to" class="form-control form-control-inline input-sm date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Land From</label>
                                            <input type="text" id="luas_tanah_from" class="form-control" placeholder="100">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Land To</label>
                                            <input type="text" id="luas_tanah_to" class="form-control" placeholder="1000">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Building From</label>
                                            <input type="text" id="luas_bangunan_from" class="form-control" placeholder="100">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Building To</label>
                                            <input type="text" id="luas_bangunan_to" class="form-control" placeholder="1000">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                </div>
                                <div class="row">

                                </div>
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center sembunyi">RO_NUMBER</th>
                                            <th class="dt-head-center sembunyi">OBJECT TYPE ID</th>
                                            <th class="dt-head-center sembunyi">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">RO NAME</th>
                                            <th class="dt-head-center">BUILDING AREA</th>
                                            <th class="dt-head-center">LAND AREA</th>
                                            <th class="dt-head-center">VALID FROM</th>
                                            <th class="dt-head-center">VALID TO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        @*<div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Get Data Rental Request</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">
                                    <div class="btn-group">
                                        <button class="btn sbold green" id="btn-filter" type="button">
                                            <i class="fa fa-search"></i> Filter
                                        </button>
                                    </div>
                                    <br>
                                    <br>
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> NUMBER</th>
                                                <th class="dt-head-center"> TYPE</th>
                                                <th class="dt-head-center"> NAME</th>
                                                <th class="dt-head-center"> BUSINESS PARTNER</th>
                                                <th class="dt-head-center"> #</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn green" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal-dialog -->
            </div>*@

        <!--TARIF NJOP MODALS-->
        @*<div class="modal fade bs-modal-lg" id="tarifNJOP" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Choose NJOP</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" class="horizontal-form">
                                <div class="form-body">
                                    <div class="btn-group">
                                        <button class="btn sbold green" id="btn-filter-data-njop" type="button">
                                            <i class="fa fa-search"></i> Filter
                                        </button>
                                        <a class="btn sbold blue" id="btn-add-njop" href="/TarifPedoman/Njop" target="_blank">
                                            <i class="fa fa-plus"></i> Add New
                                        </a>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row percentage">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Percentage</label>
                                                <input type="text" class="form-control input-percentage" id="NJOP_PERCENT_DISPLAY" disabled />
                                                <input type="hidden" id="NJOP_PERCENT" />
                                                <input type="hidden" id="CALC_OBJ" />
                                                <input type="hidden" id="COND_TYPE" />
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-njop">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center">#</th>
                                                <th class="dt-head-center">Nama Jalan</th>
                                                <th class="dt-head-center">NJOP</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn green" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal-dialog -->
            </div>*@

        <!--TARIF PEDOMAN MODALS-->
        <div class="modal fade bs-modal-lg" id="modalTarifPedoman" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Tarif Pedoman</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                @*<div class="btn-group">
                                        <button class="btn sbold green" id="btn-filter-data-njop" type="button">
                                            <i class="fa fa-search"></i> Filter
                                        </button>
                                        <a class="btn sbold blue" id="btn-add-njop" href="/TarifPedoman/Njop" target="_blank">
                                            <i class="fa fa-plus"></i> Add New
                                        </a>
                                    </div>*@
                                <br>
                                <div class="row percentage">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Percentage</label>
                                            <input type="text" class="form-control input-percentage" id="NJOP_PERCENT_DISPLAY" disabled />
                                            <input type="hidden" id="NJOP_PERCENT" />
                                            <input type="hidden" id="CALC_OBJ" />
                                            <input type="hidden" id="COND_TYPE" />
                                            <input type="hidden" id="PRICE_ROW" />
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-pedoman">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"># </th>
                                            <th class="dt-head-center">VALUE </th>
                                            <th class="dt-head-center">PROFIT CENTER </th>
                                            <th class="dt-head-center">JENIS PEDOMAN </th>
                                            <th class="dt-head-center">ACTIVE DATE </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-njop">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center">NAMA JALAN</th>
                                            <th class="dt-head-center">NJOP</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--ADD NEW RO MODALS-->
        <div class="modal fade bs-modal-lg" id="addNewRO" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Data Rental Object</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="btn-group">
                                    <button class="btn sbold green" id="btn-filter-data-ro" type="button">
                                        <i class="fa fa-search"></i> Filter
                                    </button>
                                </div>
                                <br>
                                <br>
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail-ro">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">#</th>
                                            <th class="dt-head-center">RO_NUMBER</th>
                                            <th class="dt-head-center">OBJECT TYPE ID</th>
                                            <th class="dt-head-center">OBJECT TYPE</th>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">RO NAME</th>
                                            <th class="dt-head-center">BUILDING DIMENSION</th>
                                            <th class="dt-head-center">LAND DIMENSION</th>
                                            <th class="dt-head-center">VALID FROM</th>
                                            <th class="dt-head-center">VALID TO</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--ADD CONDITION MODALS-->
        <div class="modal fade" id="addCondition" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Condition</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <h4>Choose Calculation Object</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="condition-option" name="condition-option" class="form-control">
                                                <option value='' selected> -- Choose Condition Option -- </option>
                                                <option value='Header Document'> Header Document </option>
                                            </select>
                                            <!--
                                            <select class="form-control" id="condition-option">
                                                <option value="">-- Choose --</option>
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                            </select>
                                            -->
                                        </div>
                                    </div>
                                </div>

                                <h4>Choose Condition Type</h4>
                                <hr />
                                <div id="cekbokList" class="mt-checkbox-list"></div>

                                <!--
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        Checkbox 1
                                        <input type="checkbox" value="1" name="test" />
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        Checkbox 2
                                        <input type="checkbox" value="2" name="test" />
                                        <span></span>
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        Checkbox 3
                                        <input type="checkbox" value="3" name="test" />
                                        <span></span>
                                    </label>
                                </div>
                                -->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue" id="btn-condition">
                            <i class="fa fa-check"></i> Add Condition
                        </button>
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--ADD MEMO MODALS-->
        <div class="modal fade" id="addMemo" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Memo</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <h4>Condition Type</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="memo-condition" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>

                                <h4>Memo</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="4" id="memo" name="memo"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue" id="btn-add-memo-md" name="btn-add-memo">
                            <i class="fa fa-check"></i> Add Memo
                        </button>
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/summernote/summernote-lite.min.css" rel="stylesheet">
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>
    <script src="~/assets/global/plugins/summernote/summernote-lite.min.js"></script>


    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/disposisi-add.js" asp-append-version="true"></script>
    @* <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/dt-add-trans-co-edit-new.js")" type="text/javascript"></script>*@


}