﻿
@model Remote.ViewModels.UserViewModels
@{ ViewBag.Title = "Monitoring dan Kronologis Penyelesaian Permasalahan Add";
    ViewBag.Breadcrumb = "Monitoring dan Kronologis Penyelesaian Permasalahan";
    //ViewBag.SubBreadcrumb = "Disposisi List";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring dan Kronologis Penyelesaian Permasalahan Edit</span>
            <input type="hidden" value="@ViewBag.PARAM" id="param" />
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <form action="#" id="edit-monitoring">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="control-label">Kronologis</h4>
                            </div>
                        </div><hr />
                        <div class="alert alert-warning">
                            <strong>Info!</strong> Pastikan data yang anda input benar sebelum melakukan simpan.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pilih Cabang</label>
                                <input type="hidden" id="CREATED_BY" class="form-control" value="@ViewBag.CREATED_BY">
                                <input type="hidden" value="@ViewBag.IDDetail" id="ID" name="ID" />
                                @Html.DropDownList("FDDCabang", new SelectList(Model.DDCabangs, "BE_ID", "BE_NAME", ViewBag.CABANG), new { @class = "form-control", @id = "FDDCabang", @name = "FDDCabang" })
                                @*  @Html.DropDownListFor(m => m.FDDCabang, new SelectList(Model.DDCabangs, "BE_ID", "BE_NAME"), @ViewBag.CABANG, new { @class = "form-control", @id = "CABANG" })*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pilih Regional</label>
                                @Html.DropDownList("FDDRegional", new SelectList(Model.DDRegionals, "BE_ID", "BE_NAME", ViewBag.REGIONAL), new { @class = "form-control", @id = "FDDRegional", @name = "FDDRegional" })
                                @* @Html.DropDownListFor(m => m.FDDRegional, new SelectList(Model.DDRegionals, "BE_ID", "BE_NAME"), @ViewBag.REGIONAL, new { @class = "form-control", @id = "REGIONAL" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Judul/Perihal</label>
                                <input type="text" id="JUDUL" name="JUDUL" class="form-control" value="@ViewBag.JUDUL" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Dokumen</label>
                                <input type="text" id="TANGGAL" name="TANGGAL" class="form-control date-picker" value="@ViewBag.TANGGAL">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Data</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-icon-only green" type="button" id="btn-add-data-edit">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="table-detail">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center" width="10%"> NO SURAT </th>
                                        <th class="dt-head-center"> TANGGAL SURAT </th>
                                        <th class="dt-head-center"> KETERANGAN </th>
                                        <th class="dt-head-center"> TINDAK LANJUT </th>
                                        <th class="dt-head-center"> KENDALA </th>
                                        <th class="dt-head-center"> PROGRESS </th>
                                        <th class="dt-head-center" width="40%"> ATTACHMENT </th>
                                        <th class="dt-head-center"> ACTION </th>
                                        @*<th class="dt-head-center" width="10%"> No Surat </th>
        <th class="dt-head-center"> Tanggal Surat </th>
        <th class="dt-head-center"> Keterangan </th>
        <th class="dt-head-center"> Tindak Lanjut </th>
        <th class="dt-head-center"> Kendala </th>
        <th class="dt-head-center"> Progress </th>
        <th class="dt-head-center" width="30"> Attachment </th>
        <th class="dt-head-center"> Action </th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-actions left">
                    <button type="button" class="btn red" id="btn-kembali">
                        <i class="fa fa-close"></i> Cancel
                    </button>
                    <button type="button" class="btn blue" id="btn-update-update">
                        <i class="fa fa-check"></i> Save Changes
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
}
}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyDNrQUCrtl-8cadU2mb1AIo8LJcqw0VmAk" async="" defer="defer"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="~/assets/scripts/monitoring-kronologis-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/parameter-approval-setting.js")" type="text/javascript"></script>*@
}




