﻿
@model Remote.Models.MonitoringKronologisMaster.DataMonitoringKronologis
@{
    ViewBag.Title = "Monitoring dan Kronologis Penyelesaian Permasalahan Add";
    ViewBag.Breadcrumb = "Monitoring dan Kronologis Penyelesaian Permasalahan";
    //ViewBag.SubBreadcrumb = "Disposisi List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring dan Kronologis Penyelesaian Permasalahan Add</span>
            <input type="hidden" value="@ViewBag.PARAM" id="param" />
        </div>
    </div>
    <div class="row" id="row-table">
        <form action="#!" method="post" id="MonitoringKronologis" enctype="multipart/form-data">
            <input type="hidden" id="ID" value="@Model.ID" />
            <div class="col-md-12">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="control-label">Kronologis</h4>
                            </div>
                        </div><hr />
                        <div class="alert alert-warning">
                            <strong>Info!</strong> Pastikan data yang anda input benar sebelum melakukan simpan.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pilih Cabang</label>
                                <input type="hidden" id="CREATED_BY" class="form-control" value="@ViewBag.CREATED_BY">
                                @Html.DropDownList("FDDCabang", new SelectList(ViewBag.DDCabangs, "BE_ID", "BE_NAME", Model.BE_ID), "-- Choose Cabang --", new { @class = "form-control", @id = "CABANG2" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pilih Regional</label>
                                @Html.DropDownList("FDDRegional", new SelectList(ViewBag.DDRegionals, "BE_ID", "BE_NAME", Model.REGIONAL), "-- Choose Regional --", new { @class = "form-control", @id = "REGIONAL2" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Judul/Perihal</label>
                                <input type="text" id="JUDUL" name="JUDUL" class="form-control" maxlength="50" placeholder="Judul/Perihal" value="@Model.JUDUL">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tanggal Pembuatan Kronologis</label>
                                <input type="text" id="TANGGAL" name="TANGGAL" class="form-control date-picker" placeholder="Tanggal" value="@(Model.TANGGAL != null ? DateTime.ParseExact(Model.TANGGAL,"MM/dd/yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy") : "")">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="param_id" />
                </div>
                <h3 class="form-section">Data</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-icon-only green" type="button" id="btn-add-data">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="table-data-monitoring">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center" width="10%"> No Surat </th>
                                        <th class="dt-head-center"> Tanggal Surat </th>
                                        <th class="dt-head-center"> Keterangan </th>
                                        <th class="dt-head-center"> Tindak Lanjut </th>
                                        <th class="dt-head-center"> Kendala </th>
                                        <th class="dt-head-center"> Progress </th>
                                        <th class="dt-head-center" width="60%"> Attachment </th>
                                        <th class="dt-head-center"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var detail in Model.detailKronologis)
                                    {
                                    <tr>
                                        <input type="hidden" id="FILE_DELETE" name="detailKronologis[__REINDEX__].FILE_DELETE" />
                                        <input type="hidden" id="ID" name="detailKronologis[__REINDEX__].ID" value="@detail.ID" />
                                        <td><input type="text" class="form-control" id="NO_SURAT" name="detailKronologis[__REINDEX__].NO_SURAT" value="@detail.NO_SURAT"></td>
                                        <td><input type="text" class="form-control date-picker" id="TANGGAL_SURAT" name="detailKronologis[__REINDEX__].TANGGAL_SURAT" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" value="@(detail.TANGGAL_SURAT != null ? DateTime.ParseExact(detail.TANGGAL_SURAT,"MM/dd/yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture).ToString("dd/MM/yyyy") : "")"></td>
                                        <td><input id="KETERANGAN" name="detailKronologis[__REINDEX__].KETERANGAN" class="form-control" value="@detail.KETERANGAN"></td>
                                        <td><input type="text" class="form-control" id="TINDAK_LANJUT" name="detailKronologis[__REINDEX__].TINDAK_LANJUT" value="@detail.TINDAK_LANJUT"></td>
                                        <td><input type="text" class="form-control" id="KENDALA" name="detailKronologis[__REINDEX__].KENDALA" value="@detail.KENDALA"></td>
                                        <td><input class="form-control" id="PROGRESS" name="detailKronologis[__REINDEX__].PROGRESS" value="@detail.PROGRESS"></td>
                                        <td>
                                            @if (detail.FILE_NAME != null)
                                            {
                                                @detail.FILE_NAME<a class="btn default btn-xs red del-upload"><i class="fa fa-times"></i></a>
                                            }
                                            else
                                            {
                                                <input type="file" accept=".pdf, .doc, .docx" class="form-control" id="FILE_NAME" name="detailKronologis[__REINDEX__].FILE">
                                            }
                                        </td>
                                        <td><center><a class="btn default btn-xs red" id="btn-delcus-frequency"><i class="fa fa-trash"></i></a></center></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                            <template id="tmpl-upload">
                                <input type="file" accept=".pdf, .doc, .docx" class="form-control" id="FILE_NAME" name="detailKronologis[__REINDEX__].FILE">
                            </template>

                            <div id="delete-line">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions left">
                    <button type="button" class="btn red" id="btn-kembali">
                        <i class="fa fa-close"></i> Cancel
                    </button>
                    <button type="submit" class="btn blue" id="btn-update">
                        <i class="fa fa-check"></i> Save Changes
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/monitoring-kronologis-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/parameter-approval-setting.js")" type="text/javascript"></script>*@
}




