﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Monitoring dan Kronologis Penyelesaian Permasalahan";
    ViewBag.Breadcrumb = "Monitoring dan Kronologis Penyelesaian Permasalahan";
    //ViewBag.SubBreadcrumb = "Disposisi List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring dan Kronologis Penyelesaian Permasalahan</span>
            <input type="hidden" value="@ViewBag.PARAM" id="param" />
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Business Entity</label>
                                @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a id="btn-add" data-toggle="modal" href="#addModal" class="btn sbold green">
                                <i class="fa fa-plus"></i> Add Data
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-monitorings">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> NO </th>
                            <th class="dt-head-center"> CABANG </th>
                            <th class="dt-head-center"> JUDUL/PERIHAL </th>
                            <th class="dt-head-center"> TANGGAL DOKUMEN </th>
                            <th class="dt-head-center"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span></h4>
            </div>
            <div class="modal-body">
                    <div class="row" id="row-table">
                        <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Cabang</label>
                                            <input type="hidden" id="ID" name="ID" class="form-control">
                                            <input type="text" id="CABANG" name="CABANG" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Regional</label>
                                            <input type="text" id="REGIONAL" name="REGIONAL" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Judul/Perihal</label>
                                            <input type="text" id="JUDUL" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tanggal Dokumen</label>
                                            <input type="text" id="TANGGAL" class="form-control date-picker" readonly>
                                        </div>
                                    </div>
                                </div>
                            <br>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="table-data-monitoring">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> No Surat </th>
                                                    <th class="dt-head-center"> Tanggal Surat </th>
                                                    <th class="dt-head-center"> Keterangan </th>
                                                    <th class="dt-head-center"> Tindak Lanjut </th>
                                                    <th class="dt-head-center"> Kendala </th>
                                                    <th class="dt-head-center"> Progress </th>
                                                    <th class="dt-head-center"> Attachment </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>*@
                <button id="btn-bataladd" type="button" class="btn green" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="viewDownload" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="row" id="row-table">
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <table class="table table-striped table-hover table-bordered" id="table-download">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> Attachment </th>
                                                <th class="dt-head-center"> Aksi </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd" type="button" class="btn green">Save</button>*@
                <button id="btn-bataladd" type="button" class="btn green" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/monitoring-kronologis-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/parameter-approval-setting.js")" type="text/javascript"></script>*@
}




