﻿@{
    ViewBag.Title = "Report Document Flow";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Document Flow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Document Flow</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>BUSINESS ENTITY</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="BUSINESS_ENTITY" name="BUSINESS_ENTITY" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CONTRACT OFFER NUMBER</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="CONTRACT_OFFER_NUMBER" name="CONTRACT_OFFER_NUMBER" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>RENTAL REQUEST NUMBER</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="RENTAL_REQUEST_NUMBER" name="RENTAL_REQUEST_NUMBER" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CONTRACT OFFER STATUS</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="CONTRACT_OFFER_STATUS" name="CONTRACT_OFFER_STATUS" tabindex="2"></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>RENTAL REQUEST STATUS</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="RENTAL_REQUEST_STATUS" name="RENTAL_REQUEST_STATUS" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CONTRACT NUMBER</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="CONTRACT_NUMBER" name="CONTRACT_NUMBER" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-8">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter-document-flow" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-doc-flow">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> BUSINESS ENTITY </th>
                            <th class="dt-head-center"> RENTAL REQUEST NUMBER </th>
                            <th class="dt-head-center"> RENTAL REQUEST CREATED BY </th>
                            <th class="dt-head-center"> DATE CREATED </th>
                            <th class="dt-head-center"> RENTAL REQUEST STATUS </th>
                            <th class="dt-head-center"> DATE RENTAL REQUEST APPROVE </th>
                            <th class="dt-head-center"> CONTRACT OFFER NUMBER </th>
                            <th class="dt-head-center"> CONTRACT OFFER LAST STATUS </th>
                            <th class="dt-head-center"> DELAYS RENTAL REQUEST APPROVED </th>
                            <th class="dt-head-center"> DATE OFFER CREATED </th>
                            <th class="dt-head-center"> DELAYS CONTRACT OFFER APPROVED </th>
                            <th class="dt-head-center"> DATE REALEASED TO WORKFLOW </th>
                            <th class="dt-head-center"> DELAYS RELEASE TO WORKFLOW </th>
                            <th class="dt-head-center"> DATE APPROVED BY MANAGER </th>
                            <th class="dt-head-center"> DELAYS APPROVE BY MANAGER </th>
                            <th class="dt-head-center"> DATE APPROVE BY DEPUTI GM </th>
                            <th class="dt-head-center"> DELAYS APPROVE BY DEPUTI GM </th>
                            <th class="dt-head-center"> DATE APPROVED BY GM </th>
                            <th class="dt-head-center"> DELAYS APPROVE BY GM </th>
                            <th class="dt-head-center"> DATE APPROVED BY SM </th>
                            <th class="dt-head-center"> DELAYS APPROVE BY SM </th>
                            <th class="dt-head-center"> DATE APPROVED BY DIREKTUR </th>
                            <th class="dt-head-center"> DELAYS APPROVE BY DIREKTUR </th>
                            <th class="dt-head-center"> DATE APPROVED BY KOMISARIS </th>
                            <th class="dt-head-center"> DATE APPROVED BY RUPS </th>
                            <th class="dt-head-center"> CONTRACT NUMBER </th>
                            <th class="dt-head-center"> DATE CONTRACT CREATED </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {

    <style>
        .bootstrap-select.btn-group .dropdown-menu li a {
            cursor: pointer;
            white-space: normal;
        }

        .bootstrap-select.btn-group .dropdown-menu.inner {
            max-height: none;
        }
    </style>

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    @*<link href="../assets/global/plugins/chosen/chosen.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    @*<script src="../assets/global/plugins/chosen/chosen.jquery.js"></script>*@
}

@section CustomScripts {
    <script src="~/assets/scripts/report-document-flow.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-document-flow.js")" type="text/javascript"></script>*@

}