﻿
@{
    ViewBag.Title = "Setting Disposisi Add";
    ViewBag.Breadcrumb = "Setting Disposisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data Setting Disposisi</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <form action="#" class="horizontal-form" id="setting-disposisi" autocomplete="off">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12">
                                <button style="float:right" type="button" class="btn red" id="btn-kembali">
                                    <i class="fa fa-arrow-left"></i> Kembali
                                </button>
                            </div>
                        </div>
                        <br />
                        <script>
                        var user_id = '@ViewBag.USER_ID';
                        var name = '@ViewBag.NAME';
                        var instruksi = '@ViewBag.INSTRUKSI';
                        </script>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" class="form-control" id="ID" value="@ViewBag.ID">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <select name="USERNAME[]" class="form-control" id="USERNAME">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input type="text" id="START_DATE" name="START_DATE" class="form-control date-picker" placeholder="Tanggal" value="@ViewBag.START_DATE">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <input type="text" id="END_DATE" name="END_DATE" class="form-control date-picker" placeholder="Tanggal" value="@ViewBag.END_DATE">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Instruksi</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Proses Lanjut Sesuai Prosedur
                                        </label>
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Cek dan Evaluasi
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            Saran dan Pendapat
                                        </label>
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                        <label class="form-check-label" for="defaultCheck4">
                                            UMK / UDK
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Isi Disposisi</label>
                                    <textarea id="MEMO" rows="2" style="height:100%;" class="form-control" name="MEMO">@ViewBag.MEMO</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-detail">
                                <i class="fa fa-plus"></i> Add Disposisi
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet-body">
                                <table class="table table-striped table-hover table-bordered" id="table-user-detail">
                                    <thead>
                                        <tr>
                                            <th width="2%" class="dt-head-center"> NO </th>
                                            <th width="5%" class="dt-head-center"> URUTAN DISPOSISI </th>
                                            <th class="dt-head-left"> USER TERDISPOSISI </th>
                                            <th width="5%" class="dt-head-center"> ACTION </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button id="btn-simpan" type="button" class="btn green right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <table id="delete_role">
        <tbody></tbody>
    </table>

</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/setting-disposisi-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/setting-other-service-config.js")" type="text/javascript"></script>*@

}
