﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Setting Other Service";
    ViewBag.Breadcrumb = "Setting Other Service";
    ViewBag.SubBreadcrumb = "Setting Other Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data Setting Disposisi</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @*<span id="branch_id" style="display:none;">@ViewBag.KodeCabang</span>*@
                                @*<button id="btn-add" data-toggle="modal" href="#addapvsetModal" class="btn sbold green">
                                        <i class="fa fa-plus"></i> Add Data
                                    </button>*@
                                <a id="btn-add" href="@Url.Action("Add", "SettingDisposisi")" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Data
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-setting-disposisi">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> ID </th>
                            <th class="dt-head-center"> USERNAME </th>
                            <th class="dt-head-center"> START DATE </th>
                            <th class="dt-head-center"> END DATE </th>
                            <th class="dt-head-center"> ACTIVE </th>
                            <th class="dt-head-center"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="hidden">
    <table id="delete_role">
        <tbody></tbody>
    </table>

</div>
<script>
    var user_id = '';
    var name = '';
    var instruksi = '';
    var id = 0;
</script>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/setting-disposisi-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/setting-other-service.js")" type="text/javascript"></script>*@

}
