﻿@model Remote.ViewModels.UserViewModels

@{
    ViewBag.Title = "Report Rental Object";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Rental Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Rental Object</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>BUSINESS ENTITY</label>
                                @*<select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY" name="BUSINESS_ENTITY"></select>*@
                                @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                @*<select class="form-control" id="PROFIT_CENTER" name="PROFIT_CENTER"></select>*@
                                <select class="form-control" id="PROFIT_CENTER">
                                    <option value="0">-- Choose Profit Center --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>RO Number</label>
                                <input type="text" id="RO_NUMBER" class="form-control" placeholder="102110000940">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Zone RIP</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="ZONE_RIP" name="ZONE_RIP"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Usage Type</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="USAGE_TYPE" name="USAGE_TYPE"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Function</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="FUNCTION" name="FUNCTION"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vacancy Status</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="VACANCY_STATUS">
                                    <option value="">-- Choose Vacancy Status --</option>
                                    <option value="VACANT">VACANT</option>
                                    <option value="OCCUPIED">OCCUPIED</option>
                                    <option value="BOOKED">BOOKED</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Vacancy Reason</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="VACANCY_REASON" name="VACANCY_REASON"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="STATUS">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Available Date</label>
                                <input id="AVAILABLE_DATE" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <div class="form-group">
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak-exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-ro">
                    <thead>
                        <tr>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp; BUSINESS ENTITY &nbsp; &nbsp; &nbsp;</th>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp; PROFIT CENTER &nbsp; &nbsp; &nbsp;</th>
                            <th class="dt-head-center"> RO NUMBER </th>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RO NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ZONE RIP &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center"> LAND DIMENSION </th>
                            <th class="dt-head-center"> BUILDING DIMENSION </th>
                            <th class="dt-head-center"> CONTRACT NO </th>
                            <th class="dt-head-center"> CONTRACT OFFER NO </th>
                            <th class="dt-head-center"> CUSTOMER </th>
                            <th class="dt-head-center"> BADAN USAHA </th>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CERTICATE NO &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center"> USAGE TYPE </th>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp; FUNCTION &nbsp; &nbsp; &nbsp;</th>
                            <th class="dt-head-center"> VACANCY STATUS </th>
                            <th class="dt-head-center"> VACANCY REASON </th>
                            <th class="dt-head-center"> VALID FROM </th>
                            <th class="dt-head-center"> VALID TO </th>
                            <th class="dt-head-center">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADDRESS &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center"> POSTAL CODE </th>
                            <th class="dt-head-center"> CITY </th>
                            <th class="dt-head-center"> PROVINCE </th>
                            <th class="dt-head-center"> STATUS </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    <!-- data-tables export-->
    @*<script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/jszip.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/pdfmake.min.js"></script>
        <script type="text/javascript" src="~/assets/global/plugins/data-tables-export/js/vfs_fonts.js"></script>*@

}

@section CustomScripts {
    <script src="~/assets/scripts/report-ro.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-ro.js")" type="text/javascript"></script>*@

}