﻿@model Remote.ViewModels.ReportTransWater
@{
    ViewBag.Title = "Report Jangka Panjang";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Jangka Panjang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Jangka Panjang & Pendek</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                @*<select id="BE_NAME" class="form-control"></select>*@
                                @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <select id="PROFIT_CENTER" class="form-control"></select>
                                @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                            </div>
                        </div>
                        @*<div class="col-md-4">
            <div class="form-group">
                <label>Transaction No</label>
                <input id="TRANSACTION_NO" class="form-control" type="text" placeholder="42000001" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Installation Code</label>
                <input id="INSTALLATION_CODE" class="form-control" type="text" placeholder="A/02316/02" />
            </div>
        </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Period</label>
                                <input id="PERIOD" class="form-control" type="text" placeholder="01.2017 atau 02.2017" />
                            </div>
                        </div>
                        @*<div class="col-md-3">
            <div class="form-group">
                <label>SAP Doc No</label>
                <input id="SAP_DOC_NO" class="form-control" type="text" placeholder="9500000145" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Posting Date From</label>
                <input id="POSTING_DATE_FROM" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Posting Date To</label>
                <input id="POSTING_DATE_TO" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
            </div>
        </div>*@
                        @*<div class="col-md-6">
            <div class="form-group">
                <label>Customer MDM</label>
                <input type="text" id="CUSTOMER_NAME" class="form-control" placeholder="PT. SARI RAHAYU">
                <input type="hidden" id="CUSTOMER_ID" class="form-control" readonly>
            </div>
        </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-trans-water">
                    <thead>
                        <tr>
                            <th rowspan="2" class="dt-head-center"> NO </th>
                            <th rowspan="2" class="dt-head-center"> PROFIT CENTER</th>
                            <th rowspan="2" class="dt-head-center"> CUSTOMER</th>
                            <th rowspan="2" class="dt-head-center"> CONTRACT NO </th>
                            <th rowspan="2" class="dt-head-center"> VALUE CONTRACT</th>
                            <th rowspan="2" class="dt-head-center"> COA </th>
                            <th rowspan="2" class="dt-head-center"> VALUE PER MONTH</th>
                            <th rowspan="2" class="dt-head-center"> CONTRACT START </th>
                            <th rowspan="2" class="dt-head-center"> CONTRACT END </th>
                            <th rowspan="2" class="dt-head-center"> MASA SEWA </th>
                            <th colspan="2" class="dt-head-center"> PREV PERIODE </th>
                            <th colspan="4" class="dt-head-center"> CURRENT YEAR </th>
                            <th rowspan="2" class="dt-head-center"> NEXT YEAR </th>
                            <th rowspan="2" class="dt-head-center"> END CONTRACT </th>
                        </tr>
                        <tr>
                            <th class="dt-head-center"> ACCRUED REVENUE </th>
                            <th class="dt-head-center"> PAID REVENUE </th>
                            <th class="dt-head-center"> ACCRUED REVENUE </th>
                            <th class="dt-head-center"> PAID REVENUE </th>
                            <th class="dt-head-center"> JANGKA PENDEK </th>
                            <th class="dt-head-center"> PROYEKSI CONTRACT </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/report-jkp.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-trans-water.js")" type="text/javascript"></script>*@

}