﻿@{
    ViewBag.Title = "Water & Electricity Billing";
    ViewBag.Breadcrumb = "Billing";
    ViewBag.SubBreadcrumb = "Water & Electricity Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Water & Electricity Billing </span>
        </div>
    </div>

    @*<div class="alert alert-warning">
            <strong>Info!</strong> Pastikan untuk mengisi <b>POSTING DATE</b> sebelum melakukan Posting.
        </div>*@

    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">

                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @*<a id="btn-add" href="/TarifPedoman/Add" class="btn sbold green">
                                        <i class="fa fa-plus"></i> Add Data
                                    </a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#content-active" data-toggle="tab"> Non Kedinasan </a>
                        </li>
                        <li>
                            <a href="#content-dinas" data-toggle="tab"> Kedinasan </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="content-active">
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Data dibawah ini merupakan daftar transaksi Non Kedinasan
                            </div>
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Posting Date</label>
                                            <input id="POSTING_DATE" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">

                                                <input id="POSTING_DATE" class="form-control form-control date-picker" type="hidden" value="" />


                                            </div>
                                        </div>

                                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-transwe">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> TRANSACTION NO</th>
                                                    <th class="dt-head-center"> INSTALLATION TYPE</th>
                                                    <th class="dt-head-center"> PROFIT CENTER</th>
                                                    <th class="dt-head-center"> CUSTOMER</th>
                                                    <th class="dt-head-center"> POWER CAPACITY</th>
                                                    <th class="dt-head-center"> PERIOD</th>
                                                    <th class="dt-head-center"> CURRENCY</th>
                                                    <th class="dt-head-center"> GRAND TOTAL IDR</th>
                                                    <th class="dt-head-center"> GRAND TOTAL USD</th>
                                                    <th class="dt-head-center"> STATUS DINAS</th>
                                                    <th class="dt-head-center" width="12%"> ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /#content-active -->
                        <div class="tab-pane" id="content-dinas">
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Data dibawah ini merupakan daftar transaksi Kedinasan.
                            </div>

                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-transwe-dinas">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> TRANSACTION NO</th>
                                        <th class="dt-head-center"> INSTALLATION TYPE</th>
                                        <th class="dt-head-center"> PROFIT CENTER</th>
                                        <th class="dt-head-center"> CUSTOMER</th>
                                        <th class="dt-head-center"> POWER CAPACITY</th>
                                        <th class="dt-head-center"> PERIOD</th>
                                        <th class="dt-head-center"> CURRENCY</th>
                                        <th class="dt-head-center"> GRAND TOTAL IDR</th>
                                        <th class="dt-head-center"> GRAND TOTAL USD</th>
                                        <th class="dt-head-center"> STATUS DINAS</th>
                                        <th class="dt-head-center" width="12%"> ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /#content-history -->
                </div>
            </div>
            <!-- /.tabbable-custom -->
        </div>
    </div>
</div>



<div class="modal fade bs-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Water & Electricity Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Transaction No </th>
                                <th class="dt-head-center"> Installation Type</th>
                                <th class="dt-head-center"> Profit Center</th>
                                <th class="dt-head-center"> Customer</th>
                                <th class="dt-head-center"> Period</th>
                                <th class="dt-head-center"> Report On</th>
                                <th class="dt-head-center"> Meter From</th>
                                <th class="dt-head-center"> Meter To</th>
                                <th class="dt-head-center"> Quantity</th>
                                <th class="dt-head-center"> Unit</th>
                                <th class="dt-head-center"> Multiply Factor</th>
                                <th class="dt-head-center"> Price</th>
                                <th class="dt-head-center"> Sub Total</th>
                                <th class="dt-head-center"> Surcharge</th>
                                <th class="dt-head-center"> Grand Total</th>
                                <th class="dt-head-center"> Installation Code</th>
                                <th class="dt-head-center"> Billing Type</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="viewModalListrik" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Electricity Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <h3>Header Data</h3>
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Billing No </th>
                                <th class="dt-head-center"> Installation Type</th>
                                <th class="dt-head-center"> MDM Code</th>
                                <th class="dt-head-center"> Customer</th>
                                <th class="dt-head-center"> Installation Address</th>
                                <th class="dt-head-center"> Profit Center</th>
                                <th class="dt-head-center"> Installation Number</th>
                                <th class="dt-head-center"> Period</th>
                                <th class="dt-head-center"> Power Capacity</th>
                                <th class="dt-head-center"> Multiply Factor</th>
                                <th class="dt-head-center"> PPJU</th>
                                <th class="dt-head-center"> Reduksi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik-costing">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Price Type </th>
                                <th class="dt-head-center"> Meter From</th>
                                <th class="dt-head-center"> Meter To</th>
                                <th class="dt-head-center"> Used</th>
                                <th class="dt-head-center"> Currency</th>
                                <th class="dt-head-center"> Tariff</th>
                                <th class="dt-head-center"> Foto</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h3>Grand Total</h3>
                    <input type="text" class="form-control input-lg" id="GRAND_TOT" readonly />
                </div> <!--sejenis pop up-->
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    @*<link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    @*<script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>*@
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/trans-we-billing.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-we-billing.js")" type="text/javascript"></script>*@

}
