﻿@using Remote.Helpers
@{
    Layout = "";
    ViewBag.Title = "ApprovalEmailIndex";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | REMOTE PT. Pelabuhan Indonesia III (Persero)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/assets/global/img/favicon.ico" />
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">

    <div class="page-header navbar navbar-fixed-top">
        <input type="hidden" id="CONN_STRING" value="@DatabaseFactory.GetConnection("default")">

        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <img src="~/assets/global/img/header-logo.png" alt="logo" class="logo-default" />
            </div>
            <div class="page-top">

            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>


    <div class="clearfix"> </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="portlet box blue">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="horizontal-form">
                        <div class="form-body">
                            <center><h3 class="form-section">Approval Form Contract Offer</h3></center>
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Sebelum melakukan approval harap dicek terlebih dahulu data-data kontrak yang ada.
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Company Code</label>
                                        <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Contract Offer No</label>
                                        <input type="text" class="form-control" id="CONTRACT_OFFER_NO" value="@ViewBag.CONTRACT_OFFER_NO" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Contract Offer Name</label>
                                        <input type="text" id="CONTRACT_OFFER_NAME" class="form-control" value="@ViewBag.CONTRACT_OFFER_NAME" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Contract Type</label>
                                        <input type="text" class="form-control" id="CONTRACT_OFFER_TYPE_F" value="@ViewBag.CONTRACT_OFFER_TYPE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Business Entity</label>
                                        <input type="text" class="form-control" id="BUSINESS_ENTITY_F" value="@ViewBag.BE_ID" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract Start Date</label>
                                        <input type="text" class="form-control" id="CONTRACT_START_DATE" value="@ViewBag.CONTRACT_START_DATE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contract End Date</label>
                                        <input type="text" class="form-control" id="CONTRACT_END_DATE" value="@ViewBag.CONTRACT_END_DATE" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Term In Months</label>
                                        <input type="text" class="form-control" id="TERM_IN_MONTHS" value="@ViewBag.TERM_IN_MONTHS" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Customer MDM</label>
                                        <input type="text" id="BUSINESS_PARTNER_NAME" class="form-control" value="@ViewBag.CUSTOMER_NAME" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Customer AR</label>
                                        <input type="text" class="form-control" id="CUSTOMER_AR" value="@ViewBag.CUSTOMER_AR" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Profit Center</label>
                                        <input type="text" class="form-control" id="PROFIT_CENTER_F" value="@ViewBag.PROFIT_CENTER" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Contract Usage</label>
                                        <input type="text" class="form-control" id="CONTRACT_USAGE_F" value="@ViewBag.CONTRACT_USAGE" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Contract Currency</label>
                                        <input type="text" class="form-control" id="CURRENCY" value="@ViewBag.CURRENCY" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Offer Status</label>
                                        <input type="text" class="form-control" id="OFFER_STATUS" value="@ViewBag.OFFER_STATUS" readonly>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Object</h3>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="rental-object-co">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> OBJECT ID </th>
                                                    <th class="dt-head-center"> OBJECT Type </th>
                                                    <th class="dt-head-center"> RO NAME </th>
                                                    <th class="dt-head-center"> START DATE </th>
                                                    <th class="dt-head-center"> END DATE </th>
                                                    <th class="dt-head-center"> LUAS TANAH </th>
                                                    <th class="dt-head-center"> LUAS BANGUNAN </th>
                                                    <th class="dt-head-center"> INDUSTRY </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Condition</h3>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="condition">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> CALC OBJECT </th>
                                                    <th class="dt-head-center"> CONDITION TYPE </th>
                                                    <th class="dt-head-center"> VALID FROM </th>
                                                    <th class="dt-head-center"> VALID TO </th>
                                                    <th class="dt-head-center"> MONTHS </th>
                                                    <th class="dt-head-center"> STATISTIC </th>
                                                    <th class="dt-head-center"> UNIT PRICE </th>
                                                    <th class="dt-head-center"> AMT REF </th>
                                                    <th class="dt-head-center"> FREQUENCY </th>
                                                    <th class="dt-head-center"> START DUE DATE </th>
                                                    <th class="dt-head-center"> MANUAL NO </th>
                                                    <th class="dt-head-center"> FORMULA </th>
                                                    <th class="dt-head-center"> MEAS TYPE </th>
                                                    <th class="dt-head-center"> LUAS (M2) </th>
                                                    <th class="dt-head-center"> TOTAL VALUE</th>
                                                    <th class="dt-head-center"> % FROM NJOP </th>
                                                    <th class="dt-head-center"> % KONDISI TEKNIS </th>
                                                    <th class="dt-head-center"> SALES RULE </th>
                                                    <th class="dt-head-center"> TOTAL NET VALUE </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h3 class="form-section">Manual Frequency</h3>
                            <div class="row" id="row-table">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="manual-frequency">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" width="10%"> MANUAL NO </th>
                                                    <th class="dt-head-center"> CONDITION </th>
                                                    <th class="dt-head-center"> DUE DATE </th>
                                                    <th class="dt-head-center"> NET VALUE </th>
                                                    <th class="dt-head-center"> QUANTITY </th>
                                                    <th class="dt-head-center"> UNIT </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <h3 class="form-section">Memo</h3>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-memo">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center" width="20%"> CALC OBJECT</th>
                                                <th class="dt-head-center" width="25%"> CONDITION TYPE</th>
                                                <th class="dt-head-center" width="50%"> MEMO</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                            <h3 class="form-section">Notes</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="NOTES" placeholder="Silahkan beri catatan disini apabila terdapat perubahan." rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions left">
                            <button type="button" class="btn red" id="btn-reject">
                                <i class="fa fa-close"></i> Reject
                            </button>
                            <button type="button" class="btn blue" id="btn-revise">
                                <i class="fa fa-edit"></i> Revise
                            </button>
                            <button type="button" class="btn green" id="btn-approve">
                                <i class="fa fa-check"></i> Approve
                            </button>
                        </div>
                    </form>

                    <!-- END FORM-->
                    <!-- END PAGE BASE CONTENT -->

                    <div class="modal fade bs-modal-lg" id="addDetailModal" tabindex="-1" role="basic" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Get Data Contract Offer</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="horizontal-form">
                                        <div class="form-body">
                                            <div class="btn-group">
                                                <button class="btn sbold green" id="btn-filter" type="button">
                                                    <i class="fa fa-search"></i> Filter
                                                </button>
                                            </div>
                                            <br>
                                            <br>
                                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-filter-detail">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center"> #</th>
                                                        <th class="dt-head-center"> CONTRACT OFFER NO</th>
                                                        <th class="dt-head-center"> CONTRACT OFFER NAME</th>
                                                        <th class="dt-head-center"> CONTRACT START DATE</th>
                                                        <th class="dt-head-center"> CONTRACT END DATE</th>
                                                        <th class="dt-head-center"> TERM IN MONTHS</th>
                                                        <th class="dt-head-center"> CONTRACT USAGE</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn green" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    <script src="~/assets/scripts/approval-email.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/approval-email.js")" type="text/javascript"></script>*@

    </body>
</html>
