﻿@{
    ViewBag.Title = "Other Services Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Edit Other Services Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <input type="text" id="cPiut" style="display:none">
                <h3 class="form-section">General Data</h3>
                <div class="alert alert-warning">
                    <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Company Code</label>
                            <input type="hidden" id="ID_TRANS" value="@ViewBag.ID" />
                            <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                            <input type="hidden" id="UPDATED_BY" class="form-control" value="@ViewBag.UPDATED_BY">
                            <input type="hidden" id="BRANCH_ID_EDIT" class="form-control" value="@ViewBag.BRANCH_ID">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Profit Center</label>
                            <input type="hidden" id="ID_PROFIT_CENTER" value="@ViewBag.PROFIT_CENTER" />
                            <select class="form-control" id="PROFIT_CENTER"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Posting Date</label>
                            <input id="POSTING_DATE" class="form-control" type="text" value="" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Service Group</label>
                            <input type="hidden" id="GL_ACCOUNT_EDIT" value="@ViewBag.GL_ACCOUNT" />
                            <input type="hidden" id="TAX_CODE_EDIT" value="@ViewBag.TAX_CODE" />
                            <input type="hidden" id="PPH_CODE_EDIT" value="@ViewBag.PPH_CODE" />
                            <select class="form-control" id="SERVICES_GROUP" name="SERVICES_GROUP"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer MDM (Name)</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="CUSTOMER_MDM" value="@ViewBag.COSTUMER_MDM" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Customer Code</label>
                            <input type="text" class="form-control" value="@ViewBag.COSTUMER_ID" id="CUSTOMER_ID" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Installation Address</label>
                            <input type="text" id="INSTALLATION_ADDRESS" value="@ViewBag.INSTALLATION_ADDRESS" class="form-control">
                        </div>
                    </div>
                    <!--
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Tax Code</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <select class="form-control" id="TAX_CODE">
                                <option value="">-- Choose --</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
                -->
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Customer SAP AR</label>
                            <input type="text" id="CUSTOMER_SAP_AR" value="@ViewBag.CUSTOMER_SAP_AR" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Total</label>
                            <input type="text" id="TOTAL" class="form-control" value="@ViewBag.TOTAL" readonly>
                            <input type="hidden" id="TOTAL_NO_TAX" class="form-control">
                            <input type="hidden" id="RATE" class="form-control" value="@ViewBag.RATE" readonly />
                        </div>
                    </div>
                </div>
                <h3 class="form-section">Detail Transaction</h3>
                <div class="row">
                    <div class="col-md-4">
                        <button id="editable_new_transvb" class="btn green">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="editable_transvb">
                                <thead>
                                    <tr>
                                        <th> Start Date </th>
                                        <th> End Date </th>
                                        <th> Service Code </th>
                                        <th> Service Name </th>
                                        <th> Currency </th>
                                        <th> Service Price </th>
                                        <th> Multiply Factor (%) </th>
                                        <th> Quantity </th>
                                        <th> Unit Name</th>
                                        <th> Admin Fee (Exl. PPN) </th>
                                        <th> Amount IDR </th>
                                        <th> Amount USD </th>
                                        <th> Tax Code </th>
                                        <th> PPH Code </th>
                                        <th> Remark</th>
                                        <th> Coa Prod</th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions left">
                <!--<div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn default btn-file">
                    <span class="fileinput-new"> Add Attach file </span>
                    <span class="fileinput-exists"> Change </span>
                    <input type="file" name="...">
                </span>
                <span class="fileinput-filename"> </span> &nbsp;
                <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
            </div>-->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-update">
                    <i class="fa fa-check"></i> Save Transaction
                </button>
            </div>
        </form>
        <!-- SEARCH COA -->
        <div class="modal fade bs-modal-lg" id="coaModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih Coa</h4>
                    </div>

                    <div class="modal-body">

                        <div class="btn-group">
                            <button class="btn sbold green" id="btn-filter-coa" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-coa">
                            <thead>
                                <tr>
                                    <th class="dt-head-center">#</th>
                                    <th class="dt-head-center">CODE</th>
                                    <th class="dt-head-center">NAME</th>
                                    <th class="dt-head-center">KETERANGAN</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>


@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/assets/scripts/dt-add-transvb-list-edit.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/dt-add-transvb-list-edit.js")" type="text/javascript"></script>*@

}