﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Other Services Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Other Services Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Other Services Transaction</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                @if (ViewBag.roleId == "4")
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button id="btn-filter" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Filter
                                </button>
                            </div>
                        </div>
                    </div>

                }
                @{
                    if (ViewBag.KodeCabang == "0" && ViewBag.UserRole == "7")
                    {

                    }
                    else if (ViewBag.KodeCabang == "0" && ViewBag.UserRole == "4")
                    {

                    }
                    else if (ViewBag.KodeCabang == "0" && ViewBag.UserRole == "20")
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Transaction
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Transaction
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-transvb-list">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> OTHER SERVICE NO</th>
                            <th class="dt-head-center"> POSTING DATE</th>
                            <th class="dt-head-center"> PROFIT CENTER</th>
                            <th class="dt-head-center"> CUSTOMER NAME</th>
                            @*<th class="dt-head-center"> SERVICE GROUP</th>*@
                            <th class="dt-head-center"> KELOMPOK PENDAPATAN</th>
                            <th class="dt-head-center"> CURRENCY</th>
                            <th class="dt-head-center"> TOTAL IDR</th>
                            <th class="dt-head-center"> TOTAL USD</th>
                            <th class="dt-head-center"> POSTING STATUS</th>
                            <th class="dt-head-center"> CANCEL STATUS</th>
                            <th class="dt-head-center" width="12%"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="viewVBPTransModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Other Services Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Transaction </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Transaction Detail </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Profit Center</label>
                                                    <input type="text" id="DETAIL_PROFIT_CENTER" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Other Service Transaction Number</label>
                                                    <input type="text" id="DETAIL_ID" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Posting Date</label>
                                                    <input type="text" id="DETAIL_POSTING_DATE" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*<label class="control-label">Service Group</label>*@
                                                    <label class="control-label">Kelompok Pendapatan</label>
                                                    <input type="text" id="DETAIL_SERVICE_GROUP" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Customer Code</label>
                                                    <input type="text" class="form-control" id="CUSTOMER_ID" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Customer SAP AR</label>
                                                    <input type="text" id="DETAIL_CUSTOMER_SAP_AR" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Customer MDM (Name)</label>
                                                    <input type="text" id="DETAIL_CUSTOMER_MDM" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Installation Address</label>
                                                    <input type="text" id="DETAIL_INSTALLATION_ADDRESS" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <!--

                                            -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>SAP DOCUMENT NUMBER</label>
                                                    <input type="text" id="DETAIL_SAP_DOCUMENT_NUMBER" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Total</label>
                                                    <input type="text" id="DETAIL_TOTAL" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Tax Code</label>
                                                    <input type="text" id="DETAIL_TAX_CODE" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> Other Services Number </th>
                                            <th class="dt-head-center"> Start Date</th>
                                            <th class="dt-head-center"> End Date</th>
                                            <th class="dt-head-center"> Service Code</th>
                                            <th class="dt-head-center"> Price</th>
                                            <th class="dt-head-center"> Multiply Factor</th>
                                            <th class="dt-head-center"> Quantity</th>
                                            <th class="dt-head-center"> Unit</th>
                                            <th class="dt-head-center"> Surcharge</th>
                                            <th class="dt-head-center"> Amount IDR</th>
                                            <th class="dt-head-center"> Amount USD</th>
                                            <th class="dt-head-center"> Remark</th>
                                            <th class="dt-head-center"> COA PROD</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="viewModalListrik" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Electricity Transaction</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <h3>Header Data</h3>
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Billing No </th>
                                <th class="dt-head-center"> Installation Type</th>
                                <th class="dt-head-center"> MDM Code</th>
                                <th class="dt-head-center"> Customer</th>
                                <th class="dt-head-center"> Installation Address</th>
                                <th class="dt-head-center"> Profit Center</th>
                                <th class="dt-head-center"> Installation Number</th>
                                <th class="dt-head-center"> Period</th>
                                <th class="dt-head-center"> Power Capacity</th>
                                <th class="dt-head-center"> Multiply Factor</th>
                                <th class="dt-head-center"> PPJU</th>
                                <th class="dt-head-center"> Reduksi</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-transaction-listrik-costing">
                        <thead>
                            <tr>
                                <th class="dt-head-center"> Price Type </th>
                                <th class="dt-head-center"> Meter From</th>
                                <th class="dt-head-center"> Meter To</th>
                                <th class="dt-head-center"> Used</th>
                                <th class="dt-head-center"> Used</th>
                                <th class="dt-head-center"> Tariff</th>
                                <th class="dt-head-center"> Amount</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <h3>Grand Total</h3>
                    <input type="text" class="form-control input-lg" id="GRAND_TOT" readonly />
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/trans-vb-list.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-vb-list.js")" type="text/javascript"></script>*@

}
