﻿@{
    ViewBag.Title = "Contract Billing List";
    ViewBag.Breadcrumb = "Billing";
    ViewBag.SubBreadcrumb = "Contract Billing List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Contract Billing List</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-list-contract-billing">
                    <thead>
                        <tr>
                            <th class="dt-head-center">BILLING NO</th>
                            <th class="dt-head-center">BE NAME</th>
                            <th class="dt-head-center">CONTRACT NO</th>
                            <th class="dt-head-center">CONTRACT NAME</th>
                            <th class="dt-head-center">CUSTOMER NAME</th>
                            <th class="dt-head-center">PERIOD</th>
                            <th class="dt-head-center">AMOUNT</th>
                            <th class="dt-head-center">SAP DOC NO</th>
                            <th class="dt-head-center" width="8%"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-modal-lg" id="viewTransContractBillingListModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Billing</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> Contract Billing Data</a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Detail Data </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Company Code</label>
                                                    <input type="text" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Billing No</label>
                                                    <input type="text" class="form-control" id="DETAILBILLING_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILCONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Legal Contract No</label>
                                                    <input type="text" class="form-control" id="DETAILLEGAL_CONTRACT_NO" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="control-label">Profit Center</label>
                                                    <input type="text" id="DETAILPROFIT_CENTER" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label class="control-label">Contract Name</label>
                                                    <input type="text" id="DETAILCONTRACT_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner Name</label>
                                                    <input type="text" id="DETAILCUSTOMER_NAME" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner Code</label>
                                                    <input type="text" id="DETAILCUSTOMER_CODE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Business Partner SAP AR</label>
                                                    <input type="text" id="DETAILCUSTOMER_CODE_SAP" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Create Date</label>
                                                    <input type="text" id="DETAILCREATION_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Posting Date</label>
                                                    <input type="text" id="DETAILPOSTING_DATE" class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Document Type</label>
                                                    <input type="text" class="form-control" value="1B Property" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">SAP Document No</label>
                                                    <input type="text" class="form-control" id="DETAILSAP_DOC_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Inst Frequency</label>
                                                    <input type="text" class="form-control" id="DETAILFREQ_NO" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Period</label>
                                                    <input type="text" class="form-control" id="DETAILBILLING_PERIOD" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">Currency</label>
                                                    <input type="text" class="form-control" id="DETAILCURRENCY_CODE" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Installment Amount</label>
                                                    <input type="text" class="form-control" id="DETAILINSTALLMENT_AMOUNT" readonly>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detil-billing">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center">CONDITION TYPE</th>
                                            <th class="dt-head-center">OBJECT ID</th>
                                            <th class="dt-head-center">TAX CODE</th>
                                            <th class="dt-head-center">CURRENCY</th>
                                            <th class="dt-head-center">PRODUCTION</th>
                                            <th class="dt-head-center">UNIT</th>
                                            <th class="dt-head-center">GL ACOUNT</th>
                                            <th class="dt-head-center">DUE DATE</th>
                                            <th class="dt-head-center">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>



}

@section CustomScripts {
    <script src="~/assets/scripts/trans-contract-billing-list.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-contract-billing-list.js")" type="text/javascript"></script>*@

}
