﻿@{
    ViewBag.Title = "Report RO Third Party Used";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report RO Third Party Used";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report RO Third Party Used</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>BUSINESS ENTITY</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="BUSINESS_ENTITY" name="BUSINESS_ENTITY" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>YEAR</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="YEARS" name="YEARS" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>USAGE TYPE</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="USAGE_TYPE" name="USAGE_TYPE" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>ZONE</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="ZONE" name="ZONE" tabindex="2"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CONTRACT USAGE</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="CONTRACT_USAGE" name="CONTRACT_USAGE" tabindex="2"></select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-lg-8">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter-third-party" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-ro-third-party-used">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> BUSINESS ENTITY </th>
                            <th class="dt-head-center"> YEAR </th>
                            <th class="dt-head-center"> USAGE TYPE </th>
                            <th class="dt-head-center"> CUSTOMER NAME </th>
                            <th class="dt-head-center"> KELOMPOK PENGGUNA </th>
                            <th class="dt-head-center"> RO ADDRESS </th>
                            <th class="dt-head-center"> MEASUREMENT (M2) </th>
                            <th class="dt-head-center"> CONTRACT USAGE </th>
                            <th class="dt-head-center"> ZONE RIP/DRAFT RIP </th>
                            <th class="dt-head-center"> CERTIFICATE NUMBER HPL </th>
                            <th class="dt-head-center"> LEGAL CONTRACT NUMBER </th>
                            <th class="dt-head-center"> CONTRACT START DATE </th>
                            <th class="dt-head-center"> CONTRACT END DATE </th>
                            <th class="dt-head-center"> TERM IN MONTH </th>
                            <th class="dt-head-center"> CONDITION TYPE </th>
                            <th class="dt-head-center"> INCOME PER MONTH(Z003-SEWADARATAN) </th>
                            <th class="dt-head-center"> TOTAL REVENUE CONTRACT(Z003-SEWADARATAN) </th>
                            <th class="dt-head-center"> INCOME PER MONTH(Z005-SEWABANGUNAN) </th>
                            <th class="dt-head-center"> TOTAL REVENUE CONTRACT(Z005-SEWABANGUNAN) </th>
                            <th class="dt-head-center"> INCOME PER MONTH(Z007-BIAYAPENGALIHAN) </th>
                            <th class="dt-head-center"> TOTAL REVENUE CONTRACT(Z007-BIAYAPENGALIHAN) </th>
                            <th class="dt-head-center"> INCOME PER MONTH(Z008-BIAYAANGGUNAN) </th>
                            <th class="dt-head-center"> TOTAL REVENUE CONTRACT(Z008-BIAYAANGGUNAN) </th>
                            <th class="dt-head-center"> INCOME PER MONTH(Z013-TROUGHTPUTFEE) </th>
                            <th class="dt-head-center"> TOTAL REVENUE CONTRACT(Z013-TROUGHTPUTFEE) </th>
                            <th class="dt-head-center"> INCOME PER MONTH(Z014-LUMPSUMDEPO) </th>
                            <th class="dt-head-center"> TOTAL REVENUE CONTRACT(Z014-LUMPSUMDEPO) </th>
                            <th class="dt-head-center"> INSTALLMENT AMOUNT </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/chosen/chosen.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/chosen/chosen.jquery.js"></script>
}

@section CustomScripts {
    <script src="~/assets/scripts/report-ro-third-party-used.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-ro-third-party-used.js")" type="text/javascript"></script>*@

}