﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Approval Setting Detail";
    ViewBag.Breadcrumb = "Tools";
    ViewBag.SubBreadcrumb = "Appproval Setting Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Appproval Setting Detail @ViewBag.NamaCabang</span>
            <input type="hidden" id="id_header" value="@ViewBag.IdHeader" />
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn-add" data-toggle="modal" href="#adddetailModal" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Data
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group" style="float:right">
                                <button id="btn-back" class="btn sbold red">
                                    <i class="fa fa-arrow-left"></i> Back
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-detail">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> NO </th>
                            <th class="dt-head-center"> VALID DATE </th>
                            <th class="dt-head-center"> TOP APPROVAL</th>
                            <th class="dt-head-center"> CONTRACT OFFER TYPE </th>
                            <th class="dt-head-center"> CONTRACT USAGE </th>
                            <th class="dt-head-center"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adddetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Approval Setting Detail</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <input type="hidden" id="id_detail">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Start Valid Date</label>
                                    <div class="input-group">
                                        <input id="START_DATE" type="text" class="form-control  date-picker" data-date-format="dd/mm/yyyy" autocomplete="off">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>End Valid Date</label>
                                    <div class="input-group">
                                        <input id="END_DATE" type="text" class="form-control  date-picker" data-date-format="dd/mm/yyyy" autocomplete="off">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contract Offer Type</label>
                                    @Html.DropDownListFor(m => m.FDDRentalType, new SelectList(Model.DDRentalType, "REF_DATA", "REF_DESC"), "-- Choose Contract Offer Type --", new { @class = "bs-select form-control", @id = "CONTRACT_TYPE", @tabidex="-98"  })
                                    @*<select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="CONTRACT_TYPE" name="CONTRACT_TYPE">
                                        <option value="">-- Choose Contract Offer Type --</option>
                                        <option value="ZC01">ZC01 - Permohonan Baru</option>
                                        <option value="ZC02">ZC02 - Permohonan Perpanjangan</option>
                                        <option value="ZC03">ZC03 - Permohonan Peralihan</option>
                                        <option value="ZC04">ZC04 - Permohonan Keringanan</option>
                                    </select>*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contract Usage</label>
                                    @Html.DropDownListFor(m => m.FDDContractUsage, new SelectList(Model.DDContractUsage, "REF_DATA", "REF_DESC"), "-- Choose Contract Usage Type --", new { @class = "bs-select form-control", @id = "CONTRACT_USAGE", @tabindex = "-98" })
                                    @*<select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="CONTRACT_USAGE" name="CONTRACT_USAGE">
                                        <option value="">-- Choose Contract Usage Type --</option>
                                        <option value="Z01">Z01 - Non Tempat Tinggal</option>
                                        <option value="Z02">Z02 - Tempat TInggal</option>
                                    </select>*@
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#parameter" data-toggle="tab"> Parameter</a>
                                </li>
                                <li>
                                    <a href="#role" data-toggle="tab"> Role</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="parameter">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-param">
                                            <i class="fa fa-plus"></i> Add Parameter
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-hover table-bordered" id="table-param">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center"> ID </th>
                                                        <th class="dt-head-center" width="10%"> NO </th>
                                                        <th class="dt-head-center"> NAMA PARAMETER </th>
                                                        <th class="dt-head-center"> MIN </th>
                                                        <th class="dt-head-center"> MAX </th>
                                                        <th class="dt-head-center"> ACTION </th>
                                                        <th class="dt-head-center"> ID PARAM </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="role">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-row">
                                            <i class="fa fa-plus"></i> Add Role
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-hover table-bordered" id="table-row">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center"> ID </th>
                                                        <th class="dt-head-center" width="10%"> APPROVAL KE </th>
                                                        <th class="dt-head-center"> ROLE </th>
                                                        <th class="dt-head-center"> ID ROLE </th>
                                                        <th class="dt-head-center"> ACTION </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-simpanadd" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Approval Setting Detail</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <input type="hidden" id="id_detail">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Start Valid Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control START_DATE" readonly>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>End Valid Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control END_DATE" readonly>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contract Offer Type</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control CONTRACT_TYPE" readonly>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label>Start Notification</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control NOTIF_START" readonly>
                                        </div>
                                    </div>
                                </div>*@

                        </div>

                        <hr />
                        <br>
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#parameter_view" data-toggle="tab"> Parameter</a>
                                </li>
                                <li>
                                    <a href="#role_view" data-toggle="tab"> Role</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="parameter_view">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-hover table-bordered" id="table-detail-param">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center" width="10%"> NO </th>
                                                        <th class="dt-head-center"> NAMA PARAMETER </th>
                                                        <th class="dt-head-center"> MIN </th>
                                                        <th class="dt-head-center"> MAX </th>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="role_view">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-hover table-bordered" id="table-detail-row">
                                                <thead>
                                                    <tr>
                                                        <th class="dt-head-center" width="10%"> APPROVAL KE </th>
                                                        <th class="dt-head-center"> ROLE </th>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="hidden">
    <table id="delete_role">
        <tbody></tbody>
    </table>
    <table id="delete_param">
        <tbody></tbody>
    </table>
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/master-approval-setting-detail.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/master-approval-setting-detail.js")" type="text/javascript"></script>*@

}
