﻿.dropdown-content {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height; }
  .dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 1rem;
    width: 100%;
    text-align: left;
    text-transform: none; }
    .dropdown-content li:hover, .dropdown-content li.active {
      background-color: #eee; }
    .dropdown-content li > a, .dropdown-content li > span {
      font-size: 0.9rem;
      /*color: #ff4081;*/
      color: #262626;
      display: block;
      padding: 1rem 1rem; }
    .dropdown-content li > a > i {
      height: inherit;
      line-height: inherit; }