﻿@{
    ViewBag.Title = "Edit Tarif Industri";
    ViewBag.Breadcrumb = "Tarif Pedoman";
    ViewBag.SubBreadcrumb = "Tarif Industri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="portlet box blue">
    <div class="portlet-body form">
        <form action="#" class="horizontal-form" id="FORM_PEDOMAN">
            <div class="form-body">
                <h3 class="form-section">General Data </h3>
                <input type="hidden" value="@ViewBag.ID" id="ID" />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Business Entity</label>
                            <input type="hidden" value="@ViewBag.BRANCH_ID" id="BE_ID" />
                            <input type="hidden" value="@ViewBag.PROFIT_CENTER_ID" id="PROFIT_CENTER" />
                            <input class="form-control" type="text" value="@ViewBag.BE_ID - @ViewBag.BE_NAME" readonly />
                            @*@Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })*@
                        </div>
                    </div>
                    @if (ViewBag.PROFIT_CENTER_ID != "0")
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <input class="form-control" type="text" value="@ViewBag.PROFIT_CENTER_ID - @ViewBag.PROFIT_CENTER_NAME" readonly />
                                @*<select class="form-control" id="PROFIT_CENTER">
                                        <option value="0">-- Choose Profit Center --</option>
                                    </select>*@
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Input Type</label>
                            <input class="form-control" value="@ViewBag.TIPE_TARIF" id="INPUT_TYPE" readonly />
                            @*<select class="form-control" id="INPUT_TYPE">
                                    <option value="">-- Choose Input Type --</option>
                                    <option value="TARIF">Tarif</option>
                                    <option value="NJOP">NJOP</option>
                                    <option value="PERCENT">% NJOP</option>
                                </select>*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Start Active Date</label>
                            <input class="form-control date-picker" type="text" value="@ViewBag.START_ACTIVE_DATE" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" id="START_ACTIVE_DATE" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">End Active Date</label>
                            <input class="form-control date-picker" type="text" value="@ViewBag.END_ACTIVE_DATE" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" id="END_ACTIVE_DATE" />
                        </div>
                    </div>
                </div>
                <div class="input-value" style="display: none;">
                    <h3 class="form-section">Tarif Lahan</h3>
                    <h4>Usaha</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Usaha Jasa Pelabuhan</label>
                                <input type="hidden" class="pedomanid" id="id01" />
                                <input type="text" class="form-control input-tarif" id="01" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="01p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Usaha Industri</label>
                                <input type="hidden" class="pedomanid" id="id02" />
                                <input type="text" class="form-control input-tarif" id="02" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="02p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Usaha Konsolidasi & Distribusi</label>
                                <input type="hidden" class="pedomanid" id="id03" />
                                <input type="text" class="form-control input-tarif" id="03" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="03p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Usaha Pariwisata/Marina</label>
                                <input type="hidden" class="pedomanid" id="id04" />
                                <input type="text" class="form-control input-tarif" id="04" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="04p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Industri Perkapalan</label>
                                <input type="hidden" class="pedomanid" id="id05" />
                                <input type="text" class="form-control input-tarif" id="05" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="05p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Usaha Perkantoran & Pusat Bisnis</label>
                                <input type="hidden" class="pedomanid" id="id06" />
                                <input type="text" class="form-control input-tarif" id="06" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="06p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Usaha Lainnya</label>
                                <input type="hidden" class="pedomanid" id="id07" />
                                <input type="text" class="form-control input-tarif" id="07" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="07p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                    </div>

                    <h4>Non Usaha</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Instansi Pemerintah</label>
                                <input type="hidden" class="pedomanid" id="id08" />
                                <input type="text" class="form-control input-tarif" id="08" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="08p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Kurang Dari 100m<sup>2</sup></label>
                                <input type="hidden" class="pedomanid" id="id09" />
                                <input type="text" class="form-control input-tarif" id="09" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="09p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">100m<sup>2</sup> - 200m<sup>2</sup></label>
                                <input type="hidden" class="pedomanid" id="id09_100" />
                                <input type="text" class="form-control input-tarif" id="09_100" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="09_100p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Lebih Dari 200m<sup>2</sup></label>
                                <input type="hidden" class="pedomanid" id="id09_200" />
                                <input type="text" class="form-control input-tarif" id="09_200" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="09_200p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Sosial</label>
                                <input type="hidden" class="pedomanid" id="id10" />
                                <input type="text" class="form-control input-tarif" id="10" placeholder="Nilai Tarif" min="0" />
                                <input type="text" class="form-control input-presentase" id="10p" placeholder="%" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end input -->
            </div>
            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-update">
                    <i class="fa fa-check"></i> Save Changes
                </button>
            </div>
        </form>
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
}



@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>


    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}
@section CustomScripts {


    <script src="~/assets/scripts/trans-tarif-pedoman-edit.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-tarif-pedoman-edit.js")" type="text/javascript"></script>*@

        }
