﻿
@model Remote.ViewModels.TarifPedoman
@{
    ViewBag.Title = "Tarif NJOP";
    ViewBag.Breadcrumb = "Tarif Pedoman";
    ViewBag.SubBreadcrumb = "Tarif NJOP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-wallet font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Daftar NJOP</span>
                <input type="hidden" value="@ViewBag.PARAM" id="param" />
            </div>
        </div>
        <div class="row" id="row-table">
            <div class="col-md-12">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Profit Center</label>
                                    @Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenters, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })
                                </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a id="btn-add" data-toggle="modal" href="#addModal" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Data
                                </a>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-njop">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> ID </th>
                                    <th class="dt-head-center"> BE_ID </th>
                                    <th class="dt-head-center"> CABANG </th>
                                    <th class="dt-head-center"> NAMA JALAN </th>
                                    <th class="dt-head-center"> TARIF </th>
                                    <th class="dt-head-center"> STATUS </th>
                                    <th class="dt-head-center"> TAHUN AKTIF </th>
                                    <th class="dt-head-center"> ACTION </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL UNTUK MENAMBAH NJOP -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add NJOP</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID_ADD" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nama Jalan</label>
                                    <input id="NAMA_JALAN" class="form-control" type="text" value="" />
                                    <input id="ID_EDIT" type="hidden" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tarif NJOP</label>
                                    <input id="VALUE" class="form-control" type="number" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tahun Awal Aktif</label>
                                    <input id="ACTIVE_YEAR" class="form-control" type="text" value="" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-update" class="btn green">Save</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL UNTUK CONFIRM INACTIVE -->
        <div class="modal fade" id="inactiveModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Inactive Data NJOP</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Memo</label>
                                    <input type="hidden" id="ID_INACTIVE" class="form-control" />
                                    <textarea class="form-control" id="INACTIVE_MEMO" placeholder="Silahkan beri catatan disini apabila diperlukan." rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-inactive-confirm" class="btn green">Save</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-modal-lg" id="viewModalAttachment">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"></button>
                        <h4 class="modal-title">Attachment Tarif Njop <span id="be_name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="" id="ID_ATTACHMENT" />

                        <div class="row">
                            <div class="col-md-12">
                                <span class="btn btn-success fileinput-button" id="btnUp">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Upload Files</span>
                                    <input id="fileupload" type="file" name="files" multiple>
                                </span>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span class="sr-only">0% complete</span>
                                    </div>
                                </div>
                                <span class="file_name"></span>
                                <span class="file_type"></span>
                                <span class="file_size"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> FILENAME </th>
                                            <th class="dt-head-center"> ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn red" data-dismiss="modal">Cancel</button>*@
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        @section CustomStyle {
            <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
            <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

            <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
            @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />*@
            <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
            @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@

            <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        }



        @section Plugins {
            <!--
        <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        -->

            <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
            <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
            <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

            <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
            <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
            <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>


            <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
            <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
            @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

        }
        @section CustomScripts {


            <script src="~/assets/scripts/trans-tarif-pedoman-njop.js" type="text/javascript" asp-append-version="true"></script>
            @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-tarif-pedoman-njop.js")" type="text/javascript"></script>*@

        }
