﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Tarif Industri";
    ViewBag.Breadcrumb = "Tarif Pedoman";
    ViewBag.SubBreadcrumb = "Tarif Industri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data Tarif Pedoman Lahan</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <input type="hidden" value="@ViewBag.KodeCabang" id="BRANCH_ID" />
                @if (ViewBag.KodeCabang != "0")
                {
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a id="btn-add" href="/TarifPedoman/Add" class="btn sbold green">
                                        <i class="fa fa-plus"></i> Add Data
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#content-active" data-toggle="tab"> Pedoman Aktif </a>
                        </li>
                        <li>
                            <a href="#content-history" data-toggle="tab"> History Pedoman </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="content-active">
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Data dibawah ini merupakan daftar tarif pedoman yang berlaku pada hari ini.
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-pedoman">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> ID </th>
                                        <th class="dt-head-center"> BRANCH_ID </th>
                                        <th class="dt-head-center"> KODE CABANG </th>
                                        <th class="dt-head-center"> BUSINESS ENTITY </th>
                                        <th class="dt-head-center"> PROFIT CENTER </th>
                                        <th class="dt-head-center"> RATE TYPE </th>
                                        <th class="dt-head-center"> START DATE </th>
                                        <th class="dt-head-center"> END DATE </th>
                                        <th class="dt-head-center" width="20%"> ACTION </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- /#content-active -->
                        <div class="tab-pane" id="content-history">
                            <div class="alert alert-warning">
                                <strong>Info!</strong> Data dibawah ini merupakan daftar tarif pedoman yang sudah tidak berlaku lagi.
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-pedoman-history">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> ID </th>
                                        <th class="dt-head-center"> BRANCH_ID </th>
                                        <th class="dt-head-center"> KODE CABANG </th>
                                        <th class="dt-head-center"> BUSINESS ENTITY </th>
                                        <th class="dt-head-center"> PROFIT CENTER </th>
                                        <th class="dt-head-center"> RATE TYPE </th>
                                        <th class="dt-head-center"> START DATE </th>
                                        <th class="dt-head-center"> END DATE </th>
                                        <th class="dt-head-center"> ACTION </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- /#content-history -->
                    </div>
                </div>
                <!-- /.tabbable-custom -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Tarif Pedoman</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Business Entity</label>
                                    <input readonly class="form-control" type="text" value="" id="BE_NAME" />
                                    <input readonly type="hidden" value="" id="BE_ID" />
                                    <input readonly type="hidden" value="" id="PROFIT_CENTER_ID" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group profit-center">
                                    <label class="control-label">Profit Center</label>
                                    <input readonly class="form-control" type="text" value="" id="PROFIT_CENTER_NAME" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Start Active Date</label>
                                    <input readonly class="form-control" type="text" value="" id="START_ACTIVE_DATE" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">End Active Date</label>
                                    <input readonly class="form-control" type="text" value="" id="END_ACTIVE_DATE" />
                                </div>
                            </div>
                        </div>

                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#usaha" data-toggle="tab"> Usaha </a>
                                </li>
                                <li>
                                    <a href="#non_usaha" data-toggle="tab"> Non Usaha Lainnya</a>
                                </li>
                                <li id="tabnjop">
                                    <a href="#njop" data-toggle="tab"> Tarif NJOP </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="usaha">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Usaha Jasa Pelabuhan</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="01" align="right" />
                                                    <input readonly type="hidden" id="id01" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="01p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Usaha Industri</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="02" align="right" />
                                                    <input readonly type="hidden" id="id02" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="02p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Usaha Konsolidasi & Distribusi</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="03" align="right" />
                                                    <input readonly type="hidden" id="id03" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="03p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Usaha Pariwisata/Marina</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="04" align="right" />
                                                    <input readonly type="hidden" id="id04" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="04p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Industri Perkapalan</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="05" align="right" />
                                                    <input readonly type="hidden" id="id05" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="05p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Usaha Perkantoran & Pusat Bisnis</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="06" align="right" />
                                                    <input readonly type="hidden" id="id06" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="06p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Usaha Lainnya</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="07" align="right" />
                                                    <input readonly type="hidden" id="id07" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="07p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Instansi Pemerintah</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="08" align="right" />
                                                    <input readonly type="hidden" id="id08" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="08p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Sosial</label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="10" align="right" />
                                                    <input readonly type="hidden" id="id10" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="10p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /. Tab Pane -->
                                <div class="tab-pane" id="non_usaha">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Kurang Dari 100m<sup>2</sup></label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="09" align="right" />
                                                    <input readonly type="hidden" id="id09" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="09p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">100m<sup>2</sup> - 200m<sup>2</sup></label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="09_100" align="right" />
                                                    <input readonly type="hidden" id="id09_100" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="09_100p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                            <div class="form-group">
                                                <label class="control-label">Lebih Dari 200m<sup>2</sup></label>

                                                <div class="input-group input-tarif">
                                                    <span class="input-group-addon"> Rp </span>
                                                    <input readonly type="number" class="form-control" id="09_200" align="right" />
                                                    <input readonly type="hidden" id="id09_200" />
                                                </div>

                                                <div class="input-group input-presentase">
                                                    <input readonly type="number" class="form-control" id="09_200p" placeholder="%" min="0" max="100" />
                                                    <span class="input-group-addon"> % </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.Row -->
                                </div>
                                <!-- /. Tab Pane -->
                                <div class="tab-pane" id="njop">

                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-njop">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center">Nama Jalan</th>
                                                <th class="dt-head-center">NJOP</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- /. Tab Pane -->
                            </div>
                            <!-- /. Tab Content -->
                        </div>
                        <!-- /.Tab -->
                    </div>
                    <!-- /. Form Body -->
                </form>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpan" type="button" class="btn green">Save</button>*@
                <button id="btn-batal" type="button" class="btn red" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="viewModalAttachment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"></button>
                <h4 class="modal-title">Attachment Tarif Industri <span id="be_name"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="ID_ATTACHMENT" />

                <div class="row">
                    <div class="col-md-12">
                        <span class="btn btn-success fileinput-button" id="btnUp">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Upload Files</span>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% complete</span>
                            </div>
                        </div>
                        <span class="file_name"></span>
                        <span class="file_type"></span>
                        <span class="file_size"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-attachment">
                            <thead>
                                <tr>
                                    <th class="dt-head-center"> FILENAME </th>
                                    <th class="dt-head-center"> ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn red" data-dismiss="modal">Cancel</button>*@
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-upload/jquery.fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/trans-tarif-pedoman-index.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-tarif-pedoman-index.js")" type="text/javascript"></script>*@

}
