﻿@{
    ViewBag.Title = "Electricity Transaction";
    ViewBag.Breadcrumb = "Transaction";
    ViewBag.SubBreadcrumb = "Electricity Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Electricity Transaction</h3>
                <div class="alert alert-warning">
                    <strong>Info!</strong> Pastikan data-data yang Anda entry benar sebelum melakukan proses simpan (save).
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Installation Type</label>
                            <input type="hidden" id="ID_INSTALASI" class="form-control" value="@ViewBag.ID" />
                            <input type="hidden" id="KODE_CABANG" class="form-control" value="@ViewBag.KODE_CABANG" />
                            <input type="hidden" id="INSTALLATION_NUMBER" class="form-control" value="@ViewBag.INSTALLATION_NUMBER" />
                            <input type="hidden" id="MULTIPLY_FACTOR" class="form-control" />
                            <input type="text" id="INSTALLATION_TYPE" class="form-control" value="@ViewBag.INSTALLATION_TYPE" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Period</label>
                            <center>
                                <select class="form-control" id="PERIOD">
                                    <option value="">--Choose Period--</option>
                                    <option value="@ViewBag.BULAN_SEKARANG">@ViewBag.BULAN_SEKARANG</option>
                                    <option value="@ViewBag.BULAN_KEMARIN">@ViewBag.BULAN_KEMARIN</option>
                                    <option value="@ViewBag.BULAN_KEMARIN1">@ViewBag.BULAN_KEMARIN1</option>
                                    <option value="@ViewBag.BULAN_KEMARIN2">@ViewBag.BULAN_KEMARIN2</option>
                                    <option value="@ViewBag.BULAN_KEMARIN3">@ViewBag.BULAN_KEMARIN3</option>
                                    <option value="@ViewBag.BULAN_KEMARIN4">@ViewBag.BULAN_KEMARIN4</option>
                                    <option value="@ViewBag.BULAN_KEMARIN5">@ViewBag.BULAN_KEMARIN5</option>
                                    <option value="@ViewBag.BULAN_KEMARIN6">@ViewBag.BULAN_KEMARIN6</option>
                                    <option value="@ViewBag.BULAN_KEMARIN7">@ViewBag.BULAN_KEMARIN7</option>
                                    <option value="@ViewBag.BULAN_KEMARIN8">@ViewBag.BULAN_KEMARIN8</option>
                                    <option value="@ViewBag.BULAN_KEMARIN9">@ViewBag.BULAN_KEMARIN9</option>
                                    <option value="@ViewBag.BULAN_KEMARIN10">@ViewBag.BULAN_KEMARIN10</option>
                                </select>
                            </center>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <center>
                                <select class="form-control" id="STATUS_DINAS">
                                    <option value="">--Choose Status--</option>
                                    <option value="KEDINASAN">KEDINASAN</option>
                                    <option value="NON KEDINASAN">NON KEDINASAN</option>
                                </select>
                            </center>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Installation Code</label>
                            <input type="text" id="INSTALLATION_CODE" value="@ViewBag.INSTALLATION_CODE" class="form-control" value="" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Profit Center</label>
                            <input type="text" id="PROFIT_CENTER" value="@ViewBag.PROFIT_CENTER" class="form-control" value="" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Customer MDM</label>
                            <input type="text" id="CUSTOMER_NAME" value="@ViewBag.CUSTOMER_NAME" class="form-control" value="" readonly />
                            <input type="hidden" id="CUSTOMER_MDM" value="@ViewBag.CUSTOMER_ID" class="form-control" value="" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Customer Code</label>
                            <input type="text" id="CUSTOMER_CODE" value="@ViewBag.CUSTOMER_ID" class="form-control" value="" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Min Used</label>
                            <input type="text" id="MIN_USED" class="form-control" value="@ViewBag.MINIMUM_USED" value="" readonly />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Capacity VA</label>
                            <input type="text" id="CAPACITY_VA" class="form-control" value="@ViewBag.POWER_CAPACITY" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Min Payment</label>
                            <input type="text" id="MIN_PAYMENT" value="@ViewBag.MINIMUM_PAYMENT" class="form-control" value="" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Biaya Beban</label>
                            <input type="text" id="BIAYA_BEBAN" class="form-control" value="@ViewBag.BIAYA_BEBAN" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Biaya Admin</label>
                            <input type="text" id="BIAYA_ADMIN" class="form-control" value="@ViewBag.BIAYA_ADMIN" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Total Payment</label>
                            <input type="text" id="TOTAL_PAYMENT" class="form-control" value="" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Change Multiply Factor Value</label>
                            <input type="text" id="UPDATE_MULTIPLY_FACTOR" onchange="gantiMultiply(this)" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="control-label">Installation Address</label>
                            <input type="text" id="INSTALLATION_ADDRESS" class="form-control" value="@ViewBag.INSTALLATION_ADDRESS" readonly />
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-pricing">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> PRICE TYPE</th>
                            <th class="dt-head-center"> PRICE CODE</th>
                            <th class="dt-head-center"> TARIFF</th>
                            <th class="dt-head-center"> CURRENCY</th>
                            <th class="dt-head-center"> METER FROM</th>
                            <th class="dt-head-center"> METER TO</th>
                            <th class="dt-head-center" style="min-width: 120px;"> USED</th>
                            <th class="dt-head-center"> MULTIPLY</th>
                            <th class="dt-head-center"> MAX RANGE USED</th>
                            <th class="dt-head-center"> COA PROD</th>
                            <th class="dt-head-center"> MEMO</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


                @*<table id="okebos">
                    <tr>
                        <td>asdf</td>
                        <td>x</td>
                    </tr>
                </table>*@
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-costing">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> DESCRIPTION</th>
                            <th class="dt-head-center"> PERCENT (%)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="iClick" onclick="hitungFormula()" class="btn blue btn-block">Calculate</button>
                    </div>
                </div>

                <div class="row">
                    <div style="text-align:right" class="col-md-9">
                        <div id="IDR" style="margin-top:10px;" class="form-group">
                            IDR
                        </div>
                        <div id="USD" style="margin-top:30px;" class="form-group">
                            USD
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" id="TOTAL_PRICE" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <input readonly type="text" id="TOTAL_USD" class="form-control" value="" />
                            <input type="hidden" id="RATE" class="form-control" value="" />
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="oClick" class="btn blue btn-block">Calculate</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" id="BIAYA_TAMBAHAN" class="form-control" value="" />
                        </div>
                    </div>
                </div>*@
            </div>

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- SEARCH COA -->
        <div class="modal fade bs-modal-lg" id="coaModal" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Pilih Coa</h4>
                    </div>

                    <div class="modal-body">

                        <div class="btn-group">
                            <button class="btn sbold green" id="btn-filter-coa" type="button">
                                <i class="fa fa-search"></i> Filter
                            </button>
                        </div>
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="table-coa">
                            <thead>
                                <tr>
                                    <th class="dt-head-center">#</th>
                                    <th class="dt-head-center">CODE</th>
                                    <th class="dt-head-center">NAME</th>
                                    <th class="dt-head-center">KETERANGAN</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade bs-modal-lg" id="viewModalListrik" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <form action="#" id="used" type="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3 class="modal-title">Detail Penggunaan</h3>
                    </div>
                    <div class="modal-body">
                        <!--START TAB-->
                        <div class="portlet-title">
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                            </div>
                        </div>
                        <input type="text" id="idTrans" name="idTrans" class="form-control" value="@ViewBag.INSTALLATION_NUMBER" />
                        <div class="portlet-body detail-penggunaan" id="modalDetail">
                            <div class="row row-penggunaan">
                                <div class="col-md-4">
                                    <h4>Sumber</h4>
                                    <select class="form-control sumber" id="sumber" name="detail[0].sumber">
                                        <option value="">--Pilih Sumber--</option>
                                        <option value="PLN">PLN</option>
                                        <option value="PLTMG">PLTMG</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <h4>Price Type</h4>
                                    <select class="form-control type" id="type" name="detail[0].type">
                                        <option value="">--Pilih Price Type--</option>
                                        <option value="LWBP">LWBP</option>
                                        <option value="WBP">WBP</option>
                                        <option value="KVARH">KVARH</option>
                                        <option value="BLOK1">BLOK1</option>
                                        <option value="BLOK2">BLOK2</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <h4>Faktor Pengali</h4>
                                    <input type="number" id="pengali" name="detail[0].pengali" class="form-control pengali"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>Tgl Stan Awal</h4>
                                    <input type="date" id="tglStanAwal" name="detail[0].tglStanAwal" class="form-control tglStanAwal"/>
                                </div>
                                <div class="col-md-3">
                                    <h4>Tgl Stan Akhir</h4>
                                    <input type="date" id="tglStanAkhir" name="detail[0].tglStanAkhir" class="form-control tglStanAkhir"/>
                                </div>
                                <div class="col-md-3">
                                    <h4>Stan Awal</h4>
                                    <input type="number" id="stanAwal" name="detail[0].stanAwal" class="form-control stanAwal"/>
                                </div>
                                <div class="col-md-3">
                                    <h4>Stan Akhir</h4>
                                    <input type="number" id="stanAkhir" name="detail[0].stanAkhir" class="form-control stanAkhir"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Selisih</h4>
                                    <input type="text" id="selisih" name="detail[0].selisih" class="form-control selisih" readonly/>
                                </div>
                                <div class="col-md-4">
                                    <h4>KWH Tenan</h4>
                                    <input type="number" id="kwhTenan" name="detail[0].kwhTenan" class="form-control kwhTenan"/>
                                </div>
                                <div class="col-md-4">
                                    <h4>KWH Ditagihkan</h4>
                                    <input type="text" id="kwhDitagihkan" name="detail[0].kwhDitagihkan" class="form-control kwhDitagihkan" readonly/>
                                </div>
                            </div>
                            <hr>
                            <br>
                        </div>
                        <!--END OF TAB-->
                        <div class="row">
                            <div class="col-md-1">
                                <h4><b>Total</b></h4>
                            </div>
                            <div class="col-md-11">
                                <input type="text" id="total" name="detail[0].total" class="form-control total" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" style="float: left;" id="btn-add">Add Detail</button>
                        <button type="button" class="btn blue" id="btn-save">Save</button>
                        <button type="button" class="btn red" data-dismiss="modal">Close</button>
                    </div>
                </form>
                </div>
                <!-- /.modal-content -->
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END FORM-->
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>


@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/tautocomplete.css" rel="stylesheet" type="text/css" />*@
<style>
    td .btn {
        position: absolute;
        margin-top: 0px;
        float: right;
        margin-left: 5px;
    }

    td input {
        float: left;
        width: 70% !important;
    }
</style>
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    -->

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>


    @*<script src="~/assets/global/scripts/tautocomplete.js" type="text/javascript"></script>*@

}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/trans-electricity-add.js" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>*@
    @*<script src="@Url.ContentVersioned("~/assets/scripts/trans-electricity-add.js")" type="text/javascript"></script>*@


}