﻿@model Remote.ViewModels.Installation
@{
    ViewBag.Title = "Electricity Installation";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Electricity Installation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="addBE" action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Data Installation</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Type</label>
                            @*<select class="form-control" id="INSTALLATION_TYPE">
                                    <option value=""> Choose Installation Type </option>
                                    <option value="L-Sambungan Listrik">L-Sambungan Listrik</option>
                                    <option value="A-Sambungan Air">A-Sambungan Air</option>
                                </select>*@
                            <input type="text" id="INSTALLATION_TYPE" value="L-Sambungan Listrik" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Profit Center</label>
                            @Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer MDM</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="CUSTOMER_MDM" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer Code</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="CUSTOMER_IDX" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer SAP AR</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="CUSTOMER_SAP_AR" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Date</label>
                            @*<input id="POWER_CAPACITY" name="POWER_CAPACITY" type="text" placeholder="100 / 200 / etc" class="form-control">*@

                            <input class="form-control date-picker" id="INSTALLATION_DATE" type="text" value="" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Capacity VA (*)</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="POWER_CAPACITY" name="POWER_CAPACITY" onchange="HitungMinUsed()" type="text" placeholder="100 / 200 / etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Installation Address <mark>Mohon Ganti Sesuai Alamat Instalasinya</mark></label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="INSTALLATION_ADDRESS" name="INSTALLATION_ADDRESS" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Biaya Beban</label>
                            <select class="form-control" id="TARIFF_CODE" name="TARIFF_CODE"></select>
                        </div>
                    </div>
                    <input id="MINIMUM_AMOUNT" name="MINIMUM_AMOUNT" type="hidden" placeholder="" class="form-control">
                    @*<div class="col-md-3">
                            <div class="form-group">
                                <label>Minimum Quantity</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Assignment RO</label>
                            @Html.DropDownListFor(m => m.FDDRentalObject, new SelectList(Model.DDRentalObject, "RO_CODE", "RO_NAME"), "-- Choose Rental Object --", new { @class = "form-control", @id = "RO_NUMBER" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Min Payment (*)</label>
                            <input id="MIN_PAYMENT" name="MIN_PAYMENT" type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Multiply Factor (*)</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="MULTIPLY_FACTOR" name="MULTIPLY_FACTOR" type="text" value="1" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Min Used (*)</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="MIN_USED" name="MIN_USED" type="text" placeholder="" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="SERIAL_NUMBER" name="SERIAL_NUMBER" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Biaya Admin (*)</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input id="BIAYA_ADMIN" name="BIAYA_ADMIN" type="text" placeholder="" class="form-control">
                                    </div>
                                    @*<div class="icheck-inline">
                            <label>
                                <input type="checkbox" class="icheck" id="BIAYA_BEBAN" name="BIAYA_BEBAN" value="1"> YES
                            </label>
                        </div>*@
                                    @*<input id="BIAYA_BEBAN" name="BIAYA_BEBAN" type="text" placeholder="" class="form-control">*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                    </div>
                </div>
            <div class="form-actions left">
                <!--
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>-->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-installation-b.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-installation-b.js")" type="text/javascript"></script>*@

}
