﻿@{
    ViewBag.Title = "Water and Electricity Installation Pricing";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Add Data Water and Electricity Installation Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="addBE" action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Data Installation Pricing</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" disabled>
                            <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Type</label>
                            <input type="text" id="INSTALLATION_TYPE" value="@ViewBag.INSTALLATION_TYPE" class="form-control" readonly />
                            <input type="hidden" id="INSTALLATION_CODE" value="@ViewBag.INSTALLATION_CODE" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Profit Center</label>
                            <input type="hidden" id="PROFIT_CENTER_FULL" value="@ViewBag.PROFIT_CENTER" class="form-control" readonly />
                            <input type="hidden" id="PROFIT_CENTER" value="@ViewBag.PROFIT_CENTER_ID" class="form-control" readonly />
                            <select class="form-control" id="PROFIT_CENTER_EDIT"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer MDM</label>
                            <label>Customer MDM</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="CUSTOMER_MDM_EDIT" value="@ViewBag.CUSTOMER_NAME" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer Code</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="CUSTOMER_IDX_EDIT" value="@ViewBag.CUSTOMER_ID" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Customer SAP AR</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="CUSTOMER_SAP_AR_EDIT" value="@ViewBag.CUSTOMER_SAP_AR" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Date</label>
                            @*<input id="POWER_CAPACITY" name="POWER_CAPACITY" type="text" placeholder="100 / 200 / etc" class="form-control">*@

                            <input class="form-control date-picker" id="INSTALLATION_DATE_EDIT" value="@ViewBag.INSTALLATION_DATE" type="text" value="" data-date-format="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Capacity VA</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="POWER_CAPACITY_EDIT" name="POWER_CAPACITY_EDIT" value="@ViewBag.POWER_CAPACITY" onchange="HitungMinUsedEdit()" type="text" placeholder="100 / 200 / etc" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Installation Address</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="INSTALLATION_ADDRESS_EDIT" name="INSTALLATION_ADDRESS_EDIT" value="@ViewBag.INSTALLATION_ADDRESS" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Biaya Beban</label>
                            <input type="hidden" id="TARIFF_CODE" value="@ViewBag.TARIFF_CODE" class="form-control" />
                            <select class="form-control" id="TARIFF_CODE_EDIT"></select>
                        </div>
                    </div>
                    <input id="MINIMUM_AMOUNT_EDIT" name="MINIMUM_AMOUNT_EDIT" value="@ViewBag.MINIMUM_AMOUNT" type="hidden" placeholder="" class="form-control">

                    @*<div class="col-md-3">
                            <div class="form-group">
                                <label>Minimum Quantity</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Assignment RO</label>
                            <input id="RO_NUMBER" name="RO_NUMBER" type="hidden" value="@ViewBag.RO_CODE" placeholder="" class="form-control">
                            <select id="RO_NUMBER_EDIT" class="form-control"></select>
                            @*@Html.DropDownListFor(m => m.FDDRentalObject, new SelectList(Model.DDRentalObject, "RO_CODE", "RO_NAME"), "-- Choose Rental Object --", new { @class = "form-control", @id = "RO_NUMBER" })*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Min Payment</label>
                            <input id="MIN_PAYMENT_EDIT" name="MIN_PAYMENT_EDIT" value="@ViewBag.MINIMUM_PAYMENT" type="text" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Multiply Factor</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="MULTIPLY_FACTOR_EDIT" name="MULTIPLY_FACTOR_EDIT" value="@ViewBag.MULTIPLY_FACT" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Min Used</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="MIN_USED_EDIT" name="MIN_USED_EDIT" value="@ViewBag.MINIMUM_USED" type="text" placeholder="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="SERIAL_NUMBER_EDIT" name="SERIAL_NUMBER_EDIT" value="@ViewBag.SERIAL_NUMBER" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Biaya Admin</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @*@if (ViewBag.BIAYA_BEBAN == null)
                        {
                            <div class="icheck-inline">
                            <label>
                                <input type="checkbox" class="icheck" id="BIAYA_BEBAN" name="BIAYA_BEBAN" value="1" disabled> YES
                            </label>
                            </div>
                        }
                        else
                        {
                            <div class="icheck-inline">
                            <label>
                                <input type="checkbox" class="icheck" id="BIAYA_BEBAN" name="BIAYA_BEBAN" value="1" checked disabled> YES
                            </label>
                            </div>
                        }*@
                                    <input id="BIAYA_ADMIN_EDIT" name="BIAYA_ADMIN_EDIT" value="@ViewBag.BIAYA_ADMIN" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--PRICING-->
                    <h3 class="form-section">Pricing</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <a data-toggle="modal" href="#addPricing" class="btn btn-icon-only green" class="btn-add-pricing">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="row-table">
                        <div class="col-md-12">
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-pricing">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> PRICE TYPE </th>
                                            <th class="dt-head-center"> PRICE CODE </th>
                                            <th class="dt-head-center"> MAX RANGE USED </th>
                                            <th class="dt-head-center"> ACTION </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--END OF PRICING-->
                    <!--COSTING-->
                    <h3 class="form-section">Costing</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <a data-toggle="modal" href="#addCosting" class="btn btn-icon-only green">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="row-table">
                        <div class="col-md-12">
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-costing">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> DESCRIPTION </th>
                                            <th class="dt-head-center"> PERCENT </th>
                                            <th class="dt-head-center"> ACTION </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--END OF COSTING-->
                </div>
            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-ok">
                    <i class="fa fa-check"></i> Save Changes
                </button>
            </div>
        </form>
        <!-- END FORM-->
        <!--MODAL PRICING-->
        <div class="modal fade" id="addPricing" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Pricing</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="@ViewBag.ID" id="INSTALLATION_ID" />
                        @*<input type="hidden" value="@routeValues["id"].ToString()" id="UriId" />*@
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Price Type</label>
                                            <select id="PRICE_TYPE" class="form-control" data-placeholder="--Choose Price Type--" tabindex="1">
                                                <option value="">--Choose Price Type--</option>
                                                <option value="LWBP">LWBP</option>
                                                <option value="WBP">WBP</option>
                                                <option value="KVARH">KVARH</option>
                                                <option value="BLOK1">BLOK1</option>
                                                <option value="BLOK2">BLOK2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Price Code</label>
                                            <select class="form-control" id="PRICE_CODE" name="PRICE_CODE"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Max Range Used</label>
                                            <input id="MAX_RANGE_USED" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                        <button id="btn-simpan-pricing" type="button" class="btn green">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--END OF MODAL PRICING-->
        <!--MODAL EDIT PRICING-->
        <div class="modal fade" id="editPricing" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Edit Pricing</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="@ViewBag.ID" id="ID_EDIT" />
                        @*<input type="hidden" value="@routeValues["id"].ToString()" id="UriId" />*@
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Price Type</label>
                                            <select id="PRICE_TYPE_EDIT" class="form-control" data-placeholder="--Choose Price Type--" tabindex="1">
                                                <option value="">--Choose Price Type--</option>
                                                <option value="LWBP">LWBP</option>
                                                <option value="WBP">WBP</option>
                                                <option value="KVARH">KVARH</option>
                                                <option value="BLOK1">BLOK1</option>
                                                <option value="BLOK2">BLOK2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Price Code</label>
                                            <select class="form-control" id="PRICE_CODE_EDIT" name="PRICE_CODE_EDIT"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Max Range Used</label>
                                            <input id="MAX_RANGE_USED_EDIT" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                        <button id="btn-simpan-edit-pricing" type="button" class="btn green">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--END OF MODAL EDIT PRICING-->
        <!--MODAL COSTING-->
        <div class="modal fade" id="addCosting" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add Costing</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="@ViewBag.ID" id="INST_ID" />
                        @*<input type="hidden" value="@routeValues["id"].ToString()" id="UriId" />*@
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <select id="DESCRIPTION" class="form-control" data-placeholder="--Choose Description--" tabindex="1">
                                                <option value="">--Choose Description--</option>
                                                <option value="PPJU">PPJU</option>
                                                <option value="REDUKSI">REDUKSI</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Percent</label>
                                            <input id="PERCENT" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                        <button id="btn-simpan-costing" type="button" class="btn green">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--END OF MODAL COSTING-->
        <!--MODAL EDIT COSTING-->
        <div class="modal fade" id="editCosting" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Edit Costing</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="INST_ID_EDIT" />
                        @*<input type="hidden" value="@routeValues["id"].ToString()" id="UriId" />*@
                        <form action="#" class="horizontal-form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <select id="DESCRIPTION_EDIT" class="form-control" data-placeholder="--Choose Description--" tabindex="1">
                                                <option value="">--Choose Description--</option>
                                                <option value="PPJU">PPJU</option>
                                                <option value="REDUKSI">REDUKSI</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Percent</label>
                                            <input id="PERCENT_EDIT" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                        <button id="btn-simpan-edit-costing" type="button" class="btn green">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--END OF MODAL EDIT COSTING-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>
}

@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-installation-b.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-installation-b.js")" type="text/javascript"></script>*@

}
