﻿@model Remote.ViewModels.Installation
@{
    ViewBag.Title = "Water and Electricity Installation";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Edit Data Water and Electricity Installation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form id="addBE" action="#" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">General Data Installation</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Installation Number</label>
                            <input type="text" placeholder="1000" class="form-control" value="@ViewBag.INSTALLATION_NUMBER" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Installation Type</label>
                            <input type="text" placeholder="1000" class="form-control" id="INSTALLATION_TYPE" value="@ViewBag.INSTALLATION_TYPE" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Profit Center</label>
                            <input type="text" placeholder="1000" class="form-control" value="@ViewBag.PROFIT_CENTER" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer MDM</label>
                            <input type="text" placeholder="1000" class="form-control" id="CUSTOMER_ID" value="@ViewBag.CUSTOMER_ID" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <label>Installation Date</label>
                                <input type="text" placeholder="1000" class="form-control form-control-inline input-medium date-picker" size="16" id="INSTALLATION_DATE" value="@ViewBag.INSTALLATION_DATE">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Power Capacity (watt)</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="POWER_CAPACITY" type="text" class="form-control" value="@ViewBag.POWER_CAPACITY">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Installation Address</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="INSTALLATION_ADDRESS" type="text" class="form-control" value="@ViewBag.INSTALLATION_ADDRESS">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tariff Code</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tax Code</label>
                            <select class="form-control" id="TAX_CODE">
                                <option value="">-- Choose Tax Code --</option>
                                <option value="A1 - PPN">A1 - PPN</option>
                                <option value="A0 - Non PPN">A0 - Non PPN</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Minimum Quantity</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="MINIMUM_AMOUNT" type="text" class="form-control" value="@ViewBag.MINIMUM_AMOUNT">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Currency</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <select class="form-control" id="CURRENCY">
                                    <option value="">-- Choose --</option>
                                    <option value="IDR">IDR</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Assignment RO</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions left">
                <!--
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn default btn-file">
                        <span class="fileinput-new"> Add Attach file </span>
                        <span class="fileinput-exists"> Change </span>
                        <input type="file" name="...">
                    </span>
                    <span class="fileinput-filename"> </span> &nbsp;
                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                </div>-->
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

}

@section Plugins {

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>

}

@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/scripts/master-installation.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
        <script src="@Url.ContentVersioned("~/assets/scripts/master-installation.js")" type="text/javascript"></script>*@

}