﻿@{
    ViewBag.Title = "Electricity Installation";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Electricity Installation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Electricity Installation</span>
        </div>
    </div>

    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                @{
                    if (ViewBag.KodeCabang == "0")
                    {

                    }
                    else
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="btn-add" class="btn sbold green">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-installation">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> INSTALLATION_CODE</th>
                            <th class="dt-head-center"> SERIAL NUMBER</th>
                            <th class="dt-head-center"> INSTALLATION TYPE</th>
                            <th class="dt-head-center"> PROFIT CENTER</th>
                            <th class="dt-head-center"> RENTAL OBJECT </th>
                            <th class="dt-head-center"> CUSTOMER NAME </th>
                            <th class="dt-head-center"> EXPENSE TARIFF </th>
                            <th class="dt-head-center"> STATUS </th>
                            <th class="dt-head-center" width="18%"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade bs-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Detail Electricity Installation</h4>
                </div>
                <div class="modal-body">
                    <!--START TAB-->
                    <div class="portlet-title">
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#tab_1_1_1" data-toggle="tab"> General Data </a>
                                </li>
                                <li>
                                    <a href="#tab_1_1_2" data-toggle="tab"> Pricing & Costing </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1_1">
                                    <form action="#" class="horizontal-form">
                                        <div class="form-body">
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Company Code</label>
                                                        <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Installation Code</label>
                                                        <input type="text" class="form-control" id="DETILINSTALLATION_CODE" readonly>
                                                    </div>
                                                </div>                                               
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Installation Type</label>
                                                        <input type="text" class="form-control" id="DETILINSTALLATION_TYPE" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Profit Center</label>
                                                        <input type="text" class="form-control" id="DETILBE_ID" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label>Customer MDM</label>
                                                        <input type="text" class="form-control" id="DETILCUSTOMER_MDM" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Customer Code</label>
                                                        <input type="text" class="form-control" id="DETILCUSTOMER_ID" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Customer SAP AR</label>
                                                        <input type="text" class="form-control" id="DETILCUSTOMER_SAP_AR" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Installation Date</label>
                                                        <input type="text" class="form-control" id="DETILINSTALLATION_DATE" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Power Capacity (watt)</label>
                                                        <input id="DETILPOWER_CAPACITY" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>Installation Address</label>
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            <input id="DETILINSTALLATION_ADDRESS" type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Expense Tariff</label>
                                                        <input id="DETILTARIFF_CODE" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Minimum Quantity</label>
                                                        <input id="DETILMINIMUM_AMOUNT" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label>Assignment RO</label>
                                                        <input id="DETILRO_NUMBER" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Minimum Payment</label>
                                                        <input id="MINIMUM_PAYMENT" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Multiply Fact</label>
                                                        <input id="MULTIPLY_FACT" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Minimum Used</label>
                                                        <input id="MINIMUM_USED" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Serial Number</label>
                                                        <input id="SERIAL_NUMBER" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_1_1_2">
                                    <h4>Pricing</h4>
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-view-pricing">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> PRICE TYPE </th>
                                                <th class="dt-head-center"> PRICE CODE </th>
                                                <th class="dt-head-center"> MAX RANGE USED </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <br />
                                    <h4>Costing</h4>
                                    <table class="table table-striped table-bordered table-hover dt-responsive" id="table-view-costing">
                                        <thead>
                                            <tr>
                                                <th class="dt-head-center"> DESCRIPTION </th>
                                                <th class="dt-head-center"> PERCENT </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END OF TAB-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

@section CustomStyle {
    <!--
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/global/css/autocomplete.css" rel="stylesheet" type="text/css" />
    *@
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <!--
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    -->
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/global/plugins/Mask/jquery.mask.js"></script>


}

@section CustomScripts {
    <script src="~/assets/scripts/master-installation-b.js" type="text/javascript" asp-append-version="true"></script>
    @*    <script src="@Url.ContentVersioned("~/assets/scripts/master-installation-b.js")" type="text/javascript"></script>*@

}