﻿
@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Setting Other Service";
    ViewBag.Breadcrumb = "Setting Other Service";
    ViewBag.SubBreadcrumb = "Setting Other Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Data Setting Other Service</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @*<span id="branch_id" style="display:none;">@ViewBag.KodeCabang</span>*@
                                @*<button id="btn-add" data-toggle="modal" href="#addapvsetModal" class="btn sbold green">
                                        <i class="fa fa-plus"></i> Add Data
                                    </button>*@
                                <a id="btn-add" href="@Url.Action("Config", "SettingOtherService")" class="btn sbold green">
                                    <i class="fa fa-plus"></i> Add Data
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-service">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> ID </th>
                            <th class="dt-head-center"> USERNAME </th>
                            <th class="dt-head-center"> ACTION </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addapvsetModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Header Setting Other Service </h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @*@Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })*@
                                    <label class="control-label">Username</label>
                                    <select class="form-control USER_NAME" id="USER_NAME" name="USER_NAME"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="id_apv_header" />
                </form>
            </div>

            <div class="modal-footer">
                <button id="btn-simpanadd" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>

        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="adddetailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Add Service Group </h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <input type="hidden" id="id_detail">
                    <div class="form-body">

                        <div class="tab-pane" id="role">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn blue" type="button" class="btn btn-icon-only green" id="btn-add-detail">
                                        <i class="fa fa-plus"></i> Add Service Group
                                    </button>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="table-service-detail">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center"> NO </th>
                                                    <th class="dt-head-center"> PENDAPATAN </th>
                                                    <th class="dt-head-center"> ACTION </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-simpanadd-detail" type="button" class="btn green">Save</button>
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="detailRole" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="txt-judul"></span> Detail Role </h4>
            </div>
            <div class="modal-body">
                <form action="#" class="horizontal-form">
                    <input type="hidden" id="id_detail">
                    <div class="form-body">

                        <div class="tab-pane" id="role">

                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <table class="table table-striped table-hover table-bordered" id="table-view-detail">
                                            <thead>
                                                <tr>
                                                    <th class="dt-head-center" width="10%"> PENDAPATAN </th>
                                                    @*<th class="dt-head-center"> ROLE </th>*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button id="btn-simpanadd-detail" type="button" class="btn green">Save</button>*@
                <button id="btn-bataladd" type="button" class="btn red" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="hidden">
    <table id="delete_role">
        <tbody></tbody>
    </table>

</div>


@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
}


@section CustomScripts {
    <script src="~/assets/scripts/setting-other-service.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/setting-other-service.js")" type="text/javascript"></script>*@

}
