﻿@model Remote.ViewModels.VariousBusiness
@{
    ViewBag.Title = "Other Services";
    ViewBag.Breadcrumb = "Master";
    ViewBag.SubBreadcrumb = "Add Other Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_vb" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Add Data Other Services</h3>
                <div class="alert alert-warning">
                    <strong>Info!</strong> Pastikan Service Name tidak mengandung karakter-karakter <b><</b>, <b>></b>, <b>/</b>, <b>+</b>. dan karakter aritmatika yang lain.
                </div>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Business Entity</label>
                            @Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntitys, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Profit Center</label>
                            @Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Service Name</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input id="SERVICE_NAME" name="SERVICE_NAME" type="text" placeholder="Deskripsi Nama Material" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Service Group and GL Account</label>
                            @Html.DropDownListFor(m => m.FDDServiceGroup, new SelectList(Model.DDServiceGroup, "REF_DATA", "REF_DESC"), "-- Choose Service Group --", new { @class = "form-control", @id = "SERVICE_GROUP", @name = "select"})
                            @*<select class="form-control" id="SERVICE_GROUP" name="SERVICE_GROUP"></select>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Unit</label>
                            @Html.DropDownListFor(m => m.FDDUnit, new SelectList(Model.DDUnit, "REF_DATA", "REF_DESC"), "-- Choose Unit --", new { @class = "form-control", @id = "UNIT" })
                            @*<select class="form-control" id="UNIT" name="UNIT"></select>*@
            </div>
        </div>
        @*<div class="col-md-2">
                <div class="form-group">
                    <label>Tax Code</label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        <select class="form-control" id="TAX_CODE">
                            <option value="">-- Choose --</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
            </div>*@
                        </div>
            </div><!--END OF FORM-->

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-simpan-anekausaha">
                    <i class="fa fa-check"></i> Save
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
}


@section CustomScripts {
    <script src="../assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/assets/scripts/master-aneka-usaha.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("../assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/master-aneka-usaha.js")" type="text/javascript"></script>*@

}