﻿@{
    ViewBag.Title = "Other Services";
    ViewBag.Breadcrumb = "Data Master";
    ViewBag.SubBreadcrumb = "Other Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-wallet font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Other Services Data</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                @{
                    if (ViewBag.KodeCabang == "0" && ViewBag.UserRole == "7")
                    {

                    }
                    else if (ViewBag.KodeCabang == "0" && ViewBag.UserRole == "4")
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button class="btn sbold green" id="btn-add">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (ViewBag.KodeCabang == "0" && (ViewBag.UserRole == "20" || ViewBag.UserRole == "4"))
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button class="btn sbold green" id="btn-add">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button class="btn sbold green" id="btn-add">
                                            <i class="fa fa-plus"></i> Add Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-aneka-usaha">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> BUSINESS ENTITY </th>
                            <th class="dt-head-center"> PROFIT CENTER</th>
                            <th class="dt-head-center"> SERVICE GROUP</th>
                            <th class="dt-head-center"> SERVICE CODE</th>
                            <th class="dt-head-center"> SERVICE/NAME</th>
                            <th class="dt-head-center"> STATUS</th>
                            <th class="dt-head-center" width="23%"> ACTION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detil Data Other Services</h4>
            </div>
            <div class="modal-body">
                <!--START TAB-->
                <div class="portlet-title">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#tab_1_1_1" data-toggle="tab"> General Data </a>
                            </li>
                            <li>
                                <a href="#tab_1_1_2" data-toggle="tab"> Pricing </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1_1">
                                <form action="#" class="horizontal-form" id="editAUModal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Company Code</label>
                                                    <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Business Entity</label>
                                                    <input type="text" placeholder="1000" class="form-control" id="BE_ID" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Profit Center</label>
                                                    <input type="text" placeholder="1000" class="form-control" id="PROFIT_CENTER" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Service Group</label>
                                                    <input type="text" placeholder="1000" class="form-control" id="SERVICE_GROUP" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label>GL Account</label>
                                                        <div class="input-icon right">
                                                            <i class="fa"></i>
                                                            <input id="GL_ACCOUNT" type="text" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Service Name</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input id="SERVICE_NAME" name="SERVICE_NAME" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Unit</label>
                                                    <input type="text" class="form-control" id="UNIT" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            @*<div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Tax Code</label>
                                                        <input type="text" class="form-control" id="TAX_CODE" readonly>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab_1_1_2">
                                <table class="table table-striped table-bordered table-hover dt-responsive" id="table-view-detail">
                                    <thead>
                                        <tr>
                                            <th class="dt-head-center"> PRICE </th>
                                            <th class="dt-head-center"> CURRENCY</th>
                                            <th class="dt-head-center"> MULTIPLY FACTOR (%)</th>
                                            <th class="dt-head-center"> VALID FROM</th>
                                            <th class="dt-head-center"> VALID TO</th>
                                            <th class="dt-head-center"> LEGAL CONTRACT NO</th>
                                            <th class="dt-head-center"> CONTRACT DATE</th>
                                            <th class="dt-head-center"> CONTRACT VALIDITY</th>
                                            <th class="dt-head-center"> STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF TAB-->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section CustomStyle {

    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

}

@section Plugins {

    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>


}

@section CustomScripts {
    <script src="~/assets/scripts/master-aneka-usaha.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/master-aneka-usaha.js")" type="text/javascript"></script>*@

}