﻿@model Remote.ViewModels.VariousBusiness
@{
    ViewBag.Title = "Other Services";
    ViewBag.Breadcrumb = "Master Other Services";
    ViewBag.SubBreadcrumb = "Edit Other Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
}
<div class="portlet box blue">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" id="form_we" class="horizontal-form">
            <div class="form-body">
                <h3 class="form-section">Edit Other Services</h3>
                <input type="hidden" value="1" class="form-control" id="ACTIVE">
                <input type="hidden" value="@ViewBag.ID" id="ID" />
                <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="UriId" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="hidden" id="ID" class="form-control">
                            <input type="text" placeholder="1000" class="form-control" value="1000 - PELINDO III" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Service Code</label>
                            <input type="text" id="SERVICE_CODE" class="form-control" value="@ViewBag.SERVICE_CODE" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Business Entity</label>
                            <input type="text" id="BE_ID" value="@ViewBag.BE_ID" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Profit Center</label>
                            <input type="text" id="PROFIT_CENTER" value="@ViewBag.PROFIT_CENTER" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Service Name</label>
                            <input id="SERVICE_NAME" name="SERVICE_NAME" type="text" placeholder="Throughput Fee Batu Kapur" class="form-control" value="@ViewBag.SERVICE_NAME">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Service Group</label>
                            <input type="text" value="@ViewBag.SERVICE_GROUP" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label>GL ACCOUNT</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input id="GL_ACCOUNT" name="GL_ACCOUNT" type="text" value="@ViewBag.GL_ACCOUNT" disabled class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Unit</label>
                            @Html.DropDownList("REF_DATA", new SelectList(Model.DDUnit, "REF_DATA", "REF_DESC", ViewBag.UNIT), new { @class = "form-control", @id = "UNIT" })
                        </div>
                    </div>
                </div>

                <h3 class="form-section">Pricing</h3>
                <div class="row" id="row-table">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="clearfix">
                                            <a data-toggle="modal" href="#addPricing" class="btn btn-icon-only green">
                                                <i class="fa fa-plus"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dt-responsive" id="table-vbp">
                                <thead>
                                    <tr>
                                        <th class="dt-head-center"> PRICE </th>
                                        <th class="dt-head-center"> CURRENCY</th>
                                        <th class="dt-head-center"> MULTIPLY FACTOR (%)</th>
                                        <th class="dt-head-center"> VALID FROM</th>
                                        <th class="dt-head-center"> VALID TO</th>
                                        <th class="dt-head-center"> LEGAL CONTRACT NO</th>
                                        <th class="dt-head-center"> CONTRACT DATE</th>
                                        <th class="dt-head-center"> CONTRACT VALIDITY</th>
                                        <th class="dt-head-center"> STATUS</th>
                                        <th class="dt-head-center"> ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--END OF FORM-->
            <div class="modal fade" id="addPricing" tabindex="-1" id="btn-add-pricing" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Add Pricing</h4>
                        </div>
                        <div class="modal-body">
                            <form action="" class="horizontal-form">
                                <div class="form-body">
                                    @*<input type="hidden" value="@routeValues["id"].ToString()" id="UriId" />*@
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Currency</label>
                                                <select id="TAMBAHUNIT_1" name="UNIT_1" class="form-control" data-placeholder="Choose" tabindex="1">
                                                    <option value="">-- Choose --</option>
                                                    <option value="IDR">IDR</option>
                                                    <option value="USD">USD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input id="TAMBAHPRICE" name="PRICE" type="text" placeholder="1000.55 Etc" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label>Multiply Factor (%)</label>
                                                <input id="TAMBAHMULTIPLY_FUNCTION" name="MULTIPLY_FUNCTION" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Valid From</label>
                                                <input id="TAMBAHVALID_FROM" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Valid To</label>
                                                <input id="TAMBAHVALID_TO" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label>Legal Contract No</label>
                                                <input id="LEGAL_CONTRACT_NO" name="LEGAL_CONTRACT_NO" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Contract Date</label>
                                                <input id="CONTRACT_DATE" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Contract Validity</label>
                                                <input id="CONTRACT_VALIDITY" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn green" id="save-pricing">Save</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="editPricing" tabindex="-1" role="basic" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Edit Pricing</h4>
                        </div>
                        <div class="modal-body">
                            <form action="" class="horizontal-form">
                                <div class="form-body">
                                    <input type="hidden" id="ID_BP" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Currency</label>
                                                <select id="EDITUNIT_1" name="UNIT_1" class="form-control" data-placeholder="Choose" tabindex="1">
                                                    <option value="">-- Choose --</option>
                                                    <option value="IDR">IDR</option>
                                                    <option value="USD">USD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input id="EDITPRICE" name="PRICE" type="text" placeholder="2500" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Condition Pricing Unit</label>
                                                <input id="EDITCONDITION_PRICING_UNIT" name="CONDITION_PRICING_UNIT" type="text" placeholder="1, 2 , 3" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label>Multiply Factor (%)</label>
                                                <input id="EDITMULTIPLY_FUNCTION" name="EDITMULTIPLY_FUNCTION" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Valid From</label>
                                                <input id="EDITVALID_FROM" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Valid To</label>
                                                <input id="EDITVALID_TO" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label>Legal Contract No</label>
                                                <input id="LEGAL_CONTRACT_NO_EDIT" name="LEGAL_CONTRACT_NO" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Contract Date</label>
                                                <input id="CONTRACT_DATE_EDIT" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Contract Validity</label>
                                                <input id="CONTRACT_VALIDITY_EDIT" class="form-control form-control-inline input-sm date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn red" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn green" id="update-pricing">Save</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="form-actions left">
                <button type="button" class="btn red" id="btn-kembali">
                    <i class="fa fa-close"></i> Cancel
                </button>
                <button type="button" class="btn blue" id="btn-update">
                    <i class="fa fa-check"></i> Save Changes
                </button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

@section CustomStyle {
    <!--
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section Plugins {
    <!--
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    -->
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>

    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
}


@section CustomScripts {
    <script src="~/assets/pages/scripts/form-validation.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/assets/scripts/master-aneka-usaha.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/pages/scripts/form-validation.js")" type="text/javascript"></script>
    <script src="@Url.ContentVersioned("~/assets/scripts/master-aneka-usaha.js")" type="text/javascript"></script>*@

}