﻿@*@model Remote.ViewModels.ReportTransBillingProperty*@
@{
    ViewBag.Title = "Report Billing of Property Transaction";
    ViewBag.Breadcrumb = "Report";
    ViewBag.SubBreadcrumb = "Report Property Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Report Billing of Property Transaction</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Business Entity</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="BUSINESS_ENTITY"></select>
                                @*@Html.DropDownListFor(m => m.FDDBusinessEntity, new SelectList(Model.DDBusinessEntity, "BE_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_ID" })*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Profit Center</label>
                                <select class="form-control" data-live-search="true" data-size="10" tabindex="-98" id="PROFIT_CENTER"></select>
                                @*@Html.DropDownListFor(m => m.FDDProfitCenter, new SelectList(Model.DDProfitCenter, "PROFIT_CENTER_ID", "TERMINAL_NAME"), "-- Choose Profit Center --", new { @class = "form-control", @id = "PROFIT_CENTER" })*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Billing No</label>
                                <input id="BILLING_NO" class="form-control" type="text" placeholder="41000249" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>SAP Doc No</label>
                                <input id="SAP_DOC_NO" class="form-control" type="text" placeholder="7200000000" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Condition Type</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="CONDITION_TYPE"></select>
                                @*<input id="CONDITION_TYPE" class="form-control" type="text" placeholder="01.2017 atau 02.2017" />*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer MDM</label>
                                <input type="text" id="CUSTOMER_NAME" class="form-control" placeholder="PT. SARI RAHAYU">
                                <input type="hidden" id="CUSTOMER_ID" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Posting Date From</label>
                                <input id="POSTING_DATE_FROM" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Posting Date To</label>
                                <input id="POSTING_DATE_TO" class="form-control form-control-inline input date-picker" size="16" type="text" value="" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <br>
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Export Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report-trans-property">
                    <thead>
                        <tr>
                            <th class="dt-head-center"> BILLING NO </th>
                            <th class="dt-head-center"> SAP DOC NO </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; BUSINESS ENTITY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center"> PROFIT CENTER </th>
                            <th class="dt-head-center"> POSTING DATE </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; POSTED BY &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CUSTOMER NAME &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="dt-head-center"> CUSTOMER AR </th>
                            <th class="dt-head-center"> CONTRACT NO </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; CONDITION TYPE &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th class="dt-head-center"> GL ACCOUNT </th>
                            <th class="dt-head-center"> CONDITION VALID FROM </th>
                            <th class="dt-head-center"> CONDITION VALID TO </th>
                            <th class="dt-head-center"> LUAS M2</th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; OBJECT ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            <th class="dt-head-center"> CURRENCY </th>
                            <th class="dt-head-center"> AMOUNT </th>
                            @*<th class="dt-head-center"> START DATE </th>
                                <th class="dt-head-center"> END DATE </th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {

    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/pages/css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

}

@section Plugins {
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

}

@section CustomScripts {
    <script src="~/assets/scripts/report-trans-billing-property.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/report-trans-billing-property.js")" type="text/javascript"></script>*@

}