﻿@model Remote.ViewModels.UserViewModels
@{
    ViewBag.Title = "Monitoring Pembayaran";
    ViewBag.Breadcrumb = "Monitoring";
    ViewBag.SubBreadcrumb = "Monitoring Pembayaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Monitoring Pembayaran</span>
        </div>
    </div>
    <div class="row" id="row-table">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        @*<div class="col-md-2">
                                <div class="form-group">
                                    <label>Company Code</label>
                                    <input type="text" id="Company_Code" class="form-control" value="1000" readonly>
                                </div>
                            </div>*@
                        @*<div class="col-md-4">
                                <div class="form-group">
                                    <label>Business Entity</label>
                                    @if (ViewBag.kodeCabang != "0")
                                    {
                                        <input type="text" class="form-control" value="@ViewBag.namaCabang" readonly disabled />
                                        <input type="hidden" value="@ViewBag.kodeCabang" id="BE_NAME" />
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => m.FDDBranch, new SelectList(Model.DDBranch, "BRANCH_ID", "BE_NAME"), "-- Choose Business Entity --", new { @class = "form-control", @id = "BE_NAME" })
                                    }
                                </div>
                            </div>*@
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Business Entity</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" id="BE_NAME">
                                    <option value=''>-- Choose Business Entity --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nota Type</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="NOTA_TYPE" name="NOTA_TYPE">
                                    <option value="">-- Choose Nota Type --</option>
                                    <option value="BELUM LUNAS">Belum Lunas</option>
                                    <option value="LUNAS">Lunas</option>
                                    <option value="BATAL">Batal</option>
                                </select>
                                @*<input type="text" id="HARBOUR_CLASS" class="form-control" placeholder="1021">*@
                                @*<select id="HARBOUR_CLASS" class="form-control select2"></select>
                                    <input type="hidden" id="HARBOUR_CLASS" />*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type of Bill</label>
                                <select class="bs-select form-control" data-live-search="true" data-size="10" tabindex="-98" id="JENIS_TAGIHAN" name="JENIS_TAGIHAN">
                                    <option value="">-- Choose Type of Bill --</option>
                                    <option value="PROPERTI">Properti</option>
                                    <option value="AIR">Air/Listrik</option>
                                    <option value="OTHER">Other Service</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*<button type="button" class="btn green" id="btn-show-all">Show All</button>*@
                                <button class="btn sbold green" id="btn-filter" type="button">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                                <button type="button" class="btn blue" onclick="defineExcel()" id="btn-cetak_exel" style="display: none;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Generate Excel
                                </button>
                                @*<button type="button" class="btn blue" id="btn-cetak_exel">Export Exel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-report">
                    <thead>
                        <tr>
                            <!--<th class="dt-head-center">  &nbsp; &nbsp; NO &nbsp; &nbsp; </th>-->
                            <th class="dt-head-center">  &nbsp; &nbsp; JENIS TAGIHAN &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> NOMOR NOTA </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; <span id="text_">NO. KONTRAK </span>&nbsp; &nbsp; &nbsp;  </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; KODE CUST &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> &nbsp; &nbsp; &nbsp; NAMA CUST &nbsp; &nbsp; &nbsp; </th>
                            <th class="dt-head-center"> POSTING DATE </th>
                            <th class="dt-head-center"> TANGGAL LUNAS </th>
                            <th class="dt-head-center"> TANGGAL BATAL </th>
                            <th class="dt-head-center"> NO. SAP </th>
                            <th class="dt-head-center"> JUMLAH TAGIHAN </th>
                            <th class="dt-head-center"> STATUS NOW </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section CustomStyle {
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

}
@section Plugins {
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/sweetalert2/sweetalert2.min.js" type="text/javascript"></script>
}
@section CustomScripts {
    <script src="~/assets/scripts/monitoring_pembayaran.js" type="text/javascript" asp-append-version="true"></script>
    @*<script src="@Url.ContentVersioned("~/assets/scripts/monitoring_pembayaran.js")" type="text/javascript"></script>*@

}